[2021-05-30 17:14] potiuk commented on #211
Yes it can. We use it all the time in airflow:

Simply run `pip freeze > requirements.txt`  - it will produce a requirements file with all dependencies containing `==` for all dependencies (including transitive ones). The poetry .lock is equivalent to that, However poetry lock is more akin to "install_requires" in setup.py than constraints. And till today neither poetry nor pip tools are good for

[2021-05-30 17:41] potiuk commented on #211
BTW. We have a work in progress to move to PEP517 https://github.com/apache/airflow/pull/16144   (while keeping constraints).

[2021-05-30 18:00] gsemet commented on #211
Ok, if your answer is pip freeze > requirements.txt, you don’t know what poetry and pipenv do and more generally what lockfile are.
there is nothing special about airflow dependencies. Basically every serious Python application needs to freeze the requirement somehow. I manage a dozen apps at work with real, reproductivity requirements, and even pep517 is not enough actually.

Pip freeze is just t

[2021-05-30 18:30] potiuk commented on #211
Can you please explain how you would want the user to install airflow from PIP with the fixed set of requirements using poetry and allowing the same user to upgrade the dependencies later?

I would really love to see that.

Please.

[2021-05-30 18:33] potiuk commented on #211
This is done automatically using our CI process. We try to upgrade all requirements and only when the test passes, we regenerate the constraints using `pip freeze`. This is done AFTER the tests pass, so we know that those constraints are not broken. No airflow user ever runs it manually.

[2021-05-30 18:37] potiuk commented on #211
And BTW. @gsemet - if you hold a grudge for your proposal not accepted, sorry - this happens. But there is nothing wrong in making a new proposal now. Simply start a discussion at the devlist and explain in detail how the workflow will look like, how users of airflow will be installing it in the future even if someone releases a broken dependency and how they are supposed to upgrade those dependen

[2021-05-30 18:43] gsemet commented on #211
Managing dependencies is hard, and poetry makes is quite user friendly. But yes there is no easy answer.

in real life your dag developers will probably want at one point an additional module than the one in the prebuilt docker image, to test it, try something new, so letting them add these additional lib in requirements.txt that will be installed at boot is nice. Not ideal, but it helps.

[2021-05-30 18:56] potiuk commented on #211
Yep. This is precisely that we just agreed to do (pending @kaxil's comment) :). I think this will be done even without init-containers. This will probably be easiest and we just need to have support in helm to add the file in the right place.

We already have similar features in the dockerfile for this kind of "hobbyist/try-out" features: https://airflow.apache.org/docs/docker-stack/entrypoint.htm

[2021-05-30 19:36] MarkusTeufelberger commented on #211
Sure, I just want a (single) canonical way to have libraries I need installed when airflow starts up while also directly using the unmodified upstream docker image. I don't really care where and how exactly I have to define these, but it would have been a downgrade if I had to come up with my own solution using init-containers and extra volumes.

[2021-05-30 19:46] potiuk commented on #211
I created the PR here to support it: https://github.com/apache/airflow/pull/16170 - it includes the documentation update.

Par of the documentation here:

+----------------------------------+-----------------------------------------------------+--------------------------+
| ``_PIP_ADDITIONAL_REQUIREMENTS`` | If not empty, airflow containers will attempt to    |                          |
|

[2021-05-30 19:56] kaxil commented on #211
Yeah that sounds good. @MarkusTeufelberger just to reiterate installing pip packages via initContainer is a BAD solution, it means you packages are needlessly installed everytime the pod is restarted, that is BAD. Convenience does not mean a GOOD solution. Example Issue: https://github.com/airflow-helm/charts/issues/104

This is why installing them once in your docker file is a good solution. Anyo

[2021-05-30 20:10] potiuk commented on #211
Yeah. Fully agree @kaxil and just to reiterate @MarkusTeufelberger - I cannot imagine this to be used in production. It has a ton of problems when running at scale - the big drawback is that when it grows, it is much slower to bootstrap. One thing for example that you might face soon will be automated, uncontrollable upgrade of airflow which you might not realize. New providers (will be released t

[2021-05-31 07:38] #214 closed

[2021-05-31 09:36] MarkusTeufelberger commented on #211
To be honest, all I need is a mysql client library and a helper API for a REST-API of a proprietary product. I'll keep your warnings in mind if I actually need to install anything with airflow in its dependency graph.

Unfortunately usually Dockerfiles are not deterministically built and unlike docker-compose, Kubernetes does not have a native path from Dockerfile --> Docker image --> running pod

[2021-05-31 11:21] potiuk commented on #211
Just FYI. No fork is ever needed. The official Dockerfile is super versatile precisely for the reason that you should not have to fork it. It's specifically designed to handle two scenarios though:

1) easy extending the image via "FROM: directive" (this one uses unmodified airflow upstream as a base).
2) more complex and flexible customizing the image via providing build-args, requirement files a

[2021-05-31 12:19] MarkusTeufelberger commented on #211
It seems you're mixing up a local image cache of some CRI implementations and a container registry? Otherwise, please point to the documentation of the internal registry component on https://kubernetes.io/docs/concepts/overview/components/

Mine don't even use `docker` as CRI and support for `dockershim` has been removed from kubernetes already. Yes, I can build containers in there using other mea

[2021-05-31 12:58] potiuk commented on #211
Of course. If you watch my "Production Docker Image" talk from last year's summit  - https://www.youtube.com/watch?v=wDr3Y7q2XoI it's where I specifically talked about "containers" vs "docker" and try to pass the message. But - I failed and went back to using `Docker` as name. As unfortunate as is is, seems that (similar as in other cases) `Docker` and especially "Dockerfile" that does not have ot

[2021-05-31 13:03] potiuk commented on #211
And a comment here:

Yes. Full reproducibility is a non-goal for me (and for the image). The much more important feature for me is that whenever we build the image from scratch we get the latest security fixes with it. Not reproducible binary copy of what was there before. Plus all our build process has automated tests that test the built images - we have a sequence of automated tests that we run

[2021-06-01 05:28] nike4122 commented on #213
@thesuperzapper  Somehow this issue resolved after I removed existing DB then connected to a fresh airflow setup.
But now I am facing a different issue, when I trigger a DAG job worker pod is failed to start and throwing an error

$ kubectl get po -n airflow
NAME                                                   READY   STATUS    RESTARTS   AGE
apache-airflow-scheduler-5c9f99cbf7-457pb

[2021-06-01 22:55] thesuperzapper commented on #213
@nike4122 what are your values?

[2021-06-02 18:03] enriqueayala commented on #127
Hi @TAMQuiroz  , how you were able to set `AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS` with chart 8.0.X ? Im having an issue cause init containers don't use  `extraVolumes` , so config class is not detected and receiving an error when these containers execute `airflow db `commands .

[2021-06-03 04:40] #79 closed

[2021-06-03 05:48] thesuperzapper commented on #215
@mikys-next-insurance what version of the chart are you using? Your values seem like they are for `7.X`, have you tried updating to `8.X`?

It also seems strange that you are using `extraContainers` to create your own git-sync, when this feature is built into the chart?

[2021-06-03 05:49] thesuperzapper commented on #212
@nike4122 what type of persistent volume are you using for logs? Does it support `ReadWriteMany`?

[2021-06-03 06:13] nike4122 commented on #212
@thesuperzapper We are using "AzureFiles" which supports ReadWriteMany.
We can see other logs in the same pv ,
- dag_processor_manager
- scheduler

When we are executing a dag , a new folder is creating for particular job inside the PV, but 0 B of log data.

FOLDER PATH - hello_world/hello_task/2021-06-02T203613.037840+0000/1.log (0 B)

[2021-06-03 07:20] nike4122 commented on #213
@thesuperzapper This issue has been resolved after we put **'%40'** instead of **@** in the username,

## the user of the external database
  ##
  user: airflow_user%40postgres

Thank you for your support!

[2021-06-03 07:20] #213 closed

[2021-06-03 10:53] mikys-next-insurance commented on #215
@thesuperzapper Thank you for reaching back
The chart version is airflow-7.16.0

I need to sync two different git repos so I use the built-in for the first and customized it for the second

[2021-06-03 22:46] TAMQuiroz commented on #127
Hello @enriqueayala, I set that up on the values.yaml file under the config section (https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L75). I used to have something that wasn't configured/created yet so it started to fail, I currently have it as "False" and no issues.

[2021-06-05 20:22] #109 closed

[2021-06-07 20:10] nike4122 opened #217 "azure.core.exceptions.ResourceExistsError: The specified blob already exists."
AIrflow Ver - 2.0.2
Hem Chart - 8.1.3
Platform - AKS
Executor - KubernatesExecutor

We have enabled remote logging for persist the log in airflow 2.0.2.  Below are the configuration we have done for this,

    AIRFLOW__LOGGING__REMOTE_LOGGING: "True"
    AIRFLOW__LOGGING__BASE_LOG_FOLDER: "/opt/airflow/logs"
    AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: "wasb-airflow-logs"
    AIRFLOW__LOGGING__RE

[2021-06-09 04:32] sawaca96 opened #218 "cannot use serviceMonitor options"
**What is the bug?**

now I try to make monitoring system

so change option `serviceMonitor.enabled : true` then helm install
but below error occured
[code]

**What are your Helm values?**

[code]

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

### Additional  Question
after install `airflow-exporter`, I can see metrics from `/admin/metrics`

but I don't kn

[2021-06-10 08:07] ihormudryy opened #219 "Support setting environment variables in variables.yaml from secrets and config maps"
I would like to request support of secrets in the environment variables set:
Currently, it's possible to set only string value to the key:
`- key: "var_1"
    value: "my_value_1"`

Nice to have:
`variables:
    - name: var_1
      valueFrom:
         secretKeyRef:
            key: var-1-secret
            name: some-secrets`

When I do it now I get error:
`Error: execution error at (airflow/templa

[2021-06-10 08:58] jensgrnb commented on #209
I added this and the newline problem disappeared for us:

  extraPipPackages:
    - "apache-airflow-providers-google~=3.0.0"

[2021-06-10 14:51] talnicolas commented on #211
Just a bit curious since I see that the official helm chart is going full Astronomer and we ran a POC a few months ago, I would like to check if one really problematic thing has been fixed since then in the deployment process.

Since you build an immutable image for all the components at each change, whenever we were doing any change, being on the scheduler, webserver or worker, all the components

[2021-06-10 17:46] Radu-Codrin commented on #184
Fair enough. We will consider upgrading. Thanks!

[2021-06-11 07:10] demetrioi commented on #130
Hi.

I have the same problem. In my case I have a cluster with Windows and Linux nodes. I cannot select on which server my job will be deployed. Then the job fail when is deployed to a Windows node.

[2021-06-11 07:57] jensgrnb opened #220 "airflow db upgrade job frequency"
Hello

I'm trying to understand when the airflow db upgrade job will run.

I'm upgrading to airflow 2.1.0, and the sheduler + webapp is halted because the db upgrade job hasn't yet run. Is there a way I can toggle this on in the helm chart?

I'm using 8.2

[2021-06-11 13:01] demetrioi commented on #130
I managed to find a workaround.

You can put the nodeselector at the namespace level. Then all pods created on that namespace will be assigned to a specific node.

kubectl edit namespace yourNamespace

https://stackoverflow.com/questions/52487333/how-to-assign-a-namespace-to-certain-nodes

[2021-06-11 15:56] potiuk commented on #211
Also to add to what @kaxil wrote and relate to your comment, I think deploying DAGs by running "helm upgrade" command to deploy new DAGs in production sounds super-weird to be honest.

Helm Chart should be used to deploy "application" not to deploy another version of DAGs. DAGs are not "part" of airflow application. There are  other methods - specifically git_sync that @kaxil mentioned which is al

[2021-06-13 11:07] whatnick opened #221 "Use `constraints.txt` with `extraPipPackages`"
**What is your feature request?**

Include constraints file by default when installing extra pip packages.

**What alternatives have you considered?**

Creating custom docker images or pod operators for complex python environments.

[2021-06-14 06:47] jensgrnb commented on #220
Can be closed, I discovered the helmWait feature. With that toggled to true the upgrade jobs ran as expected. Thanks

[2021-06-14 06:47] #220 closed

[2021-06-15 05:53] jensgrnb opened #222 "/plugins folder not accessible"
Currently only /dags folder in referenced git repo is synced to the workers, since the `GIT_SYNC_ROOT` value is hardcoded to `/dags` here

https://github.com/airflow-helm/charts/blob/db9da85eebdc9fde4bc168a5e6cd40c07c4570ff/charts/airflow/templates/_helpers/pods.tpl

Could we make this variable dynamic?

Specifically my team is requesting the /plugins folder to be available where airflow looks for

[2021-06-15 16:58] #32 closed

[2021-06-15 16:58] #74 closed

[2021-06-15 18:16] johngtam commented on #34
@thesuperzapper, ended up upgrading to both Airflow 2 and the version 8 chart here. Unfortunately, this ended up breaking logging :/.

Looking at the logs:

[code]

I see that the conn_id 'aws_default' isn't defined. I'm using the KubernetesExecutor. However, in my helm chart, I have the values (with some templating):

[code]

Do you know why I might be getting this error with `The conn_id `aws_de

[2021-06-16 08:45] klalafaryan opened #223 "Google Authentication is failing [Airflow: 2.0.2, Chart: 8.2.0]"
**What is the bug?**

Google authentication is failing whenever we have more than two web pods configured. (`web replicas: 2`) It works perfectly fine with one pod.

<img width="1336" alt="Screenshot 2021-06-16 at 12 40 23" src="https://user-images.githubusercontent.com/1593802/122188152-bc0d2780-cea0-11eb-9a7e-a05ef01291f4.png">

**What are your Helm values?**
[code]

**What is your Kubernetes Ve

[2021-06-17 16:26] #88 closed

[2021-06-18 09:41] david30907d opened #224 "HPA of Google GKE example doesn't work"
**What is the bug?**

HPA failed because we didn't specify the resource for `gitSync` sidecar

[code]

**What are your Helm values?**

<https://github.com/airflow-helm/charts/blob/68c17dbce1/charts/airflow/examples/google-gke/custom-values.yaml>

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-06-18 13:06] aushafy opened #226 "git-sync --dest parameters"
**How can I use --dest parameters for git-sync in helm chart ?**

Can you give me information about the helm values parameters that similar to git-sync --dest ?

[2021-06-18 13:09] aushafy commented on #226
I'm using helm chart v3.2.2 and here my configuration for dags and git-sync, if I use docker there is --dest parameters

dags:
  path: /opt/airflow/dags
  gitSync:
    enabled: true
    repo: "ssh://xxx@xxx.xxx.com:xxx/xxx/xxx/repo.git"
    branch: develop
    revision: HEAD
    syncWait: 300
    sshSecret: "xxx-key"
    sshSecretKey: xxx
    image:
      repository: k8s.gcr.io/git-sync/git-sync

[2021-06-18 13:24] aushafy commented on #226
already got the answer right here https://github.com/airflow-helm/charts/blob/db9da85eebdc9fde4bc168a5e6cd40c07c4570ff/charts/airflow/templates/_helpers/pods.tpl and It can be possible if we set dest as values also

[2021-06-18 13:28] #226 closed

[2021-06-18 19:47] johngtam commented on #34
D'oh, all I had to do was define aws_default in the connections. I'm able to get the logs.

[2021-06-21 06:22] krestix opened #227 "sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL: sorry, too many clients already"
Hi, we using a k8s cluster on which we installed airflow2 via helm chart.
We're trying to run 300 tasks on airflow - and got this error: sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL: sorry, too many clients already
**i have tried the next configurations on helmchart value.yaml file:**
env:
  - name: "AIRFLOW__CORE__SQL_ALCHEMY_POOL_SIZE"          ===> after this change airflo

[2021-06-21 20:09] #93 closed

[2021-06-21 20:09] #132 closed

[2021-06-21 20:09] #143 closed

[2021-06-21 20:09] #149 closed

[2021-06-22 03:03] aushafy opened #228 "FileNotFoundError: [Errno 2] No such file or directory: '/opt/airflow/dags/helper.py'"
**What is the bug?**

when I refer to the docs, there is a configuration dags.path but somehow I got the following error from web server
![image](https://user-images.githubusercontent.com/42592443/122855964-3e359a00-d340-11eb-8426-4b0e30d6cc98.png)

when I cek from /configuration url path, there is any difference between configuration from airflow.cfg that pointing to /opt/airflow/dags and from ru

[2021-06-22 08:56] jensgrnb commented on #222
Got this working by specifying the correct path. Seems plugins/ folder is loaded into the workers, just not ported to the web pod --> technically it's working, you just can't see the plugins in the UI

[2021-06-22 08:56] #222 closed

[2021-06-22 14:01] #138 closed

[2021-06-22 16:47] PiePra opened #229 "Unable to disable host key checking"
**What is the bug?**
I have a use case where our gitlab is a docker container so i have to customize known hosts to work with ssh.

Host key verification failed. Neither of adding host key to knownHosts, setting knownHosts to "" to ignore host key verification or setting env GIT_KNOWN_HOSTS to false seem to get me past host key checking

 "msg"="too many failures, aborting" "error"="Run(git clone

[2021-06-23 00:05] #157 closed

[2021-06-23 00:10] thesuperzapper commented on #229
@PiePra most of your stated values don't exist in this chart, please review the [docs for setting up git-sync](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-1a---ssh-git-sync-sidecar-recommended), and the [values for gitSync](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/values.yaml#L986-L1089)

[2021-06-23 00:10] #229 closed

[2021-06-23 00:52] thesuperzapper opened #230 "Jobs can fail due to field immutability"
I believe it is possible that our [Job resources](https://github.com/airflow-helm/charts/tree/main/charts/airflow/templates/jobs) can fail due to "field is immutable" if the following happens:
1. The [helmWait value](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/values.yaml#L1-L3) is set to `true`
2. The `airflow-upgrade-db` job fails for some reason
3. Before the `ttlSe

[2021-06-23 01:03] thesuperzapper commented on #228
@aushafy are you sure this is not an error from your `.py` files in your dags repo?

Also, the `airflow.cfg` is not used in this chart, as discussed in: https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-set-airflow-configs

[2021-06-23 01:11] thesuperzapper commented on #227
@krestix This issue is caused by airflow tasks all creating their own connections to the metadata database (Postgres), exceeding whatever `max_connections` is set on your Postgres instance.

__There are a few options to fix it:__
1. We could implement [PgBouncer](https://www.pgbouncer.org/features.html) in the chart, to pool the connections:
   * However, this would not work with MySQL, and I am n

[2021-06-23 01:20] thesuperzapper commented on #223
@klalafaryan this is a duplicate of https://github.com/airflow-helm/charts/issues/72, please discuss there.

[2021-06-23 01:20] #223 closed

[2021-06-23 01:21] thesuperzapper commented on #189
@ahayasic are you still having this issue?

[2021-06-23 01:32] thesuperzapper commented on #221
@whatnick there was some discussion about this, and people @Potiuk suggested that the constraints are only intended for when you install airflow (and its providers)

Since `extraPipPackages` is used by people for a mixture of both airflow providers, __and__ other python packages, I am not sure that including the constraints by default is a good idea. A user might specify a different version of a p

[2021-06-23 02:12] aushafy commented on #228
also here is my temporary resolution, I try to make this line [https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/_helpers/pods.tpl#:~:text=-%20name%3A%20GIT_SYNC_DEST-,value%3A%20%22repo%22,--%20name%3A%20GIT_SYNC_REPO](url) as values instead of hardcode "repo", so I can change that values with what I need such as "dags". so the final configuration is /opt/airflow/dags/dags

[2021-06-23 02:50] thesuperzapper commented on #228
@aushafy I think you misunderstand how the [git-sync](https://github.com/kubernetes/git-sync) container works, it uses symlinks to switch what version is "current". The folder with the "current" version is the symlink folder named by `GIT_SYNC_DEST`.

So you cant specify `path: /opt/airflow`, why are you trying to do this? Just leave it as default (`/opt/airflow/dags`) and it will work.

[2021-06-23 03:13] aushafy commented on #228
yap I think we need to change the path directory from our source code. thank for you insight

[2021-06-23 03:13] #228 closed

[2021-06-23 03:31] thesuperzapper commented on #125
Closing as this is unrelated to the chart, if someone still has this issue, please raise on [Flask-AppBuilder](https://github.com/dpgaspar/Flask-AppBuilder) repo.

[2021-06-23 03:31] #125 closed

[2021-06-23 06:44] potiuk commented on #221
Correct. You can simply get the specific versions of your dependencies. You can even install newer versions of those packages which are in constraints if new versions of those have been released. Constraints are really snapshot at the moment of release.

BTW. Let me also remind the installing the dependencies on the flight when you start container is a very bad idea - also discussed in the same th

[2021-06-23 10:08] thesuperzapper opened #231 "Create CHANGELOG"
We should write a proper CHANGELOG.md, and back-fill at least all the 8.0 versions.

In my mind we would replace the existing UPGRADING.md file and include most of its current content in the new file.

[2021-06-23 13:21] rjribeiro opened #232 "airflow web restarting"
**What is the bug?**

airflow web restarting. kubectl describe pod return :
[code]
After about 7 restarts the pod becomes operational.

**What are your Helm values?**

[code]

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-06-23 16:29] enrique-ayala opened #233 "allow using the redis for celery result_backend"
I would like to set redis as a result_backend , however I can see that `DATABASE_CELERY_CMD` only works with db . Is there any workaround to it?

The reason of using redis for result_backend is because there are many idle connections on postgres from workers (presumably because of db as backend), causing :
```sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL: sorry, too many clien

[2021-06-23 23:30] thesuperzapper commented on #232
@rjribeiro are you saying you are using the default values except NodePort?

What about your other non-webserver values?

[2021-06-23 23:45] thesuperzapper commented on #233
This is related to https://github.com/airflow-helm/charts/issues/227 (in the sense of `sorry, too many clients already`)

But it wouldn't be too hard to implement a flag like `workers.redisForCeleryResultBackend` to allow using use the existing `redis.*` or `externalRedis.*` settings with `AIRFLOW__CELERY__RESULT_BACKEND_CMD`:

[code]

@enriqueayala we can obviously do this in a minor (`8.X.0`) re

[2021-06-23 23:56] thesuperzapper commented on #227
@krestix I do wonder if solving https://github.com/airflow-helm/charts/issues/233 (allowing Redis as a result_backend) will fix this issue for you?

[2021-06-24 06:25] github-sunildhiddi opened #234 "airflow 2.0.1 not able to db init, giving below errors"
**What is your question?**

A clear description of your question.

[2021-06-24 06:27] github-sunildhiddi commented on #234
(pycdc) airfcdcd@xxxxxxx:/airflow/etl/pyenv/pycdc/bin> **airflow db init**
DB: mysql+mysqlconnector://afcdcsqld:***@rn000017833:3306/afcdcd
[2021-06-24 00:58:58,333] {db.py:674} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl MySQLImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade 27c6a30d7c24 -> 86770d

[2021-06-24 06:27] thesuperzapper opened #235 "implement pgbouncer (prevent "too many connections" errors)"
Currently, there are issues when users have large number of tasks, leading to "too many connections" to their Postgres database:
- https://github.com/airflow-helm/charts/issues/227
- https://github.com/airflow-helm/charts/issues/233

We can reduce this load for Postgres by implementing [PgBouncer](https://www.pgbouncer.org/features.html), rather than directly having each task/worker/scheduler acce

[2021-06-24 06:28] krestix commented on #227
@thesuperzapper
Hi, we use KubernetesExecutor  -
after using pgbouncer the issue with "no client connections" fixed
but we faced another problem
if we run many (8000 for exm.) jobs - most of them crash and loose the connection to the network.

[2021-06-24 06:53] thesuperzapper commented on #167
bump

[2021-06-24 08:31] thesuperzapper opened #236 "document how to use `KubernetesExecutor`"
Currently we natively support the `KubernetesExecutor` and `CeleryKubernetesExecutor` executors, but there is nothing to reflect this in the main `README.md`.

We should add a new section called something like: `How to use KubernetesExecutor?`, and outline the values which are specific to that mode.

[2021-06-24 13:02] rjribeiro commented on #232
Problem solved. I increased the values.
[code]

[2021-06-24 13:02] #232 closed

[2021-06-24 14:09] enriqueayala commented on #233
Thanks for the reference, PgBounce should definetely help. Regarding `workers.redisForCeleryResultBackend` it would be great to have it by default for next major release.

[2021-06-24 15:36] rjribeiro opened #237 "Remote logging in gcs bucket dont working"
**What is the bug?**
I set the login as remote but it's not working. As credentials, I mounted a volume on all pods with a json service account. I checked the pods and json is there. With this json I created a connection with gcp, but the remote logging is not working

*** Unable to read remote log from gs://xxxxxxxx/prd/anexador_validacao_telefone/truncate_phone_validation_pos_blacklist/2021-06-2

[2021-06-25 00:12] thesuperzapper commented on #237
@rjribeiro do the logs work for a simple DAG? Say one with a BashOperator only?

[2021-06-25 01:46] thesuperzapper commented on #234
@github-sunildhiddi why are you trying to run `airflow db init` this chart will automatically run it after you run `helm install` by deploying a job resource: https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/jobs/job-upgrade-db.yaml

[2021-06-25 08:50] Jeoffreybauvin opened #239 "Not sure how to use Kerberos and the renewer in k8s"
Hi,

I'm not sure how to use Kerberos with Airflow in a Kubernetes environment.

Do I need to store the keytab in a secret in K8S ? Or rebuild airflow's image and add the keytab to the image ?

And after, do I need to launch "one" container with the renewer ? I don't see how it is working with k8s...

Any help would be appreciated :).

Regards,

[2021-06-25 14:21] thesuperzapper commented on #239
@Jeoffreybauvin We should (and probably will) implement native support for kerberos in this chart, that is, running the `airflow kerberos` ticket refresher on each worker (or pod_template, for K8S executor) if the user provides the name of a Secret containing a keytab, along with a principal.

However you can probably do something similar by mounting your keytab from a Secret with the [extraVolume

[2021-06-25 15:56] rjribeiro commented on #237
@thesuperzapper
I tested it with this dag https://raw.githubusercontent.com/apache/airflow/main/airflow/example_dags/tutorial_etl_dag.py

[code]

[2021-06-25 16:53] rjribeiro commented on #237
I fix it. I put the key location in the variable AIRFLOW__LOGGING__GOOGLE_KEY_PATH

[2021-06-25 16:53] #237 closed

[2021-06-26 02:57] #73 closed

[2021-06-26 09:45] #164 closed

[2021-06-26 09:45] #161 closed

[2021-06-26 16:25] #170 closed

[2021-06-27 10:46] #171 closed

[2021-06-27 22:54] thesuperzapper commented on #164
@akshay654 are you still having this issue?

[2021-06-27 22:55] thesuperzapper commented on #160
This is still an issue.

[2021-06-27 22:55] thesuperzapper commented on #162
This is still an issue.

[2021-06-27 22:57] thesuperzapper commented on #156
This isn't done yet, reopening.

[2021-06-27 22:59] thesuperzapper commented on #190
@AlexDHoffer did you ever figure out why this is happening?

[2021-06-27 23:02] thesuperzapper commented on #180
This currently effects `dags-git-sync` and `install-pip-packages`.

[2021-06-27 23:05] thesuperzapper commented on #8
This is still an issue.

[2021-06-27 23:08] thesuperzapper commented on #141
This is still an issue, reopening.

[2021-06-27 23:08] thesuperzapper commented on #137
This is still an issue, reopening.

[2021-06-27 23:10] thesuperzapper commented on #34
@johngtam, good to hear, for those finding this, please look at the docs for creating connections with `airflow.connections`:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-connections

[2021-06-27 23:10] #34 closed

[2021-06-27 23:13] thesuperzapper commented on #35
@ilhnctn did you want to contribute this still?

[2021-06-27 23:16] thesuperzapper commented on #218
@sawaca96 have you got https://github.com/prometheus-operator/prometheus-operator installed on your cluster?

Otherwise you wont have the `ServiceMonitor` available.

[2021-06-27 23:17] thesuperzapper commented on #217
@nike4122 are you still having this issue?

[2021-06-27 23:17] thesuperzapper commented on #103
This is still being worked on, reopening.

[2021-06-27 23:17] thesuperzapper commented on #19
This is still an issue, reopening.

[2021-06-28 03:29] thesuperzapper commented on #236
We could also setup a `minikube_kubernetes_executor` example in the examples folder https://github.com/airflow-helm/charts/tree/main/charts/airflow/examples

[2021-06-28 03:44] thesuperzapper opened #240 "multiple Schedulers could run if `legacyCommands=true` due to `rollingUpdate`"
Currently, we set the Scheduler' [rollingUpdate configs to use surge capacity](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/templates/scheduler/scheduler-deployment.yaml#L22-L26), but this will possibly lead to two schedulers running in `legacyCommands=true` mode.

We should add an if-fork based on the value of `legacyCommands` which instead increases the value of `maxU

[2021-06-28 03:44] nike4122 commented on #217
@thesuperzapper we are not seeing this error for now. but we didn't apply any fix for this.

[2021-06-28 03:44] #217 closed

[2021-06-28 15:34] AlexDHoffer commented on #190
@thesuperzapper I didn't, but no matter what I did with any form of Airflow in Kubernetes it chewed up resources like crazy. Eventually I may return to try it out again but for now the issue is stale because I don't have time to look at it.

[2021-06-28 22:43] thesuperzapper opened #241 "fix Job PodSpec annotations when `airflow.podAnnotations` is empty"
Some systems seem to have issue with a dangling `annotations:` in PodSpecs of the Jobs ([for example](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/templates/jobs/job-create-pools.yaml#L20-L23)), we should resolve this by only including the `annotations:` key if `airflow.podAnnotations` is non-empty.

Here was a previous PR attempting to do this: https://github.com/airfl

[2021-06-28 22:48] thesuperzapper opened #242 "add values to specify resources on init-containers"
Currently, we do not allow users to specify resources for initContainers, we should introduce a value which allows this.

The PodSpecs are defined in [_helpers/pods.tpl](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/templates/_helpers/pods.tpl#L35-L39).

[2021-06-28 22:49] #224 closed

[2021-06-29 14:47] cocampbe commented on #211
All I can say is, "Ugh". After all this time an 'official chart' is created. Those of us who wanted to deploy to k8s sooner than later found this chart and have been using in production for quite sometime. I agree with many of the arguments provided. I currently use the pip install of extra packages for differing providers. It works for me. It does take a while for the pods to start. Maybe 23 seco

[2021-06-29 17:12] #94 closed

[2021-06-29 18:21] potiuk commented on #211
Diversity of solutions is a value on its own. There is NOTHING wrong with having two solutions which are parallel. We discussed it many moons ago @cocampbe - you can search the airlfow Devlist and we decided to go with the Astronomer-originated solution officially supported by Airflow community (please search the archives). And it will continue to be so, including 3 people from Astronomer working

[2021-06-29 18:39] potiuk commented on #211
@MarkusTeufelberger - I think you have that impression,, because you are looking in wrong place. "Releases" is simply a snapshot of whatever we already released (including providers). This page is automatically prepared by GitHub and with the amount of releases we have (including providers) it does look overwhelming. That's why in the official Airflow documentation we publish the Changelog which i

[2021-06-29 18:51] cocampbe commented on #211
@potiuk I have apparently poured salt on a wound and I apologize for that. It's just frustrating.

[2021-06-29 18:58] potiuk commented on #211
No salt :). No wound :). Just wanted to provide the full context. It's just my way of over-communicating when I see that some assumptions simply miss some bigger context. Really I am not frustrated or angry if you read it this way. I think if you visit devlist and issues more often you'll see I am just trying to be helpful (and apologies if it looks a bit 'patronising', I know it might certainly l

[2021-06-29 18:58] potiuk commented on #211
No salt :). No wound :). Just wanted to provide the full context. It's just my way of over-communicating when I see that some assumptions simply miss some bigger context. Really I am not frustrated or angry if you read it this way. I think if you visit devlist and issues more often you'll see I am just trying to be helpful (and apologies if it looks a bit 'patronising', I know it might certainly l

[2021-06-29 18:58] potiuk commented on #211
No salt :). No wound :). Just wanted to provide the full context. It's just my way of over-communicating when I see that some assumptions simply miss some bigger context. Really I am not frustrated or angry if you read it this way. I think if you visit devlist and issues more often you'll see I am just trying to be helpful (and apologies if it looks a bit 'patronising', I know it might certainly l

[2021-06-30 00:00] rightx2 opened #245 "`AIRFLOW__CORE__XCOM_BACKEND` can't find modules"
**What is the bug?**
I tried to set `AIRFLOW__CORE__XCOM_BACKEND` with my custom xcom backend, `plugins.xcom_backend.S3XComBackend` but when I upgraded helm release, it couldn't find out the modules(workers keep dying)
So I set `PYTHONPATH` so that it could find `plugins` module but it still couldn't find out the module either.
It looks like loading `plugins.xcom_backend.S3XComBackend` had been ex

[2021-06-30 00:45] #137 closed

[2021-06-30 00:45] #162 closed

[2021-06-30 00:45] #231 closed

[2021-06-30 05:15] thesuperzapper commented on #194
bump, this is still important

[2021-06-30 05:16] thesuperzapper commented on #192
Closing in preference of tracking on #194

[2021-06-30 05:16] #192 closed

[2021-06-30 05:24] thesuperzapper commented on #245
@rightx2 can you post logs from the workers which die?

[2021-06-30 05:27] thesuperzapper opened #247 "`ingress.{web, flower}.path` validation is enabled regardless of `ingress.enabled`"
Currently, the chart will always apply the value validation for `ingress.web.path`, regardless of if `ingress.enabled = true`, this is because we are only checking for the existence of `.Values.ingress`, [see here](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/_helpers/validate-values.tpl#L81), when we should be checking the state of `.Values.ingress.enabled`.

[2021-06-30 05:37] rightx2 commented on #245
@thesuperzapper
[code]

[2021-06-30 08:48] thesuperzapper commented on #245
@rightx2 have you got an`__init__.py` file in your `plugins` folder?

[2021-06-30 09:15] thesuperzapper opened #249 "Implement s3 DAGs sync feature"
Currently we support git-sync with the `dags.gitSync.*` values, but we can probably do something similar for S3 buckets. That is, let people store their dags in a folder on an S3 bucket.

Possibly we should generalise this to include GCS and ABS, but these probably have different libraries needed to do the sync (so might need to be separate features/containers). However, clearly S3 is the best pla

[2021-06-30 09:52] rightx2 commented on #245
@thesuperzapper Yes, of course. Moreover, I checked that `PYTHONPATH` is set properly when I didn't set `AIRFLOW__CORE__XCOM_BACKEND: "plugins.xcom_backend.S3XComBackend"`. I think that airflow configuration setting runs first before `PYTHONPATH` is declared.....

[2021-06-30 12:38] thesuperzapper commented on #211
For those following at home, I intend to maintain (and even add new features to) this chart as long as it's used. A little friendly competition often breeds innovation.

I have updated the [README](https://github.com/airflow-helm/charts/tree/main/charts/airflow) with a section highlighting that there are two charts, and outlining the approach that this  "community" chart is taking.

However, let's

[2021-06-30 15:43] potiuk commented on #211
To be honest, I think "community" is quite a bit misleading name and it introduces a lot of confusion.

Everything Apache Airflow releases is a product of the "Apache Airflow Community". And at the talk "Airflow Loves Kubernetes" we are going to talk with @kaxil that the chart is supported by the Apache Airflow Community.

So I think we are going to refer to it as  "Official Airflow Community Char

[2021-06-30 16:30] potiuk commented on #211
Hey @thesuperzapper  - maybe we can propose another name for your chart that we can use, I really find it so confusing - several times I saw a question about the "community chart" in Slack and after asking for details (Which chart ?) I was pointed out to the https://airflow.apache.org/docs/helm-chart/stable/index.html  . I really think people find it confusing because "Apache Airflow Community" is

[2021-06-30 16:50] potiuk commented on #211
Just to explain - I also seek the right name here as we want to talk about it at the talk as an alternative and since it's going to be recorded and likely popular (my last year's Airflow Prod Docker Image talk from last year got whooping 7K views), I think we need to come up with a consistent naming that will be used by everyone.

I am thinking about some "positive" and "distinctive" names. I real

[2021-06-30 19:03] gsemet commented on #211
My humble opinion, as the original author of this chart: « user-community chart » is fine and not so far from what we have know.

[2021-06-30 23:14] thesuperzapper commented on #211
I agree that `user-community` is fine.

When introducing it it's probably important to highlight that it it used to be the `stable/airflow` chart, so people understand where it came from (but that will probably become less understood/relevant as time passes).

[2021-07-01 00:59] thesuperzapper opened #251 "plugins are not visible in the webserver if stored in git-sync DAG repo"
As raised by @jensgrnb in https://github.com/airflow-helm/charts/issues/222#issuecomment-865765314, we currently do not sync the dags repo in the webserver if `airflow.legacyCommands = false`, as this is not needed for Airflow 2.0, due to [DAG Serialization](https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html).

However, this means if users are storing plugins in their git

[2021-07-01 01:02] thesuperzapper commented on #172
@zhaoyonglau regarding plugins, once https://github.com/airflow-helm/charts/issues/251 is resolved, then you will also be able to store plugins in your git-sync DAGs repo, and set `AIRFLOW__CORE__PLUGINS_FOLDER = /opt/airflow/dags/repo/plugins`.

Note, you can already do this, but the plugins wont be visible in the webserver UI.

[2021-07-01 01:09] thesuperzapper opened #252 "document how to use airflow plugins"
Currently, users have to figure out how to add airflow plugins to this chart, we should add a new FAQ called `How to use airflow plugins?`.

There are a few ways off the top of my head that we should include:
1. Store plugins in your DAGs repo, and use git-sync:
    - Then set `AIRFLOW__CORE__PLUGINS_FOLDER = /opt/airflow/dags/repo/PATH_TO_PLUGINS`
2. Embed them in your Airflow container image und

[2021-07-01 01:09] thesuperzapper commented on #172
I have also made an issue to add documentation for using airflow plugins: https://github.com/airflow-helm/charts/issues/252

[2021-07-01 01:12] thesuperzapper opened #253 "volumes are not mounted on init-containers"
Currently, volumes are not mounted on init containers like `wait-for-db-migrations`, and `check-db`, this can result in them perpetually crashing, if a setting like `AIRFLOW__CORE__XCOM_BACKEND` is set to a python package stored on a volume (like a PVC, or git-sync).

See here for an issue this has caused: https://github.com/airflow-helm/charts/issues/245

[2021-07-01 01:14] thesuperzapper commented on #245
@rightx2 this is a fun issue, thanks for raising it, I might not have noticed.

I believe the issue is caused by volumes not being mounted on init-containers, and have raised an issue to track that: https://github.com/airflow-helm/charts/issues/253

I am currently working on a PR to fix this, hopefully finished very soon.

[2021-07-01 01:20] thesuperzapper opened #254 "git-sync and extra-pip-packages are not respected in `airflow-upgrade-db` Job"
Currently, I believe there are situations where the `airflow-upgrade-db` Job can fail if the user has some dependancy on either an `airflow.extraPipPackages` or possibly a plugin defined in their git-sync'd DAGs repo.

[2021-07-01 02:02] thesuperzapper commented on #245
@rightx2 I have raised PR: https://github.com/airflow-helm/charts/pull/255 to fix this

[2021-07-01 05:42] #253 closed

[2021-07-01 05:42] #254 closed

[2021-07-01 06:38] potiuk commented on #211
Cool. let's stick with that terminology then :).  Surely - when we will talk about the Chart we want to tell shortly about the history and we want to make sure the credits are there for all the years when there was no Apache-Airflow-Community supported Helm Chart. I think many users might choose to stay with it and that's great if we can refer to history and explain the context, as it might someti

[2021-07-01 09:32] KIRY4 opened #256 "Encrypt sql_alchemy_conn in airflow config file"
**What is your feature request?**

Hello. If you execute following command using airflow CLI: airflow info -v
You will get following output:
airflow@airflow-web-7c8847fdf8-8gdsl:/opt/airflow$ airflow info -v

Apache Airflow
sql_alchemy_conn       | postgresql+psycopg2://airflow:PLAINTEXTPASSWORD@DB_HOST:6432/airflow
Is it possible to avoid plain text in this string?

**What alternatives have you c

[2021-07-01 17:35] ahayasic commented on #189
Apparently no! I was not using the chart for a while, but I did some tests using version 8.3.1 and everything worked fine. Thanks!

[2021-07-01 23:31] thesuperzapper opened #257 "remove need for `workers.celery.gracefullTermination`"
~Currently, we provide a way to reduce the likelihood of tasks being abruptly killed when using `CeleryExecutor`, and a worker pod is evicted, through the use of `workers.celery.gracefullTermination = true`, with a wait time for tasks defined by `workers.celery. gracefullTerminationPeriod`, [see the values here](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/values.yaml#L

[2021-07-01 23:50] thesuperzapper commented on #256
@KIRY4 the `airflow info` command will always display this connection string (including password), please note, that this chart already [AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD to set the connection string](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/config/secret-config.yaml#L89-L90), see also [how we define DATABASE_SQLALCHEMY_CMD](https://github.com/airflow-he

[2021-07-02 01:23] thesuperzapper opened #258 "`wait-for-db-migrations` does nothing when `airflow.legacyCommands = true`"
Currently, we only preform a bash `sleep 5` for airflow 1.10 [in the wait-for-db-migrations pod](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/_helpers/pods.tpl#L51-L54), this is bad, as it means the init-container will always succeed (even if there are unapplied db migrations), meaning the worker/scheduler container will run, and possibly enter a CrashLoopBack

[2021-07-02 02:06] thesuperzapper opened #259 "remove the need for `helmWait = true`"
Currently, if a user passes `helm install ... --wait` on this chart, the install will hang until failure timeout, this is caused by the `airflow-upgrade-db` Job having [`helm.sh/hook: post-install,post-upgrade`](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/jobs/job-upgrade-db.yaml#L5-L13), this means that the job will only run AFTER all other Pods have reporte

[2021-07-02 02:50] thesuperzapper opened #260 "use Secrets & ConfigMaps in `airflow.{connections, pools, users, variables}` definitions"
Currently, users are limited to defining connections/pools/users/variables in plain-text using the `airflow.{connections, pools, users, variables}` values.

There are some significant issues with our current [Job based approach](https://github.com/airflow-helm/charts/tree/airflow-8.3.2/charts/airflow/templates/jobs):
1. any sensitive content is stored in plain-text within the users `values.yaml`
2

[2021-07-02 02:53] thesuperzapper commented on #183
@klalafaryan @hmahmood-slalom  I have made a proposal to resolve this issue (I am working on implementing it now): https://github.com/airflow-helm/charts/issues/260

[2021-07-02 02:54] thesuperzapper commented on #219
@ihormudryy I have made a proposal to do something similar to this in: https://github.com/airflow-helm/charts/issues/260

I am working on implementing it now.

[2021-07-02 02:55] thesuperzapper commented on #259
Making this change will resolve issues the where people encountered `cannot patch "airflow-upgrade-db"`:
- https://github.com/airflow-helm/charts/issues/230
- https://github.com/airflow-helm/charts/issues/99

[2021-07-02 02:58] thesuperzapper commented on #256
Since this is not an issue, I will close.

[2021-07-02 02:58] #256 closed

[2021-07-02 03:04] thesuperzapper commented on #189
@ahayasic I think this is still an issue, but I think it depends on your Service/Ingress being "sticky" with sessions, see https://github.com/airflow-helm/charts/issues/72#issuecomment-835361440.

[2021-07-03 01:27] #179 closed

[2021-07-04 06:18] #187 closed

[2021-07-04 23:25] thesuperzapper opened #261 "add value for resources to `airflow.kubernetesPodTemplate`"
Currently, if a user wants to override the default resource requeset of the `KubernetesExecutor` pod_template, they have to set the entire file manually with `airflow.kubernetesPodTemplate.stringOverride`.

We should add a value like `airflow.kubernetesPodTemplate.resources`, to let them use the default-generated pod_template, along with a custom resource request.

[2021-07-04 23:32] thesuperzapper opened #262 "fail if `logs.persistence.accessMode` is not set to `ReadWriteMany`"
We should add a new `_helpers/validate-values.yaml` to detect fail if the user sets `logs.persistence.accessMode` to something other than `ReadWriteMany`.

This is because to store logs on a PVC, all pods must mount the Volume as writable, meaning the only valid `accessMode` is `ReadWriteMany`.

[2021-07-04 23:34] thesuperzapper opened #263 "fail if `dags.persistence.accessMode` is not set to `ReadOnlyMany` or `ReadWriteMany`"
We should add a new `_helpers/validate-values.yaml` to detect fail if the user sets `dags.persistence.accessMode` to something other than `ReadOnlyMany` or `ReadWriteMany`.

This is because to store DAGs on a PVC, all pods must mount the Volume as (at least) readable, meaning `ReadOnlyMany` or `ReadWriteMany` are the only valid accessModes.

[2021-07-04 23:43] thesuperzapper opened #264 "set `readOnly = true` when `dags.persistence.accessMode = ReadOnlyMany`"
Currently, we don't specify `readOnly = true` when `dags.persistence.accessMode = ReadOnlyMany`, this has caused issues like https://github.com/airflow-helm/charts/issues/196.

To fix this, we need to add an if-condition when `dags.persistence.accessMode = ReadOnlyMany` to [the pod volumeMount template](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/_helpers/pod

[2021-07-04 23:44] thesuperzapper commented on #196
@jherrmannNetfonds thanks, I have proposed a fix I think will solve this (without impacting anyone using `ReadWriteMany`) in issue: https://github.com/airflow-helm/charts/issues/264, I hope to merge a PR for it soon.

[2021-07-04 23:46] thesuperzapper commented on #115
Bumping for bot, @c-thiel is this still an issue for you?

[2021-07-04 23:47] thesuperzapper commented on #193
@juandiegopalomino is this still an issue for you?

[2021-07-05 00:21] thesuperzapper commented on #259
While this is a good design, it's not actually possible as described, as `StatefulSet` (and `Deployment`) cannot have `restartPolicy = OnFailure`.

I will need to think of another way to submit a Job to run exactly once, which addresses the immutability problem.

[2021-07-05 02:14] thesuperzapper opened #265 "fail if `AIRFLOW__WEBSERVER__SECRET_KEY` is not set with `web.replicas > 1`"
Currently, if a user sets `web.replicas > 1` and forgets to set `AIRFLOW__WEBSERVER__SECRET_KEY`, then they will get a `BAD REQUEST: The CSRF session token is missing`.

We should add a `_helpers/validate-values.tpl`, which fails if the user forgets to set `AIRFLOW__WEBSERVER__SECRET_KEY`.  The issue is that there are multiple places where `AIRFLOW__WEBSERVER__SECRET_KEY` can be set:
1. `airflow.c

[2021-07-05 02:16] thesuperzapper commented on #265
You can see people experiencing this issue in:
- #72
- #189

[2021-07-05 02:23] #188 closed

[2021-07-05 03:12] juandiegopalomino commented on #193
Nope! We decided to use the official Airflow chart where this was not a problem.

[2021-07-05 03:13] #99 closed

[2021-07-05 03:13] #230 closed

[2021-07-05 03:13] #259 closed

[2021-07-05 03:18] thesuperzapper commented on #188
@srthok where you still having this issue?

[2021-07-05 04:42] #196 closed

[2021-07-05 04:42] #264 closed

[2021-07-05 04:54] juandiegopalomino commented on #193
For those facing this issue here is the link: https://github.com/apache/airflow/tree/main/chart
And the docs: https://airflow.apache.org/docs/helm-chart/stable/index.html

[2021-07-05 04:54] #193 closed

[2021-07-05 04:56] thesuperzapper commented on #261
This was already added in [version 8.1.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#810---2021-05-11), by PR: https://github.com/airflow-helm/charts/issues/175

[2021-07-05 04:56] #261 closed

[2021-07-05 04:58] #262 closed

[2021-07-05 04:58] #263 closed

[2021-07-05 05:32] #247 closed

[2021-07-05 06:14] #258 closed

[2021-07-05 06:29] #240 closed

[2021-07-05 06:32] thesuperzapper commented on #178
@klalafaryan did you resolve your issue?

[2021-07-05 06:35] thesuperzapper commented on #204
@demetrioi this should have been fixed by PR: https://github.com/airflow-helm/charts/pull/266, which will be in the next release of the chart `8.4.0`, (you can follow which version has it in the [CHANGELOG](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md)).

[2021-07-05 06:35] #204 closed

[2021-07-05 06:36] thesuperzapper commented on #215
@mikys-next-insurance did you solve your issue here?

[2021-07-05 06:40] thesuperzapper commented on #257
I have heard that airflow workers do this by default, that is, after SIGTERM will cancel their consuming of the Celery queue, and wait for running jobs to finish.

We should investigate which version of airflow added this behaviour, and if we still need the `workers.celery.gracefullTermination` feature.

[2021-07-05 07:06] mikys-next-insurance commented on #215
@thesuperzapper Thanks for reaching back.
Actually no. I understand why it happens that I would expect the failing pods to auto recover but instead they stay in the CrashLoopBackOff state.

[2021-07-05 07:38] demetrioi commented on #204
Thanks @thesuperzapper yes it's solved.

[2021-07-05 22:55] thesuperzapper commented on #215
@mikys-next-insurance can you confirm what version of the chart you are on (that is, have you upgraded to `8.X.X`?)

Either way, can you please share the logs of the containers which are crashing (make sure you get the logs from around when it crashed).

[2021-07-05 23:49] thesuperzapper opened #273 "upgrade docs for 8.0.0 are incorrect about `dags.persistence`"
Currently, the ["Changed" section of 8.0.0 in CHANGELOG](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#800---2021-03-27) says:

This is __incorrect__, as [this line](https://github.com/airflow-helm/charts/blob/airflow-8.3.2/charts/airflow/templates/pvc-dags.yaml#L1) will stop the PVC being deployed if `dags.persistence.existingClaim` is set. Therefore, we must change

[2021-07-05 23:51] thesuperzapper commented on #208
@enriqueayala thanks for raising this!

I think we have to leave the PVC called `%s-dags` at this stage (its a bit late to change back).

The workaround is probably a bit complex for most users, so I will update the docs to explain that users should manually copy DAGs across if they were using `dags.persistence` in `7.X.X`.

I have made an issue about this: https://github.com/airflow-helm/charts/i

[2021-07-05 23:58] thesuperzapper opened #274 "improve docs for Prometheus integration (`serviceMonitor` & `prometheusRule`)"
Currently, the docs for Prometheus  (`serviceMonitor` & `prometheusRule`) are quite lacking:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-integrate-airflow-with-prometheus

We should write up the fulls steps to intergrate Prometheus with Airflow.

[2021-07-06 00:22] thesuperzapper commented on #203
@gy0ung-git what are you using to provide the GCP access? Are you using [GKE Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity)?

[2021-07-06 07:03] thesuperzapper opened #275 "remove `extraPipPackages` from `upgrade-db` Job"
In PR https://github.com/airflow-helm/charts/pull/255, we fixed git-sync being missing from the `upgrade-db` Job, which was important to fix https://github.com/airflow-helm/charts/issues/245.

However, we also added an init-container for `airflow.extraPipPackages`, we should remove this for a couple of reasons:
- it increases the risk that users will accidentally update their db schema to a newer

[2021-07-06 07:08] mikys-next-insurance commented on #215
@thesuperzapper the chart version is airflow-7.16.0
I'll share the logs the next time it will happen.
Anyway, I plan to upgrade the chart version in this month or the next, hopefully it will solve the issue.
Thank you

[2021-07-06 08:23] thesuperzapper opened #276 "ensure git-sync is the first init-container"
We created PR https://github.com/airflow-helm/charts/pull/255 to resolve the possibility of users storing plugins in their git-sync repo, causing the `check-db` to fail.

Init-containers are run [in the order they are declared](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior), so if the `git-sync` init-container is not declared first, the plugins will not exis

[2021-07-06 10:25] demetrioi commented on #260
For connections you can use Environment variables

https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#storing-a-connection-in-environment-variables

Then get the value from a secret.

[2021-07-06 15:00] harvetech opened #277 "Concat function not found in yaml file worker-statefulset.yaml"
I am trying to use this chart but I get a very basic and weird error that _**Concat not defined Failed to create a workload**_. I know it must be a basic question but I am new to Kubernetes and helm. Below is the version of my cluster.

[code]

I don't know what I am doing differently. please guide what should I do?

[2021-07-07 01:29] thesuperzapper commented on #260
@demetrioi the issue is that requires airflow 2.0, and I want to keep supporting 1.10 for a while.

But don't worry, I have almost finished implementing Secret/ConfigMap support in a way which will work for all versions of airflow, expect a release soon!

[2021-07-07 01:48] thesuperzapper commented on #277
@harvetech what version of helm are you using?

The chart only supports helm 3.0+ after version 8.0 of the chart.

[2021-07-07 01:53] thesuperzapper opened #278 "explicitly require helm 3 by setting `apiVersion = v2` in Chart.yaml"
Currently, we require helm 3, but we have  `apiVersion` set as `v1` in Chart.yaml, we should change this to `v2`.

We should also move to the new dependancy format described here:
https://helm.sh/docs/topics/charts/#the-apiversion-field

[2021-07-07 05:50] thesuperzapper opened #279 "remove `files` folder"
Currently we have a [files](https://github.com/airflow-helm/charts/tree/airflow-8.3.2/charts/airflow/files) folder which sits outside the `templates` folder. This is confusing for users of the chart who want to understand how the chart works, we should move these files into the folders in which they are used.

Therfore, we should do the following:
- move the [files/pod_template.kubernetes-helm-yam

[2021-07-07 06:07] TheGeniesis opened #280 "Configuration - can't connect with external postgres instance"
Hi, I'm not sure if it's bug or my misunderstanding of documentation.

**Goal**
My goal is to create environment with external database (Postgres).

**Versions**
- Chart: `8.3.2`
- Airflow image: `2.0.2-python3.8`
- helm: `version.BuildInfo{Version:"v3.6.2", GitCommit:"ee407bdf364942bcb8e8c665f82e15aa28009b71", GitTreeState:"clean", GoVersion:"go1.16.5"}`
- kubectl Client Version: `version.Info{Ma

[2021-07-07 21:26] wyattshapiro commented on #280
The log looks like you are submitting the literal value "<host>" as the host for the postgres db. Try replacing <host> with the actual host of the running external db. Same thing goes for user, password, port, etc

[2021-07-08 03:42] thesuperzapper opened #282 "add support for specifying FAB roles (`airflow.userRoles`)"
Currently, if a user wants to add roles beyond the default (Public, Viewer, User, Op, Admin), they must use a manual method like the UI or CLI.

We should add a new value like `airflow.roles` (along with: `airflow.rolesUpdate`, `airflow.rolesTemplates`), which allows users to declaritvly add new FAB roles.

See the [docs for Access Control](https://airflow.apache.org/docs/apache-airflow/stable/sec

[2021-07-08 04:01] thesuperzapper commented on #280
@TheGeniesis a few questions:
- Are you using something like istio (which can prevent outbound connections from pods)?
- Did you run `nc -vz <postgres_host> <postgres_port>` from WITHIN the scheduler container (or from your laptop)?
- Can you explain what you mean when you said:

[2021-07-08 04:56] thesuperzapper commented on #219
I am going to close this in preference of tracking it on: https://github.com/airflow-helm/charts/issues/260

[2021-07-08 04:56] #219 closed

[2021-07-08 04:59] thesuperzapper commented on #208
I'm going to close this issue, please discuss on https://github.com/airflow-helm/charts/issues/273.

[2021-07-08 04:59] #208 closed

[2021-07-08 05:30] TheGeniesis commented on #280
Hi @wyattshapiro thank you for the answer. I replaced it. In the original error message, it shows the correct IP address and correct port.
As I wrote before this configuration works correctly when I create a service for the scheduler pod.

Hi @thesuperzapper Here are answers:

I don't think so, but I will double-check it

First, I executed it from webserver pod to be sure that it works (and works)

[2021-07-08 06:26] thesuperzapper opened #283 "support using git-sync with PVC (allowing there to only be one git-sync container)"
Currently, we don't let users enable `dags.gitSync ` and `dags.persistence` at the same time.

If we do this (obviously requiring `dags.persistence.accessMode = ReadWriteMany`), we can massively reduce the number of git-sync containers required.

This is because we won't have to put a git-sync container in every Pod, but rather have all pods mount the PVC, while having a central single git-sync de

[2021-07-08 12:13] amir-shkedy opened #284 "error in README for "How to use embedded Postgres?""
**What is the bug?**
In the part of the explanation of 'How to use embedded Postgres there's a problem in the way of creating kubernetes secrets for the postgres and redis.

The error I get with the command
```$kubectl log <pod_that_doesnt_go_up>```
is traceback that the kast kune is:
```ValueError: Port could not be cast to integer value as 'Idkjz1M2JgATIqb'```

You can see if the secret have one

[2021-07-08 14:41] IslamAzab commented on #64
@sakaia to which version did you upgrade?

[2021-07-08 23:56] thesuperzapper commented on #64
@sakaia I imagine they updated the version of airflow?

[2021-07-09 00:01] thesuperzapper commented on #280
@TheGeniesis

Where are you running your external postgres, is it inside the Kubernetes cluster, or truly external?

I don't understand why creating a Service would do anything as it's unrelated to outbound connections from pods). Why did you even think to do this?

Can you give more context about your Kubernetes environment, where are you hosting your cluster?

[2021-07-09 00:06] thesuperzapper opened #286 "upgrade default airflow image to `apache/airflow:2.1.1-python3.8`"
Currently, we ship `apache/airflow:2.0.1-python3.8` by default, we should upgrade this to `apache/airflow:2.1.1-python3.8`.

__NOTE__: this will not affect support for older versions as described here:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support

[2021-07-09 00:12] thesuperzapper commented on #275
Upon further consideration, we should leave `airflow.extraPipPackages` in the `upgrade-db`  for the following reasons:
1. `airflow.extraPipPackages` is [encouraged in the docs only for development, not production](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-install-extra-pip-packages), so its impact should be minimal
2. Users might have installed some plugin using `extra

[2021-07-09 00:12] #275 closed

[2021-07-09 00:41] #273 closed

[2021-07-09 00:52] #251 closed

[2021-07-09 00:54] thesuperzapper commented on #160
With the merging of https://github.com/airflow-helm/charts/pull/288, this issue is no longer relevant, as we always deploy git-sync in the webserver now (meaning we always need the `dags-data` volumeMount`).

[2021-07-09 00:54] #160 closed

[2021-07-09 02:03] thesuperzapper opened #289 "Kanban Board (LINK INSIDE)"
Here is [the link to the `8.X.X` kanban board](https://github.com/airflow-helm/charts/projects/2), we use it to track & prioritize what we are working on.

[2021-07-09 04:06] #183 closed

[2021-07-09 04:06] #260 closed

[2021-07-09 04:51] #278 closed

[2021-07-09 04:51] #286 closed

[2021-07-09 07:36] thesuperzapper commented on #183
@klalafaryan @hmahmood-slalom and others watching, a feature similar to this has been implemented in [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09)!

[2021-07-09 07:37] thesuperzapper commented on #183
@klalafaryan @hmahmood-slalom @cfraleig and others watching, a feature similar to this has been implemented in [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09)!

[2021-07-09 07:40] thesuperzapper commented on #99
@Yinabled @inventionlabsSydney this issue should no longer happen after [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09) of the chart!

[2021-07-09 07:42] thesuperzapper commented on #245
@rightx2 can you confirm if [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09) has resolved this issue for you?

[2021-07-09 07:56] thesuperzapper commented on #187
@uxth can you give [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09) of the chart a go?

[2021-07-09 08:22] TheGeniesis commented on #280
Hi @thesuperzapper the problem was related to the network infrastructure. When other team solved it everything started working correctly. Sorry, for bothering you.

Yes, service for scheduler is redundant.

Issue can be closed.

[2021-07-09 08:28] tyg03485 commented on #245
Hi, I'm @rightx2 's teammate.

At first, The reason for this issue is that airflow config has xcom settings, but the actual related file cannot be found in the dag volume mount location.
The initial chart probably did not support init-container and job separately because mostly they don't need dag volume.
**Anyway, It was solved as just attaching the `AIRFLOW__CORE__XCOM_BACKEND` environment varia

[2021-07-09 08:36] thesuperzapper opened #291 "add validation for `externalDatabase.type`"
Currently, we don't ensure that `externalDatabase.type` is one of the valid values `mysql` or `postgres`.

We should add a validation for this to [_helpers/validate-values.tpl](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/_helpers/validate-values.tpl).

[2021-07-09 09:05] stephen-lazarionok opened #292 "How to apply "pullSecret" to KubernetesExecutor in airflow 7.16.0"
Version: 7.16.0

What is the way to apply "pullSecret" to KubernetesExecutor

The current config is:
[code]

What I am looking for is something like `AIRFLOW__KUBERNETES__WORKER_PULL_SECRET: "secretName"`

[2021-07-09 10:23] jensgrnb opened #293 "`CeleryKubernetesExecutor` jobs are not queued."
**What is your question?**

I'm trying to get the `CeleryKubernetesExecutor` up and running on our airflow cluster. I'm upgrading from a `CeleryExecutor` where the jobs are running fine, but when I simply upgrade the executor without adding anything, no jobs are queued at all.

task instance details gives me

![image](https://user-images.githubusercontent.com/77628274/125063841-4156b700-e0b0-11eb-

[2021-07-10 04:02] kushagra391 commented on #109
@thesuperzapper just wanted to highlight, related to https://github.com/helm/charts/issues/23589

am seeing permission being denied for `logs` for chart versions >= 8.x

am using EFS as shared storage for both dags and logs

[code]

it gets fixed if I do `chmod -R 777 /opt/` on my EFS mount.

[2021-07-11 22:08] thesuperzapper commented on #280
@TheGeniesis thanks

[2021-07-11 22:08] #280 closed

[2021-07-11 22:11] thesuperzapper commented on #245
@tyg03485 are you sure that this issue was not solved after version `8.4.0`

The `8.4.0` version included PR https://github.com/airflow-helm/charts/pull/255, which made sure that init-containers mounted `extraVolumes`, `extraVolumeMounts`, and git-sync's `dags-data` volume.

[2021-07-11 22:23] thesuperzapper commented on #292
@stephen-lazarionok I recommend updating to a newer version of the chart, [8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09) was just released
(NOTE: [airflow `1.10.X` IS supported chart `8.X.X`](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support))

After version `8.0.0`, we generate a pod_template.yaml ([usin

[2021-07-11 22:26] thesuperzapper commented on #292
Note that in the `pod_template.yaml` template, we set `pullSecret` to [`airflow.image.pullSecret`](https://github.com/airflow-helm/charts/blob/airflow-8.4.0/charts/airflow/files/pod_template.kubernetes-helm-yaml#L16-L19).

If you need a separate `pullSecret` for the `pod_template.yaml`, we could add a new value like `airflow. kubernetesPodTemplate.pullSecret`.

[2021-07-11 23:08] thesuperzapper opened #296 "add `airflow.defaultSecurityContext` value"
Currently, we don't set `securityContext.fsGroup` automatically for the user, this means that volumes mounted to containers will not necessarily be read/writable (due to file permissions), this can result in issues, like:
- https://github.com/helm/charts/issues/23589
- https://github.com/airflow-helm/charts/issues/109#issuecomment-877559005.

Right now, to set `fsGroup` on all Pods (for example, i

[2021-07-12 00:07] thesuperzapper commented on #109
@kushagra391 are you setting the `securityContext.fsGroup` like described in ["How to persist logs"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-persist-airflow-logs)?

I realise there are lots of settings, so I have raised issue https://github.com/airflow-helm/charts/issues/296 to make it easier (and also set a default `fsGroup`).

[2021-07-12 04:54] thesuperzapper opened #297 "chart 8.4.0 no longer works properly in argo-cd"
In the [version 8.4.0](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#840---2021-07-09) release, the changes related to Jobs in these PRs have caused issues:
- https://github.com/airflow-helm/charts/pull/266
- https://github.com/airflow-helm/charts/pull/281

The issues stem from the fact argo-cd only runs `helm template ...`, and so `{{ .Release.Revision }}` will not

[2021-07-12 06:20] thesuperzapper commented on #293
@jensgrnb this issue is caused by airflow `2.1.1`, not the chart.

This https://github.com/apache/airflow/pull/16700, has addressed the issue, and will be included in airflow `2.1.2`.

[2021-07-12 06:22] kushagra391 commented on #109
thanks, yea it worked after following ["How to persist logs"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-persist-airflow-logs)

[2021-07-12 07:19] jensgrnb commented on #293
Okay thanks for the reference! I'll be waiting eagerly for 2.1.2 then) Dodging meetings etc.

[2021-07-12 07:54] rashi-psg commented on #178
Facing the same issue with chart 8.4.0. I am using a custom image based on apache/airflow:2.0.2-python3.8 and installed the required packages inside it. Have authlib also in the image. But the webserver pod is failing with the error

[2021-07-12 07:31:13,978] {dagbag.py:451} INFO - Filling up the DagBag from /dev/null
Traceback (most recent call last):
  File "/home/airflow/.local/bin/airflow", li

[2021-07-12 09:16] thesuperzapper commented on #178
@rashi-psg, what container is that (webserver, git-sync, etc)?

Also, what packages are you installing?

[2021-07-12 09:23] thesuperzapper opened #299 "improve validation for CeleryExecutor (ensure redis is enabled)"
Currently, we [validate that](https://github.com/airflow-helm/charts/blob/airflow-8.4.0/charts/airflow/templates/_helpers/validate-values.tpl#L41-L45) the user has disabled `workers.enabled`, `flower.enabled`, and `redis.enabled` if `airflow.executor=KubernetesExecutor`.

We should also validate the reverse for `CeleryExecutor` and `CeleryKubernetesExecutor`, that is we should ensure that:
* Eithe

[2021-07-12 09:29] #297 closed

[2021-07-12 09:42] rashi-psg commented on #178
Error is in webserver container.
Installing the following because it is somehow not picking the packages present in image
extraPipPackages:
        - "Flask-AppBuilder~=3.2.0"
        - "Authlib~=0.15.3"

[2021-07-12 09:50] thesuperzapper commented on #178
@rashi-psg you mention that you are already installing Authlib in your container image, so I have a few questions:
1. are you sure that this container image has `authlib`?
    - (try `docker run -it ...` it locally, and importing `authlib` in a python shell)
2. are you sure that the image is correctly pulled into your K8S.
    - (for example, if you are using `pullPolicy: IfNotPresent`, make sure

[2021-07-12 23:35] thesuperzapper opened #301 "allow specifying `pullSecret` for git-sync image"
Currently, we allow users to set `airflow.image.pullSecret` for the main airflow image.

We should also allow users to set `dags.gitSync.image.pullSecret` for the git-sync container image.

[2021-07-13 02:44] tyg03485 commented on #245
Yes, I also tested on `8.4.0` and It didn't work. `check-db` init-container is problem which i said above.

[2021-07-13 02:47] tyg03485 commented on #245
Maybe you can check it with below override value
[code]

[2021-07-13 03:03] thesuperzapper commented on #245
@tyg03485 can you share a version of your plugin so I can test it on my end?

[2021-07-13 03:28] thesuperzapper opened #302 "document usage with K8S cluster-autoscaler"
We should write a new FAQ section about `How to use airflow with K8S cluster-autoscaler?`.

__This new section should cover things like:__
- discussion specific to cloud-vendor cluster-autoscaler configs:
    - GKE will only respect 10min `terminationGracePeriodSeconds`
    - ...
- implications of using CeleryExecutor:
   - gracefully shutdown of worker pods for running tasks)
   - considerations

[2021-07-13 03:38] thesuperzapper opened #303 "stop using embedded `stable/postgres` chart"
Currently, [we use the](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/Chart.yaml#L20-L23) (very, very) outdated `stable/postgres` chart, I see two options:
1. Use the descendant of `stable/postgres` which lives on [bitnami/charts:postgresql](https://github.com/bitnami/charts/tree/master/bitnami/postgresql)
2. Create our own Postgress YAML, and include it directly in the

[2021-07-13 03:45] thesuperzapper opened #304 "stop using the embedded `stable/redis` chart"
Currently, [we use the](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/Chart.yaml#L24-L27) (very, very) outdated `stable/redis` chart, I see two options:
1. Use the descendant of `stable/redis` which lives on [bitnami/charts:redis](https://github.com/bitnami/charts/tree/master/bitnami/redis)
2. Create our own Redis YAML, and include it directly in the chart

I believe per

[2021-07-13 03:46] thesuperzapper commented on #20
I am going to close this issue in preference of the more specific issues for Redis and Postgres separately:
- https://github.com/airflow-helm/charts/issues/303
- https://github.com/airflow-helm/charts/issues/304

[2021-07-13 03:46] #20 closed

[2021-07-13 03:56] thesuperzapper opened #305 "add "chart features" section to readme"
We should add a section under "Important Documentation" called "Features", and talk about the cool features of the chart in bullet points.

[2021-07-14 11:02] harvetech opened #306 "Where to find the documentation of this chart ?"
I am new to Kubernetes and I was able to deploy Airflow via this helm chart. Everything is working smoothly as expected thanks to the creators of this chart. But now I want to pull dags and I don't want them to be pulled each time and want to store them separately in a different volume. These are the basic question to which I hope I will get an answer from the documentation.

Where is the document

[2021-07-14 15:27] bradarndt commented on #276
I ran into a situation today where the fact that git-sync was not the first init-container actually caused it to fail (and thus my pods to not start successfully).  I believe that I was able to trace the root of the issue to the following sequence of events:

1. check-db pod runs - as part of running, it creates a logs directory at /opt/airflow/logs.
2. git-sync pod runs and attempts to clone repo

[2021-07-14 19:30] ecda909 opened #308 "extraPipPackages config not installing package dependencies on celeryExecutor worker"
**What is your question?**

I'm trying to install pip packages via the extraPipPackages config in the values manifest for the celeryExecutor worker, but I keep getting this error when trying to install pandas...
<img width="1231" alt="Screen Shot 2021-07-14 at 3 31 30 PM" src="https://user-images.githubusercontent.com/20650573/125681771-db9d0bf0-859f-409d-8ebd-4fb6abbcabfc.png">

and my values man

[2021-07-14 23:24] thesuperzapper commented on #265
As [described here](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#secret-key) this can be set multiple ways:
- `AIRFLOW__WEBSERVER__SECRET_KEY`
- `AIRFLOW__WEBSERVER__SECRET_KEY_CMD`
- `AIRFLOW__WEBSERVER__SECRET_KEY_SECRET`

So we need to be careful when checking if the user has set it.

[2021-07-14 23:25] thesuperzapper commented on #72
For those following, you need to set [AIRFLOW__WEBSERVER__SECRET_KEY](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#secret-key), using the `airflow.config.AIRFLOW__WEBSERVER__SECRET_KEY` value.

I have raised an issue to throw an error if you forget to do this:
- https://github.com/airflow-helm/charts/issues/265

[2021-07-14 23:25] #189 closed

[2021-07-14 23:27] thesuperzapper commented on #306
@harvetech all the documentation is stored in the [README](https://github.com/airflow-helm/charts/tree/main/charts/airflow),  the questions you ask are in the FAQ:
- [How to set airflow configs?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-set-airflow-configs)
- [How to store DAGs?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-store-dags)

[2021-07-14 23:49] thesuperzapper commented on #308
@ecda909

Where are those logs from? Are they from the `install-pip-packages` init-container or the main `worker` container?

Also, I highly recommend for larger python dependencies with C code (like numpy), that you use "Option 2" and build your own image, as [described here](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-1---use-init-containers).

[2021-07-15 00:30] gy0ung-git commented on #203
I configured GKE Workload Identity and specified the configuration as follows:

  config:
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: "60"
    AIRFLOW__CORE__PLUGINS_FOLDER: "/opt/airflow/dags/repo/plugins"
    CLOUDPROVIDER: "google"
  # remote log storage
    AIRFLOW__LOGGING__REMOTE_LOGGING: "True"
    AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: "gs://

[2021-07-15 09:42] harvetech commented on #306
Thankyou @thesuperzapper

[2021-07-15 09:43] #306 closed

[2021-07-15 09:47] harvetech opened #309 "Git Sync image k8s.gcr.io/git-sync/git-sync"
Dear all,

I am trying to pull this image but this URL leads me to google cloud and that's where I have signup and pay to use this image. Do we have another image that is available on the docker hub?

The cluster am using cannot download images from the internet. I have to download and upload in the Image repository. All Images I found on docker hub but not this one.

repository: k8s.gcr.io/git-sy

[2021-07-15 12:20] miky-schreiber commented on #72
I'm using helm chart version 8.4.0 and still face this problem. any solution for those who use LoadBalancer and don't use ingress?

[2021-07-15 13:49] ecda909 commented on #308
These are from the Airflow dag logs in the dashboard. They're also present on the worker container. I didn't look at the init-container logs, however I know they ran because the packages are installed at /opt/python/site-packages...
<img width="1394" alt="Screen Shot 2021-07-15 at 9 49 04 AM" src="https://user-images.githubusercontent.com/20650573/125799034-0ddd7c66-8c84-49c3-a753-6f5cca49ab6b.png

[2021-07-15 13:54] ecda909 commented on #308
I don't see the instructions for how to build a separate image... I can build one, but it will take significantly more time with troubleshooting Airflow to get it to work with the image if there isn't clear instruction available on the steps that need to be taken.

[2021-07-15 16:28] ecda909 commented on #308
I go the dependencies to work. I had to manually uninstall and reinstall them from that directory and then the DAG began to run. But now I'm having an issue with my logs... The transform_script logs are supposed to be in this directory
<img width="1105" alt="Screen Shot 2021-07-15 at 12 26 15 PM" src="https://user-images.githubusercontent.com/20650573/125823363-878f5575-77d1-4650-959e-acdc59463032

[2021-07-15 16:56] ecda909 commented on #308
I found that the log file is being placed in the /tmp file for a limited time, but it is empty...

[2021-07-15 20:38] ssalaues opened #310 "install `airflow.extraPipPackages` in sync Jobs/Deployments"
**What is the bug?**
Similar to #254, certain airflow config options require additional pip packages to function properly such as Sentry. For example, if the airflow Sentry options are enabled then the `check-db` init container on the sync jobs/deployments will fail due do missing the missing `sentry_sdk` package.

**What version of the chart are you using?**:

I am using version `8.4.1`

**What i

[2021-07-15 22:19] thesuperzapper opened #312 "document `How to configure Pod affinity, tolerations, and node-selectors?`"
Currently, we provide the ability to set affinity/tolerations/node-selectors on each deployment, however, users must read the default `values.yaml` to understand this.

We should add a new section to the Kuberntes FAQ: `How to configure Pod affinity, tolerations, and node-selectors?`.

[2021-07-15 22:28] thesuperzapper opened #313 "add `airflow.{defaultNodeSelector,defaultAffinity,defaultTolerations}` values"
Currently if users want to set `affinity`, `tolerations` or `node-selectors` on every Pod deployed by the chart, they have to configure __a lot__ of values:

[code]

__We should add some global variables which define `affinity`, `tolerations` or `node-selectors` for all Pods:__
[code]

__NOTE:__
- If the user defines __both__ global and per-resource settings, we should take the per-resource config

[2021-07-15 22:45] thesuperzapper commented on #309
@harvetech I believe that the git-sync image ([repo here](https://github.com/kubernetes/git-sync)) is only officially available on `k8s.gcr.io/git-sync/git-sync`.

However, you could easily just `docker pull ...`, `docker tag ...`, `docker push ...` it to your own docker-hub or internal repo (from a machine with access to the internet).

[2021-07-15 22:48] thesuperzapper commented on #308
@ecda909 just to clarify, what version of the chart are you using, because `extraPipPackages` should be installed in `/home/airflow/.local/` not `/opt/python/site-packages`?

[2021-07-15 22:52] thesuperzapper commented on #310
@ssalaues while I do think you should use "Option 2" for prod, as described in "[How to install extra pip packages?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-install-extra-pip-packages)", I agree that we can simply add the global `extraPipPackages` to the sync containers.

[2021-07-15 22:58] ssalaues commented on #310
Yeah I agree `Option 2` is optimal for various reasons but seemed like an easy unlock for testing fringe airflow features

[2021-07-16 11:21] harvetech commented on #71
@thesuperzapper I tried to use `airflow.kubernetesPodTemplate.extraPipPackages` but still pods were not installed with those specific pip packages. I also tried to specifically add required in scheduler, worker, and webserver but still, packages were not installed. Any solution except extending the official image ?

[2021-07-16 12:30] thesuperzapper commented on #71
@harvetech what version of the chart are you using?

And can you share your values?

Possibly raise a new issue for this.

[2021-07-18 06:57] brain-buster commented on #296
@thesuperzapper I think this `pv.beta.kubernetes.io/gid` annotation is useful for particular issue. Reference:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#access-control

[2021-07-20 06:24] thesuperzapper opened #316 "the `sync_users.py` script never releases some database connections"
Currently, the `sync_users.py` code in the `sync-users` deployment will perpetually hold a connection against the database, it seems that `AppBuilder()` object never releases some of its db transactions.

__The solution is to do the following:__
1. Use `airflow.www.app.create_app()` rather than `cached_app()` (so we can get access to the `Flask()` object)
2. After each sync, run `Flask().do_teardo

[2021-07-20 12:26] cocampbe commented on #213
I am facing the same issue after updating from airflow image 2.0.1-py3.8 to 2.1.2-py3.8.

[2021-07-20 12:19:19,818] {db.py:619} INFO - Waiting for migrations... 59 second(s)
[2021-07-20 12:19:20,821] {db.py:619} INFO - Waiting for migrations... 60 second(s)
Traceback (most recent call last):
  File "/home/airflow/.local/bin/airflow", line 8, in <module>
    sys.exit(main())
  File "/home/airflow/.

[2021-07-20 12:58] cocampbe commented on #213
I check the check-db init container and it shows a successful connection to the postgres db.

[2021-07-20 14:00] cocampbe commented on #213
After trying to figure this out, it finally resolved. I use fluxcd for helm installs. I did a rollback and at some point it successfully ran the db migration. I then made an update, rollback, etc. And after the last update it was successful. I also tried an update to chart 8.4.1, but helm barfed on not being able to update the clusterip spec in one of the deployments, or sts'. I revertedf to 8.0.9

[2021-07-20 22:31] thesuperzapper commented on #166
Bumping for the bot, I will work on this after the next minor release (which should add PGBouncer).

[2021-07-20 23:10] thesuperzapper opened #317 "create `db-migrations` Deployment (replace Job)"
As of `8.4.1` we use [this Job resource](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/jobs/job-upgrade-db.yaml) to perform the `airflow db upgrade` after any change in the user's values.

__This is the culmination of a number of issues:__
1. `8.0.1` -- https://github.com/airflow-helm/charts/pull/102 made the job a post-install helm hook:
    -  to prevent immu

[2021-07-20 23:12] thesuperzapper commented on #213
@cocampbe I am planning to remove the `upgrade-db` Job altogether, and replace it with a Deployment, the Job has caused many issues, see issue https://github.com/airflow-helm/charts/issues/317 for more the proposal.

[2021-07-20 23:16] thesuperzapper opened #318 "url encode `externalDatabase.user` in connection strings"
Azure PostgreSQL databases require that usernames look like `me@example.com`, which means (in the username part of connection-strings) the `@` must be encoded as `%40`, this has caused a number of issues:
- https://github.com/airflow-helm/charts/issues/213#issuecomment-853638809 (@nike4122)
- https://github.com/airflow-helm/charts/issues/394 (@TAMQuiroz)

__We already [URL encode  `DATABASE_PASSWO

[2021-07-20 23:20] thesuperzapper commented on #213
@nike4122, I never considered a special character in the db username, but I have raised an issue https://github.com/airflow-helm/charts/issues/318, to automatically encode it for users.

But be warned, you will need to revert it to its un-encoded form in `externalDatabase.user` once this update happens (I will put a warning in the changelog).

[2021-07-21 08:16] demetrioi opened #319 "S3 logs not working when using external database"
**What is the bug?**

[[A clear description of the bug]]
S3 logs not working when using external database. When I use the internal postgres database the log is saved to S3. But doesn't work when I use mySQL or Postgres external DB

I also got error when trying to execute the dag/task using CLI in the pod/container terminal

Command:
airflow tasks run example_python_operator print_the_context "2021

[2021-07-21 09:11] #316 closed

[2021-07-21 09:15] thesuperzapper commented on #319
@demetrioi can you show the rest of your values.yaml (for example the ones which specify `AIRFLOW__LOGGING__REMOTE_LOGGING`, etc)?

[2021-07-21 09:22] demetrioi commented on #319
Sure @thesuperzapper

`    AIRFLOW__LOGGING__REMOTE_LOGGING: "True"
    AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: "s3://xyz/airflow/logs/"
    AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID: "aws"

  connections:
    - id: aws
      type: aws
      description: AWS Conn
      extra: |-
        { "aws_access_key_id": "${AWS_ACCESS_KEY_ID}",
          "aws_secret_access_key": "${AWS_ACCESS_KEY}",
          "r

[2021-07-21 09:39] thesuperzapper commented on #319
@demetrioi
__A couple of questions:__
1. Are any pods crashing, or is this error only visible in the airflow web-ui (under dag logs)?
2. Are you 100% sure that enabling/disabling `postgresql.enabled` reliably breaks/fixes s3 logs?
3. Where is this log comming from:
`ERROR - Could not create an S3Hook with connection id "xyz". Please make sure that apache-airflow[aws] is installed and the S3 connec

[2021-07-21 09:53] naturalett opened #321 "include `airflow.extraVolumeMounts` in `install-pip-packages` init-container"
**What is your feature request?**
Currently, it's not possible to add a custom volume to install-pip-packages.
Other init-containers such as **wait-for-db-migrations**, and **check-db** allow custom volumes based on user demands.

**What alternatives have you considered?**
Adding extraVolume to the **install-pip-packages** will give the flexibility for users to add their custom volumes to their in

[2021-07-21 10:05] demetrioi commented on #319
Hi @thesuperzapper

1. Are any pods crashing, or is this error only visible in the airflow web-ui (under dag logs)?

No. No pods crashing. I cannot see the error under dags logs because the log is configured to be saved on S3 and S3 is not working.

![2021-07-21_12-01-28](https://user-images.githubusercontent.com/10916434/126471272-2e76c722-8722-4efc-9ff2-faea08616e2f.png)

2 - Are you 100% sure t

[2021-07-21 10:09] demetrioi commented on #319
Similar problem: `https://github.com/apache/airflow/issues/12969`

[2021-07-21 10:23] demetrioi commented on #319
Also event using the internal postgres it just save to S3 when I hard code the S3 connection key and secret.

It not work when I use this new feature

[code]

[2021-07-21 12:43] SingularBunny opened #322 "cant set HTTP_PROXY in `airflow.extraPipPackages` init-container"
You have incorrect helper [`airflow.init_container.install_pip_packages`](https://github.com/airflow-helm/charts/blob/42fdd8ceece5159e61e00cce94bb5812f0f8513a/charts/airflow/templates/_helpers/pods.tpl).
When it initializes, it doesn't contain `airflow-config` secret.
Because of that many pods stuck if you use a proxy.

You need to add:
[code]
inside.

I am using version 8.4.1 of chart

Kubernetes

[2021-07-21 15:35] harvetech opened #323 "PVC gets delected as soon as I deploy the application"
Hello all,

I am trying to save the logs in a persistent volume. So I created a PVC and referenced it inside the logs: part of values.yaml file. To my surprise whenever I try to upgrade my deployment it deletes the PVC and later on complains that it is unable to find that particular PVC.

external PVC :
`
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: airflow12-logs
  namespace: defa

[2021-07-22 00:41] thesuperzapper commented on #323
@harvetech are you installing airflow in your `default` namespace, as that is where your PVC is.

[2021-07-22 01:01] thesuperzapper opened #324 "include `airflow.config` and `airflow.extraEnv` in pip-install container"
Currently, we do not mount the `airflow.config` or `airflow.extraEnv` into the [install-pip-packages](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/_helpers/pods.tpl#L118-L138) init-container, causing issues like https://github.com/airflow-helm/charts/issues/322.

__We should add the mounts by including:__
[code]

We should consider if we need to prevent certai

[2021-07-22 01:02] thesuperzapper commented on #322
@SingularBunny thanks for raising this, I have created https://github.com/airflow-helm/charts/issues/324 which describes what I plan to do.

[2021-07-22 01:08] thesuperzapper commented on #319
@demetrioi can you try with python 3.8 (or before), for example with:
[code]

[2021-07-22 07:27] justbeay commented on #283
in airflow1 version, gitSync with dags pvc works. we hope it keeps the same in airflow2. which would not leading the task container waiting for git clone done (this masters a lot if the git repo is too big or poor network connection)

[2021-07-22 13:32] harvetech commented on #323
Maybe that's the case with me as well. There is an update. Right after deployment, I see it keep on waiting for the PVC to get done but somehow it only gets done when I create a PV after the chart has claimed for PVC. Once the PVC is bounded chart through this error:

[code]

is it related to fsgroup ? do I need to have the same fsgroup id in my storageClass as well ?

[2021-07-23 12:19] CyberHippo opened #325 "Customizable service ports"
**What is your feature request?**

I would like to be able to customize the port list in the service manifests.

As of now, there is only on port listed in the service (airflow-web service as an example) which can be overridden by the values:
[code]
But it does not seem possible to add another port in the list.

The end goal here is the tell prometheus to scrape the service (web, scheduler, etc) o

[2021-07-23 12:45] CyberHippo opened #326 "add prometheus-operator ServiceMonitors for scheduler and workers"
**What is your feature request?**

I would like to be able to have additional `ServiceMonitor` for the `worker` and the `scheduler` components.
As of now, there is a single `ServiceMonitor` for the `web` component.

**What alternatives have you considered?**

- None

I am open to suggestion and if needed I can provide a PR for this feature.

PS: I am currently working on the Prometheus integration

[2021-07-26 00:39] thesuperzapper commented on #283
@justbeay two comments:
1. version `8.X.X` of the chart can be used with both airflow 1 and airflow 2 (see the [Airflow Version Support](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support) table)
1. while the `7.X.X` version of the chart may have let you enable a PVC with git-sync enabled, it would have resulted in all the git-sync containers fighting over the

[2021-07-26 07:29] mn0o7 opened #327 "403 FORBIDDEN when webserver tries to get logs from workers version 2.1.2"
**What is the bug?**
Airflow version 2.1.2 requires AIRFLOW__WEBSERVER__SECRET_KEY to match on the webserver and workers in order to fetch logs. If the key is not manually set on both it will be auto generated and not match.

**What is your Kubernetes Version?**:
[code]

**What is your Helm version?**:

[code]

[2021-07-26 22:54] thesuperzapper opened #328 "prevent non-collaborators changing version files (creating releases) with PRs"
A release of the chart will be created if a commit is added that updates:
- `charts/airflow/Chart.yaml`
- `images/pgbouncer/VERSION`

We should make a GitHub workflow that fails if a PR modifies a version file and is not created by a GitHub "collaborator". This will help prevent accidental releases.

[2021-07-27 11:55] thesuperzapper opened #331 "update `home`, `description` & `sources` in Chart.yaml"
To be consistent with other locations in the repo, __we should update the `description` under Chart.yaml to__:
[code]

__NOTE:__ this has to done on the next release, as updating `charts/airflow/Chart.yaml` will trigger the release workflow

---

__We should also update the `home` and `sources`:__
[code]

[2021-07-27 23:13] thesuperzapper opened #332 "create `airflow.webserverSecretKey` (with default value)"
As of airflow `2.1.2`, you must set `AIRFLOW__WEBSERVER__SECRET_KEY` (see https://github.com/apache/airflow/pull/16754) or the webserver will be unable to get the logs from the workers, as reported in https://github.com/airflow-helm/charts/issues/327.

We should make a new value called `airflow.webserverSecretKey` that sets `AIRFLOW__WEBSERVER__SECRET_KEY` in `Secret/airflow-config`. (__NOTE:__ th

[2021-07-27 23:14] thesuperzapper commented on #327
Thanks, @mn0o7 I have raised an issue describing how I will fix this:
- https://github.com/airflow-helm/charts/issues/332

[2021-07-27 23:17] thesuperzapper opened #333 "add warning in NOTES.txt if `airflow.{fernetKey,webserverSecretKey}` is default"
Currently, we define default values for `airflow.fernetKey` and `airflow.webserverSecretKey` because using `randAlphaNum` would [break tools like argo-cd](https://argoproj.github.io/argo-cd/user-guide/helm/#random-data).

We should add a warning in `NOTES.txt` if the user leaves them set as default, as this is a security risk for production usage.

### `airflow.fernetKey`
- the fernet key can be s

[2021-07-28 07:01] pindge opened #334 "allow adding extra RBAC rules to the airflow role"
**What is your feature request?**

In our situation, we are using `KubernetesJobOperator` : https://github.com/LamaAni/KubernetesJobOperator, we got this error
[code]

my feature request is to add to airflow role.
[code]

**What alternatives have you considered?**
after investigation, we set `rbac create: false` and manually created a role and rolebinding copied from the helm chart + the following

[2021-07-29 15:14] MarvinSchenkel opened #335 "Deployment to clean namespace fails when using embedded DAGs in Docker image"
**What is the bug?**

Hi,

I think I found a bug in the chart when using 'Option 3 - embedded into container image' as my DAG deployment method. Let me try to describe what is going on.

I am currently deploying Airflow 2 locally to a minikube cluster as a preparation for the migration to Airflow 2. I already migrated all the DAG code according to the Airflow guides. Whenever I deploy my release t

[2021-07-30 08:42] thesuperzapper opened #336 "use `/entrypoint` when `airflow.legacyCommands=false`"
Previously we were overriding the `/entrypoint` of the docker images so we could run `bash -c ...`. However, as of airflow 2.0.0 the `/entypoint` has passed-through [`bash` commands](https://github.com/apache/airflow/blob/2.0.0/scripts/in_container/prod/entrypoint_prod.sh#L117).

__Using the official `/entrypoint` also fixes a number of issues:__
- [unsettling `PIP_USER`](https://github.com/apache

[2021-07-30 08:54] thesuperzapper commented on #317
I also realised, if a user clears their database (with chart `8.4.1`), the [job-upgrade-db.yaml](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/jobs/job-upgrade-db.yaml) will only run if the user changes their values AND reruns `helm upgrade ...`, causing airflow to not work until they do this.

[2021-07-30 09:17] thesuperzapper opened #337 "set `airflow.image.gid` to `0` by default"
Currently `airflow.image.gid = 50000` by default, the official `apache/airflow` image [wants us to use `gid=0`](https://github.com/apache/airflow/blob/2.1.2/scripts/in_container/prod/entrypoint_prod.sh#L246-L278).

Therefore we should change this default to `airflow.image.gid = 0`.

[2021-07-30 09:28] thesuperzapper opened #338 "automatically set `securityContext.fsGroup = 0`"
Currently, users have to set MANY `securityContext.fsGroup` configs to ensure their mounted volumes have the correct permissions, this spawned issue: #296

We should simplify this for users and make all containers have `securityContext.fsGroup = 0` in their image templates.
(Here is the [`airflow.image`](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/_helpers/po

[2021-07-30 09:39] thesuperzapper opened #339 "safer down-scaling of workers with `controller.kubernetes.io/pod-deletion-cost`"
Safely scaling-down celery workers has been largely impossible with resources like `Deployment` and `StatefulSet`, this is because when the `replicas` request is decreased, those resources don't choose which `Pods` to kill based on how many airflow tasks a Pod may be running. This means it's possible that an empty worker will be left running, while a busy worker is killed, leading to wasted time b

[2021-07-31 10:41] moriyoshi opened #340 "scheduler liveness probe does not exit with non-zero code on error"
**What is the bug?**
The following portions of the code for liveness check probe don't seem to work as they were intended to do:

* https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/scheduler/scheduler-deployment.yaml#L147
* https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/scheduler/scheduler-deployment.yaml#L149

Where those shoul

[2021-08-02 01:45] thesuperzapper commented on #130
Closing this because PR https://github.com/airflow-helm/charts/pull/281 added the ability to set node selector/affinity for user/connections/pools/variables jobs.

The only job left is the `airflow db upgrade`, which will be replaced after https://github.com/airflow-helm/charts/issues/317 is resolved.

[2021-08-02 01:45] #130 closed

[2021-08-02 01:46] thesuperzapper commented on #141
Closing this because PR https://github.com/airflow-helm/charts/pull/281 added the ability to set CPU/Memory requests for user/connections/pools/variables jobs.

The only job left is the `airflow db upgrade`, which will be replaced after https://github.com/airflow-helm/charts/issues/317 is resolved.

[2021-08-02 01:46] #141 closed

[2021-08-02 01:46] thesuperzapper commented on #156
Closing this because PR https://github.com/airflow-helm/charts/pull/281 added the ability to set custom pod annotations for user/connections/pools/variables jobs.

The only job left is the `airflow db upgrade`, which will be replaced after https://github.com/airflow-helm/charts/issues/317 is resolved.

[2021-08-02 01:46] #156 closed

[2021-08-03 12:03] gowdra01 opened #342 "TimeoutError: There are still unapplied migrations after 60 seconds. Migration Head"
I used the latest helm charts and I am trying to connect to an external mysql db  (this is a clean db)
but I am getting error related to wait-for-db-migration not completing.

do you know what's the fix here? thanks

`  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/cli/commands/db_command.py", line 54, in check
_migrations
    db.check_migrations(timeout=args.migration_wait_timeou

[2021-08-05 21:58] bradarndt commented on #276
Note that upon additional investigation/troubleshooting, I believe the particular complication that I was facing above was due to the fact that I was using /opt/airflow as the dags path (instead of a subpath thereof).  That being said, the referenced PR still is applicable to setting git sync as the first init-container

[2021-08-06 00:06] thesuperzapper commented on #167
The best solution I can think of is adding a warning to the NOTES.txt if the default `airflow. fernetKey` is used:
- https://github.com/airflow-helm/charts/issues/333

[2021-08-06 00:06] #167 closed

[2021-08-06 03:48] thesuperzapper commented on #338
This is not quite correct, as `fsGroup` can only be used on the [PodSecurityContext ](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#podsecuritycontext-v1-core) (for PodSpec) not  [SecurityContext](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#securitycontext-v1-core) (for ContainerSpec).

I think the best solution is to go forwards with creating `airfl

[2021-08-06 03:48] #338 closed

[2021-08-06 03:48] thesuperzapper commented on #296
As discussed in https://github.com/airflow-helm/charts/issues/338#issuecomment-893979501, we should consider setting the default value of `airflow.extraSecurityContext` to `{ fsGroup: 0 }`.

[2021-08-07 00:41] aprettyloner opened #349 "KubernetesExecutor pod_template should use `airflow.image.pullPolicy`"
## Summary
Worker pods do not have configurable `imagePullPolicy` so new packages are not picked up.

https://github.com/airflow-helm/charts/blob/703ba8e726be6eb8331cfee7251561384f86fba2/charts/airflow/files/pod_template.kubernetes-helm-yaml#L49

## Issue Encountered
Although the scheduler/web pods are pulling the most recent airflow image, the worker pods do not repull the image due to current co

[2021-08-07 13:54] ArshiAAkhavan opened #350 "elastic remote logging"
**do we have support for elastic search remote logging?**

if so is it useful in case of kubernetsPodOperator or do i still need to use persistence volumes?

[2021-08-08 22:16] thesuperzapper commented on #340
@moriyoshi thanks for raising this!

I have made PR https://github.com/airflow-helm/charts/pull/351, which should make it into the upcoming release today/tomorrow.

[2021-08-08 22:48] thesuperzapper commented on #349
@aprettyloner thanks for raising this!

I have made PR https://github.com/airflow-helm/charts/pull/352, which will address this issue, it should be in the next release (today/tomorrow).

[2021-08-08 22:49] #340 closed

[2021-08-08 22:50] #291 closed

[2021-08-08 23:01] #349 closed

[2021-08-09 03:21] moriyoshi commented on #340
Super cool! Thanks for taking care of this!

[2021-08-09 03:35] thesuperzapper opened #353 "`airflow.config` values are set as empty strings when removed on `helm upgrade ...`"
As a result of https://github.com/helm/helm/issues/10010, because we use [`stringData` in our Secrets](https://github.com/airflow-helm/charts/blob/airflow-8.4.1/charts/airflow/templates/config/secret-config.yaml#L10) if a user sets a config with `airflow.config.*` and then removes it, the environment variable will remain defined as an empty string rather than being removed entirely. _(NOTE: this w

[2021-08-09 03:56] thesuperzapper opened #355 "set default `airflow.image.tag` to `2.1.2-python3.8`"
We should update the default airflow version to `2.1.2` by upgrading the default `airflow.image` to:
`apache/airflow:2.1.2-python3.8`

[2021-08-09 04:01] #310 closed

[2021-08-09 04:21] thesuperzapper commented on #265
Closing as discussed in https://github.com/airflow-helm/charts/pull/315#issuecomment-894937902

[2021-08-09 04:21] #265 closed

[2021-08-09 05:43] thesuperzapper commented on #8
This is actually impossible to achieve with Kubernetes, as it will always check that your [EnvVars](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#envvar-v1-core) match `[-._a-zA-Z][-._a-zA-Z0-9]*'`.

However, this is not really an issue anymore, as the `AIRFLOW__KUBERNETES__XXX` configs have been removed in airflow 2.0, now you use the `pod_template.yaml`, which we have crea

[2021-08-09 05:43] #8 closed

[2021-08-09 06:23] #353 closed

[2021-08-09 07:59] #212 closed

[2021-08-10 02:52] gowdra01 opened #357 "Failed to fetch log file from worker. 503 Server Error: Service"
I am having an issue where the logs of the dags are not working
its showing Failed to fetch log file from worker. 503 Server Error: Service Unavailable for url:
image

what could be the reason ? I can access the logs on the worker pods directly its there.

logs:
  ## the airflow logs folder
  ##
  path: /opt/airflow/logs

  ## configs for the logs PVC
  ##
  persistence:
    ## if a persistent vol

[2021-08-10 05:16] #72 closed

[2021-08-10 05:16] #327 closed

[2021-08-10 05:16] #332 closed

[2021-08-10 08:27] gowdra01 opened #359 "users.password how do we pass it from vault"
I would like to know how do we pass password from Hashicorp vault

  users:
    - username: admin
      password: vault:/data#AIRFLOW_ADMIN_PW

I have set the podAnnotations:
  podAnnotations:
    vault.security.banzaicloud.io/vault-addr: "https://vault.com"
    vault.security.banzaicloud.io/vault-role: "data"
    vault.security.banzaicloud.io/vault-path: "kubernetes"

it's actually getting the te

[2021-08-10 15:18] valx opened #360 "YAML parse error on chart job-upgrade-db.yaml"
**What is the bug?**

When running `helm install` command, I get the error:

`Error: YAML parse error on airflow/templates/jobs/job-upgrade-db.yaml: error converting YAML to JSON: yaml: line 26: mapping values are not allowed in this context`

The `helm install` command I run is:
[code]

**What version of the chart are you using?**:

chart 8.4.1

**What is your Kubernetes Version?**:

[code]

**Wh

[2021-08-10 17:06] dktranzact opened #361 "Scheduler pod is not restarted after Airflow DB downtime"
**What is your question?**
I'm using PostgreSQL as a backend DB. At some point DB becomes unavailable and after some downtime it become alive again, but scheduler pod lost connection to it and is not restarted.
What can I check, any suggestion?

I am using version `2.1.2`

[2021-08-10 17:31] #360 closed

[2021-08-10 17:33] valx commented on #360
the problem was due to wrong quote char in my command. the error wlmessage was misleading

[2021-08-10 20:03] aprettyloner commented on #360
FWIW i am also getting this suddenly

[2021-08-10 22:27] #333 closed

[2021-08-10 22:40] thesuperzapper opened #362 "rename `airflow.config` secret (remove empty strings from `stringData`)"
For users who installed the chart previous to PR https://github.com/airflow-helm/charts/pull/356, they will likely have empty strings for any `airflow.config` they have removed over time, this WILL cause problems for `AIRFLOW__XXXX` configs, as empty strings are often not valid values for airflow configs. (See issue: https://github.com/helm/helm/issues/10010)

__We should do these things:__
- Migr

[2021-08-10 23:19] thesuperzapper opened #363 "support vault sidecar-injection with `airflow.usersTemplates`"
We support referencing Secrets/Configmaps with `airflow.usersTemplates`, which allows users to integrate with their [HashiCorp Vault](https://www.vaultproject.io/) using tools like [kubernetes-external-secrets](https://github.com/external-secrets/kubernetes-external-secrets).

However, the first-class method of secret injection in Vault is the [sidecar-injection method](https://learn.hashicorp.com

[2021-08-10 23:22] thesuperzapper commented on #359
@gowdra01 If you look at `Option 2 - use templates from Secrets/ConfigMaps` under [How to create airflow users?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-users), you will see that `airflow.usersTemplates` can be used to create templates that are used in `airflow.users`.

Right now, you would need to use something like [kubernetes-external-secrets](https

[2021-08-10 23:24] thesuperzapper commented on #361
@dktranzact I have a feeling this is related to https://github.com/airflow-helm/charts/pull/351 (which will be fixed in the next chart release, `8.5.0`).

However, I am not clear why the scheduler wouldn't crash if the database becomes unavailable, can you share the logs of the scheduler pod when this happens?

[2021-08-10 23:27] thesuperzapper commented on #360
@aprettyloner can you clarify the issue you were running into?

Also, if this issue is related to the `job-upgrade-db.yaml` file, please note that this will be removed in `8.5.0` of the chart, and replaced with a deployment, see PR: https://github.com/airflow-helm/charts/pull/345

[2021-08-10 23:31] thesuperzapper commented on #357
@gowdra01 If you don't have a ReadWriteMany StorageClass, you need to use something like S3 with `AIRFLOW__LOGGING__REMOTE_LOGGING`.

For reference, see `Option 2 - Remote Bucket (recommended)` in [How to persist airflow logs?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-persist-airflow-logs).

[2021-08-10 23:45] gowdra01 commented on #359
Is this right what I did?

  users:
    - username: admin
      password: ${ADMIN_PASSWORD}
      role: Admin
      email: email@email.com
      firstName: admin
      lastName: admin

  ## bash-like templates to be used in `airflow.users`
  ##
  ## (See `airflow.connectionsTemplates` for docs)
  ##
  usersTemplates:
    ADMIN_PASSWORD:
      kind: secret
      name: airflow-admin-secret
      key

[2021-08-10 23:58] thesuperzapper commented on #359
Firstly, please wrap your values in a markdown multiline code-block (so they display indentations correctly on Github).

Assuming that your `banzaicloud` annotations will populate your Secret, that should work

However, I really don't understand your usage of `airflowVaultPassword`, which is NOT a value of the chart, are you forking the chart or something?

[2021-08-11 00:04] thesuperzapper commented on #319
@demetrioi did you get it working?

[2021-08-11 00:06] gowdra01 commented on #359
ok wrapped my above comment properly ..
so I just created a variable `airflowVaultPassword` and passing the values from vault? how else can it be done ? is there better approach?

one more question how do update this real time ? like when we change the password in vault is there something like sync ?

[2021-08-11 00:11] thesuperzapper commented on #319
@demetrioi are you using a custom image in your KubernetesExecutor tasks by specifying `pod_override`?

And if so, does this image have the `apache-airflow[aws]` package installed?

[2021-08-11 03:46] thesuperzapper opened #364 "typos in `sync/_helpers` templates"
Currently there are typos in the following `sync/_helpers` templates:
- `airflow.snyc.global_code`
- `airflow.snyc.sync_users.py`
- `airflow.snyc.sync_connections.py`
- `airflow.snyc.sync_variables.py`
- `airflow.snyc.sync_pools.py`

They include the string `snyc`, which should be `sync`.

[2021-08-11 03:54] thesuperzapper commented on #359
@gowdra01 regarding the `airflowVaultPassword` why not just explicitly put the value of your password in your secret? Why are you storing it under `airflow.usersTemplates.ADMIN_PASSWORD`?

Regarding syncing, as long as `airflow.usersUpdate` is `true` (this is the default), the chart will create a Deployment that automatically updates the users if the Secrets change (or if the user is updated/remov

[2021-08-11 03:57] gowdra01 commented on #359
ok thanks.. do you have any examples of how we access vault from secret ?

[2021-08-11 04:30] gowdra01 commented on #359
@thesuperzapper

is this right way to do it ?
[code]

[2021-08-11 05:06] thesuperzapper commented on #321
As discussed in https://github.com/airflow-helm/charts/pull/295#issuecomment-896503297, this feature is no longer needed after PR https://github.com/airflow-helm/charts/pull/365

[2021-08-11 05:06] #321 closed

[2021-08-11 05:19] thesuperzapper commented on #359
@gowdra01 Your values should work for setting `AIRFLOW__LDAP__BIND_PASSWORD` from the Secret, BUT be aware that airflow 2 no longer supports the non-rbac UI (and therefore has removed `AIRFLOW__LDAP__BIND_PASSWORD`), meaning you must use the `webserver_config.py` method of configuring LDAP, which the chart provides `web.webserverConfig.*` for.

I recommend you read the docs on [How to authenticate

[2021-08-11 05:32] thesuperzapper commented on #323
@harvetech did you resolve this?

Also, what deployment/pod are those logs coming from?

[2021-08-11 05:35] #115 closed

[2021-08-11 05:35] #322 closed

[2021-08-11 05:35] #324 closed

[2021-08-11 05:38] thesuperzapper commented on #115
@c-thiel @johngtam this feature will be available in version `8.5.0` of the chart (to be released today/tomorrow) because of PR: https://github.com/airflow-helm/charts/pull/365

__You can now set pip configs in `airflow.config`, for example:__
[code]

[2021-08-11 05:40] thesuperzapper commented on #322
@SingularBunny this feature will be available in version `8.5.0` of the chart (to be released today/tomorrow) because of PR: https://github.com/airflow-helm/charts/pull/365

__You can now set the `HTTP_PROXY` configs in `airflow.config`, for example:__
[code]

[2021-08-11 05:48] gowdra01 commented on #359
sure.. thank you I am using `webserver_config.py` for auth with ldap
your chart is much better than the Bitnami one. thanks

[2021-08-11 06:12] thesuperzapper commented on #359
@gowdra01 Thanks for the compliment!

_PS: look out for the `8.5.0` chart release today/tomorrow, it will have some really useful features/fixes that everyone should upgrade for, most notably PGBouncer (PR https://github.com/airflow-helm/charts/pull/341)._

You can close this issue if it's resolved.

[2021-08-11 06:13] #359 closed

[2021-08-11 07:51] #364 closed

[2021-08-11 08:19] sawaca96 commented on #218
@thesuperzapper
thanks I will try !

[2021-08-11 08:19] #218 closed

[2021-08-11 18:06] aprettyloner commented on #360
@thesuperzapper the root issue was that in my CD pipeline (via GCP cloudbuild), the substitution variable `${_TAG}` was mistakenly set to `""` so it caused downstream issues, but I got the same error as OP. The upgrade-db was unrelated.
[code]

[2021-08-11 22:33] thesuperzapper opened #368 "document how to use Elasticsearch for log persistence"
Currently, we describe using PVCs and S3/GCS in ["How to persist airflow logs?"](https://airflow.apache.org/docs/apache-airflow-providers-elasticsearch/stable/logging.html). However, airflow also supports Elasticsearch, so we should add an "Option 3" which describes this.

__The docs for airflow's Elasticsearch provider are here:__ https://airflow.apache.org/docs/apache-airflow-providers-elasticse

[2021-08-11 22:35] thesuperzapper commented on #357
@gowdra01 Airflow natively supports Elasicsearch, see [apache-airflow-providers-elasticsearch](https://airflow.apache.org/docs/apache-airflow-providers-elasticsearch/stable/logging.html).

I think many users will want to know this, so I raised the issue https://github.com/airflow-helm/charts/issues/368, to add some docs about this in the "How to persist airflow logs?" section.

[2021-08-11 22:39] thesuperzapper commented on #342
@gowdra01 I am fairly sure that PR https://github.com/airflow-helm/charts/pull/345 will address this.

For more context, read issue https://github.com/airflow-helm/charts/issues/317, but the brief is that sometimes the current `Job` to run `airflow db upgrade` doesn't run due to a helm bug, so I have implemented a `Deployment` which perpetually checks if `airflow db upgrade` needs to be run.

This

[2021-08-11 22:42] thesuperzapper commented on #212
@nike4122 I am almost certain that this is caused by not having `fsGroup` set in your securityContext.

Very soon, there will be a new global `airflow.extraSecurityContext` value with `{fsGroup: 0}` as default.
(See PR https://github.com/airflow-helm/charts/pull/367 for more info).

This will be in `8.5.0` of the chart, to be released today/tomorrow.

[2021-08-11 22:52] gowdra01 commented on #357
if you can explain the document how to configure Elasicsearch that would be awesome. thanks
please let me know the link after you update

[2021-08-12 15:43] dktranzact opened #369 "Problem with airflow.utils.serve_logs in Production"
In prod we have the following warning message in worker logs:

[code]

As I understand we need to set some WSGI server for airflow.utils.serve_logs flask app.
Is there a way to do this?

[2021-08-12 18:03] NikolaySokolov opened #370 "typo in `sync/_helpers/*` file names"
**What is the bug?**

I think the file names in https://github.com/airflow-helm/charts/tree/main/charts/airflow/templates/sync/_helpers shall be renamed, to have 'sync' as part of the name and not `snyc`.

**What is your Helm version?**:

[code]

Great job with this helm chart, btw! Thanks for it.

[2021-08-12 21:40] macwro opened #371 "Custom sidecar image for KubernetesPodOperator"
By default image for sidecar is hardcoded to “alpine” from Docker Hub.
With current Docker Hub limitation, that makes a problem with larger scale processing.

Is there a way, to reconfigure Airflow to use sidecar image from private repository ?

I found that procedure, but somehow it does not work for me: https://hackmd.io/bhMoDP-zQgOKzBFr4MlB8g

[2021-08-13 02:38] thesuperzapper commented on #369
@dktranzact this is just how airflow works, you will have to raise it on the airflow issue tracker if you want it fixed.

However, this log has been here for years, so I doubt it will be changed.

[2021-08-13 03:20] thesuperzapper opened #373 "add `airflow.localSettings.*` values"
Currently, if a user wants to use an `airflow_local_settings.py` file, they have to use `airflow.extraVolumeMounts` and `airflow.extraVolumes`.

__We should make `airflow_local_settings.py` have first-class support by introducing the following `airflow.localSettings.*` values:__
[code]

[2021-08-13 03:23] thesuperzapper commented on #371
@macwro thanks for raising this issue!

You can currently mount an `airflow_local_settings.py` file using `airflow.extraVolumes` and `airflow.extraVolumeMounts`, but I agree that this could be easier.

I have raised issue https://github.com/airflow-helm/charts/issues/373 to introduce some `airflow.localSettings.*` values to make generating `airflow_local_settings.py` files easier.

[2021-08-13 06:18] thesuperzapper opened #375 "include git-sync in all Deployments"
Currently, not all Deployments include the git-sync container/init-container, that is: [db-migrations](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/db-migrations/db-migrations-deployment.yaml), [flower](https://github.com/airflow-helm/charts/tree/main/charts/airflow/templates/flower), [sync](https://github.com/airflow-helm/charts/tree/main/charts/airflow/templates/sync

[2021-08-13 06:21] thesuperzapper commented on #292
@stephen-lazarionok is this issue still needed? Or can it be closed?

[2021-08-13 06:24] thesuperzapper commented on #234
@github-sunildhiddi did you resolve this issue? Can it be closed?

[2021-08-13 06:28] thesuperzapper commented on #180
@yehlo this was resolved by https://github.com/airflow-helm/charts/pull/365, and will be in the next release of the chart `8.5.0` (coming very soon).

[2021-08-13 06:28] #180 closed

[2021-08-13 06:35] thesuperzapper opened #376 "include `airflow.{config,extraEnv}` in git-sync container"
Currently, we do not mount the `airflow.config` or `airflow.extraEnv` into the [git-sync](https://github.com/airflow-helm/charts/blob/482cb29f93587cfd9c3c8b0b1cef31bdbf015dde/charts/airflow/templates/_helpers/pods.tpl#L145-L149) init-container, causing issues like not being able to set `HTTP_PROXY` (https://github.com/airflow-helm/charts/issues/180)

__We should add the mounts by including:__
[cod

[2021-08-13 06:37] thesuperzapper commented on #180
@yehlo to be clear, PR https://github.com/airflow-helm/charts/pull/365 only resolved this for the `pip-install` container, I have raised issue: https://github.com/airflow-helm/charts/issues/376 to also address this for the `git-sync` container.

[2021-08-13 08:12] dkhome commented on #369
@thesuperzapper ok, thanks for explanation

[2021-08-13 09:21] thesuperzapper opened #377 "include `airflow.extraContainers` in flower Deployment"
The docstring of `airflow.extraContainers` currently implies that `airflow.extraContainers` is included in the [flower Deployment](https://github.com/airflow-helm/charts/blob/482cb29f93587cfd9c3c8b0b1cef31bdbf015dde/charts/airflow/templates/flower/flower-deployment.yaml), but this is not correct.

__We should fix this by including `airflow.extraContainers` in the flower Deployment.__

Also, we sho

[2021-08-13 09:48] thesuperzapper opened #378 "use `networking.k8s.io/v1` Ingress by default"
Currently, both the [Webserver Ingress](https://github.com/airflow-helm/charts/blob/482cb29f93587cfd9c3c8b0b1cef31bdbf015dde/charts/airflow/templates/webserver/webserver-ingress.yaml#L2) and [Flower Ingress](https://github.com/airflow-helm/charts/blob/482cb29f93587cfd9c3c8b0b1cef31bdbf015dde/charts/airflow/templates/flower/flower-ingress.yaml#L2) use `apiVersion: networking.k8s.io/v1beta1`, which

[2021-08-15 22:24] thesuperzapper commented on #335
@MarvinSchenkel I can't seem to reproduce this

Can you please provide an example python dag file which causes the `airflow-db-XXX` container to crash?

[2021-08-16 00:40] #376 closed

[2021-08-16 00:52] #377 closed

[2021-08-16 00:53] #378 closed

[2021-08-16 09:10] thesuperzapper opened #382 "remove broken `flower.oauthDomains` value"
Currently the `flower.oauthDomains` value does nothing, you can verify this by attempting to run `airflow celery flower --auth="me@example.com"` locally, which will result in an error (as airflow does not pass `--auth` through to celery):
[code]

__We should remove the `flower.oauthDomains` value.__

__NOTE:__ the reason you do not see this error when setting `flower.oauthDomain` is because the [e

[2021-08-16 10:20] #209 closed

[2021-08-16 23:45] #382 closed

[2021-08-17 00:50] thesuperzapper opened #384 "users can overwrite important `env` using `airflow.extraEnv`"
Currently, our [`{{- include "airflow.env" . }}`](https://github.com/airflow-helm/charts/blob/93aa03fbda65829c31366bcaea3f2b9fb9d99bc1/charts/airflow/templates/_helpers/pods.tpl#L351) (which [includes `airflow.extraEnv`](https://github.com/airflow-helm/charts/blob/93aa03fbda65829c31366bcaea3f2b9fb9d99bc1/charts/airflow/templates/_helpers/pods.tpl#L408-L411)) is included ABOVE the Deployment-specif

[2021-08-17 01:40] #384 closed

[2021-08-17 03:39] thesuperzapper commented on #335
I also see @BastiaanRudolf and @DanojNL have liked this issue, can one of you share a python DAG file that causes the crash (when embedded into the image)?

[2021-08-17 03:52] #336 closed

[2021-08-17 03:56] #370 closed

[2021-08-17 03:56] thesuperzapper commented on #370
@NikolaySokolov thanks for raising this, and the kind words!

[2021-08-17 04:46] #337 closed

[2021-08-17 05:13] #296 closed

[2021-08-17 05:41] #312 closed

[2021-08-17 05:41] #313 closed

[2021-08-18 00:49] #373 closed

[2021-08-18 00:49] #371 closed

[2021-08-18 03:51] thesuperzapper commented on #350
@ArshiAAkhavan Airflow natively supports Elasicsearch, see [apache-airflow-providers-elasticsearch](https://airflow.apache.org/docs/apache-airflow-providers-elasticsearch/stable/logging.html).

I think many users will want to know this, so I raised the issue https://github.com/airflow-helm/charts/issues/368, to add some docs about this in the "How to persist airflow logs?" section.

[2021-08-18 03:56] thesuperzapper commented on #357
@gowdra01 just to clarify, (not related to Elasticsearch)

When you set the following settings, do your workers end up in CrashLoopBackoff?
(because your default StorageClass doesn't support ReadWriteMany)
[code]

[2021-08-18 03:57] thesuperzapper commented on #326
@CyberHippo do you want to help with this documentation/feature?

[2021-08-18 04:05] thesuperzapper commented on #334
@pindge Usually, if a user needs to do this, they can just disable the default RBAC with `rbac.create = false`, and then making their own `Role` and `RoleBinding`.

__However, I do see the benefit of adding a value like `rbac.extraRules`:__
[code]

__NOTE:__ we will have to be careful to de-dupe between the default and user-provided rules (using some clever helm templating).

[2021-08-18 04:08] #317 closed

[2021-08-18 05:34] #227 closed

[2021-08-18 05:34] #235 closed

[2021-08-18 06:17] ArshiAAkhavan commented on #368
thanks
i did manage to establish remote logging via elasticsearch+filebeat+logstash in k8s
i can help you in that regard

[2021-08-18 06:46] #276 closed

[2021-08-18 06:46] #375 closed

[2021-08-18 21:48] #362 closed

[2021-08-19 00:40] #277 closed

[2021-08-19 00:40] #211 closed

[2021-08-19 00:41] #309 closed

[2021-08-19 00:42] thesuperzapper commented on #350
Lets move discussion to: https://github.com/airflow-helm/charts/issues/368

[2021-08-19 00:42] #350 closed

[2021-08-19 00:43] #234 closed

[2021-08-19 00:45] #369 closed

[2021-08-19 00:45] #293 closed

[2021-08-19 00:45] #215 closed

[2021-08-19 00:47] #292 closed

[2021-08-19 00:50] thesuperzapper commented on #241
After PR https://github.com/airflow-helm/charts/pull/281 was merged, the Jobs no longer exist, so this can be closed.

[2021-08-19 00:50] #241 closed

[2021-08-19 01:13] #331 closed

[2021-08-19 01:13] #355 closed

[2021-08-19 01:19] thesuperzapper commented on #245
@rightx2 I believe that this should be resolved in version `8.5.0` of the chart, can you verify this?

[2021-08-19 01:20] thesuperzapper commented on #342
@gowdra01 I believe that this should be resolved in version `8.5.0` of the chart, can you verify this?

[2021-08-19 06:15] CyberHippo commented on #326
@thesuperzapper Sure, you can assign it to me. I'll submit a PR soon.

[2021-08-19 23:15] thesuperzapper commented on #361
@dktranzact can you confirm if [version `8.5.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#850---2021-08-19) of the chart resolves this issue for you?

[2021-08-19 23:56] thesuperzapper commented on #221
If the intention of the constraints file is only intended to be used on the first `pip install` of airflow, we shouldn't implement `constraints.txt` support for `extraPipPackages`, so I will close this issue.

[2021-08-19 23:56] #221 closed

[2021-08-20 00:28] thesuperzapper opened #393 "CI/CD - testing of chart with DAGs"
Currently, we only test that the chart installs (and all resources become "Ready") using the [CI values files](https://github.com/airflow-helm/charts/tree/main/charts/airflow/ci) that are [run on PR](https://github.com/airflow-helm/charts/blob/main/.github/workflows/charts--run-tests.yaml) by [helm/chart-testing](https://github.com/helm/chart-testing).

__We should also run some test DAGs, and ens

[2021-08-20 00:29] thesuperzapper commented on #19
The main thing we want to test in CI/CD is the DAGs, so I have raised https://github.com/airflow-helm/charts/issues/393

I will close this issue, but in future, we will likely want to add other CI/CD tests for other chart features.

[2021-08-20 00:29] #19 closed

[2021-08-20 00:41] thesuperzapper commented on #117
@c-thiel and @mthoretton can we discuss the reason you need this feature, I am a bit hesitant to let users set this (as users will not realize that Containers only pick up new environment variables if they are restarted).

[2021-08-20 17:09] TAMQuiroz opened #394 "airflow-pgbouncer pod failing liveness probe on initialization when pgbouncer is enabled"
**What is the bug?**

I'm experimenting with the 8.5.0 chart version and when I'm installing with Pgbouncer feature disabled, everything works as usual but activating Pgbouncer flag on values.yaml, I get an error on the airflow-pgbouncer pod liveness probe:

[code]

And the other pods don't initialize either due to DB connection issue, I'm assuming is because Pgbouncer pod doesn't initialize.

**W

[2021-08-21 20:28] upkash opened #395 "db_migrations CrashLoopBackOff when using custom docker image"
**What is the bug?**

[[A clear description of the bug]]
db_migrations fails when using custom docker image to update DAGs, which in turn causes the rest of the pods to remain stuck initializing since they wait for db_migrations to complete.

**What version of the chart are you using?**:

I am using version `1.21.2`

**What is your Kubernetes Version?**:

[code]
Client Version: version.Info{Major:

[2021-08-23 00:03] thesuperzapper commented on #395
@upkash you usually only get errors like `alembic.script.revision.ResolutionError: No such revision or branch 'a13f7613ad25'` when you try and downgrade your airflow version.

You will need to recreate/reset your airflow database to fix this, the easiest way to do that, is to delete and recreate your airflow namespace. (NOTE: you will lose any DAG history)

Otherwise, you will need to manually dro

[2021-08-23 00:25] thesuperzapper commented on #394
@TAMQuiroz @harscoet

You must have an `@` symbol in your `externalDatabase.user` value, probably because you are using Azure PostgreSQL, if so, you will need to encode it as `%40`:
[code]

---

I have raised issue https://github.com/airflow-helm/charts/issues/318 to automatically URL encode symbols like `@` in `externalDatabase.user`, and I plan to resolve it in `8.6.0`.

__WARNING:__ you will pr

[2021-08-23 00:28] thesuperzapper commented on #213
@cocampbe BTW, the unpatchable issue with the `upgrade-db` Job is [fixed in `8.5.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#850---2021-08-19), as we have replaced the (unpatchable) Job with a (patchable) Deployment called `db-migrations`.

I am interested to see if your other issues are resolved.

_PS: it's also worth looking into `8.5.0` for PgBouncer_

[2021-08-23 00:30] thesuperzapper commented on #335
@MarvinSchenkel I am interested to know if you still have this issue with [the new `8.5.0` version](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#850---2021-08-19) of the chart?

As we have removed the `upgrade-db` job, and replaced it with a Deployment called `db-migrations`.

[2021-08-23 03:34] thesuperzapper opened #396 "incorrect `pgbouncer.ini` for non-default database name"
Currently, if you set `postgresql.postgresqlDatabase` or `externalDatabase.database` to a value other than `airflow`, the generated [`pgbouncer.ini`](https://github.com/airflow-helm/charts/blob/airflow-8.5.0/charts/airflow/templates/pgbouncer/_helpers/pgbouncer.tpl#L5-L10) will not be correct, as the target database is hard-coded to `airflow`.

This causes errors like: `pooler error: no such datab

[2021-08-23 03:36] thesuperzapper opened #397 "upgrade to PgBouncer 1.17.0"
[PgBouncer 1.17.0](https://github.com/pgbouncer/pgbouncer/releases/tag/pgbouncer_1_17_0) has been released.

__We should update our, [PgBouncer container image](https://github.com/airflow-helm/charts/tree/main/images/pgbouncer) to use it__

[2021-08-23 07:27] MarvinSchenkel commented on #335
I'm currently on holiday so I can't access my DAGs to send you an example.
I'll test the new chart when I get back next week and let you know.

Op ma 23 aug. 2021 om 02:30 schreef Mathew Wicks ***@***.***>

[2021-08-23 07:58] #396 closed

[2021-08-23 18:27] TAMQuiroz commented on #394
@thesuperzapper

Yes, I'm using a Azure Postgres server and DB. I encoded the username to use `%40` as a test and now I get a different error concerning the password:

![image](https://user-images.githubusercontent.com/10441155/130496963-28a76208-e7a6-43dc-a66b-b86f38155ce5.png)

I really doubt my password is wrong as it works if I disable PGBouncer or try to connect myself directly to the server.

[2021-08-24 01:20] thesuperzapper opened #401 "pgbouncer cant be used with usernames containing "@""
Currently, if the user works around issue https://github.com/airflow-helm/charts/issues/318 by encoding `@` as `%40` in their `externalDatabase.user`, this will cause the PgBouncer [`gen_auth_file.sh`](https://github.com/airflow-helm/charts/blob/bbd4a944bc88e7e739a9c9676f2dbfca2939d178/charts/airflow/templates/pgbouncer/_helpers/pgbouncer.tpl#L43-L65) script to incorrectly make the password litera

[2021-08-24 01:22] thesuperzapper commented on #394
@TAMQuiroz I believe it's currently __not possible__ to use the pgbouncer when you manually URL encode your username, so I have raised issue https://github.com/airflow-helm/charts/issues/401 to get this resolved ASAP.

Expect it fixed in the next release.

[2021-08-24 06:29] thesuperzapper opened #402 "pgbouncer self-signed certs should not be generated for `server_tls_*`"
Currently, when the user has not provided `pgbouncer.serverSSL.XXXX.existingSecret`, we generate self-signed certificates, this is causing problems for the following configs:
- `client_tls_ca_file` (a self-signed root authority is always invalid, as __clients__ will not be using our root cert)
- `server_tls_ca_file`(a self-signed root authority is always invalid, as __servers__ will not be using o

[2021-08-24 21:02] v-yarotsky commented on #117
I also have a use-case for this. I'd like to create a helm chart that uses the chart from this repo as a dependency. My chart would create a ConfigMap and a Secret (via kubernetes-external-secrets as one option) that would contain all the necessary environment variables, and then I'd set `extraEnvFrom` in the chart's `values.yaml` to source environment variables for pods from those kubernetes obje

[2021-08-24 21:38] thesuperzapper commented on #117
@v-yarotsky did you know that pods [don't receive environment variable updates](https://kubernetes.io/docs/concepts/configuration/secret/#environment-variables-are-not-updated-after-a-secret-update) from Secrets/Configmaps until they are restarted? This is the primary reason I am against an `airflow.extraEnvFrom` value, as users would end up with inconsistent configs across all their pods. (NOTE:

[2021-08-24 21:39] thesuperzapper commented on #239
Bumping for bot.

[2021-08-24 21:46] thesuperzapper opened #403 "flower deployment not affected by default nodeSelector, affinity, tolerations"
PR https://github.com/airflow-helm/charts/pull/372 was meant to set the default `nodeSelector, affinity, tolerations` for all Deployments/Pods with the `airflow.{defaultNodeSelector,defaultAffinity,defaultTolerations}` values, but the [flower Deployment](https://github.com/airflow-helm/charts/blob/bbd4a944bc88e7e739a9c9676f2dbfca2939d178/charts/airflow/templates/flower/flower-deployment.yaml#L1-L7

[2021-08-24 23:17] mthoretton commented on #117
@thesuperzapper thanks for following up and sorry for the delay.

When I opened the PR I was still figuring out a good way to work with secrets (and Hashicorp Vault). And in this context, your arguments about env vars not being refreshed is totally right. For this exact reason I now use Vault pod annotations and an extra custom sidecar container that will kill the vault container when the airflow

[2021-08-24 23:31] #402 closed

[2021-08-24 23:46] #403 closed

[2021-08-25 00:03] thesuperzapper commented on #117
BTW @mthoretton when I deploy the chart for companies I almost always use a "wrapper" chart which uses this one as a dependency so I can create the required Secrets and other resources I need.

So I don't necessarily recommend stopping doing that.

[2021-08-25 00:48] pjaak opened #406 "Scheduler crashbacklooping when no jobs"
**What is your question?**
HI Everyone!

Just a quick question... I have the 8.5.0 chart installed and I am using 2 scheduler containers. I have noticed that the probes on the scheduler pods check if there is any jobs alive and if not it will fail the checks and therefore restart the contains.

`Warning  Unhealthy  2m45s (x27 over 12h)  kubelet  Liveness probe failed: UNHEALTHY - 0 alive Scheduler

[2021-08-25 01:31] thesuperzapper commented on #406
@pjaak can you provide any custom `values.yaml` you are using.

Also, it might be best to use a clean Namespace for your install if your not already.

[2021-08-25 02:03] pjaak commented on #406
Hey @thesuperzapper ,

There is no custom values really except the replicas and resources. Our airflow is busy on usually 1 day of the week and the other days doesn't schedule any jobs on other days(This is intended, we tend to run jobs on a weekend only). I can see from the probe which is set on schedulers that is seems it is intended to sys.exit if no jobs are alive.

`sys.exit(f"UNHEALTHY - {co

[2021-08-25 04:29] thesuperzapper commented on #406
@pjaak the livenessProbe detects if there is a [SchedulerJob](https://github.com/apache/airflow/blob/2.1.3/airflow/jobs/scheduler_job.py#L73) running, airflow uses these to check the health of the scheduler, there should always be exactly one `SchedulerJob` for each scheduler.

I am interested to know why it can't see your `SchedulerJob`, perhaps it's something to do with the hostname (as we [filt

[2021-08-25 04:43] upkash commented on #395
By delete the airflow namespace, do you mean deleting the kubernetes namespace in which Airflow is installed? I have tried that, but the problem persists.

[2021-08-25 04:49] thesuperzapper commented on #395
@upkash then I assume you are using an `externalDatabase`?

If so, then just drop your `externalDatabase.database` DB and recreate it.

[2021-08-25 04:56] upkash commented on #395
I am not using an external database, however each time i try to deploy airflow fresh, it gives that error in the db migrations pod. I am deleting the deployments in k8s, and the services etc and pods as well.

[2021-08-25 05:07] pjaak commented on #406
@thesuperzapper its very odd...

I ran the python healthcheck on a container manually and sometimes get this:
`airflow@airflow-scheduler-856668f6c4-z8qrh:/opt/airflow$ python test.py
airflow-scheduler-856668f6c4-z8qrh
[]
[]
UNHEALTHY - 0 alive SchedulerJob for: airflow-scheduler-856668f6c4-z8qrh
airflow@airflow-scheduler-856668f6c4-z8qrh:/opt/airflow$`

Sometimes I get this:
'airflow@airflow-sched

[2021-08-25 06:25] thesuperzapper commented on #406
@pjaak can you figure out what is causing `count_alive_jobs` in the health check to be `0` (by running directly on the pod)?

For example, is it that there are no `State.RUNNING` SchedulerJobs for the `hostname` OR, is it that all fail the `is_alive()` check?

[code]

[2021-08-25 06:29] thesuperzapper commented on #395
@upkash deleting the namespace should delete all the Deployments?

Also, are you sure that you ran `DROP DATABASE xxxxxx`?

[2021-08-25 11:10] #318 closed

[2021-08-25 11:10] #394 closed

[2021-08-25 11:10] #401 closed

[2021-08-25 11:48] pjaak commented on #406
So i added some print statements to the livenessprobe,

`Liveness probe failed: Jobs in State.RUNNING: 1, Alive jobs from the running jobs: 0`

I noticed everytime the container restarts the State.RUNNING numbers goes up by 1.. for example:

`Liveness probe failed: Jobs in State.RUNNING: 2, Alive jobs from the running jobs: 0`

It looks like it is failing the is_alive() check.... Any ideas?

Here

[2021-08-25 11:54] roquemoyano-tc opened #409 "Adding variables as Kubernetes secrets airflow is adding a linebreak"
**What is the bug?**

When a variable is added as kubernetes secrets, airflow is adding a linebreak at the end. Once helm chart is installed if I go to admin->variables, and export them, I can see the linebreak:

ej;
    "source_username": "qaperformance@performance-db\n",
    "target_db_name": "targetperformance\n",
    "target_host": "performance-db.postgres.database.azure.com\n",

this problem

[2021-08-25 12:12] thesuperzapper commented on #409
@roquemoyano-tc I can't see a way that newlines would be introduced (especially if it's only in variables), can you provide the YAML for your `db-airflow` Secret?

I have a feeling you will be using a multiline YAML string like this:
[code]

---

I also have a few unrelated questions about your values (which look strange):
1. Why are you setting `scheduler.initdb` (this is not a value since `8.0.0

[2021-08-25 15:56] TAMQuiroz commented on #394
@thesuperzapper

I'm testing chart v8.5.2 and I no longer have the issue stated on this bug but the liveness probe is still failing with message:

`Liveness probe failed: psql: error: ERROR: password authentication failed for user "[USERNAME]"`

I'm using Azure for Postgres, and as you know, the username has an @ in the middle of the value but the log only shows the value before the @. I'm guessin

[2021-08-26 11:25] KIRY4 opened #411 "dbMigrations ignores false flag, affinity, tolerations"
**What is the bug?**
Hello! dbMigrations ignores true/false. dbMigrations pod creates in any case. Also I have several node pools: base/toolset. For all other components tolerations and affinity works well but not for dbMigrations it schedule pods on base instead of toolset.

**What version of the chart are you using?**:

I am using version `airflow-8.5.2`

**What is your Kubernetes Version?**:
1.

[2021-08-26 15:58] TAMQuiroz opened #412 "PgBouncer fails with Azure PostgreSQL"
**What is the bug?**

I'm experimenting with the 8.5.2 chart version and when I'm installing with Pgbouncer feature disabled, everything works as usual but activating Pgbouncer flag on values.yaml, I get an error on the airflow-pgbouncer pod liveness probe:

`Liveness probe failed: psql: error: ERROR: password authentication failed for user "[USERNAME]"`

I'm using Azure for Postgres, and the user

[2021-08-28 01:55] javamonkey79 opened #413 "edit connection causes page crash"
**What is the bug?**

When I click on edit connection, I get the following exception:
[code]

**What version of the chart are you using?**:

I am using version `8.5.2`

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

**Please copy your custom Helm values file:**

[code]

[2021-08-28 02:10] #395 closed

[2021-08-29 23:21] thesuperzapper opened #414 "upgrade git-sync container tag to `v3.5.0`"
Currently, we use [`v3.2.2` as the `dags.gitSync.image.tag`](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/values.yaml#L1083) .

__We should update the default tag to [`v3.5.0`](https://github.com/kubernetes/git-sync/releases/tag/v3.5.0).__

Version `v3.2.2` has known issues:

- when [running as pid=1 in container](https://github.com/kubernetes

[2021-08-29 23:26] thesuperzapper commented on #249
Bumping for the bot, this is still a good idea.

[2021-08-29 23:26] thesuperzapper commented on #194
Bumping for the bot, this is still a good idea.

[2021-08-29 23:32] thesuperzapper commented on #413
@javamonkey79 are you sure that your `fernet-key` key in `Secret/secret-envvars` is correctly base64 encoded?

Be aware that a Kubernetes Secret requires you to base64 encode the `data` field, so in effect, you will need to double base64 encode your string `fernet-key` key.

You can generate a fernet key with the following command:
(NOTE: to use this in a Secret `data` field you will need to base6

[2021-08-29 23:33] thesuperzapper commented on #242
Bumping for bot, this is still a good idea.

[2021-08-29 23:38] thesuperzapper commented on #413
@javamonkey79 can you also provide the logs of the `xxxx-sync-connections` Deployment?

[2021-08-30 04:36] javamonkey79 commented on #413
Hey @thesuperzapper , that's a good callout. I did not know it needed to be base64 encoded again. I also tried using the fernetKey value, directly in the values file, instead of in secrets and got the same result. Do you know if that should be base64 encoded too?

I'll try base64 encoding the key and running it all again tomorrow. If it still does not work, I'll attach logs, as requested.

Thanks

[2021-08-30 07:01] thesuperzapper commented on #413
@javamonkey79 the `airflow.fernetKey` value only needs to be encoded once.

[2021-08-30 07:02] thesuperzapper commented on #252
Bumping for the bot, this is still a good idea.

[2021-08-30 15:04] MarvinSchenkel commented on #335
@thesuperzapper I think I figured out what's up. I found another error (besides the one in the OP). There is something happening because of our codebase.

We have a couple of `.py`  files that are executed by DAGs via a `BashOperator`. These `.py` files have a couple of required arguments that are parsed via `ArgumentParser`, for example:
[code]

It seems like the `db_migrations.py` file is actual

[2021-08-31 07:49] MarvinSchenkel commented on #335
/facepalm

Moving the `ArgumentParser` within the `main()` is _of course_ the correct solution. Rewriting most of our python files ensures we can actually deploy the latest charts without any issues. Closing this issue, sorry for the inconvenience.

Still curious as to why we were seeing the 'variable.description does not exist` error in the logs

[2021-08-31 07:49] #335 closed

[2021-08-31 22:24] javamonkey79 commented on #413
Hey @thesuperzapper , thanks for your help thus far. I've had a chance to do some more testing. The issue is still unresolved for me.

I've tried base64 encoding the key, as you suggested:
[code]

I then put this into my secrets file (this is old, and the key no longer used, so, ok to post here):
[code]

With this approach, I get a new error:
[code]

So, I tried setting just the airflow.fernetKey

[2021-09-01 00:28] javamonkey79 opened #415 "Where are the logs for DAG loading?"
My DAGs are failing to load, with the following error:
[code]

I've ran this command, to get all logs:
[code]

And, I can't find any errors in the logs.

Where are the logs for DAG loading?

[2021-09-01 06:46] emartgu opened #416 "CONNECTION_CHECK_MAX_COUNT value for worker pods using KubernetesExecutor"
**What is your question?**

Hi, I have a question. The rendered pod_template.yaml now contains:
[code]

Why did you set it first to 20:
https://github.com/airflow-helm/charts/pull/386/files#diff-2888d6df6c03d00cba8eac63b9c04078e2d4b5186e06debda5f3b011aaa28095R55

But then setting it to zero (which will be used as I understand it):
https://github.com/airflow-helm/charts/pull/386/files#diff-c47661b3

[2021-09-01 19:03] javamonkey79 commented on #413
@thesuperzapper after tearing down most of my values file, I ran install again and noticed that connections that I'd removed remained. Sure enough, the PVC for postgres remained. After deleting it, this issue is now resolved. I think that the default fernetKey was used, during my first setup, and since that key was lost, but, the data remained, it could never decode properly.

[2021-09-02 00:17] javamonkey79 opened #417 "error in DAG loading - possible old schema?"
**What is the bug?**

When I check the logs, I notice the following exception
[code]

**What version of the chart are you using?**:

I am using version `8.5.2`

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

**Please copy your custom Helm values file:**

[code]

[2021-09-02 00:18] javamonkey79 commented on #417
Strangely enough, I get an error in the UI as well, but, it is different:
[code]

[2021-09-02 22:38] kushagra391 opened #418 "plugins not getting loaded on ui / dags even though they show up in cli via `airflow plugins`"
Hi,

Thanks for creating this chart !

I have been trying to set up a custom plugin following [the doc](https://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html) for adding a custom button

Our deployment is done via EFS mounts (for both dags and logs) (similar to [option - 2b](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-2a---persistentvolumecla

[2021-09-02 23:49] javamonkey79 commented on #417
OK, so, I think the first error is a red herring. Even though the error is thrown, I think airflow upgrades it's db and then stabilizes. As far as I can tell.

For my second error, it was a bit hard to tell, but, I have some code like this in my DAGs:
[code]

And the corresponding variable looked like this:
[code]

Airflow 1.x handled this just fine. Well, it turns out, 2.x does not. Since it is n

[2021-09-02 23:49] #417 closed

[2021-09-03 05:14] kushagra391 commented on #418
Update: it worked after restarting `web` pod.

Seems related to https://github.com/apache/airflow/issues/14714#issuecomment-879794991

[2021-09-03 06:54] thesuperzapper commented on #335
@MarvinSchenkel just to check, are you not using the `.airflowignore` file to prevent airflow trying to run anything looking like a python file in your dags folder?

See the airflow docs for more info about `.airflowignore`:
https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#loading-dags

[2021-09-03 06:59] MarvinSchenkel commented on #335
Awesome! I didn't know Airflow had an `.airflowignore` file. Will
definitely start using this, thanks for the tip!

On Fri, 3 Sept 2021 at 08:54, Mathew Wicks ***@***.***> wrote:

[2021-09-03 07:01] thesuperzapper commented on #416
@emartgu We don't use any `check-db` init-containers in the KubernetesExecutor worker Pods, so we let the `/entrypoint` take care of the DB check by setting `CONNECTION_CHECK_MAX_COUNT` to non-zero. But in the scheduler pod it would be redundant to use `CONNECTION_CHECK_MAX_COUNT` (due to the check-db init-container), so we set it to 0.

It is set twice is because of the way the templates of the c

[2021-09-03 07:02] thesuperzapper commented on #335
@MarvinSchenkel I believe it only works at the ROOT of the dags folder (so you can only have one `.airflowignore` file).

[2021-09-03 07:05] MarvinSchenkel commented on #335
Thanks! And thanks again for all your effort on this amazing chart :)

[2021-09-03 21:45] #190 closed

[2021-09-06 00:58] thesuperzapper opened #419 "add `pgbouncer.authType` value to set `auth_type` (for Azure PostgreSQL)"
Currently, we [hard-code `auth_type` in `pgbouncer.ini` to `md5`](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/templates/pgbouncer/_helpers/pgbouncer.tpl#L21).

While `auth_type = md5` is a sensible default (as versions of Postgres before 10 don't support `scram-sha-256`), some providers have disabled support for `md5` authentication (like Azu

[2021-09-06 01:02] thesuperzapper commented on #412
This issue is caused by Azure PostgreSQL NOT supporting `md5` password authentication (only `scram-sha-256`), I have raised issue https://github.com/airflow-helm/charts/issues/419, to discuss adding a `pgbouncer.authType` value, which allows setting the `auth_type` config in `pgbouncer.ini`.

For now, if you are using the chart with a PostgreSQL that doesn't support MD5 (like Azure PostgreSQL), yo

[2021-09-06 01:08] thesuperzapper commented on #412
I have also found that while using Azure PostgreSQL, you must set `pgbouncer.serverSSL.mode` to `verify-ca`. Even more strangely, you don't have to provide a `pgbouncer.serverSSL.caFile` (which sets `server_tls_ca_file`) for it to work.

This is similar to what people raised in the PgBouncer issue tracker: https://github.com/pgbouncer/pgbouncer/issues/284

[2021-09-06 01:11] thesuperzapper commented on #412
Therefore, once we add `pgbouncer.authType` (https://github.com/airflow-helm/charts/issues/419), we should update the docs to explain that Azure PostgreSQL needs these values:
[code]

[2021-09-06 09:36] gowdra01 opened #420 "how to integrate airflow dags with azure files?"
I would like to know how do we integrate airflow with azure files ?
I tried to follow what's suggested here to create a PV -- https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv and then changed the dags-data pvc to point at this but the pods were not loading ?

How do we work this out with azure files ? do you have an approach please advice thanks.

PS: the issue we have is azure st

[2021-09-08 00:09] gowdra01 commented on #420
I am facing this error

[code]

[2021-09-08 00:19] thesuperzapper commented on #420
@gowdra01 I don't understand the issue you are having, please follow "Option 2a" or "Option 2b" under the ["How to store DAGs?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-store-dags) docs.

[2021-09-08 00:35] gowdra01 commented on #420
sorry I can t use those ReadOnlyMany or ReadWriteMany.. its not supported so I have to use azurefile storage class. but unfortunately I am getting the above error. although the pvc is successfully created but the scheduler are throwing the errors

[2021-09-08 07:10] #416 closed

[2021-09-08 19:28] fanyinyi108 opened #421 "Remove env variable - DATABASE_PASSWORD"
My feature request:

https://github.com/airflow-helm/charts/blob/3721cfd433b5a210361def6afd63b725f9ac4044/charts/airflow/templates/_helpers/pods.tpl#L413-L436

We can see these sentences may the causes lead to the exposure of our "DATABASE_PASSWORD" in our Rendered Template in each our dag - task instance.

So we are here to make a request to see if you could help remove / mask this environment va

[2021-09-08 23:31] thesuperzapper commented on #274
Bumping for bot.

[2021-09-08 23:32] thesuperzapper commented on #282
Bumping for bot.

[2021-09-08 23:33] thesuperzapper commented on #257
This issue is related to https://github.com/apache/airflow/issues/18066

[2021-09-08 23:33] thesuperzapper commented on #35
Bumping for bot.

[2021-09-08 23:33] thesuperzapper commented on #279
Bumping for bot.

[2021-09-09 00:04] thesuperzapper commented on #421
@fanyinyi108 its not possible to remove this variable, as it's how the chart is able to URL-encode the password for users:
- [`DATABASE_PASSWORD_CMD`](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/templates/config/secret-config-envs.yaml#L45-L46)
- [`DATABASE_SQLALCHEMY_CMD `](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9

[2021-09-09 00:07] thesuperzapper commented on #415
@javamonkey79 you should just be able to see them in the Sheduler pod logs?

What do you see when you look at those?

[2021-09-09 00:17] thesuperzapper commented on #420
@gowdra01 I can [see here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) that `AzureFile` supports `ReadOnlyMany` and `ReadWriteMany`.

Make sure your [`PersistentVolumeClaim`](https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/#using-dynamic-provisioning) specifies `accessModes` to include `ReadOnlyMany`.

[2021-09-09 00:43] javamonkey79 commented on #415
@thesuperzapper I don't seem them in the scheduler pod logs. I did find DAG loading logs in:
airflow-new-worker-0 -> dags-git-sync

Command for someone else, in case it helps:
[code]

[2021-09-09 00:43] #415 closed

[2021-09-09 05:10] javamonkey79 opened #422 "git oauth2 credentials in secrets usage"
How can oauth be used from secrets?

If I do this:
[code]

Where 123abc is my git key, it works.

Also, in previous versions of this chart (I think 7.x versions), this works:
[code]

But, in the latest version of the chart, loading the key from secrets, to the repo no longer seems to work. I'm fine not baking it into the url, if that is the new way, but, I'm not sure how to use it.

Do I just use

[2021-09-09 12:30] jherrmannNetfonds opened #423 "GitSync-sidecar for (new) db-migration pod required?"
**What is your question?**

Hi, I am using google kubernetes autopilot cluster for our airflow deployment. On K8 Autopilot cluster you pay by requested resources. If I specify the resources for the db-migration pod the sidecar requests additional `CPU: 500m` and `Memory: 2GB` by default if it is not limited by the resource option for the gitSync sidecar.
I was wondering if the sidecar is even need

[2021-09-09 19:45] javamonkey79 commented on #422
OK, welp... answering one of my questions myself...

No, you can't leave out the username. If you put in a password, the username is required. So, I'm still trying to get this working.

[2021-09-10 04:44] thesuperzapper commented on #423
@jherrmannNetfonds thanks for your question!

You can [see in the YAML](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/templates/db-migrations/db-migrations-deployment.yaml#L108-L109), that the `git-sync` container is included for `db-migrations` so that "airflow plugins" and other "python packages" can be stored in your dags repo. When your not

[2021-09-10 04:52] thesuperzapper commented on #422
@javamonkey79 I know it's a bit late for you, but for others finding this issue, you can see the docs to use a HTTP git repo with username/password under `Option 1b` of ["How to store DAGs?](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-store-dags).

[2021-09-10 05:13] javamonkey79 commented on #422
@thesuperzapper , yes, the docs are good. However, I was never able to get oauth credentials to work… I think there is more here, but, I settled on just creating new project based credentials, that worked.

[2021-09-10 06:44] jherrmannNetfonds commented on #423
Thanks for the quick reply
1. I do not want to switch back to runAsJob because of the `--wait` flag and the problems which arise with CI/CD
2. I set `dags.gitSync.resources` so GKE Autopilot will not take the full 500mb. So "Problem Solved"
I was just wondering for what reason the `db-migrations` script needs access to dags and "python packages". From what I can tell from the [code](https://github

[2021-09-10 07:34] thesuperzapper commented on #423
@jherrmannNetfonds

The issue is that "airflow plugins" are imported when you import `airflow` in Python, which will fail if `AIRFLOW__CORE__XCOM_BACKEND` is set to a package that lives in your git-repo (see https://github.com/airflow-helm/charts/issues/245).

We could create a value like `dags.gitSync.dagsOnly`, which lets users tell us that it's safe to only run git-sync in the main airflow comp

[2021-09-10 08:07] thesuperzapper opened #424 "add `airflow triggerer` Deployment (support Deferrable Operators)"
Airflow has added [Deferrable Tasks](https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html) in 2.2.0, we will need to add a new Deployment that runs [`airflow triggerer`](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#triggerer) to support this feature.

__WARNING:__ we need to consider how not to have this fail for users who have not y

[2021-09-10 09:14] jherrmannNetfonds commented on #423
Ok, I understand, thx for the explanation.
Regarding the runAsJob option, we only had an issue with wait when using helmfile. Currently we migrate to flux. Will see if any issues show up.

[2021-09-10 09:14] #423 closed

[2021-09-10 14:04] loomsen opened #425 "Ingress Class Name reqired since k8s 1.19"
**What is the bug?**

Since kubernetes 1.19, the definition of `ingressClassName` is required. Otherwise the ingress won't be picked up by any controller.

**What version of the chart are you using?**:

I am using version 8.5.2

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-09-13 00:07] thesuperzapper commented on #303
Bumping for bot.

[2021-09-13 00:07] thesuperzapper commented on #304
Bumping for bot.

[2021-09-13 00:07] thesuperzapper commented on #305
Bumping for bot.

[2021-09-13 00:07] thesuperzapper commented on #302
Bumping for bot.

[2021-09-13 00:07] thesuperzapper commented on #301
Bumping for bot.

[2021-09-13 00:24] thesuperzapper opened #427 "allow users to set `ingressClassName`"
Currently, to specify an Ingress class we only expose the `ingress.web.annotations` and `ingress.flower.annotations` values, which can be used with the `kubernetes.io/ingress.class` annotation ([which is deprecated post k8s `1.18`](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation)).

__We should also allow users to directly set [`ingressClassName`](https://kub

[2021-09-13 00:27] thesuperzapper commented on #425
@loomsen you can still use the `kubernetes.io/ingress.class` annotation post `1.19` (see [the k8s ingress docs](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation)), which can be set using the `ingress.web.annotations` and `ingress.flower.annotations` chart values.

But I agree that we should support users setting `ingressClassName` (if they want to), so I have

[2021-09-13 00:27] thesuperzapper commented on #299
Bumping for bot.

[2021-09-13 00:46] thesuperzapper opened #428 "set `DUMB_INIT_SETSID=0` for celery workers (for celery graceful shutdown)"
Currently, our entrypoint command [uses `/usr/bin/dumb-init`](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/templates/_helpers/pods.tpl#L12-L22), which has a [default behavior of `DUMB_INIT_SETSID=1`](https://github.com/Yelp/dumb-init#session-behavior), meaning SIGTERM is sent to the whole process group when the Pod is killed. This is fine for

[2021-09-13 04:11] thesuperzapper commented on #203
Since this issue was raised, there have been improvements to the ["How to persist airflow logs?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-persist-airflow-logs) docs, I will close this issue for now, please reopen it if you still have issues.

[2021-09-13 04:11] #203 closed

[2021-09-13 06:39] loomsen commented on #425
@thesuperzapper Thank you. I've raised a PR already, so we can use that to track the required changes maybe?
See #426

[2021-09-15 10:56] jensgrnb opened #429 "Setting up postgress external db"
Hello, I try to deploy a new airflow application using an external postgress db. The postgress db has a preconfigured table named 'user' and airflow seems to try and use this table as it's its user table this creates all sorts of problems for me down the line.

I have an airflow application where it's using the table 'ab_user' table for this, so somehow I got this working once, just don't recall h

[2021-09-15 11:45] #429 closed

[2021-09-15 14:38] 1eliton opened #430 "Git is syncing on a subpath called "repo""
Hi

We are migrating to the airflow 2.1.2 on Kubernetes and having some problems with git-sync (v3.2.2). The chart version we are using is 8.5.2.

The problem is the dags folder is pointing to "[AIRFLOW_HOME]/dags", same as the [docs](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#dags-folder) says. If I print the env. variable "AIRFLOW_HOME", I can see exactly what

[2021-09-15 23:40] thesuperzapper commented on #430
@1eliton I am confused, is something not working properly?

The chart must use a `repo/` subpath due to how [kubernetes/git-sync](https://github.com/kubernetes/git-sync) works by using symbolic links (which you can see from your `ls -la /opt/airflow/dags` command).

_PS: here is the [code which templates `airflow.dags.path`](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e1

[2021-09-15 23:51] thesuperzapper opened #431 "allow sparse checkout with `git-sync`"
Currently, we provide `dags.gitSync.repoSubPath`, but even if this is set, the full repo is cloned (it only prevents airflow from seeing the rest of the repo).

As of `v3.1.1` the [kubernetes/git-sync](https://github.com/kubernetes/git-sync) container supports using [git sparse-checkout files](https://git-scm.com/docs/git-sparse-checkout#_sparse_checkout) with the `GIT_SYNC_SPARSE_CHECKOUT_FILE` c

[2021-09-16 08:43] jensgrnb opened #432 "How to add sendgrid connection"
Hello,

I'm trying to set up sendgrid email notifications. Airflow docs are very simple on this: https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html

install apache-airflow[sendgrid] and this connection type will appear in the UI ready to be used along all the other default connections.

So I went along happily adding this block to my helm values file

[code]

I'm using a

[2021-09-16 14:16] 1eliton commented on #430
@thesuperzapper thanks for your reply.

In fact, all of our dags that does not depend on some spark job runs fine. We have problem with dags that references spark jobs or other py file that is essentially on "/opt/airflow/dags/jobfolder/". Ass we have our production env on Airflow 1, where "/dags/" is the default path, when running the same dag on Airflow 2, we face this issue.

As all dependencie

[2021-09-17 14:47] #178 closed

[2021-09-20 21:18] gowdra01 opened #433 "all the dags are reporting errors airflow.exceptions.SerializedDagNotFound:"
there are lot of dags which are reporting this error .. I am not sure what's the reason
it started to appear suddenly.
I am running airflow v2.1.1

<img width="908" alt="image" src="https://user-images.githubusercontent.com/75704248/134076936-83432d38-7c9b-4ec9-8869-d6ce92e62ea7.png">

[2021-09-20 21:44] thesuperzapper commented on #433
@gowdra01 if it appeared suddenly, it's almost certainly an issue caused by a DAG change, what has changed recently in your cluster?

You also might be experiencing something similar to: https://github.com/apache/airflow/issues/15607#issuecomment-889541719

[2021-09-20 21:59] gowdra01 commented on #433
actually all the dags are throwing the error. also I am getting facing this health check issues .. access denied to mysql db ,although I am able to login to airflow

[code]

[2021-09-21 00:20] #308 closed

[2021-09-21 22:33] thesuperzapper opened #434 "document using `.gitmodules` (to support multiple git repos)"
Currently, we support a single git repo with `dags.gitSync.*`, until we resolve https://github.com/airflow-helm/charts/issues/166, the only way to support multiple repos is with [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) (`.gitmodules` file).

__We should document how people can use git submodules.__

[2021-09-22 22:16] thesuperzapper commented on #339
For anyone watching I have updated the proposal to be about creating a custom deployment, as I don't feel comfortable with constantly PATCHing annotations, and think it's better to only PATCH the annotations WHEN we know we are about to scale down replicas.

[2021-09-22 22:42] gowdra01 opened #435 "Task is in the 'None' state which is not a valid state for execution"
in one of our env we can't run any dags unfortunately it throws the error

```Task is in the 'None' state which is not a valid state for execution```

I am not sure how to solve this any idea how? @thesuperzapper  can you pls help

<img width="1235" alt="image" src="https://user-images.githubusercontent.com/75704248/134431510-8eede028-9b52-425c-a1ed-9b2bbc6a02db.png">

I am seeing some exceptions

[2021-09-23 11:40] emartgu commented on #432
We build our own docker image on top of Airflow's official docker where we install providers separate:

[code]

Where the airflow-providers.txt list the providers we need:
[code]

I suppose you need include this provider:
https://airflow.apache.org/docs/apache-airflow-providers-sendgrid/stable/index.html

[2021-09-24 08:41] jensgrnb commented on #432
Hey @emartgu

The thing is I have the relevant provider installed. I checked the running docker container. Just wondering how the airflow UI looks for these providers internally, as it still isn't recognizing it for me..

[2021-09-26 21:28] thesuperzapper commented on #328
Bumping for bot.

[2021-09-26 21:31] thesuperzapper commented on #432
@jensgrnb are you sure that you haven't accidentally NOT changed your docker tag (for example, using `latest`)?

If so, you either need to set `airflow.image.pullPolicy = Always` or update your tag, as otherwise you will be using the old cached version on the Kubernetes Node.

[2021-09-26 21:32] thesuperzapper commented on #283
Bumping for bot.

[2021-09-26 21:49] thesuperzapper commented on #435
@gowdra01 It looks like you are losing connection to your MySQL:
[code]

Possibly its overloaded? (Check on the DB end?)

[2021-09-26 21:50] thesuperzapper commented on #430
@1eliton did you managed to figure your issue out?

[2021-09-26 22:53] gowdra01 commented on #435
is that the reason the dags are going to the none state ?

[2021-09-27 07:34] jensgrnb commented on #432
I opened up a question against airflows official github repo: https://github.com/apache/airflow/issues/18495#issuecomment-926639104

apparantly this package doesn't have a dedicated ui symbol... so it would never show up.

[2021-09-27 07:55] piyush-daga opened #436 "Running pods get externally marked as Scheduled or None during helm upgrade"
**What is your question?**
Airflow Version: `airflow:2.1.2-python3.8` base extended with business logic code
Helm Chart Version: `8.5.2`
Executor: `KubernetesExecutor`
Platform: `AWS EKS`
Webserver and Scheduler: `2 replicas with a PDB of 50% [minAvailable.`](url)
Operators used: `Mostly BashOperators throughout the code.`

We have a CI/CD setup where we perform `helm upgrade` to inject changes to

[2021-09-27 21:40] thesuperzapper commented on #436
@piyush-daga can you share your values?

I imagine that something is causing the [KubernetesExecutor `pod_template.yaml`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/files/pod_template.kubernetes-helm-yaml) to change after each of your `helm upgrade`.

For example, are you changing your airflow docker image each `helm upgrade` (e.g. embedding your dags into the image)?

[2021-09-27 21:44] thesuperzapper commented on #435
@gowdra01 The information about the current state of dags is stored in the DB, so I imagine the DB being unavailable would cause `None` state.

You might want to try using Postgress, as it's really what Airflow is designed with (especially with the new PgBouncer feature in [`8.5.X`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#850---2021-08-19) of the chart).

[2021-09-28 07:09] piyush-daga commented on #436
Yes, I am changing my docker image after each upgrade and I am embedding my dags into my image. I was under the assumption that even if we embed dags, that running tasks should keep running? (at least when nothing changes on the dag front).

Is there any solution around the same?

[2021-09-28 22:30] thesuperzapper commented on #166
For those watching, it is already possible to use multiple git repos. Git has a feature called `.gitmodules` which allows you to "recursively" reference git repositories from a single repo.

There is an issue to document this here: https://github.com/airflow-helm/charts/issues/434

---

Given this, I am not sure that we should support multiple git repos directly in the chart, as the `.gitmodules`

[2021-09-28 22:34] thesuperzapper opened #437 "add values to disable git-sync sidecars for specific deployments"
Currently, if a user sets `dags.gitSync.enabled = true` then all deployments get a git-sync sidecar, (including [deployments like the webserver](https://github.com/airflow-helm/charts/blob/a55c4cd280f5aebef5c0dff9631e18a9fa23fc93/charts/airflow/templates/webserver/webserver-deployment.yaml#L143-L145) which don't actually need the DAGs as of airflow 2.0).

We do this because some users are storing

[2021-09-28 22:44] thesuperzapper commented on #103
An update for those watching, I am no longer planning to implement KEDA, as there is a much better alternative, namely creating our own autoscaler deployment (which is aware of airflow).

The reasons and discussion of how we plan to create the custom autoscaler are documented in issue:
- https://github.com/airflow-helm/charts/issues/339

[2021-09-29 01:35] vumdao commented on #437
One more thing is that we share dags folder between airflow components using EFS so only one component need git-sync

[2021-09-29 07:41] GeeseBumps opened #438 "Using KubernetesExecutor with PythonOperator"
Hi author, I am working with KubernetesExecutor.
Every Pods are built well when after `helm install` and also my dag files are showing on Airflow web UI.
However dag file does not work and worker Pod is not created.

I used same dag file which was used on docker-compose.
I think there should be some difference in dag file when using KubernetesExecutor.
Is there any guide to write dag for Kubernete

[2021-09-29 16:34] piyush-daga commented on #413
@thesuperzapper Should this behaviour be documented in [https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-connections](url) or rather #https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L31

I faced the same issue and resolved it by deleting the connections encoded by the old Fernet Key (initial deployment was with defaults).

Does this

[2021-09-29 16:40] piyush-daga commented on #438
You may try adding these under `airflow.config`

[code]

[2021-09-30 00:15] thesuperzapper commented on #437
@vumdao that is already proposed under: https://github.com/airflow-helm/charts/issues/283

But also realize, it's not a big deal for each app to have a git-sync sidecar (git is incredibly efficient at syncing diffs).

[2021-09-30 01:39] GeeseBumps commented on #438
Thanks for comment!
Now scheduler sensed my dag job, however still not working.
This is log of scheduler pod.

`[2021-09-30 01:35:56,182] {scheduler_job.py:1857} INFO - Marked 1 SchedulerJob instances as failed`

[2021-09-30 02:15] GeeseBumps commented on #438
Thanks! it works!!

[2021-09-30 09:16] jensgrnb commented on #432
Got it working by using the http connection type and setting

[code]

the airflow developers have got a fix for sendgrid to get it it's own connection type in airflow@2.2.0 as far as I can tell.

[2021-09-30 09:16] #432 closed

[2021-09-30 16:50] 1eliton commented on #430
@thesuperzapper here is what we did.

We downgraded the chart version from 8.5.2 to 7.14.0 (this [commit](https://github.com/airflow-helm/charts/commit/386fbbc7340109cb9d80bea5562278a1d44a0c79#diff-9b93b513740069d831becf4edf9105bf8c7dd89595bb931bad294d854dca5182)).

We are aware that the [docs](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support) said us to use

[2021-09-30 22:51] thesuperzapper commented on #430
@1eliton there is no reason why the `repo` symbolic link should break anything (Linux just treats it as a folder).

I would start by looking at your code which is actually throwing the errors:
[code]

Probably, it's hard-coding the dags directory as `/opt/airflow/dags`, so you can just change this to `/opt/airflow/dags/repo`.

[2021-09-30 22:55] thesuperzapper commented on #438
@GeeseBumps can you clarify which of @piyush-daga advice fixed your issue?

1. Adding ` AIRFLOW__KUBERNETES__NAMESPACE`
2. Not overriding `airflow.kubernetesPodTemplate`

[2021-09-30 23:31] thesuperzapper commented on #413
@piyush-daga I agree that we should document that connections/variables/etc are not removed when they are unset from `airflow.connections`.

__Regarding the process to change your fernet key, you can either:__
1. OPTION 1: Manually delete and recreate your connections
    - (I just tested, and the `airflow.connections` will error if the connections have the wrong fernet_key, and be unable to updat

[2021-09-30 23:36] thesuperzapper opened #439 "connections and variables sync fails when `fernetKey` changes"
Currently, the sync deployments will fail to update connections/variables (wich have encrypted fields), if the user updates their `fernetKey` (using any method).

__My immediate thoughts on options:__
1. Leave this behaviour as is (because airflow itself will also fail to read them, and this situation clearly requires manual intervention for non `airflow.{variables,connections}` controlled objects

[2021-09-30 23:37] thesuperzapper commented on #413
I have raised an issue for what to do about `airflow.connections` failing on `fernetKey` update: https://github.com/airflow-helm/charts/issues/439

[2021-10-01 06:23] piyush-daga commented on #436
@thesuperzapper Any help or direction here would be awesome. Struggling with this issue as being a blocker for production release.

[2021-10-01 06:28] piyush-daga commented on #439
Would be happy to contribute on the bug 🙂 .

[2021-10-04 04:01] GeeseBumps commented on #438
@thesuperzapper I did both of them. But, fun thing is that I realized that I did not turn on the dag in Airflow UI. So I think they were not the reasons that dag file didn't work.

[2021-10-04 08:21] tomahawk-pilot opened #440 "is it possible to sync 2 seperate git repos to single dag folder or 2 diffrent dag folders ?"

[2021-10-04 21:46] thesuperzapper commented on #436
@piyush-daga I don't see a way to prevent the pods from restarting when the images are changed (which is probably what causes the tasks to be marked as "None", specifically the scheduler restarting).

You could try Option 1 or 2 under ["How to store dags?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-store-dags).

[2021-10-04 21:49] thesuperzapper commented on #438
@GeeseBumps that's great it is working, but I recommend unsetting `AIRFLOW__KUBERNETES__NAMESPACE` (as the chart sets it for you).

__NOTE:__ if it were set `AIRFLOW__KUBERNETES__NAMESPACE` to something other than your main airflow namespace, it wouldn't work, because the `Secret` for configs wouldn't be mountable across namespaces.

[2021-10-04 21:55] thesuperzapper commented on #440
@tomahawk-pilot Yes, but it's not currently documented, you can use [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) with the `.gitmodules` file (it allows a single git repo to act as a "wrapper" for other repos).

We have an issue to document `.gitmodules` here: https://github.com/airflow-helm/charts/issues/434

We can probably add a new section to the docs called `"How to sy

[2021-10-07 23:05] thesuperzapper commented on #440
@karakanb actually looking into submodules further, when you add a submodule with `git submodule add ...` it actually creates a metadata file with the hash of the commit.

This means the submodule approach will never update the downstream repo unless you commit a new metadata file (generated by running `git submodule update` in your "wrapper" repo).

I realize this is less useful for airflow dags,

[2021-10-10 22:08] thesuperzapper commented on #433
@KulykDmytro @gowdra01 So it looks like it's an upstream airflow issue given https://github.com/apache/airflow/issues/18843?

[2021-10-14 14:05] dunganle commented on #15
@MishaVeldhoen how did you pass an empty password for the external db in the helm chart?

[2021-10-16 18:05] LvffY opened #443 "add "How to set up an Ingress?" to docs"
Hello

I'm trying to setup some airflow servers  on separate on the same clusters
I'm trying to have the following setup :

- One **ingress-nginx** for my cluster
- Multiple Airflow servers on separate namespaces (e.g dev, prod)
- Generate through your charts the ingress setup

Is this possible ?

I already tried to use one ingress fer namespace and setup some ingress class name but I fall into so

[2021-10-17 01:54] #319 closed

[2021-10-17 18:16] LvffY commented on #443
To be more precise, I already a working setup with one ingress on a specific cluster and one airflow server across all my cluster.

To get that working, I use the following commands :

### One airflow server across namespaces

<details>
 <summary>Click to expand</summary>

#### Install nginx

[code]

#### Configure cert-manager

[code]

#### Install issuer and certificate.

Based on the following

[2021-10-20 07:31] chriskeAlerant opened #444 "include option to set resource requests and limits for initContainers"
**What is your feature request?**

Currently there is no way to set exact resource requests and limits for initContainers in the values file. As I saw these parameters are not defined in the template, wihch means when there is a default value for them in the namespace, those will be applied. I work in an enterprise environment and change the default resource settings for the namespace is not so ea

[2021-10-22 09:42] GeeseBumps opened #445 "KubernetesPodOperator image_pull_secrets"
Hi, author. I am really enjoying using your helm chart!

I am trying to use KubernetesPodOperator with my private ECR repository. I am also using my own image in private ECR for airflow image and it works totally fine! However, with KubernetesPodOperator, it seems like it does not get right image_pull_secrets which is used when pulling airflow image. So, KubernetesPodOperator failed to pull image

[2021-10-23 05:47] #233 closed, assigned to nobody

[2021-10-23 06:09] vlgorev opened #447 "Common Labels"
Hi,

Our organization requires some specific labels to be added to every Deployment on K8s. I understand, that's not a pressing issue, but, would you be so kind to add a "CommonLabels" section to your ".../airflow/values..yaml" that'll be translated to every "label" section of the Deployment YAMLs?

[2021-10-25 14:05] eclipsetalk opened #449 "Setting AIRFLOW__WEBSERVER__BASE_URL is not reflected in airflow.cfg"
Hi,
I'm using the repo airflow-stable/airflow with version 8.5.2. I have a custom values.yaml that sets the airflow config variable `AIRFLOW__WEBSERVER__BASE_URL: "https://airflow-xxx-xxx.com"`
When I check the generated airflow.cfg file,  base_url is not updated, it is still set to `base_url = http://localhost:8080 `.
Please let me know.

Thanks

[2021-10-26 01:22] #361 closed, assigned to nobody

[2021-10-27 01:24] #449 closed, assigned to nobody

[2021-10-27 19:54] cfraleig opened #450 "Is it possible to have git sync not override the scheduler's dag path?"
It looks like when I enable the git sync, it sets the dag path as `dags.path`+repo/dags

I have some dags updated via a cron process that writes them to a PVC. I would like to be able to have the git_sync write into that claim, under the dag path, without overriding the path the scheduler will look for dags in to fill the dag-bad.

[2021-10-29 18:20] cfraleig commented on #450
Our dags are distributed out. I have one process that dynamically builds dags and stores the generated dags in an efs volume mount. This is where the dagbag loads up from. I also have dags, not part of that process, stored in another repo. These dags do not require the dynamic process, and so a git sync works great. I want to be able to route the sync into the same pvc under the "dags" path that a

[2021-10-29 20:53] neku-dev-88 opened #451 "Kubernetes executor- worker pods not getting created"
Hi, I am trying to get a setup using Kubernetes executor and the initial setup goes fine. However DAGs fail to run and no worker nodes seem to be created.

Please see https://github.com/neku-dev-88/airflow_kubernetes for the code on airflow value files and kubectl resources.

The way I set this up locally installs the following steps in command prompt (Windows, I use kind: https://kind.sigs.k8s.io

[2021-10-31 09:50] #117 closed

[2021-10-31 13:24] piyush-daga commented on #451
Based on the screenshot posted, doesn't look like you have `enabled` the DAG, by clicking on the toggle, if that is not the case, can you post your `custom-values.yml` file?

[2021-10-31 14:13] piyush-daga opened #452 "Patch Airflow to use okta email address instead of okta_id as the username"
When enabling OAUTH using Okta, the username is replaced by the okta_id, which is a unique identifier to differentiate users but it makes it super difficult to understand which `exact user` is being referenced in a human friendly manner.

Examples:

<img width="1400" alt="Screenshot 2021-10-31 at 7 36 55 PM" src="https://user-images.githubusercontent.com/9255130/139587586-eb36bea8-1a55-41c4-99bd-3

[2021-10-31 19:07] #409 closed

[2021-10-31 22:38] thesuperzapper commented on #452
@piyush-daga this is really a question for Airflow / Flask-AppBuilder, not the chart.

You will have more luck raising it on those repos.

[2021-10-31 23:18] thesuperzapper commented on #252
Bumping for bot.

[2021-10-31 23:18] thesuperzapper commented on #414
Bumping for bot.

[2021-10-31 23:18] thesuperzapper commented on #194
Bumping for bot.

[2021-10-31 23:18] thesuperzapper commented on #249
Bumping for bot.

[2021-10-31 23:18] thesuperzapper commented on #242
Bumping for bot.

[2021-10-31 23:19] thesuperzapper commented on #236
Bumping for bot.

[2021-11-01 10:53] neku-dev-88 commented on #451
Yes that was the issue, thanks!

[2021-11-01 10:53] #451 closed

[2021-11-01 11:51] V0lantis opened #453 "Trying to implement an Airflow production cluster"
**What is your question?**
Hello everyone,

I am trying to setup an airflow cluster following your doc. So far, I have two files :

1. a `launch.sh` file
2. a `custom-values.yaml` file

Here is my `launch.sh` file :

<details>

[code]

</details>

And here is my `custom-values.yaml` file :

<details>

[code]

</details>

But when I try to go on the host (hxxp://airflow.server.home/airflow), I get

[2021-11-01 15:32] minnieshi commented on #412
Hello @thesuperzapper ,
we are using airflow-chart 8.5.2 version. and we could not get pgbouncer working with azure postgresql
in the issue of **pgbouncer repo** here https://github.com/pgbouncer/pgbouncer/issues/325
you mentioned one could set "auth_type to scram-sha-256",  does that mean if one has their own separate chart?
if we use the chart from here, we have to wait for this issue to be clos

[2021-11-02 02:48] thesuperzapper commented on #412
@minnieshi your best bet is to use the [Azure PostgreSQL - Flexible Server (Preview)](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/), as this is a much more standard Postgress deployment, and works perfectly by default. (NOTE: it's also MUCH more performant than the legacy Azure PostgreSQL)

If you really need to use the legacy [Azure PostrgresSQL - Single Server](https://docs

[2021-11-02 07:00] jonashartwig opened #455 "Allow users to provide extra Containers in kubernetesPodTemplate"
**What is your feature request?**

We like to mount the dag directory into the pod executor. We have our dags in S3 and use s3fs as a sidecar to mount the volume.

**What alternatives have you considered?**

We checked if there are possibilities in Airflow to use this natively, like storing logs in S3.

[2021-11-02 10:44] #411 closed

[2021-11-02 14:09] minnieshi commented on #412
hello @thesuperzapper ,
We are trying to use our own pgbouncer, and set the externalDatabase to connect to the pgbouncer.
Question to you:
with your commment in #325 "https://github.com/pgbouncer/pgbouncer/issues/325#issuecomment-913270546"
quoted below.

how did you ensure the clients support scram-sha-256 in Azure PostgreSQL?

[2021-11-03 00:23] thesuperzapper commented on #412
@minnieshi `scram-sha-256` should also work.

But why are you not using the embedded PgBouncer, it makes it so much easier because we generated the `/home/pgbouncer/users.txt` automatically from your `externalDatabase.*` configs.

[2021-11-03 01:24] karakanb opened #457 "DB migrations deployment is stuck after new deployment"
**What is the bug?**

It seems like when there are no more migrations to run, the `db-migrations` deployment is getting stuck for some reason:
[code]

**What version of the chart are you using?**:

I am using version `8.5.2`

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

**Please copy your custom Helm values file:**

[code]

I have obfuscated some bits of

[2021-11-03 06:44] minnieshi commented on #412
Because we are using azure postgresql and this issue is still open.

[2021-11-03 13:37] jholowaty opened #458 "Helm Chart 8.5.2 doesn't work with airflow 2.2.0 - dumb-init not found."
**What version of the chart are you using?**:

I am using version `8.5.2`

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

**Please copy your custom Helm values file:**

<details>
<summary>click to expand</summary>

[code]

The docker image that we build is from this dockerfile:

[code]

And the error is that it cannot find the dumb-init file so none of the

[2021-11-04 15:58] minnieshi opened #459 "How to check what 'airflow code/version' is this chart using? (chart 8.5.2)"
**is "SigTerm PR from the official airflow code", packed to the 'chart' by default**

[[
Sorry I am new to the 'charts' thing, hence this silly question.

Is core code of airflow that this chart uses the same as official repo?

**Background info:**
We use the chart from this repo to deploy onto AKS, supported by Azure Postgresql.
We see 'sigterm' problems (1 min 29 seconds after the task started,

[2021-11-05 06:55] minnieshi opened #460 "sigterm occurs chart 8.5.2"
**is SigTerm PR packed to the 'chart' by default**

[[
Sorry I am new to the 'charts' thing, hence this silly question.

Is core code of airflow that this chart uses the same as official repo?

**Background info:**
We use the chart from this repo to deploy onto AKS, supported by Azure Postgresql.
We see 'sigterm' problems (1 min 29 seconds after the task started, which should take longer than that

[2021-11-05 14:18] jensgrnb opened #461 "DB-Migrations not able to rollback after partial successfful rollout."
Hello Hello

I'm running into a rollback problem on my GKE cluster.

I'm using the helm chart version 8.5.0 with airflow@2.1.2

Steps taken by me leading to a broken state:
1.
upgrade airflow tag to  airflow@2.2.1
2.
Rollout: All resources are rolled out succesfully except the worker pod which ends in a crashloop because of some conflict with celery.
3.
Try rollback to previous healthy state
4.
db

[2021-11-06 07:39] minnieshi commented on #460
This can be closed now.
Reading this PR: https://github.com/airflow-helm/charts/pull/442
made me understand where the version of the airflow is controlled (chars.yaml: `appVersion`, values.yaml: `image` `tag`)

[2021-11-06 07:42] minnieshi commented on #459
This can be closed now.
Reading this PR: https://github.com/airflow-helm/charts/pull/442
made me understand where the version of the airflow is controlled (chars.yaml: `appVersion`, values.yaml: `image` `tag`)

[2021-11-06 09:22] minnieshi commented on #458
I do not think it should be reported as a bug.

The README file explains the version of airflow the chart 8.5.2 support is 2.1.x

https://github.com/airflow-helm/charts/blob/main/charts/airflow/README.md

This should help to understand helm chart API/basic concept :
https://helm.sh/docs/topics/charts/

[2021-11-06 14:43] jholowaty commented on #458
Hi! i talked with Mathew Wicks in Apache Airflow Community's slack and he recommended me to use 2.2.x in chart 8.5.2 but i tried it and fail because that version doesn't have the file dumb-init and crash un upgrade-db step, so he told me that open a ticket here.

Mathew Wicks  3 days ago
@Juan Holowaty you can actually use the community chart with 2.2.0 already.

Mathew Wicks  3 days ago
Just use

[2021-11-08 08:40] jensgrnb commented on #461
I fixed the issue this time, by simply steaming ahead with the upgrade to airflow@2.2.1, but in essence I can't really trust the rollback mechanism any longer.

Is there any way I can remedy this? Where is this revision/branch number stored by alembic, so I can fix the disconnect?

[2021-11-09 07:36] #418 closed

[2021-11-09 23:58] thesuperzapper commented on #458
@jholowaty @minnieshi Hey people, sorry for the delay, been working on another thing, but I will look into this now.

Not that I recommend updating to 2.2.X until it prove itself to be stable.

[2021-11-10 09:30] ChiemJanssen commented on #457
Same issue here with the latest version of the chart. I thought it was a problem with my external database. I'm using a Postgres CRD for spinning up an instance. It works fine for other services but configured with Airflow the "db-migrations" pod errors after a certain amount of time in our cluster with the exact same logs as yours.

[2021-11-10 09:39] karakanb commented on #457
In my case, I am using a managed Postgres DB from DigitalOcean btw and the version is Postgres 12, I don't know if that matters.

[2021-11-11 09:05] c-thiel opened #463 "Add pod lifecycle options"
**What is your feature request?**
In the Chart we currently don't have an option to add a lifecycle to the pods.
These lifecycle hooks can be useful in a number of situations where we need to patch small parts of the pod.
An example could be:
[code]

To give a concrete example, I am currently facing this issue https://github.com/apache/airflow/issues/8212.
To fix this I need to patch a single file

[2021-11-11 22:42] thesuperzapper commented on #461
@jensgrnb If you update airflow versions, the chart will run `airflow db upgrade` (in the db-migrations deployment or job) which will apply any schema changes for that new airflow version. Because airflow itself doesn't support downgrading the database schema, you are then stuck with the newer version unless you replace your database, or manually rollback the schema changes (not recommended).

[2021-11-11 23:19] thesuperzapper commented on #463
@c-thiel Sounds like an interesting idea, what do you think the values could look like?

[2021-11-11 23:20] thesuperzapper commented on #274
Bumping for bot.

[2021-11-11 23:20] thesuperzapper commented on #282
Bumping for bot.

[2021-11-11 23:26] thesuperzapper commented on #279
Bumping for bot.

[2021-11-11 23:30] thesuperzapper commented on #457
@ChiemJanssen @karakanb can you explain what you mean by "getting stuck", if there are no migrations to apply what are you wanting it to do?

[2021-11-11 23:37] #459 closed

[2021-11-11 23:37] #460 closed

[2021-11-11 23:42] thesuperzapper commented on #419
Bumping for bot.

[2021-11-11 23:59] thesuperzapper commented on #430
@1eliton feel free to reopen if you need further help.

[2021-11-11 23:59] #430 closed

[2021-11-12 00:02] thesuperzapper commented on #436
@piyush-daga I don't really understand your question, but since this issue has been open for a while, I am gonna close it.

Feel free to reopen if this is still an issue for you.

[2021-11-12 00:02] #436 closed

[2021-11-12 00:11] thesuperzapper commented on #452
@piyush-daga I will close this

Feel free to raise it on the [dpgaspar/Flask-AppBuilder](https://github.com/dpgaspar/Flask-AppBuilder) repo.

__NOTE:__ you can make a custom `@appbuilder.sm.oauth_user_info_getter` that uses something like `email` for the `uername` see the [Flask-AppBuilder - Security Docs](https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-oauth) (down

[2021-11-12 00:11] #452 closed

[2021-11-12 00:13] #445 closed

[2021-11-12 02:45] thesuperzapper commented on #257
The `workers.celery.gracefullTermination` feature is not needed after we resolve issue https://github.com/airflow-helm/charts/issues/428, so lets move discussion there.

[2021-11-12 02:45] #257 closed

[2021-11-12 02:45] thesuperzapper commented on #299
Bumping for bot.

[2021-11-12 02:45] thesuperzapper commented on #301
Bumping for bot.

[2021-11-12 02:46] thesuperzapper commented on #305
Bumping for bot.

[2021-11-12 02:46] thesuperzapper commented on #304
Bumping for bot.

[2021-11-12 02:46] thesuperzapper commented on #303
Bumping for bot.

[2021-11-12 07:43] george-zubrienko commented on #412
We use single server offering from Azure with airflow pgbouncer. This is the config generated by helm (I replaced hostname with ***):

[code]

I only have to manually change to `auth_type = scram-sha-256` for pgbouncer to work. But once Flexible server exists preview we'll just buy that I guess.

[2021-11-12 10:33] jensgrnb commented on #461
Thank you for response! I see, and there's no way that the chart can mitigate this issue by like putting the db upgrade at the end of the dependency chain between resources?

My problem is that I'm trying to handover the maintenance of the chart to a engineering group, and what they will probably be mostly doing is keep up with with airflow version counter.

But as I understand your msg, this kind