[2020-11-05 11:59] thesuperzapper opened #3 "Move pip-install out of container start commands"
We should move pip-install out of the container start commands, as this forces us to work around the liveness/readiness probes timing out, because pip-install can take long amounts of time.

My idea is to put all the pip install inside an initContainer (into a non-persistent Volume), and prefix the `PYTHONPATH` of the main container as it starts to include the install folder.

[2020-11-08 12:43] billcrook opened #5 "Release old chart versions"
Thanks for getting this up and running guys. Would it be possible to release old versions of the charts? I'm sure there are some users out there (myself included) who aren't ready to perform chart or airflow version upgrades. Additionally, some of us are still running on the docker-puckel image and upgrading the chart would force a change in base image which is significant. Yes, I know we need to

[2020-11-08 23:03] thesuperzapper commented on #5
@billcrook while it might be possible, I am not sure its worth the effort

You will still be able to install old versions (before `7.14.0`), using the archive repo: `https://charts.helm.sh/stable`,

[code]
However, be aware that repo __will never__ receive any new versions, all future development will be done in this repository.

[2020-11-09 01:17] billcrook commented on #5
OK, that is good news. I suppose I was misinterpreting the [deprecation notice](https://github.com/helm/charts#deprecation-timeline) in [helm/charts](https://github.com/helm/charts).

The wording makes it sound like there will be no archive available after the 13th.

[2020-11-09 01:30] billcrook commented on #5
I forgot about one thing - requirements.yaml. If using an old chart version, the redis/pg dependencies will still point to the deprecated url https://kubernetes-charts.storage.googleapis.com/.

So, someone would have to update all the versions to point to the new archive url. Sigh.

[2020-11-09 04:51] thesuperzapper commented on #5
@billcrook chart versions are atomic, so you will not be able to change them after they are released

However, as of helm `3.4.0`, it will automatically detect `https://kubernetes-charts.storage.googleapis.com/` and replace it with `https://charts.helm.sh/stable`, so old versions should work correctly.

[2020-11-09 11:19] billcrook commented on #5
I'm still on helm 2 so, SOL for me. I think my best bet is to either upgrade to helm 3 or fork and update the old chart, package it and configure a local helm repository.

Thanks for the info, this has been very helpful.

[2020-11-09 11:19] #5 closed

[2020-11-15 09:46] mikys-next-insurance opened #6 "upgrading from stable/airflow"
I have an existing Airflow installation on our Kubernetes cluster.
Can I upgrade it to the new chart without uninstallaing & reinstalling?

[2020-11-15 23:16] thesuperzapper commented on #6
@mikys-next-insurance Yes, just follow the [usage guide](https://github.com/airflow-helm/charts/tree/main/charts/airflow#usage) and everything should work properly (installing over an existing install), as helm is only used to generate YAML, and the YAML hasn't changed.

NOTE: I have only tested this with Helm 3.

[2020-11-15 23:29] thesuperzapper opened #8 "Special characters in `airflow.config` keys"
Because we currently store the content of `airflow.config` inside `ConfigMap/airflow-env`, some airflow configs will not work, this is because ConfigMap keys must match the regex `[-._a-zA-Z0-9]+`.

There are cases where `/` is needed for airflow configs, for example:
[code]

We should move to using `env:` definitions, rather than mounting ConfigMaps for __user provided__ configs.

[2020-11-16 06:51] mikys-next-insurance commented on #6
@thesuperzapper , I don't see anything on installing over an existing install in the usage guide. Can you please elaborate?

[2020-11-16 09:11] thesuperzapper commented on #6
@mikys-next-insurance, what I mean, is that you literally don't have to do anything (if you are using Helm 3).

You just run these commands to do an upgrade, (as if you were using the old stable repo):
[code]

__WARNING:__ ensure you check [UPGRADE.md](https://github.com/airflow-helm/charts/blob/main/charts/airflow/UPGRADE.md) for any breaking changes (the version numbers are the same as the old c

[2020-11-17 11:35] LozanoMatheus opened #9 "Not adding the Connections via yaml/config"
**What is the bug?**
I'm trying to set up the connections via yaml/config, but it seems that's not getting it. I can see the environment variable in the container, but it doesn't add the connection.

I tried with `AIRFLOW_CONN_POSTGRES_DEFAULT`, `AIRFLOW__CONN_POSTGRES_DEFAULT` and `AIRFLOW__CONN__POSTGRES_DEFAULT`.

I got the example from here:
https://airflow.apache.org/docs/stable/howto/connect

[2020-11-17 14:25] DavidChenLondon opened #10 "Clone git repo as airflow user instead of root"
**What is your feature request?**

By default, current airflow helm chart will clone source code git repo using root user, which cause permission problem if some tasks require to create some files or directory under the git repo.

**What alternatives have you considered?**

Not yet.

[2020-11-18 00:53] kencieszykowski opened #11 "Add annotations block for airflow-env ConfigMap"
**What is your feature request?**

Please add a way for us to add annotations directly to the airflow.cfg ConfigMap.  We deploy with Spinnaker, which naturally versions Secrets and ConfigMaps when they change.  As a result, worker pods search the ConfigMap to see what the name of the ConfigMap for the Env is; the problem is that it's a static value ( airflow-env ).

To get around this, Spinnaker a

[2020-11-18 05:33] Silpa-Suresh opened #12 "Redirect URI for Airflow to authenticate using Azure AD"
Helm chart is deployed in Azure Kubernetes Service. And using Nginx Ingress Controller accessing the webserver UI in a URL: https://xyz.com/admin/

Configmap (airflow-webserver-config) is created as how mentioned [here](https://github.com/helm/charts/issues/23594#issuecomment-694763470).

Mounting through airflow.extraConfigmapMounts authentication could be established.

Provided the URL "https://

[2020-11-18 21:29] KIRY4 opened #13 "Mount file as a secret to Airflow home or to any other directories"
**Is your feature request related to a problem? Please describe.**
I'm using Airflow with LDAP+RBAC. Currently I'm mounting my webserver_config.py using extraConfigmapMounts functionality from chart. Here is how it looks like:
[code]
Of course it is not secure because in webserver_config.py I have AUTH_LDAP_BIND_USER  and AUTH_LDAP_BIND_PASSWORD.

**Describe the solution you'd like**
I want to hav

[2020-11-19 10:05] MarvinSchenkel opened #14 "Allow for $ characters in password / extra field of Airflow connections"
**What is the bug?**
Whenever I try adding an Airflow connection that has a $-character in either the `password` or `extra` field, the value gets chopped off. I suspect this is because ultimately the value is passed to a bash command (`airflow connections --add`) that interprets $ as a bash-variable, which is obviously empty. For example, if I submit an airflow connection with password / extra 'ab

[2020-11-19 11:23] DavidChenLondon commented on #10
changed all code to use /tmp directory.

[2020-11-19 19:37] MishaVeldhoen opened #15 "Sidecar pattern for gce-proxy when connecting to Cloud SQL instance"
**What is your feature request?**
When deploying airflow on GKE, it would be nice to support connecting to a Cloud SQL instance through the sidecar pattern (as recommended in the [docs](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine)), in a way similar to how git sync is supported currently.

**What alternatives have you considered?**
- Deploying postgres on kubernetes with a pe

[2020-11-23 08:32] Kyrremann opened #16 "web-pod can't connect to postgres (password authentication failed)"
**Describe the bug**
When using the stable chart, my web-pod can't connect to the postgres-pod. I've also tried to exec into the postgres-pod, but the same result there.

**Version of Helm and Kubernetes**:
kubernetes: v1.16.7
helm: v3.2.3

**Which chart**:
stable/airflow

**What happened**:
airflow-web logs:
[code]
airflow-postgres logs:
[code]

**What you expected to happen**:
Expected it to get

[2020-11-23 08:32] Kyrremann commented on #16
Ended up with this problem again, and I found out what the issue was! When you run helm uninstall it doesn't remove the PVC that the postgres-database uses. So the old database and password is still there when you run helm install again! So remember to delete the PVC!

[2020-11-23 21:24] #6 closed

[2020-11-23 21:26] thesuperzapper commented on #9
@LozanoMatheus why are you trying to set `AIRFLOW_CONN_POSTGRES_DEFAULT`?

__NOTE:__ you can use an external PostgreSQL by refering to the docs:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#docs-database---external-database

[2020-11-23 21:27] thesuperzapper commented on #10
@DavidChenLondon can you provide a basic example of something which fails?

[2020-11-23 21:33] thesuperzapper commented on #11
@kencieszykowski we always welcome contributions!

If you are going to contribute, please also take a look at Issue #8, but if you simply want to add annotation support to the ConfigMap, that shouldn't be too hard.

[2020-11-23 21:35] thesuperzapper commented on #8
Just thinking about this: we might want to filter the `airflow.config` which contain special characters in the key, and pass them separately (rather than just replacing the `ConfigMap` all together).

[2020-11-23 22:21] thesuperzapper commented on #12
@Silpa-Suresh that sounds like a OAUTH config error

Have you specified the correct `base_url`, `authorize_url` and `access_token_url`? You also might need to fix something on your Azure AD settings.

Regardless, this is not caused by the chart, and is a question for the airflow community.

[2020-11-23 22:21] #12 closed

[2020-11-23 23:51] thesuperzapper opened #19 "add additional values files for chart-testing"
Currently, we only test the default `values.yaml` in the CI workflow, we should also test more complex configs:
- set `airflow.configs`
- set `airflow.extraPipPackages`
- set `airflow.image.*` (different airflow/python versions)
- set `scheduler.connections`
- set `scheduler.variables`
- set `scheduler.pools`

The easiest way to do this is add a `ci` folder under `charts/airflow`, and place files

[2020-11-23 23:52] #14 closed

[2020-11-23 23:53] thesuperzapper commented on #14
@MarvinSchenkel this is resolved in versions after `7.14.3`

[2020-11-23 23:58] thesuperzapper opened #20 "stop using sub-charts for postgres and redis"
Currently, we depend on `stable/postgres` and `stable/redis` charts when the user does not configure `externalDatabase.*` and `externalRedis.*`.

This is bad for a number of reasons:
- we cant update postgres/redis versions
- we cant fix bugs in those charts
- those charts are deprecated

Given how simple a single node deployment of postgres/redis is, we should just include the required yaml in th

[2020-11-23 23:59] thesuperzapper commented on #16
If we migrate away from `stable/postgres` as described in https://github.com/airflow-helm/charts/issues/20, this problem should go away.

[2020-11-24 00:03] thesuperzapper commented on #15
@MishaVeldhoen I have a feeling it might already be possible with the `airflow.extraContainers` value (with the possible exception of flower, as that `airflow.extraContainers` doesn't apply to flower)

But I am not sure it will give you any more security, as the existing method of using a user/password with `externalDatabase.user` and `externalDatabase.passwordSecret`.

[2020-11-24 00:09] thesuperzapper commented on #13
This should be a relatively easy fix, we could simply implement a new value called `airflow.extraSecretMounts` with the same behaviour as `airflow.extraConfigmapMounts`, but for Secrets.

[2020-11-24 08:45] MarvinSchenkel commented on #14
Thanks a bunch, @thesuperzapper !

[2020-11-24 09:26] DavidChenLondon commented on #10
Hi @thesuperzapper According to https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-1---git-sidecar-recommended , our ML repo will be cloned as "root" user, but the worker will be running as "airflow" user, thus, this would cause file permission issue if we try to write some files under our ML repo source code directory, so we have to write to other writable directory instead (e

[2020-11-24 09:59] chris-vest opened #21 "Installing requirements on Kubernetes workers"
**What is your feature request?**

Currently `installRequirements` only applies to the web and scheduler pods, however when using the Kubernetes executor you need to pre-bake the pip dependencies in order to run your DAGs.

**What alternatives have you considered?**

1. Baking in DAGs (developer experience kind of sucks)
2. Overriding the `args` on the Kubernetes executor worker pod to first run a

[2020-11-24 22:54] thesuperzapper commented on #21
I can't see a way to have default pip dependancies appear in the worker pods spawned by KubernetesExecutor, (and you wouldn't want to, the whole point is that you use a container image with exactly what you need).

Airflow lets you specify the container image with `executor_config` config of BaseOperator:
[code]

[2020-11-24 22:58] thesuperzapper commented on #10
@DavidChenLondon this is intended behaviour, you shouldn't be writing to the dag folder

There are a few reasons for this:
1. if we let you write, you would make the folder out of sync with the other workers/scheduler pods
2. the sync script will remove your files at the next sync anyway, [see the script here](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/config/configm

[2020-11-24 23:52] darsi-an opened #23 "EKS Fargate Guincorn Error"
**What is the bug?**

I am trying to deploy airflow using this helm chart on AWS EKS backed by Fargate. The problem I am facing is that airflow-scheduler gets deployed correctly, I am able to check the logs to verify as well but, airflow-web UI, Gunicorn, keeps failing/timing out and restarting the airflow-web UI. I also am not able to access my logs on airflow-web, I get `airflow-web: net/http: T

[2020-11-25 06:22] chris-vest commented on #21
This is a good point! Thanks for this.

[2020-11-25 06:22] #21 closed

[2020-11-25 10:18] DavidChenLondon commented on #10
@thesuperzapper thanks, the logic behind makes sense. We moved to all our temporary ML/ETL data into /tmp.

[2020-11-25 10:18] #10 closed

[2020-11-25 22:04] thesuperzapper opened #24 "Migrate to official `kubernetes/git-sync` container"
Currently, we use `alpine/git` our [own script](https://github.com/airflow-helm/charts/blob/airflow-7.14.3/charts/airflow/templates/config/configmap-scripts-git.yaml)  to perform the git-sync, this is problematic, as it has a different syntax to the KubernetesExecutor git configs.

We should migrate to the [kubernetes/git-sync](https://github.com/kubernetes/git-sync) container (which is hosted on

[2020-11-26 21:23] thesuperzapper commented on #23
@darsi-an can you post your full `values.yaml` file (with anything sensitive censored)?

[2020-11-26 22:47] darsi-an commented on #23
Scheduler deployment runs, airflow-web deployment fails to deploy. It does get to the airflow-web I can check logs before it terminates.

[code]

[2020-11-27 09:32] django23 opened #25 "Upgrading 7.14.0 to 7.14.3"
**What is the bug?**

When upgrading via Helm I get the following erros.

`coalesce.go:196: warning: cannot overwrite table with non table for config (map[]) coalesce.go:196: warning: cannot overwrite table with non table for config (map[]) Error: UPGRADE FAILED: template: airflow/templates/worker/worker-statefulset.yaml:126:16: executing "airflow/templates/worker/worker-statefulset.yaml" at <incl

[2020-11-29 21:32] thesuperzapper commented on #25
@django23 can you please provide your helm `values.yaml` file (with anything sensitive XXXX'd out)?

I have a feeling the issue will be something to do with `airflow.extraEnv` but it could just be you passing the wrong YAML type to a value somewhere.

[2020-11-29 22:05] thesuperzapper commented on #23
@darsi-an use the `GUNICORN_CMD_ARGS` environment variable to try those `gunicorn.conf` configs you think will work, [see here for the list of gunicorn command line configs](https://docs.gunicorn.org/en/stable/settings.html).

__NOTE:__ you can set environment variables with the `airflow.config` value.

If you figure out a set of configs are important for EKS, please report back.

[2020-11-30 16:25] vdwees opened #26 "Easily support changing the image registry"
It would be nice if airflow.image.repository supported defining the image registry separately from the image repository. This could be done either by invoking the `tpl` command when accessing the image repository from values, or by splitting them explicitly as is done by [bitnami](https://github.com/bitnami/charts/tree/master/bitnami/airflow#parameters)

[2020-11-30 16:48] MishaVeldhoen commented on #15
@thesuperzapper, yes, you are right, I had missed that option.

And about your point of more security, using the proxy I still need a user/password, but I don't have to whitelist any IP addresses or anything. And it seems to be the recommended way as per the docs linked in the issue, but I'm no expert on the topic.

[2020-11-30 16:48] #15 closed

[2020-11-30 21:19] thesuperzapper commented on #26
@vbehar Given this would be a breaking change, we are unlikely to do it unless there is a significant benefit.

Can you think of one?

[2020-11-30 21:20] thesuperzapper commented on #15
@MishaVeldhoen if you get it working with `airflow.extraContainers`, please report back your configs.

[2020-12-01 01:10] darsi-an commented on #23
I will, once I get it running. Deploying this locally works btw.

I have some questions,
- What would prevent airflow-web from failing to deploy on a basic EKS deployment? Are there any resource requirements for the airflow-web deployment?
- I am unable to expose the webserver through ingress, from what I'm told airflow-stable does not support multiple ingress annotations which is needed to expose

[2020-12-01 05:53] vbehar commented on #26
@thesuperzapper, do you mean @vdwees ? ;-)

[2020-12-01 16:35] kirancodify opened #27 "Add extra volume mounts on worker pods"
**How do we add extra volume mounts onto worker pods**

I have to add additional volumes on to the worker pods that are spun up by Kubernetes executor. Although the comments in the values file suggest we can do this with the following configs:
[code]
These are only working for the scheduler and the webserver pod and the worker pod doesn't have the extra volume mount when the task runs. I have the

[2020-12-01 20:44] epmccormick opened #28 "Workaround found for: Unable to attach or mount volumes mount.nfs Connection timed out"
**What is the bug?**

@thesuperzapper (Mathew Wicks) suggested I post the workaround that I found for this EFS problem I experienced setting up my PV/PVC for AirFlow. This is not an issue with AirFlow itself, it was a Persistent Volume issue that should work but did not. Please close this bug as the intention here is to be a source of documentation to anyone who might experience this same issue an

[2020-12-01 22:10] thesuperzapper commented on #28
@epmccormick thanks for putting this info here!

[2020-12-01 22:10] #28 closed

[2020-12-01 22:14] vdwees commented on #26
Correct me if I'm wrong, but if you prefix the access of the repository prop with the `tpl` function, it would enable injecting an alternative template without breaking the api. For example:
[code]

[2020-12-02 03:18] thesuperzapper commented on #26
@vdwees, obviously we could do numerous funky things, but my question remains, why is the needed?

[2020-12-02 09:51] django23 commented on #25
Yes, I'll send that as soon as I can. Curious how you could troubleshoot that from the above message. Would love to have done that myself.

[2020-12-02 10:02] django23 commented on #25
This would be the values.yaml

[code]

[2020-12-02 10:05] marcinmilewski1 commented on #27
Yeah, this will be very useful

[2020-12-02 10:49] django23 commented on #25
Found the issue. It was laying on the config session.
[code]

Will find another way to include sentry

[2020-12-02 10:49] #25 closed

[2020-12-02 11:40] vdwees commented on #26
Sure, here is an example. If I am writing parentchart that uses this airflow chart as a sub-chart, I might write in parentchart's `values.yaml`:
[code]
Now the chart works on mycompany's internal kubernetes cluster. Great! But mycompany wants to deploy the parent chart on AWS's us-east-1 data center. Now the image must come from some EKS on us-east-1:
[code]
And now mycompany wants to deploy in th

[2020-12-02 21:22] thesuperzapper commented on #25
@django23 the issue is that you are passing a `list` to `airflow.config` but it needs to be a `map`

[2020-12-02 21:35] thesuperzapper commented on #27
The `airflow.extraVolumeMounts` value only work for `CeleryExecutor`, if you want to mount volumes to task pods while using `KubernetesExecutor`, you will need to specify it for each operator. (This is desirable, as you probably dont want all your Pods mounting the same volumes).

__For example, with PythonOperator:__

[code]

[2020-12-02 21:40] thesuperzapper commented on #26
@vdwees seems reasonable

If you can do this without removing any existing values (or changing their behaviour), please raise a PR!

[2020-12-03 08:34] kirancodify commented on #27
I was more concerned about the plugins folder. This is not being mounted onto the worker pods which is also a PV in my case. I agree your method works for individual dags. But any suggestions on plugins ?

[2020-12-04 00:26] thesuperzapper commented on #27
@kirancodify, you could probably use the `AIRFLOW__KUBERNTES__POD_TEMPLATE_FILE` config, see here:
https://github.com/apache/airflow/blob/master/docs/apache-airflow/executor/kubernetes.rst#pod_template_file

[2020-12-04 22:23] saisujithkp opened #29 "Executor is always being set to Sequential although I change it to Kubernetes"
**What is your question?**

I'm trying to install airflow with KubernetesExecutor on my cluster, but when I go into the airflow-web container(via interactive shell) and check the contents of airflow.cfg, it is Sequential Executor.

I'm unable to understand why the executor is not being updated even though I'm making the change in the values file.

The command I use to bring up the cluster: **helm

[2020-12-07 02:50] thesuperzapper commented on #29
@saisujithkp the `airflow.cfg` file is not changed, you are just looking at the default `airflow.cfg` file.

We inject all configs using environment variables, in this case `AIRFLOW__CORE__EXECUTOR`.

[2020-12-07 02:50] #29 closed

[2020-12-07 02:50] #27 closed

[2020-12-08 00:50] saisujithkp opened #30 "Task logs from kubernetes worker not showing up in UI. Instead stdout of pod is present."
I have deployed airflow in a minikube kubernetes cluster in my local system. The dags are running perfectly well.

I have set ```AIRFLOW__KUBERNETES__DELETE_WORKER_PODS: "False"```, and the log file at **/opt/airflow/logs/Simple_DAG/task_2/2020-12-07T00:00:00+00:00/1.log**  in the worker pod has the logs but these are not visible in the airflow UI

**The logs of the task runs (in airflow UI) & wor

[2020-12-08 11:56] jacekn opened #31 "helm template generates manifests without namespace"
**What is the bug?**

When used with `helm template` like this:
[code]

The chart will generate manifests that, for the most part, don't contain `namespace:` key (`RoleBinding` is the only one I can see that will contain namespace).

This is problematic because `helm template | kubectl apply -f -` will result in a different state than `helm install` whcih can be surprising to users.

**What are yo

[2020-12-10 01:25] mdcsaenz opened #32 "External Postgres Database connects/disconnects randomly in scheduler"
**What is the bug?**
Using an external database get random disconnects in the scheduler.

[code]

A clear description of the bug.

This bug is in the scheduler. After it starts up, without me triggering, it just randomly errors out to the database every few minutes. If I do start a job it give the second error above Process DagFileProcessor####-Process: and the triggered dag just hangs until it ca

[2020-12-10 01:32] mdcsaenz commented on #15
@MishaVeldhoen Did you get this to work?

[2020-12-10 05:17] Jonalogy opened #33 "Update docs for Dag Storage option 1"
**What is the bug?**

The following two points are related to [Dag Storage Option 1](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-1---git-sidecar-recommended). As someone new to airflow, helm and kubernetes, these are suggestions to minor issues that set me back a few days.

1. The example shown to create kubernetes secret did not work for me. I had to switch `~/.ssh/*` t

[2020-12-10 09:59] MishaVeldhoen commented on #15
Hi, sorry for the late response, I did indeed get this to work using the suggestion of @thesuperzapper. Here's the relevant part of the configuration:

[code]

[2020-12-10 18:28] mdcsaenz commented on #33
You can also use https://username:key@github.com/organization/repo instead of SSH

[2020-12-10 18:30] mdcsaenz commented on #32
FWIW I am using 1.10.12 the stable docker image.

[2020-12-12 13:07] adib-next opened #34 "airflow logging to S3"
We have been encountering some issues with the logging to S3. Seems like in some cases where the dag fails the log is missing as well and we get the following error. Has anyone come across this issue? any suggestions?

![image](https://user-images.githubusercontent.com/60916630/101984683-9dc53580-3c8b-11eb-9139-d1c758f16d73.png)

[2020-12-13 21:07] thesuperzapper commented on #31
I am inclined to agree with @bacongobbler (a core maintainer of helm) in his comment: https://github.com/helm/helm/issues/5465#issuecomment-473942223. His idea is that we shouldn't create a situation where users have to use the same namespace in `helm template` and `kubectl apply`.

The current state of this chart should allow you to use: `helm template | kubectl create --namespace foo -f -`

Howe

[2020-12-13 21:12] thesuperzapper commented on #32
@mdcsaenz are you able to connect to `IPADDRESS:5432` using a CLI tool like `psql` from a pod running in the same Kubernetes cluster?

[2020-12-13 21:16] thesuperzapper opened #35 "document Google CloudSQL Proxy"
**What is your feature request?**

As discussed by @MishaVeldhoen in https://github.com/airflow-helm/charts/issues/15#issuecomment-742415118, you can use this chart with the GCP [CloudSQL Proxy](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine#proxy),  we should include some docs about this.

[2020-12-13 21:19] thesuperzapper commented on #34
@adib-next are you following the steps under the `Option 1 - S3/GCS bucket` heading in the README?

[2020-12-13 21:39] thesuperzapper commented on #33
@Jonalogy thanks for suggesting this, I have a few responses.

1. `~` should work in all user `bash`-like shell sessions, what shell environment are you using?
2. the `ssh://` prefix is allowed in all situations where it would work with `git clone`
   * NOTE: If you are trying to use GitHub, you also have to deal with GitHub's strange syntax of `ssh://git@github.com:torvalds/linux.git` (using a `:

[2020-12-14 08:48] shubhamc183 opened #36 "Error in database init and google OAuth login"
**Airflow database init command is throwing some `WARNING` logs and `users` table not created.**

I am using AWS SQS instead of Redis as a broker and have modified the helm chart accordingly. As SQS needs `pycurl` python package I took the [official Dockerfile](https://github.com/apache/airflow/blob/master/Dockerfile) and made these changes as [`pycurl` have OS-level dependency](https://github.com

[2020-12-14 09:19] adib-next commented on #34
Yes, I have added the configuration below and the logs are being written to S3. But it is not stable and we get sometimes errors like the screenshot I shared where the logs file does not exist. any idea why this is happening?

airflow:
  config:
    AIRFLOW__CORE__REMOTE_LOGGING: "True"
    AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER: "s3://<<MY-BUCKET-NAME>>/airflow/logs"
    AIRFLOW__CORE__REMOTE_LOG_

[2020-12-14 09:34] jacekn commented on #31
Thanks for looking into this!

I agree, I think you shouldn't have to provide namespace to `kubectl apply` if you use helm. To ensure that many charts use `namespace: {{.Release.Namespace}}` in templates. This method also fixes inconsistency where state resulting from `helm install --namespace X` differs from `helm template --namespace X` output.
If you look at the issue you linked many PRs that m

[2020-12-14 11:55] kostas-rs opened #37 "Worker sidecar for DAG logs"
Hi, i am very new to using airflow and im trying to figure out a way to get the DAG logs from the worker pods to stdout (currently using CeleryExecutor).

I know that it is common to use logging sidecars to extract logs from containers that do not emit logs to stdout. I am wondering if there is a way to use an extra container as a sidecar to pick up the DAG logs but only for the worker pods.

Curr

[2020-12-14 12:10] sakshi-bansal opened #38 "Errno 13 - Permission denied: '/opt/airflow/logs/scheduler"
**What is the bug?**
Getting permission denied, when enabling persistent volume for logs

**What is your Kubernetes Version?**:
v1.17.11

**What is your Helm version?**:
Helm 3

Similar issue: https://github.com/helm/charts/issues/23589

[2020-12-15 05:25] thesuperzapper commented on #37
@kostas-rs What STDOUT  are you referring to? (In the end all this stuff is happening in pods)

[2020-12-15 06:25] #33 closed

[2020-12-15 06:39] thesuperzapper commented on #34
@adib-next I think it could be that if the worker pod crashes before uploading the logs to S3, they will be lost (as they are only stored on the temp disk of the pod until they are uploaded)

[2020-12-15 10:07] kostas-rs commented on #37
@thesuperzapper im referring to these logs here: https://airflow.apache.org/docs/apache-airflow/stable/howto/write-logs.html

These logs look like cannot be send to STDOUT, so i am trying to pick them up using the sidecar container.

[2020-12-15 15:25] mdcsaenz commented on #32
@thesuperzapper yep yep, of course I can. I went to the pod and had no issue whatsover . It connects and I see like 35 connections then every now and then i see only 32 or 30 b/c some connections die

[2020-12-15 19:13] adib-next commented on #34
@thesuperzapper any recommendation on how to prevent this issue/ minimize it?

[2020-12-16 00:26] pindge opened #40 "v1.10.14 airflow requires secret_key for web instances"
Airflow helm chart should support version 1.10.14 (https://github.com/apache/airflow/releases/tag/1.10.14) requirement for configuring SECRET_KEY for web instances (https://github.com/apache/airflow/blob/a878959b2c0e0a4c4d7aa96fd01bd997f4a7de1a/airflow/configuration.py#L775)

As the `SECRET_KEY` is specific for web instances and is only problematic when it has `replica > 1`, as each web replica wi

[2020-12-16 16:03] MarkusTeufelberger opened #41 "Make TLS secret name on Ingress optional"
See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#ingresstls-v1-networking-k8s-io

"SecretName is the name of the secret used to terminate TLS traffic on port 443. **_Field is left optional_** to allow TLS routing based on SNI hostname alone. If the SNI host in a listener conflicts with the "Host" header field used by an IngressRule, the SNI host is used for termination and

[2020-12-16 16:21] shubhamc183 opened #42 "SQS Support for CELERY BROKER"
**SQS Support as CELERY BROKER**

As SQS can also be used also as a broker for Celery the helm chart should provide a way to configure that.

https://docs.celeryproject.org/en/stable/getting-started/brokers/sqs.html

We can maintain a toggle for `worker.broker` as "redis" or "sqs"

`templates/_helpers.tpl`
[code]

`templates/config/configmap-env.yaml`
[code]

with `redis.enabled: false`

[2020-12-17 05:18] Jonalogy commented on #33
@thesuperzapper
Apologies for the late reply and thanks for the update!

For point-1, I'm using zsh.

For point-2, my use case was to sync from a private Github repo to my local Minikube cluster and appending `ssh://` threw the `ssh: Could not resolve hostname...` error.

[2020-12-17 05:38] thesuperzapper commented on #33
@Jonalogy your changes (with some modifications) were implemented already in #39

[2020-12-20 20:48] thesuperzapper commented on #40
@pindge if you set `AIRFLOW__WEBSERVER__SECRET_KEY` in `airflow.config` or `airflow.extraEnv` this should be resolved.

Can you confirm this? (If it works, we could make a new value called `airflow.flaskSecretKey`, with a default value)

[2020-12-21 00:53] pindge commented on #40
I can confirm `AIRFLOW__WEBSERVER__SECRET_KEY` setting works

[2020-12-21 04:47] nguyenkien1402 opened #45 "Dag_id could not found in KubernetesExecutor mode"
**What is the bug?**
Hi everyone,
I am running stable/airflow on Azure Kubernetes with git-sync enable.
The example dags work just fine but not the dag in the Bitbucket repo.
My dag is pretty simple like this for testing purpose:

[code]
and the structure of Bitbucket repo like this:
![image](https://user-images.githubusercontent.com/9146421/102740063-ef17a800-43a2-11eb-8255-23dd0b7e5c0d.png)

I g

[2020-12-22 01:54] nguyenkien1402 opened #46 "Unable to initialize the pod"
Hi guys,
I am losing my hair chasing the issue on KubernetesExecutor with git-sync.

The issue is I the pod is not able to initialize to run. It always gives me this **Init:Error**

Here is my **values.yaml**

[code]

If I trigger the dag, here is what I get
![image](https://user-images.githubusercontent.com/9146421/102839417-930d5c00-4454-11eb-96cd-fe5a342a881e.png)

Any help would be very much a

[2020-12-23 06:15] nguyenkien1402 opened #49 "Support airflow 2.0"
Has anyone used this helm chart with airflow 2.0 yet?
I have been trying with airflow by replacing **1.10.12-python3.6** to **2.0.0-python3.6**
but get this error

`airflow command error: argument GROUP_OR_COMMAND: `airflow upgradedb` command, has been removed, please use `airflow db upgrade`, see help above.`

So friendly asking the plan to support airflow 2.0?

[2020-12-23 09:52] thesuperzapper commented on #49
@nguyenkien1402 which version of the chart are you using?

Anything after `7.15.0` should use `airflow db update`, from this commit here: https://github.com/airflow-helm/charts/commit/5dfab841a3f836e65e90e6e9a0c40b300ad7c997

[2020-12-23 16:37] adib-next opened #50 "Worker POD error WorkerLostError('Worker exited prematurely: signal 15 (SIGTERM).',)"
Has anyone come across this issue where the worker crashes with this error ?

Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.6/site-packages/celery/worker/worker.py", line 208, in start
    self.blueprint.start(self)
  File "/home/airflow/.local/lib/python3.6/site-packages/celery/bootsteps.py", line 119, in start
    step.start(parent)
  File "/home/airflow/.local/lib/

[2020-12-24 01:54] nguyenkien1402 commented on #49
@thesuperzapper  I use helm 7.15.0.
I am also aware of the new version 7.16.0. just released.
Not sure if it is from my configuration but I use the same configuration which worked yesterday and tries with v7.16.0.
I got an error to indicate the pod can not be initialized.

![image](https://user-images.githubusercontent.com/9146421/103049886-0f37a900-45e7-11eb-92c8-be72e66a3e77.png)

Is it somethin

[2020-12-24 03:03] nguyenkien1402 commented on #49
New Update.

I am trying to update from **apache/airflow:1.10.12-python3.6** to **apache.airflow:2.0.0-python3.6**
The airflow-web works just fine but not airflow-scheduler.

Here is what I got from airflow-sheduler logs
[code]

I am using Helm v7.16.0

Any suggestions on why the scheduler run failed? please !!!

[2020-12-24 05:49] rg2609 opened #51 "Multi-Attach error for volume for pods."
**What is the bug?**

I am trying to add the PVC for dags, so I added the relevant values for PVC in custom_value.yaml.
I Created PVC before installing the helm and the following is the PVC code:
[code]
**Error:**
` Multi-Attach error for volume "pvc-de5cae93-d519-4479-b24a-587083ffc642" Volume is already used by pod(s) airflow-chart-scheduler-75964ffbf4-drszp`

**What are your Helm values?**

Any

[2020-12-28 11:15] Mouftizo opened #53 "How do I retain ownership of the mounted git repo? And is it possible to only sync a specific folder from git?"
Hello maintainers. Thanks for putting together this project, I found documentation for almost every single step I was stuck at.

I am currently using the `git-sync` mount to pull my DAGs from a repository. I am using Data Build Tool ([dbt](https://www.getdbt.com/)) alongside with airflow, and wanted to use the sync'd git repo to mount both the dags and dbt models (files that need to be read/writte

[2020-12-29 18:37] gfeldman opened #54 "Patch permission on Airflow role to support new KubernetesPodOperator"
**What is your feature request?**

The `KubernetesPodOperator` in the new provider package requires permission to `patch` a pod. See [source](https://github.com/apache/airflow/blob/82fa048c128b698a28d69d92e0c01d9b3953d883/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L503). This applies to the CNCF backport provider as well and affects version that this chart supports.

A simple fi

[2020-12-29 18:42] gfeldman commented on #54
related to [support for Airflow 2.0](https://github.com/airflow-helm/charts/issues/49), but not exclusive

[2021-01-03 22:05] thesuperzapper commented on #53
@Mouftizo  Someone asked a similar question before, but it seemed they deleted the issue.

The gist of it is, we assume that everything under your `dags.path` folder is **exactly the same as what is in your git repo**, as you can [see here](https://github.com/airflow-helm/charts/blob/airflow-7.16.0/charts/airflow/templates/config/configmap-scripts-git.yaml#L70-L77) we remove any files added to the

[2021-01-03 22:09] thesuperzapper commented on #51
@rg2609 as stated [in the README](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-2a---persistentvolume) you must use a PVC which supports `accessMode = ReadWriteMany`, you are attempting to use one with `accessMode = ReadWriteOnce`.

[2021-01-03 22:09] #51 closed

[2021-01-04 06:17] Mouftizo commented on #53
@thesuperzapper Sounds good! Thanks for sharing the relevant code part = ). I ended up using the PodOperator and Dockerizing dbt altogether and having at a separate repo. Let's see how that turns out.

[2021-01-04 09:31] cventr-agilelab opened #55 "Command error with Airflow v2"
**What is the bug?**

Running airflow-helm with airflow 2 throws the following error.

[code]

I think the problem lies in here: https://github.com/airflow-helm/charts/blob/7c46d8785ecd33e30110f2a0d3cdc3faabf1a7d1/charts/airflow/templates/worker/worker-statefulset.yaml#L228

**What are your Helm values?**

[code]

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[cod

[2021-01-05 22:46] #53 closed

[2021-01-05 22:52] thesuperzapper commented on #46
@nguyenkien1402 if possible, can you post Pod logs for the Pods which are failing?

[2021-01-06 04:14] thesuperzapper commented on #3
If anyone wants to help out with this, feel free to raise a PR. Otherwise, I will get around to it eventually.

[2021-01-07 19:48] caddac commented on #49
I think the issue here is the CLI options have changed for many things (including variables, connections and upgrading the db).

[2021-01-08 04:51] nguyenkien1402 commented on #49
@caddac I guess the chart does not fully support airflow 2.0 yet, so will require modifications.
You can follow @dre1992 on his PR #47 to see more

[2021-01-08 04:58] nguyenkien1402 commented on #54
After changing the scheduler-deployment.yaml under templates/scheduler from
`airflow variables -i /home/airflow/variables-pools/variables.json` to
`airflow variables -i /home/airflow/variables-pools/variables.json || airflow variables import /home/airflow/variables-pools/variables.json`
like a suggestion from #47 , the airflow web server and scheduler are all running.
But the error occurs I trigge

[2021-01-08 05:08] nguyenkien1402 commented on #46
@thesuperzapper problem solved. I could not remember how did I solve this issue but it works after I change some value in the value.yaml

[2021-01-12 00:23] #46 closed

[2021-01-12 04:29] nguyenkien1402 opened #56 "Task run faield on Kubernetes Executor after update to airflow 2.0"
I was trying to upgrade airflow 1.10.12 to airflow 2.0.0 and I have encountered a lot of issues.
After taking a recommendation from @dr1992 and @Swalloow. I was able to get airflow 2.0.0 up and running.

Now come to another issue when I trigger the example dag: **example_kubeenetes_executor_config**.
I check the log and here is what I get

[code]

I check the DB and I confirm the **log** table and

[2021-01-13 10:27] sakaia opened #57 "Is there any documented for previous set up for Airflow deployment?"
**What is your question?**

Is there any documentation for airflow deploytment by helm?
Since I try to deploy airflow by helm, following error occured.

-  data-airflow-postgresql-0 ( for K8s PVC)
-  git-clone-secret (for K8s Secret)

Strangely following PVC works fine.

- airflow-logs

[code]

Pod status is follows.

[code]

[2021-01-14 11:49] nguyenkien1402 opened #58 "Upgrade to Airflow 2.0"
Has anyone had successfully upgrade to Airflow 2.0 yet?
If yes, what you need to alter from the chart?

I have been trying to alter the files under the template folder and values.yaml but the best I got so far was to be able to see WebServer and Scheduler pods are running but not the DAG.

I trigger the DAG and quickly got the error telling me **Failed to log action with (sqlite3.OperationalError)

[2021-01-14 14:45] t0il3ts0ap opened #59 "Is there support for hybrid CeleryKubernetes Executor ?"
**What is your question?**
Is there support for hybrid [CeleryKubernetes Executor ](https://airflow.apache.org/docs/apache-airflow/stable/executor/celery_kubernetes.html) ?

According to comments in helm chart:

[code]

[2021-01-15 02:22] thesuperzapper commented on #58
I will be getting the chart ready for 2.0 soon as I describe here: https://github.com/airflow-helm/charts/pull/52#issuecomment-760169812

[2021-01-15 04:12] nguyenkien1402 commented on #58
Hi @thesuperzapper , that is very good news.
I will be the first one to try once the chart ready for 2.0
Thank you 🥇

[2021-01-15 07:09] t0il3ts0ap commented on #59
After checking airflow code/documentation it seems, CeleryKubernetes Executor is available from airflow 2.0

[2021-01-20 14:18] stijndehaes commented on #58
@thesuperzapper If you can use my help just ping me. I am also thinking shouldn't we support the changed k8s executor config supported in airflow 1.10.14 for example first before we fully use airflow 2.0. That way users can first upgrade to that version and make sure that all the other stuff is supported before pulling the trigger on 2.0

[2021-01-21 13:41] povode opened #60 "[GitSync and GitClone] Use shallow clone and single branch"
**What is your feature request?**

For the Git Sync and Git Clone it would be helpful to use shallow clone (only clone the blobs and not the entire history) this goes with the single branch option.
https://git-scm.com/docs/shallow
https://git-scm.com/docs/git-clone#Documentation/git-clone.txt---depthltdepthgt

**What alternatives have you considered?**
Moving DAGs out of the monorepo into a separa

[2021-01-22 00:47] darsi-an commented on #23
Does the heml chart support include cluster role bindings?

[2021-01-22 00:55] darsi-an opened #62 "Airflow 2.0 support for Cloud Providers"
How far away is support for Airflow 2.0?

**What is your feature request?**
- GKE
- AWS
- Azure

A clear description of what you want.
Airflow 2.0 support for cloud providers

**What alternatives have you considered?**
Managed Services...

[2021-01-22 01:03] darsi-an commented on #23
Cluster role binding is missing for 1.10.12, I'll open a separate discussion and PR support Airflow 2.0. I am closing this issue for now.

[2021-01-22 01:03] #23 closed

[2021-01-22 01:05] darsi-an opened #63 "Communication Channels"
What are the current communication channels between maintainers and users?

[2021-01-22 07:18] povode commented on #60
Hello @gsemet  and @thesuperzapper thank you for your effort, this helm chart has been very useful.

I have a simple change that would be very helpful in my use case. We have a massive monorepo and syncing all the history doesn't make much sense.

[2021-01-22 17:35] #63 closed

[2021-01-28 23:45] darsi-an commented on #62
I've managed to get fargate and regular node deployments working for 2.0. I don't mind pushing a PR of an example deployment on AWS EKS. Note that airflow configurations have been decoupled further and renamed, old configs will be deprecated.

[2021-01-29 10:24] sakaia opened #64 "Question about `Only works with the Celery or Kubernetes executors, sorry`"
**What is the bug?**
I try to execute [tutorial.py](https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html) from web ui but failed with following error.

[code]

From digging this error, it seems airflow 1.10.12 problem.

- [KubernetesExecutor single task run error: Only works with the Celery or Kubernetes executors, sorry #12341](https://github.com/apache/airflow/issues/12341)

If I

[2021-01-29 22:13] #9 closed

[2021-01-29 22:13] #11 closed

[2021-01-30 01:13] #16 closed

[2021-01-30 01:13] #13 closed

[2021-02-01 09:57] illyaSlobozhanin commented on #58
Up.

[2021-02-02 11:41] vavasilev opened #65 "Add option to specify private pip repository"
We have a private pip repository, bu it is not possible to configure extraPipPackages from it.

[2021-02-03 10:25] ectogon commented on #45
I hit this issue. The problem seems to be that the pods spawned by the executor do not have have a volume mounted for dags

[code]

[2021-02-03 11:48] yoavo-datricks commented on #64
I would start by removing the quotes around KubernetesExecutor in your values file.
Just executor: KubernetesExecutor

[2021-02-04 00:52] DRavikanth opened #66 "Airflow Scheduler fails to start with the latest charts"
**What is your question?**
Airflow Version: 2.0.0-python-3.6
MySQL - 5.7.25

I am able to bring up WebUI, Flower, Redis using the given charts. However, running into issues with scheduler. Any help in understanding the problem will be of great help. Below is the exception:

*** upgrading airflow db...
/home/airflow/.local/lib/python3.6/site-packages/airflow/configuration.py:320 DeprecationWarning:

[2021-02-04 02:38] agkee commented on #66
Customizing the template for `scheduler-deployment.yaml` worked for me as the commands changed for 2.0.0.
The following two commands
[code]
Should be changed to
[code]

[2021-02-04 04:38] DRavikanth commented on #66
@agkee, Thanks for the pointer. This did the trick and the scheduler is up now.

[2021-02-04 05:47] sakaia commented on #64
This issue is solved by upgrading package.

[2021-02-04 05:47] #64 closed

[2021-02-04 18:02] 646826 commented on #45
Hello.
I try to run Airflow 2.0.0 with KubernetesExecutor.
I get the same error "dag_id could not be found: parallel_dag"
To launch I use a chart from a stable - https://github.com/apache/airflow/tree/master/chart

All I change is:
--set dags.gitSync.enabled=true
--set dags.gitSync.repo=${dags_git_url}
--set dags.gitSync.branch=${branch}
--set dags.gitSync.subPath=dags

Please tell me how to solve

[2021-02-05 00:13] #62 closed

[2021-02-05 00:25] DRavikanth commented on #66
Anyone got ldap authentication successfully worked?

I added the below in my values.

web:
  extraPipPackages:
    - "apache-airflow[ldap]"
    - "pyldap"
However running into this problem when spinning up webserver:

Requirement already satisfied: apache-airflow[ldap] in /home/airflow/.local/lib/python3.6/site-packages (2.0.0)
Collecting pyldap
  Downloading pyldap-3.0.0.post1-py3-none-any.whl (3

[2021-02-05 06:34] DRavikanth commented on #66
I am able to resolve this by installing the following in the image for LDAP authentication.

apt-get install build-essential python3-dev python2.7-dev libldap2-dev libsasl2-dev slapd ldap-utils tox lcov valgrind

[2021-02-05 06:34] #66 closed

[2021-02-05 06:38] DRavikanth opened #67 "Need help in configuring the DAG's for the Airflow setup"
**What is your question?**
Newbie to K8s. We installed Airflow 2.0.0-python3.6. Everything seems to be working fine. I need help with adding DAG's to the deployment. Any pointers would be of great help. I have very little knowledge to understand this https://github.com/airflow-helm/charts/tree/main/charts/airflow#docs-other---dag-storage.

Any help is greatly appreciated.

[2021-02-05 22:06] StephanZaat commented on #38
I have the same problem. I have created the workaround by attaching a PVC to /airflow_logs on the worker pod.
This allow the tasks to proceed. However, the first time the task runs, it only creates the log file, but then exits with a Permission denied.

[2021-02-06 00:33] #67 closed

[2021-02-06 09:20] assofour commented on #56
I have same issue as I used docker-compose to run airflow 2.0 stack.

`cia_airflow_webserver_1 | [2021-02-06 17:11:19,506] {db.py:678} INFO - Creating tables
cia_airflow_webserver_1 | INFO  [alembic.runtime.migration] Context impl MySQLImpl.
cia_airflow_webserver_1 | INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
cia_airflow_scheduler_1 | [2021-02-06 17:11:20,824] {cli_action

[2021-02-07 19:25] jbgerth commented on #65
Hey @vavasilev,
I had the same issue. The functionality is already there. Try adding the `PIP_INDEX_URL` or `PIP_EXTRA_INDEX_URL` to your custom helm values under `airflow.config`. That way it is available as a environment variable in the containers and Python will check there as well.
Alternatively, you could extend the Dockerfile and add the env var there.

Check the pip docs for more informatio

[2021-02-07 23:17] #26 closed

[2021-02-08 07:12] vavasilev commented on #65
Thanks a lot!

[2021-02-08 07:29] thesuperzapper commented on #38
@StephanZaat can you describe your environment (how are you running K8S?) and provide your `values.yaml`?

I really want to understand what's happening here.

[2021-02-08 14:24] StephanZaat commented on #38
Thanks for the quick response. I'm running Airflow with the Bitnami Helm chart on Azure K8S.
This is my config for my worker:

[code]
I'm using Azure File for the PVC:
[code]

[2021-02-08 15:49] symeneses opened #69 "Git syn ref doesn't work for tags and sha1"
Hi all,
I have been using this chart for a while, so thanks for the good work.
 Seeing the notes in the [values.yaml](
https://github.com/airflow-helm/charts/blob/2885b3da4f4211b94e4a435e1269b6a5914921f2/charts/airflow/values.yaml#L960), it's possible to configure `ref` with tags and commits. However, testing it's only working with branches.

With sha1:
- The clone doesn't work as `git clone $REPO

[2021-02-09 18:03] StephanZaat commented on #38
It seems this is a known bug:
[Github](https://github.com/apache/airflow/issues/12669)

[2021-02-10 22:50] thesuperzapper commented on #58
For those watching, I am working on this, it's just taking a while to do properly between my many other responsibilities.

Hopefully I will get it done this week.

[2021-02-10 23:02] dmerrick commented on #58
We're rooting for you!

[2021-02-11 09:23] jherrmannNetfonds commented on #58
If you need a "beta tester", please let me know.

[2021-02-11 22:35] thesuperzapper commented on #20
This is still an issue, reopening.

[2021-02-11 22:36] thesuperzapper commented on #35
This is still important, anyone want to contribute it?

[2021-02-11 22:37] thesuperzapper commented on #19
This is very important, reopening it.

[2021-02-11 22:37] thesuperzapper commented on #8
This is important, reopening.

[2021-02-11 22:37] thesuperzapper commented on #24
This is important, reopening.

[2021-02-11 22:46] thesuperzapper commented on #45
@nguyenkien1402 Why are you setting `AIRFLOW__KUBERNETES__DAGS_VOLUME_SUBPATH` to `/repo` when you said your dags are under `/dags` (you should just leave it unset)?

Also, please don't set `AIRFLOW__CORE__SQL_ALCHEMY_CONN` as the chart does this automatically from your `externalDatabase.*` values.

[2021-02-11 22:49] thesuperzapper commented on #56
Please view https://github.com/airflow-helm/charts/issues/58 for updates on Airflow 2.0

[2021-02-11 22:49] #56 closed

[2021-02-11 22:51] #65 closed

[2021-02-11 22:55] thesuperzapper commented on #69
@symeneses it seems you are correct, (that docstring for `ref` is probably just from an old version of the chart).

I think we should support this feature, if you want you can raise a PR which fixes the git-sync script, you can find the code here:
https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/config/configmap-scripts-git.yaml

[2021-02-11 22:58] thesuperzapper commented on #63
The main place is issues on this repo, but you probably should tag me so I get a notification.

However, this is a community supported chart.

[2021-02-11 22:58] thesuperzapper commented on #59
We should discuss this more in the Airflow 2.0 thread: https://github.com/airflow-helm/charts/issues/58

[2021-02-11 23:01] thesuperzapper commented on #57
This is an issue with whatever StorageClass is default in your cluster, it seems to be unable to provision the required PVC.

There is a discussion related to this kind of error on StackOverflow: https://stackoverflow.com/questions/52668938/pod-has-unbound-persistentvolumeclaims

[2021-02-11 23:01] #57 closed

[2021-02-11 23:04] thesuperzapper commented on #23
@darsi-an it seems like some of the questions you raised should be put into their own issues.

For example, your comment about the multiple ingress annotations and fargate.

[2021-02-11 23:07] thesuperzapper commented on #55
Please see https://github.com/airflow-helm/charts/issues/58 to track progress on the Airflow 2.0 support.

[2021-02-11 23:07] #55 closed

[2021-02-11 23:08] thesuperzapper commented on #49
Please see https://github.com/airflow-helm/charts/issues/58 to view progress on Airflow 2.0 support.

[2021-02-11 23:08] #49 closed

[2021-02-11 23:11] thesuperzapper commented on #38
@StephanZaat this is not the repo for the Bitnami Helm Chart, please raise the issue on their repo: https://github.com/bitnami/charts/tree/master/bitnami/airflow

[2021-02-11 23:11] #38 closed

[2021-02-11 23:13] thesuperzapper commented on #54
Please view https://github.com/airflow-helm/charts/issues/58 to track progress on Airflow 2.0 support.

[2021-02-11 23:13] #54 closed

[2021-02-12 03:08] darsi-an opened #70 "Airflow 2.0 support for Kubernetes Executor pod_template_file"
**What is your feature request?**

Pod template files need to be supported in airflow 2.0 for Kubernetes Executor. This definitely needs to be discussed further to get a good idea on configs, and how we should go about supporting this feature.

[2021-02-12 10:47] jacekn commented on #31
This is still the case. I'd be happy to submit PR if the project is OK with using the `namespace: {{.Release.Namespace}}` workaround

[2021-02-12 23:32] johngtam commented on #34
@adib-next, I might be encountering the same problem you are these days -- I'm speculating that, if you do this:

`AIRFLOW__KUBERNETES__DELETE_WORKER_PODS: "False"`

You'll end up seeing your pod with an `Init:Error` status. The pod isn't even starting. If you look into your pod, if you followed the instructions [here](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts

[2021-02-13 00:29] johngtam commented on #34
Ended up getting it to work. For Kubernetes 1.10.14 and lower, setting this for `airflow.config`:

```AIRFLOW__KUBERNETES__FS_GROUP: "65534"```

Results in the fs_group being set for the containers in the worker pods. Not sure if that's a viable solution for you, but it unblocked me in actually getting the pods to run.

Documentation here for 1.10.14: https://airflow.apache.org/docs/apache-airflow

[2021-02-14 00:15] thesuperzapper commented on #31
@jacekn since the current state isn't really breaking anything, and the author of helm doesn't intend namespaces to be hard coded, I don't see a reason to change it.

Unless there is something which is broken as a result?

[2021-02-14 12:59] thesuperzapper commented on #70
I am working on this in the 8.0.0 release of the chart (which will be the first to officially support Airflow 2.0)

[2021-02-14 17:05] MarkusTeufelberger commented on #41
Commenting to please the robot overlords...

[2021-02-14 17:19] migueltp opened #71 "[stable/airflow] KubernetesExecutor - Task pods entrypoint extraPipPackages/installRequirements"
**Describe the bug**

We are using KubernetesExecutor and tried to install additional pip packages in task pods, by using either `dags.installRequirements` and/or `airflow.extraPipPackages`, without success.

**Version of Helm and Kubernetes:**

Helm: 3.4.2
Kubernetes: 1.17.14

**Which chart:**

stable/airflow:7.14.0

**What happened:**

We added dependencies to `airflow.extraPipPackages` and inst

[2021-02-15 01:28] #30 closed

[2021-02-15 10:23] rg2609 opened #72 "using more than 1 web replica causes "CSRF session token is missing""
I am trying to run airflow web with replica count 2 the helm chart gets installed and the login UI is shown up, but when I entered the login detail m getting an error `The CSRF session token is missing`. The Helm chart is working with web replica count 1. My main intention was to check the scalability of the web

**What are your Helm values?**

web.replicas=2

**following UI I am getting when I hi

[2021-02-16 09:54] jacekn commented on #31
The problem does not affect everyone but the chart is currently broken for some use cases.

If somebody runs `helm template --namespace mynamespace | kubectl apply` they end up with broken airflow. That's because RoleBinding will refer to the ServiceAccount in the `mynamespace` but the ServiceAccount and other resources will actually be deployed to the default namespace specified in the kubeconfig

[2021-02-16 13:15] rg2609 opened #73 "How to use the HPA of worker"
**How to use the **HPA** of the worker, What is the config. to test it with simple example?**

I am trying to test the use of the HPA of the worker, to if the load is giving on the worker then how is a response with the pod. I set **2 replicas** of the worker `workers.replicas: 2` and enabled **autoscaling**
[code]

**And created a simple dag file**
[code]
And I am triggering this dag from Api cur

[2021-02-16 18:36] scheung38 opened #74 "[Question] Cannot initialize pod from values.yaml"
kubectl logs airflow-dev-scheduler-55cfb858cd-gv8mb -n airflow -c airflow-scheduler
Error from server (BadRequest): container "airflow-scheduler" in pod "airflow-dev-scheduler-55cfb858cd-gv8mb" is waiting to start: PodInitializing

[code]

From log, what setting was not configured? This is for same for web, worker and scheduler all the same PodInitializing error

[2021-02-17 00:01] thesuperzapper commented on #58
Small update for those watching, the 8.0.0 version of the chart is coming along (in my local development), probably a few days away now.

Trust me, the wait will be worth it!

[2021-02-17 01:02] #70 closed

[2021-02-17 18:28] jdotjdot commented on #58
@thesuperzapper is there a publicly available branch of 8.0.0 we could use to get started, even if it's not formally released yet? I would absolutely get started with it now + test it.  The only thing stopping me from deploying Airflow 2.0 on Kubernetes right now is this&mdash;I would have written my own chart, but seems silly to do so when you say you're just days away!

[2021-02-17 18:37] dmerrick commented on #58
What he is saying is his branch is almost ready for testing, not that 8.0.0 is ready for release

[2021-02-19 15:03] tboutaour opened #75 "Airflow 2.0.1 scheduler deployment fails."
Using Airflow: 2.0.1 scheduler deployment seems to be unsuccessful.

This is due because Airflow 2.0.1 variable command goes
from `airflow variables -i variables.json` to `airflow variables import variables.json`

[code]

[code]

[2021-02-20 11:14] #37 closed

[2021-02-21 16:52] #42 closed

[2021-02-22 11:40] thesuperzapper commented on #75
The first version of the chart to support Airflow 2.0 will be `8.0.0`, please follow https://github.com/airflow-helm/charts/issues/58 for updates.

[2021-02-22 11:40] #75 closed

[2021-02-25 02:00] vignesh-amido opened #77 "airflow.extraEnv not being setup as environment variable in worker pods under KubernetesExecutor"
**What is your question?**

I'm trying to setup some environment variables using extraEnv which I expect should get propagated to Worker pod. That doesn't seems to be the case, I can see all the values are properly set at scheduler pod, but when it spawns a worker values set under extraEnv doesn't seem to be there, is there anything I've done wrongly here? or is this a bug?

Airflow: 1.10.14
Kuber

[2021-02-26 02:24] #40 closed

[2021-02-26 05:37] xdoomdog commented on #58
Is there a way to prevent execution of this during a helm installation:
        airflow variables -i /home/airflow/variables-pools/variables.json

this file doesn't even exists as far as I can tell.  I could then try, if it makes sense, to run this command:
       airflow variables import /home/airflow/variables-pools/variables.json
in an entrypoint.sh script, and hopefully the command dies gracef

[2021-02-26 14:47] aramkarapetian commented on #58
@thesuperzapper Could you tell where the branch is? I would like to try id out.

[2021-02-26 21:16] xdoomdog commented on #58
I wish I knew, I'm just using the formal release one. I don't think they've made that public yet, I could be wrong.

[2021-03-01 11:44] kervel opened #79 "[rfc] configmap/crd based DAGs"
**What is your feature request?**

Hello, when deploying dags from different sources it would be nice to leave a stable airflow installation untouched, and by having every source have its own gitrepo. In addition to this, it would be nice to use tools like skaffold during development to hot-deploy or even live edit code (without committing every time you make a change).

Therefore, another way of

[2021-03-02 15:53] KIRY4 opened #80 "How to provide several secrets to secretsMap?"
**What is your question?**

Hello. How to provide several secrets to secretsMap to mount into web pod?

If I provide one (secretsMap: "secret1"). Everything works fine. But how to provide 2nd one? I tried several options and usually get something like that..

Error: UPGRADE FAILED: YAML parse error on airflow/templates/webserver/webserver-deployment.yaml: error converting YAML to JSON: yaml: line

[2021-03-03 14:53] vs4vijay commented on #58
Hi, Might be a silly question, but why can't we use the existing helm chart for previous version? If we just update the docker image of airflow and point helm chart to updated airflow image, wouldn't that work?   Are there any other changes required for Airflow 2?

[2021-03-03 16:14] yoavo-datricks commented on #58
They changed some CLI parameters causing the start script to fail (among other changes)

[2021-03-03 16:47] bensta commented on #58
@Yinabled the chart is defaulting to version 1.10.12, not version 2.0.1. You can check the default values file to double check that.
If you see that your helm tries to install version 2.0.1,  double check your values file.

[2021-03-03 19:31] vprus commented on #58
I see that Airflow git repository now also has a Helm chart, at https://github.com/apache/airflow/tree/master/chart - and looks different from this one, and possibly a copy of Astronomer's helm chart. I am a bit at a loss which one is to use.

[2021-03-03 20:11] bensta commented on #58
@vprus the helm chart you see in the airflow repo is not officially released yet. So I would expect it to change a bit until it is.
You can follow this issue for updates https://github.com/apache/airflow/issues/10752

[2021-03-04 05:58] thesuperzapper commented on #58
Im really sorry for taking so long with this, but I am still working on it, hopefully in the next few days it will be finished.

NOTE: I already have it working with 2.0, but I want to actually support all the new features (and remove 1.10 specific features of the chart)

[2021-03-05 09:15] sergialonsaco commented on #77
Hey, found the same issue here with airflow 1.10.14 on Kubernetes running on EKS, any news or updates on this? Thanks!

[2021-03-05 10:24] omer2500 commented on #45
@ectogon I also have the same issue, how did you solve it? what do I need to configure?

[2021-03-05 13:40] cocampbe opened #81 "Permission denied: '/opt/airflow/logs/scheduler'"
**What is the bug?**

Using a PV to store logs. The storage is provided by longhorn. Since the PV is RWX longhorn presents the volume as an NFS mount using NFSv4. I am trying the volume mount hack, but it's failing. I think it is because NFSv4 usually defaults to everything being owned by nobody:nobody. I don't believe this is a code issue, just an implementation issue. I am hoping maybe someone h

[2021-03-05 14:34] cocampbe commented on #81
I figured it out. I was relying to much on the example to be valid. The airflow user uid/group is 50000. This ulitimately resolved the issue:

[code]

[2021-03-05 14:34] #81 closed

[2021-03-05 17:36] dmerrick commented on #58
Ty for your work, @thesuperzapper !

[2021-03-05 21:54] cocampbe opened #82 "Any ldap examples?"
**What is your question?**

I am trying to setup ldap authentication in airflow. I have the following set in the helm chart. I should also add that I am trying to authenticate again AD. It's not listed below, but I have the ca cert in a config map that is also mounted. I verified that the airflow user can read the file.

[code]

The pods come up, and I am presented with a login. But I am unable to

[2021-03-05 22:24] cocampbe commented on #82
OK. Got a little further. I ditched the following:

[code]

Now I get a beautiful ASCII mushroom cloud and the below trace. I am starting to wonder if the bind user password is causing an issue, it's complex with all kinds of special characters.

[code]

[2021-03-06 20:22] vignesh-amido commented on #77
I've worked around this issue through AIRFLOW__ variable by setting as explained in [airflow documentation](http://airflow.apache.org/docs/apache-airflow/1.10.14/configurations-ref.html#kubernetes-secrets),

![image](https://user-images.githubusercontent.com/75614043/110219851-87f59400-7eb9-11eb-86a5-f02fef757cb6.png)

But as per helm documentation, this looks like a bug. `extraenv` is not setting

[2021-03-06 21:00] cocampbe commented on #82
I figured out the issue with ldap3 package. I inadvertently had a new line character in the base64 encoded password. I forgot the -n on the echo command. So glad this is working. If anything I hope this post helps someone else trying to use AD as the backend provider via the ldap3 package.

[2021-03-06 21:12] #82 closed

[2021-03-08 22:29] denysivanov commented on #58
@thesuperzapper thanks a lot for your work!

[2021-03-08 23:15] gmiretti commented on #58
@thesuperzapper did you push your working branch so we can start to test it before the super-duper complete release?
The current helm chart working with 2.0 that you mentioned would already help us a lot to accelerate our adoption of airflow 2.
Thx for your work!

[2021-03-09 02:10] ectogon commented on #45
In my case I had mistakenly set DAGS_IN_IMAGE even though I was using a mounted dag volume. The scheduler and web server were using the the volume but the KubernetesExecutor workers were trying to get dags baked into the image.

[2021-03-09 15:00] shanky221341 opened #86 "Giving airflow:airflow permission to pvc folder"
I have mounted EFS PVC at /jsons folder using extra volume config in values.yaml file. I want to write some something here which will be used by /opt/airflow/dags folder.

It gets mounted correctly, and dags can read files from here, but when tries to write something it gets "permission denied error". Since default permission is root:root when pvc mount is done.

I know if we change fsGroup this m

[2021-03-09 17:53] jdotjdot commented on #58
@thesuperzapper just want to reiterate that we all are happy to beta-test the chart even if it's in draft form, submit PRs to get it the rest of the way, etc.  We just need you to be willing to release the code you currently have, even if it's unfinished!  If you push the code to a feature branch (even if it literally doesn't work yet) I'd gladly do work on it to help it get over the finish line!

[2021-03-09 18:17] adamd01 commented on #86
@shanky221341  I had this exact same issue today, this is the way I managed to get it working:

For web and scheduler pods this worked in values.yaml:

[code]

For the worker though it was different because I'm using the k8s executor. I managed to set that using environment variable config - it seems although only some are documented actually anything in airflow.cfg can be set from environment var

[2021-03-09 19:01] shanky221341 commented on #86
@adamd01 Thanks for the detailed answer. I also noticed that fsgroup option is available in values.yaml file and I did.

securityContext:
    runAsUser: 50000
    runAsGroup: 50000
    fsGroup: 50000

for web pod only to check. There were no errors anywhere but for some reason it did not work for me.

But following worked just now inside scheduler section of values.yaml:

  extraInitContainers:

[2021-03-10 05:14] #86 closed

[2021-03-10 05:14] shanky221341 commented on #86
Solved

[2021-03-10 08:23] kapopken commented on #58
Any updates on this? I would like to beta test it or help in anyway as well.

[2021-03-10 22:35] thesuperzapper commented on #58
I will post a PR tonight, but it will need a few days to get merged.

[2021-03-12 06:31] HariAA opened #87 "Airflow 2.0.0 Azure AD Integration Not working"
Hi All

We are setting up airflow 2.0.0 on Azure Kubernetes Service and would like to configure azure ad integration for the webserver.
I have done the changes to the webserver config like below. I am able to get the login option when navigating to webserver but i receive an invalid login error after signing in. Looking into the detailed logging from flask app builder, it is throwing an error sayi

[2021-03-12 07:53] kapopken commented on #87
@HariAA  try this

"remote_app": {
            "client_id": "<Client_ID>",
            "client_secret":  "<Client_Secret>",
            "api_base_url": "https://login.microsoftonline.com/<TenantID>/oauth2",
            "client_kwargs": {
                "scope": "User.read name preferred_username email profile upn",
                "resource": "<Client_ID>",
            },
            "request_tok

[2021-03-12 08:59] kapopken commented on #87
For everyone else looking to solve for this here are the steps.

1. Create an app registration in AzureAD (Dont forget to set the reply url to your hosted airflow)
2. Create a config map like this
[code]
3. Install the addition piplibs
[code]
4. Mount the file
[code]
5. Deploy

[2021-03-12 10:17] HariAA commented on #87
@kapopken Thanks for sharing the steps. It didn't work with your config as well. BUt I figured it out. Turns out I had to enable the optional claim feature to add upn post which I was able to authenticate.

App Registration-->Token Registration: Add Optional Claim--> Select type as ID Token and field upn and set optional setting "externally authenticated" to Yes. that did the trick.

But thanks fo

[2021-03-12 10:17] #87 closed

[2021-03-12 16:44] mdcsaenz commented on #50
I have the same issue, anyone else?

[2021-03-15 15:28] mikys-next-insurance opened #88 "execution_timeout not killing task on worker"
**What is the bug?**

Although the defined task timeout is triggered (but later than defined), the task on the worker isn't killed.

**What are your Helm values?**

workers:
  resources:
    requests:
      memory: "6Gi"
  replicas: 2
  podDisruptionBudget:
    enabled: true
    minAvailable: 2
  autoscaling:
    enabled: true
    maxReplicas: 16
    metrics:
    - type: Resource
      resource:

[2021-03-15 19:06] rolanddb commented on #58
Hi @thesuperzapper, just to repeat the question asked by many: is it possible to push your branch (with the understanding that it is Work In Progress) to a public repo? It seems that people (including me) are eager to dive in, beta test and help finish your work.

[2021-03-15 19:48] joshi95 commented on #58
Very correct !!

Yes please

[2021-03-16 10:49] thesuperzapper commented on #58
I know everyone is waiting eagerly, and trust me I am working on it, I want it done too!

But I don't want to encourage people to use a beta version, especially since there are still some significant changes I have yet to make (and that's just a bad experience for users).

Version 8.0.0 will be a very significant upgrade and therefore would not be very useful without the upgrade guide (which I am

[2021-03-17 10:16] aaron-trout commented on #3
I would go further and consider that installing packages at runtime is inherently flawed and can lead to instability and potentially security issues. Our airflow instance all of a sudden stopped working recently because some pip packages are no longer installable. Fixed by upgrading our airflow to the latest 1.x release, but we weren't that far behind (1.10.12 I think).

Saying that I guess it is

[2021-03-17 20:53] vinayak-mehta commented on #45
@omer2500 Were you able to solve it with the git-sync and k8s executor options?

[2021-03-17 20:59] omer2500 commented on #45
@vinayak-mehta nope  i eventually went on the method of coping the dags into a custom docker image(even if its not the recommended one, it fits for my needs)

and the worker will use the same image.

[2021-03-17 21:28] vinayak-mehta commented on #45
So it just worked for me after setting these three additional variables in `airflow.config` (in addition to `AIRFLOW__KUBERNETES__GIT_REPO`, `AIRFLOW__KUBERNETES__GIT_BRANCH`, `AIRFLOW__KUBERNETES__GIT_DAGS_FOLDER_MOUNT_POINT`):

[code]

Based on @marclamberti's answer here: https://github.com/helm/charts/issues/22637#issuecomment-637871104

[2021-03-17 21:35] omer2500 commented on #45
Cool thanks for the info i will take a look.

[2021-03-17 21:36] ectogon commented on #45
I'm also using this
[code]

[2021-03-17 21:45] fengsi commented on #58
A key feature I've been waiting for is the ability to have the git sync sidecar only running with the scheduler.  We have an EFS config for DAGs such that all pods share the same DAGs from a single EFS share, and only one pod is needed to sync the DAG repo.
In the past we had our own chart based on this one with modified templates for above requirement (as the sidecar config in this chart is for a

[2021-03-18 01:43] karakanb commented on #72
I am having the same issue, the problem is gone once there is only a single replica for the web.

[2021-03-18 08:15] thesuperzapper commented on #58
@fengsi the chart (even in its current form) allows you to store DAGs on a PVC `dags.persistence.enabled` however the git-sync sidecar doesn't work with this enabled as they would all fight.

I think an easy solution is for me to add a new "git-sync" Deployment (with a single replica), which is only deployed if the user enables `dags.persistence.enabled` and `dags.gitSync.enabled`.

[2021-03-18 20:50] fengsi commented on #58
Right – ideally if all requirements could be fulfilled by just tweaking the `values.yaml` file then that'll be awesome.  Another example is the `envFrom.secretRef` config that is totally missing in this chart, leaving us no choice but making our own chart to add that feature.

[2021-03-19 00:49] olivierpilotte commented on #58
@thesuperzapper

All we want is to have some base to work with. We've actually considered creating our own chart, but the "it's gonna be done this week" as been going for over a month... so we are waiting.

We are totally OK with the chart not being 100% finished. Please push what you have done so far so we can at least move forward?

Thanks!

[2021-03-19 05:23] patsevanton opened #89 "Please update airflow version to 1.10.15"
Hello! Thanks for helm airflow!
Please update airflow version to 1.10.15

[2021-03-19 07:33] patsevanton opened #90 "1.10.15-python3.6: FATAL: password authentication failed for user "postgres""
Hello! Thanks for helm for airflow.
I try install airflow 1.10.15 by helm

[code]

**What is the bug?**
[code]

**What is your Kubernetes Version?**:
[code]

**What is your Helm version?**:
[code]

[2021-03-19 09:53] renanleme commented on #50
I have this issue also and I couldn't find the reason, yet!

[2021-03-20 01:18] chengsh7 opened #91 "Dag show "running" but task not started with "no_status""
I have installed the airflow with helm (using the default values.yaml).

All the pods are running as shown below:
![image](https://user-images.githubusercontent.com/5079359/111854721-aa78ba00-895b-11eb-8087-403a8eb7bef1.png)

Then, I triggered one of the sample dag "example_python_operator" from the airflow web. The dag shows "running", but the tasks are stuck there with "no_status"
![image](https

[2021-03-21 22:27] #91 closed

[2021-03-22 08:27] thesuperzapper commented on #89
The chart will soon be moving to the 2.0 branch, see https://github.com/airflow-helm/charts/issues/58

[2021-03-22 08:27] #89 closed

[2021-03-22 16:28] renanleme commented on #50
@adib-next @mdcsaenz Did you guys updated the Airflow image version without updating the helm chart? 🤔

[2021-03-23 10:02] povode commented on #60
completely forgot about this one, sorry for the delay I'll try to finish it this week.

[2021-03-23 16:56] thesuperzapper commented on #58
I know this is getting ridiculous at this point, but I have been slammed by Kubeflow work (@DavidSpek, lol).

I am VERY CLOSE to getting this merged, just some minor stuff to finish.

So I expect 8.0.0 to be released in the next 48 hours.

<3

[2021-03-23 18:16] DavidSpek commented on #58
I'd like to apologize to everybody here that's been waiting on the Airflow update for so long. The past week I've been keeping @thesuperzapper up until 6 a.m. fixing the new Dockerfiles for Kubeflow. Any moment I wasn't keeping him busy he was working on this Helm chart and from what he's told me it sounds like an amazing update. From what I've been able to see the chart is nearly finished :)

[2021-03-23 19:02] Nijanthan-Hadoop commented on #58
I'm using MacBook Air M1, getting below issues while using Airflow 2.0 latest docker compose. Appreciate any help to fix this issue. [Docker compose ](https://airflow.apache.org/docs/apache-airflow/stable/docker-compose.yaml)

irflow-init_1       | qemu: uncaught target signal 4 (Illegal instruction) - core dumped
airflow-init_1       | /entrypoint: line 192:    27 Illegal instruction     airflow

[2021-03-23 19:25] kapopken commented on #58
@Nijanthan-Hadoop  the api has changed for airflow. The start up command should be airflow db migrate. I don't think this is the right place for this comment however given your working with the docker compose and this is specifically for the helm chart.
https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html

[2021-03-24 12:22] rafaelkonrath opened #93 "Add RBAC "get" and "list" permissions from the resource "pod/status""
**What is your feature request?**
We'd like Airflow has access to the resource  "pod/status"  and permission to use these Verbs "get/list", with that Airflow can log status events such as OOMKilled in the log. This helps to analyse the root cause of some K8S pod failed, and not only show in the log the generic message: "Pod returned a failure: failed", but the real pod failed status.

Thank you

[2021-03-24 15:06] amtesandip opened #94 "cannot create directory '/usr/local/airflow/.local': Permission denied"
**What is your question?**
When we try to install airflow using helm, pods are going into crashloopbackoff. After checking logs of scheduler we found below error:
Error: cannot create directory '/usr/local/airflow/.local': Permission denied

We have given -R 777 permission to /usr/local/airflow directory in aws efs and same permission are also given in the code.
Still we are getting Permission den

[2021-03-25 09:23] samudurand opened #95 "Chart needs to be updated for airflow 2.0"
**What is the bug?**

Airflow 2.0 has some different commands. The result is that the scheduler is failing.

According to this issue https://github.com/airflow-helm/charts/issues/66 , the solution is to replace 2 lines in the scheduler helm template:

[code]

By

[code]

I could do a PR to that effect, if that helps ?

[2021-03-25 12:13] thesuperzapper commented on #95
Lol, please wait a couple of hours, see the issue here: https://github.com/airflow-helm/charts/issues/58

[2021-03-25 12:14] #95 closed

[2021-03-25 12:57] samudurand commented on #95
Lucky me !!

[2021-03-26 15:15] #58 closed

[2021-03-26 15:20] thesuperzapper commented on #58
Hey all, I am pleased to say I have released version 8.0.0 of the chart!!!

I am looking forwards to hearing __feedback/ideas__ from you guys!

_PS: I want to encourage people who have been following closely to read the [Request for Contributions](https://github.com/airflow-helm/charts/blob/main/charts/airflow/UPGRADE.md#request-for-contributions) section and contribute if you are willing/able._

[2021-03-26 15:30] thesuperzapper commented on #94
@sandipamte can you please try with version `8.0.0` of the chart?

[2021-03-26 15:32] thesuperzapper commented on #93
Can you give an example how how airflow will use the new RBAC verbs?

That is, is this something you do in your task code, like with `KubernetesPodOperator()` and `log_events_on_failure=True`?

[2021-03-26 15:33] thesuperzapper commented on #90
@patsevanton can you please try with version `8.0.0` of the chart?

[2021-03-26 15:46] thesuperzapper commented on #88
@mikys-next-insurance can you please try with version `8.0.0` of the chart?

[2021-03-26 15:48] thesuperzapper commented on #80
After version `8.0.0` of the chart we have removed all `secretMap` values, and now only have `extraVolumeMounts` and `extraVolumes`.

You can see an example for workers here:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-mount-secretsconfigmaps-as-files-on-workers

[2021-03-26 15:48] #80 closed

[2021-03-26 15:49] thesuperzapper commented on #79
@kervel this is an interesting idea, but what are you needing from the chart?

[2021-03-26 15:51] thesuperzapper commented on #77
This is no longer an issue after version `8.0.0` of the chart, as we generate a `pod_template.yaml` based off all your values.

NOTE: You can customise the `pod_template.yaml` file with the `airflow.kubernetesPodTemplate` values.

[2021-03-26 15:51] #77 closed

[2021-03-26 15:52] thesuperzapper commented on #74
@scheung38 can you please try with version `8.0.0` of the chart and see if there is still an issue?

[2021-03-26 15:52] thesuperzapper commented on #72
@rg2609 can you please try with version `8.0.0` of the chart and see if there is still an issue?

[2021-03-26 15:54] thesuperzapper commented on #71
This feature has been implemented in version `8.0.0` of the chart with the `airflow.kubernetesPodTemplate.extraPipPackages` value, although I would caution against using it until we have removed the need for pip-install to run every time a pod starts (unless you are installing very small packages).

[2021-03-26 15:54] #71 closed

[2021-03-26 15:55] thesuperzapper commented on #69
@symeneses this issue has been fixed in version `8.0.0` of the chart with the new `dags.gitSync.*` values.

[2021-03-26 15:55] #69 closed

[2021-03-26 15:55] thesuperzapper commented on #60
This is now the default behaviour after version `8.0.0` of the chart, you can customise it with the `dags.gitSync.depth` value.

[2021-03-26 15:55] #60 closed

[2021-03-26 15:57] thesuperzapper commented on #59
@t0il3ts0ap the `CeleryKubernetesExecutor` is natively supported after version `8.0.0` of the chart.

If you encounter any specific issues, feel free to raise a new issue.

[2021-03-26 15:57] #59 closed

[2021-03-26 15:58] thesuperzapper commented on #45
This should no longer be an issue after version `8.0.0` of the chart, as we dynamically generate `pod_template.yaml` (an airflow 2.0 feature) from the other chart values (including `dags.gitSync`)

[2021-03-26 15:58] #45 closed

[2021-03-26 15:59] thesuperzapper commented on #34
Can @adib-next or @johngtam clarify if this is still an issue after version `8.0.0` of the chart?

[2021-03-26 16:00] thesuperzapper commented on #41
@MarkusTeufelberger do you want to raise a PR to implement this feature?

[2021-03-26 16:01] thesuperzapper commented on #24
This was done in version `8.0.0` of the chart, see PR: https://github.com/airflow-helm/charts/pull/96

[2021-03-26 16:01] #24 closed

[2021-03-26 16:02] thesuperzapper commented on #3
This has been done in version `8.0.0` of the chart, see PR: https://github.com/airflow-helm/charts/pull/96

[2021-03-26 16:02] #3 closed

[2021-03-26 16:05] thesuperzapper commented on #73
To be honest, the HPA approach for autoscaling airflow celery workers just dosen't work (as there is not a metric which cleanly says how busy a worker is, CPU/RAM arent the best).

We should implement a [KEDA](https://github.com/kedacore/keda) based approach.

[2021-03-26 16:50] kervel commented on #79
i don't know, was more of an open question. it could become a new method for deploying DAGs as part of the chart (but i wonder if you fancy the method with the shell-operator and the RWX volume which some would consider quick&dirty, wonder if there could be other approaches). in that case we could try to pack our changes as a PR.

or maybe its just an idea that has no place here, in which case i'm

[2021-03-26 18:49] DaleMittleman opened #97 "Validation helper makes bad assumption"
Thanks for pushing out the new version of the chart!

**What is the bug?**

The validation helper, in the case where the executor = CeleryExecutor, makes false assumptions.

The values support an external redis, and implicitly support external celery workers.  I think this validation will need to be removed.

https://github.com/airflow-helm/charts/blob/9ebbfb6f65ad68715d2492f88fc1b7b079f27249/char

[2021-03-26 19:03] TAMQuiroz opened #98 "extraVolumeMounts and extraVolumes parsing error"
**What is your question?**

Thank you for the new version!

I was trying to run it adding a couple of extra volumes and extra volume mounts but I'm getting a parsing error.

![image](https://user-images.githubusercontent.com/10441155/112680475-6a25aa00-8e3b-11eb-8a98-715ed653e25c.png)

![image](https://user-images.githubusercontent.com/10441155/112680625-993c1b80-8e3b-11eb-8db9-c85c5edc505b.png)

[2021-03-26 19:55] Yinabled opened #99 "cannot patch "airflow-upgrade-db" with kind Job: Job.batch "airflow-upgrade-db" is invalid"
**What is the bug?**

When trying to modify our Airflow deployment using the latest chart via Terraform, we consistently run into the following error:
[code]

**What are your Helm values?**

The values that we merge with `values.yaml` via Terraform are as follows:
[code]

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-03-26 22:47] benrifkind opened #101 "Flower deployment fails with airflow.extraVolumeMounts set"
**What is the bug?**
I am trying to install v8.0.0 of this chart with `airflow.extraVolumeMounts`. I am using the default flower configurations and am getting this error.
[code]
It looks like adding extraVolumes breaks the yaml. The output renders like
[code]

**What are your Helm values?**

airflow:
  extraVolumeMounts:
    - name: synchronised-efs
      mountPath: /opt/airflow/dags

  extraVolum

[2021-03-27 08:29] #97 closed

[2021-03-27 08:29] #98 closed

[2021-03-27 08:29] #101 closed

[2021-03-27 09:02] thesuperzapper commented on #20
I beleive we should aim to have our own (straight YAML) implementation of redis and postgress, rather than using a sub-chart.

[2021-03-27 09:05] thesuperzapper opened #103 "implement KEDA (autoscaler for celery workers)"
Currently we use a `HorizontalPodAutoscaler` which is configured by the `workers.autoscaling.*` values, this is massively flawed, because CPU/RAM usage do not adequately correspond to how much load a celery worker is under.

We should look into implementing something like [KEDA](https://github.com/kedacore/keda), to get better autoscaling of the Celery workers.

[2021-03-27 09:12] thesuperzapper opened #104 "make `extraPipPackages` only install once"
Currently we use an init-container for all the `*. extraPipPackages` values, which must run every time the Pod starts.

This issue is worst for the `airflow.kubernetesPodTemplate.extraPipPackages` value, (which is related to the `pod_template.yaml` generation), as it means that users are installing those packages for literally EVERY TASK in thier DAGs.

I believe it would be possible to optionally

[2021-03-27 09:14] thesuperzapper commented on #19
I have made the first steps with PR https://github.com/airflow-helm/charts/pull/102, as I needed to set the new `helmWait` value to `true` for the CI jobs to pass.

[2021-03-27 09:58] thesuperzapper commented on #50
@mdcsaenz @renanleme can you please check if you still have this issue after version `8.0.1` of the chart?

[2021-03-27 10:02] thesuperzapper commented on #32
@mdcsaenz can you check if you are still having this issue after version `8.0.0` of the chart?

[2021-03-27 10:06] thesuperzapper commented on #36
@shubhamc183 are you still having this issue after version `8.0.0` of the chart (which natively supports airflow 2.0)?

[2021-03-27 14:15] steve148 opened #105 "Graceful or Gracefull for worker-statefulset value"
Currently going through v8 of the chart (really nice btw) and noticed that we spell `graceful` as `gracefull` in the context of the worker statefulset values. I tried looking online to see if there's a dictionary which spells it with two Ls, but some dictionaries didn't recognize it and others mentioned it as being the archaic version of graceful. I wanted to ask before putting up a PR, but is fix

[2021-03-27 14:48] thesuperzapper commented on #105
Because renaming is functionally equivalent to removing a value, we will have to wait for 9.0.0.

[2021-03-27 14:50] thesuperzapper commented on #105
Also, I love that the misspelling is technically an archaic version of the word, lol!

[2021-03-27 15:30] thesuperzapper commented on #99
@Yinabled can you confirm if `8.0.1` fixed this issue?

[2021-03-27 17:18] Yinabled opened #106 "PYTHONPATH environment variable not being set via airflow.extraEnv"
**What is the bug?**

The `PYTHONPATH` environment variable is not being set in the Airflow environment when specified via the `airflow.extraEnv` value. Specifically, the `airflow` property values to merge with `values.yaml` are documented below.

Note that the `TESTINGVAR` variable is set properly. I confirmed by `kubectl exec`ing into `airflow-web` and printing the sourced values for both `PYTHO

[2021-03-27 17:19] Yinabled commented on #99
@thesuperzapper Yes, this worked like a charm. Thanks a bunch!

[2021-03-28 01:53] thesuperzapper commented on #106
@Yinabled can you confirm if this is fixed in `8.0.2`, as PR https://github.com/airflow-helm/charts/pull/108 should have fixed it!

[2021-03-28 05:47] kushagra391 opened #109 ""Option 2b - Shared PersistentVolume" removed from readme in release 8.x"
Thanks for all the work to release airflow v2.0 !

I have been using this chart with ["Option 2b" for storing persistent dags / logs](https://github.com/airflow-helm/charts/tree/0f40ffe1c1a2949463ff9c59549b4fdf75391cd1/charts/airflow#option-2b---shared-persistentvolume) on AWS EFS with `v7.16.0`

On `v8.0.1`, this continues to work fine (following the old readme)

[code]

But this section seems to

[2021-03-28 06:34] shubhamc183 commented on #36
@thesuperzapper I'm not working or using this for the last 3 months so I cannot say.

[2021-03-28 12:56] juroVee opened #110 "PermissionError: [Errno 13] Permission denied: '/var/nfs'"
**What is the bug?**

We have been using version 7.14.3 of this chart for some time and we have persisted our logs in shared NFS volume. This stopped working from version 8.0.0 (also 8.0.1 and 8.0.2). We are getting permission denied errors. I Tried changing chmods, recreating directories from inside of webserver/scheduler/worker pod, etc. Nothing seems to be solving this issue. Have you any ideas

[2021-03-28 20:14] juroVee commented on #110
Well finally and surprisingly I managed to solve this issue by mounting NFS volume in another location inside of pod.

Instead of:
[code]
I did it this way:
[code]

[2021-03-28 20:14] #110 closed

[2021-03-28 20:32] Yinabled commented on #106
@thesuperzapper No, this did not resolve the issue - specifically, I'm trying to extend `PYTHONPATH` with the repo directory, i.e. `/opt/airflow/dags/repo`. It looks like #108 is trying to just set `PYTHONPATH` to `/opt/python/site-packages`, which was already happening correctly before this release.

[2021-03-28 20:33] Yinabled opened #111 "PYTHONPATH environment variable still not being set via airflow.extraEnv"
Repeat of #106 - this issue has not yet been resolved (cc @thesuperzapper). It's also worth noting that both `extraEnv` _and_ `extraPipPackages` were set in the config.

[2021-03-28 20:37] thesuperzapper commented on #106
So what was `PYTHONPATH` set to when you use `airflow.extraEnv` with version `8.0.2`?

Because it worked for me?

NOTE: the issue was that the chart's hard-coded `PYTHONPATH` was taking presidence over the user-provided `airfkow.extraEnv`.

[2021-03-28 20:38] thesuperzapper commented on #111
Please re-open instead of re creating issues.

[2021-03-28 20:38] #111 closed

[2021-03-28 20:51] Yinabled commented on #106
This is what I did:
1. Set the merged `values.yaml` to the following:
[code]
2. Observe that `PYTHONPATH` is still set to `/opt/python/site-packages`, and not to `/opt/python/site-packages:/opt/airflow/dags/repo` as is expected.

[2021-03-28 21:34] Yinabled commented on #106
(FYI @thesuperzapper I don't have permission to reopen closed issues)

[2021-03-29 16:41] c-thiel opened #112 "BUG: readiness / livliness probe of webserver do not respect AIRFLOW__WEBSERVER__BASE_URL"
Version 8.0.2 of this chart.

**What is the bug?**
When setting the AIRFLOW__WEBSERVER__BASE_URL url to host airflow under a different path, the readiness and livliness probes of the webserver till poll on /health which then is not available. In the values.yaml there is no way to set the httpGet-path manually either:
https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/webserv

[2021-03-29 20:23] jrdunne commented on #112
Second this. The path setup from 7.16.0 would fix this error

https://github.com/airflow-helm/charts/blob/airflow-7.16.0/charts/airflow/templates/webserver/webserver-deployment.yaml#L227

[2021-03-29 20:25] ms32035 commented on #106
Also having issues with import errors from `/opt/airflow/dags/repo`  when parsing or executing dags. didn't dig too deep why this is happening, but variables look correct when executing shell

[2021-03-29 23:24] thesuperzapper commented on #112
This is an easy fix, I will just extract the value of `AIRFLOW__WEBSERVER__BASE_URL` into the liveness http path.

[2021-03-30 00:07] Gmasquelier opened #113 "logs persistency failed if enabled"
**chart version 8.0.2**

It looks like we're not able to create log persistency as the templates helpers for logs is providing mountpath and subpath parameters for volumes in the spec.

https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aad450f17beb2213cf667c/charts/airflow/templates/_helpers/pods.tpl#L223

Thanks for your work on this new version otherwise.

[2021-03-30 00:29] thesuperzapper commented on #109
@kushagra391 I honestly didn't realise anyone would want to share logs and dags on the same PVC, but I can add it as a footnote again

[2021-03-30 03:06] jpmaglutac opened #114 "[AWS/EKS] Scheduler Failing To Start for CeleryKubernetesExecutor: "airflow.exceptions.AirflowException: Could not get scheduler_job_id""
**What is the bug?**

Trying out a quick cluster of the Airflow 2.0 on AWS EKS, and I've noticed that using CeleryKubernetesExecutor causes the scheduler to fail to start. Other executors are working just fine and I haven't changed any of the values other than the executor, so I'm wondering if this is a bug or if there's something further that I have to customize not indicated. Output as follows:

[2021-03-30 05:46] c-thiel opened #115 "allow specifying `--index` and `--index-url` in pip-install"
Version 8.0.2 of the Chart

**What is your Bug?**
In 7.X.X is used to be possible to configure extraPipPackages to be installed from a non-standard registry.
This can either be done by mounting a configmap to the container or by adding env-vars.

In the 8.X.X version of the Chart this is no longer supported for the dedicated sidecar: https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aa

[2021-03-30 07:34] samudurand opened #116 "Latest version: nil pointer on .Release.Name"
**What is the bug?**

When using the latest version released for Airflow 2 (v8.0.2), and using the `template` command, I obtain a nil exception on .Release.Name

[code]

The command I I use is:
[code]
The dependency on Release.Name has been introduced in the version 8.0.0

Note:
I have also tried `helm3 template airflow airflow [... options]` (to give an explicit name)

[2021-03-30 07:45] bensta commented on #116
I got the same issue trying to install it using the helm go client library. But the issue seems to depend on the values file as it works with some configs and doesn't with others. Currently I don't know which config causes the issue for me as I didn't have the time to debug in detail.

[2021-03-30 07:46] samudurand commented on #116
Yes you could be right, it might be related to the extraVolumes or extraPipPackages. I am not using either.

[2021-03-30 07:50] bensta commented on #116
Yep, that rings a bell. I do use both of them though. extraPipPackages globally (under airflow.extraPipPackages) and extraVolumes for the webserver only (under web.extraVolumes). I think it showed up when I added configs there. Could be a coincidence though.

[2021-03-30 07:51] samudurand commented on #116
It also happens with the `upgrade` command, which is a much bigger issue...

[2021-03-30 08:22] samudurand commented on #116
Ok so ... the problem is completely unrelated, it's because of the "knownHosts" configuration. If you use it as recommended in the docs, this breaks the build with the error mentioned above.

[code]

[2021-03-30 08:27] bensta commented on #116
did some debugging: The culprit seems to be the gitSync.sshKnownHosts config.
It **works** when:
- dags.gitSync.sshKnownHosts is empty + my (quite extensive) additional values configuring our deployment
- dags.gitSync.sshKnownHosts is set + no other values in the values file

It does **not** work when
- dags.gitSync.sshKnownHosts is set + my additional values configured

[2021-03-30 08:28] samudurand commented on #116
Check above, I just arrived to the exact same conclusion xD

[2021-03-30 08:28] samudurand commented on #116
The problem is that I really need that setting...

[2021-03-30 08:30] bensta commented on #116
Ha, thanks. Sorry, did not see your comment before.

My values file is quite extensive, so to figure out which **other** config (together with the known hosts setting) messes it up is quite laborious.

Do you have a minimal yaml file that shows the error?

[2021-03-30 08:35] samudurand commented on #116
If you use `helm3 template` with any helm chart based on this airflow chart, I think this should be more than enough to demonstrate:

[code]

[2021-03-30 08:39] bensta commented on #116
Weird. For me this works: (with helm install)

[code]

[2021-03-30 08:44] bensta commented on #116
Btw, I think your yaml is wrong. *dags* is not a child of airflow but at the top level.

[2021-03-30 08:50] samudurand commented on #116
You yaml is missing the `enabled: true`, if you don't use that I think the gitsync configuration is not used, I tried without it and the gitsync doesn't start, but the build works.

And for my yaml, i don't know exactly why but in our chart (depending on airflow helm), we have a top level `airflow` object, which makes the yaml look like that:

[code]

[2021-03-30 09:11] sk1tter commented on #106
I think the problem is Airflow 2.0 serializing DAGs on `db upgrade`. Because `PYTHONPATH` is not set when running `db upgrade` serialized dags are not inserted to db and are showing errors but variables will look correct on shell.

[2021-03-30 09:20] c-thiel opened #117 "add value to set `envFrom` in Pods"
**What is your feature request?**
Currently there is no way to specify envFrom from the values.yaml - only env can be defined.
We should add an option to specify `extraEnvFrom` similar to `extraEnv ` in the values.yaml.

As far as I can see this could be added to the `pods.tpl`: https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aad450f17beb2213cf667c/charts/airflow/templates/_helpers/p

[2021-03-30 09:57] bensta commented on #116
you are right, thanks. I was able to reproduce the error with your minimal config.
I tried a workaround using extraEnv variables, but unfortunately, those are not set in the sidecar.

[2021-03-30 10:14] samudurand commented on #116
Well I got a good news (for me at least), it appears the known hosts is not exactly necessary in my case. I hope this will be fixed but it's not urgent in our case.

[2021-03-30 14:02] murilommen opened #119 "Configmap "airflow-env" not found, tasks won't get executed"
**What is the bug?**

I'm using the newest 8.0.2 version of the helm chart on my AKS cluster and connecting to an existing Azure Postgres database. Web UI runs fine. Although the Scheduler also seems to be running fine (at least from the pod logs and status), neither default dags or the ones I have uploaded via git-sync will run. They will spawn new worker pods, but they keep with waiting with a C

[2021-03-30 19:37] murilommen commented on #119
Apparently solved by creating an empty ConfigMap with the expected "$RELEASE_NAME-env" pattern.
After creating the configmap, I also had to set `airflow.config.AIRFLOW__KUBERNETES__DAGS_VOLUME_SUBPATH: repo/`, because the workers did not identify the dags (even the ones from the examples).

[2021-03-30 19:41] #119 closed

[2021-03-30 20:09] meseta commented on #116
just bumped into this issue as well. I'm not a helm expert, but it appears to be that wherever `include "airflow.volumes" (dict ...)` is used, the `(dict )` is overriding the context with a custom object that doesn't include `.Release`, which then causes the "nil pointer evaluating interface {}.Name" error when it tries to evaluate `.Release.name`

So for example, starting at `worker/worker-statef

[2021-03-31 03:03] sk1tter commented on #106
With further investigation, my previous comment was wrong. `PYTHONPATH` is being set correctly in the `db upgrade` container. I managed to fix import errors by adding an git sync init container on the web server and scheduler.
[code]
 Hope this helps.

[2021-03-31 11:15] murilommen commented on #113
Having the same issue here! even though my Values.logs.path is not empty, it returns me this:
`Error: UPGRADE FAILED: error validating "": error validating data: ValidationError(Deployment.spec.template.spec.volumes[1]): unknown field "mountPath" in io.k8s.api.core.v1.Volume`

[2021-03-31 13:08] ms32035 commented on #106
I am starting to suspect that something is wrong / lost in here:
[code]
all the variables are correct inside the container, when I start the scheduler manually in another container all works good, and the scheduler from deployment keeps getting import errors from the dags folder. even setting PYTHONPATH in the docker image did not help

[2021-03-31 14:13] samudurand opened #123 "Ability to set environment variables for Git Sync"
Before version 8.0 it was possible to set environment variables for Git-sync. With the new setup for kubernetes/git-sync it is not possible anymore. Or at least not in a documented way.

This is an issue because I need to change some of the configuration for kubernetes/git-sync. Especially the target repository. Right now it is putting the cloned code in the `repo` folder, which is not working for

[2021-03-31 14:53] Sh1n commented on #119
Same problem here.

[2021-03-31 16:41] tomyedwab opened #124 "Importing shared module fails when using gitSync"
**What is the bug?**

I have a DAG in my GitHub repository in `examples/hello_world.py` that imports a shared module at the root of the same repository. In production we are using Airflow 1.10.14 and the 7.16.0 chart running in a GKE cluster with the gitSync sidecar container and everything works well. We are building our own image based on the official image with some providers and extra Python l

[2021-03-31 16:42] murilommen commented on #119
Hi @Sh1n have you tried to replicate what I did? Creating an empty configmap + setting the `AIRFLOW__KUBERNETES__DAGS_VOLUME_SUBPATH: repo/` under `airflow.config`

[2021-03-31 17:01] tomyedwab commented on #124
Note to confirm: adding an additional git-sync init container does appear to fix the issue. Not sure if this is the best solution, but at least it's a workaround that only requires changes to custom_values.yaml:

[code]

[2021-03-31 17:18] tomyedwab commented on #124
Further update: Adding the init container works for the _scheduler_, however the worker pods are affected by this issue as well and there doesn't seem to be an `extraInitContainers` option for those, so actually running the DAG still doesn't work. Rats.

[2021-03-31 20:54] justincmoy commented on #106
@Yinabled and I started talking about this in https://github.com/airflow-helm/charts/pull/118. Here's the context:

import site
importlib.reload(site)
importlib.invalidate_caches()

I didn't change the PYTHONPATH in git-sync. So here's our use case: we have DAGs synced from Git that define their requirements using [Poetry](https://python-poetry.org/). By using a custom git-sync image (one with Poe

[2021-04-01 06:15] superbeer commented on #124
same is issue

[2021-04-01 09:07] ms32035 commented on #106
Adding an init git sync container to webserver and workers fully fixes the issue. My guess as to why this started to happen is that previously there was a wait for db script, which has now been moved to an init container

[2021-04-01 10:56] thesuperzapper commented on #106
I will make a release which allows python package in your git-repo, after I try a few options (in the next day or two).

[2021-04-01 17:33] HariAA opened #125 "airflow 2.0.0 flaskappbuilder userinfogetter issue"
Hi,

I am trying to implement Azure AD integration and authorization. I was able to set up the azure ad integration, but I am facing an issue with the authorization step.
As a first set step, I need to read additional info from the azure directory(group) which has the AD group for a user and i would like to use the group to decide the appropriate permission in the airflow webserver. I am trying to

[2021-04-02 03:11] david30907d commented on #50
bumped into this issue also, did anyone find the solution?

[2021-04-02 03:11] david30907d commented on #50
will try version `8.0.1` thanks~

[2021-04-02 09:39] macwro opened #126 "AWS / EKS – “cannot use sqlite with the LocalExecutor" Error when POD’s starts"
**What is the bug?**
On newest version 8.0.2 of airflow helm chart, running on top of AWS EKS cluster with local Postrges DB and S3 bucket as logs locations, I get error “cannot use sqlite with the LocalExecutor” when pods starts to execute DAG task.
POD has status : “Error”.
Log from failed POD:

[code]
Problem exist for custom and examples DAGs.
I see that “Local Executor” is set by: charts/airf

[2021-04-02 13:31] rolanddb commented on #116
I can confirm that the issue appeared for me when I included this snippet from the readme:
[code]

[2021-04-02 15:32] meseta commented on #116
@rolanddb Fortunately, my PR above should account for this as well, as the issue should be similar. Both persistence and git-sync create volume mounts here, where persistence uses `include "airflow.fullname"` in the `claimName` (line 213) while git-sync uses it in the secretName (line 238)

https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aad450f17beb2213cf667c/charts/airflow/template

[2021-04-02 18:16] Yinabled commented on #106
Amazing - thanks so much, @thesuperzapper!

[2021-04-02 19:44] karakanb commented on #113
I am having the same issue with the 8.0.2 release. Here's my values for reference:
[code]

[2021-04-03 07:25] sk1tter commented on #119
I had the same problem and made a pr at #122. Try it if you still have this issue.

[2021-04-03 13:42] karakanb commented on #126
I suspect this has something to do with the workaround with the empty config. As of 8.0.2, the configuration is still needed and the secret is not used. A workaround that fixes both of these issues is to decode the secret and create a ConfigMap with that values, with the name `<release-name>-env`.

You can use the following for decoding the secret:
[code]

Creating a configmap with these contents

[2021-04-04 10:23] commandosss commented on #113
confirmed. i'm having the same

[2021-04-05 09:52] kirandeshpande1990 commented on #113
Yes when will this be fixed? we have a release next week where I need this chart to be working with persistent storage

[2021-04-05 12:13] thesuperzapper commented on #126
@macwro can you confirm if this issue is fixed after version `8.0.3` of the chart?

[2021-04-05 12:14] thesuperzapper commented on #119
@murilommen can you confirm if you still have this issue after version `8.0.3` of the chart?

[2021-04-05 13:10] #116 closed

[2021-04-05 13:13] thesuperzapper commented on #116
@samudurand can you confirm if this issue is resolved after version `8.0.4`?

[2021-04-05 15:29] #112 closed

[2021-04-05 15:30] thesuperzapper commented on #112
@c-thiel or @jrdunne can you confirm if this has been resolved after version `8.0.5` of the chart?

[2021-04-05 16:05] jrdunne commented on #112
Thanks for the quick fix!
The web server probes worked right away! I do not use flower so I have not tested the flower probe changes.

[2021-04-05 21:32] murilommen commented on #119
@thesuperzapper I've updated the chart to the `8.0.5` version, deleted the empty configmap and now it works fine.

[2021-04-05 22:35] TAMQuiroz opened #127 "Airflow containers don't initialize (airflow-upgrade-db)"
**What is the bug?**

Hello, I might be missing something but I'm using Terraform to do a fresh Airflow 2.0.1 install using the chart version 8.0.2 on an AKS Cluster and it fails because none of the containers initialize, including the container for airflow-upgrade (Not sure if this is expected as I'm trying to do a fresh installation). I'm using an external postgres db but also tried using the po

[2021-04-05 22:45] TAMQuiroz commented on #127
Please disregard, issue on my part

[2021-04-05 22:45] #127 closed

[2021-04-06 07:30] karakanb commented on #113
@thesuperzapper I might be able to contribute to this, but I am not really sure how to fix it without changing the way volumes are reused throughout the entire chart. do you have a quick solution in mind that'd unblock this for everyone? if you don't have the time but can give some pointers, I might try to prepare a PR.

currently, the chart doesn't work with persistent storage for logs.

[2021-04-06 08:03] dmrmoskvichev commented on #124
The same issue.

[2021-04-06 08:20] rolanddb commented on #126
I encountered this issue with 8.0.5 of the chart. The default PodTemplate refers to a configmap `airflow-env`. Creating an empty `airflow-env` configmap won't work, because the worker pods will require the same database config as the scheduler/web pods to communicate with the backend db. So you should refer to the secret `airflow-config` in the same way as the scheduler/web deployments.

However,

[2021-04-06 08:22] commandosss commented on #113
@karakanb
Fix for templates/_helper/pods.tpl
U need to change 220-225 to the following:
[code]

[2021-04-06 09:05] karakanb commented on #113
I am not sure if that'd fix the main problem because I believe these helper parts are used for both `volumeMounts` as well as `volumes` definitions on the deployments, therefore there'd need to be some sort of a conditional rendering of the `mountPath` since it doesn't seem to be valid for the `volumes` schema, although I am not very confident about what I say here, so take it with a grain of salt

[2021-04-06 09:07] commandosss commented on #113
@karakanb i'm so sorry, but i don't have a time on that

[2021-04-06 10:41] macwro commented on #126
I can confirm that on version 8.0.5 that problem does not exist.

Thanks for fixing it !

[2021-04-06 11:44] karakanb commented on #113
I have created a PR with this change, let's see how it goes.

[2021-04-06 12:19] thesuperzapper commented on #126
@rolanddb can you please check again, as `8.0.5` seems to correctly reference `airflow-config` https://github.com/airflow-helm/charts/blob/airflow-8.0.5/charts/airflow/files/pod_template.kubernetes-helm-yaml#L44-L46

[2021-04-06 12:22] thesuperzapper commented on #124
I will look into adding an option to add a new value to enable an optional init-container, for git-sync, along with some basic README docs for using python packages from inside your dags repo.

Should be done very soon.

[2021-04-06 14:55] clvanbrandt commented on #127
Could you share what the issue was ? I am also encountering the same issue using Terraform while deploying form scratch. Right now my workaround consists in deploying version 8.0.0 then upgrading to 8.0.5 but it isn't really practical.

[2021-04-06 15:36] mejran opened #130 "Jobs (db upgrade, etc.) should have node selector/affinity values"
**What is your feature request?**

It'd be useful for jobs to have node selector and affinity values so that you can control which nodes jobs run on. In our case certain nodes are in a security group that does not have access to the airflow DB so we get jobs that get stuck on helm deployment.

**What alternatives have you considered?**

Changing the security group configuration of our cluster but

[2021-04-06 18:23] TAMQuiroz commented on #127
Hi, in my case it was because the AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS config was wrongly set, I'm still working on it but this wasn't a chart issue. Have you reviewed all the container logs? I found the error when checking the check-db and upgrade-db container on K8s dashboard.

[2021-04-07 06:16] dominique-vassard commented on #114
I've got the same problem with the KubernetesExecutor.
I can trigger DAGs though but when I try to run just run a task or test a dag, it fails with `airflow.exceptions.AirflowException: Could not get scheduler_job_id`

[2021-04-07 11:49] commandosss commented on #113
@karakanb your change is wrong
u need to change lines 220-225
Thanks for the PR

[2021-04-08 07:20] ilhnctn commented on #35
I can contribute if needed @thesuperzapper

[2021-04-08 08:23] thesuperzapper commented on #35
@ilhnctn go ahead, this isn't even really on my to-do list right now

[2021-04-08 11:32] rolanddb commented on #126
@thesuperzapper I double checked, but I'm still getting that `BACKEND: unbound variable` error in the entrypoint script (using the Dockerfile from the apache/airflow repo). The script triest to be a little too smart for my taste, e.g. it uses a regex to parse the SQLAlchemy string to get the host/port and do connectivity tests on that. I actually tried the regex and it does capture the various ele

[2021-04-09 03:58] thesuperzapper commented on #123
@samudurand I really don't understand the issue, what is not working?

You can follow the README [here](https://github.com/airflow-helm/charts/tree/main/charts/airflow#option-1a---ssh-git-sync-sidecar-recommended) to setup git-sync with SSH.

[2021-04-09 03:59] thesuperzapper commented on #50
@david30907d are you still getting these issues (check with `8.0.5` preferably)

[2021-04-09 04:06] thesuperzapper commented on #126
@rolanddb we override the entrypoint for all the pods.

What are you doing that is running the `airflow/airflow` Dockerfile entrypoint?

[2021-04-09 04:44] thesuperzapper commented on #90
@patsevanton any updates?

[2021-04-09 04:45] thesuperzapper commented on #88
@mikys-next-insurance any updates?

[2021-04-09 04:56] thesuperzapper commented on #94
@sandipamte any updates?

[2021-04-09 07:17] samudurand commented on #123
Ok, let me elaborate.

I was originally using Airflow 1.10.14 (in preparation for a migration to Airflow 2. I was using python imports between files to share common functions/classes. Example:

[code]

This worked fine in Airflow 1.10.14. However after switching to Airflow 2 and Airflow Helm 8.0.1 the import is not working anymore. I am getting `ModuleNotFoundError` even with as simple an import a

[2021-04-09 07:53] rolanddb commented on #126
@thesuperzapper Are we looking at the same thing? I don't see anything specifying the entrypoint (I checked scheduler, e.g. https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/scheduler/scheduler-deployment.yaml#L98-L104 and the pod template). All that is being specified is the command and args.

[2021-04-09 09:15] karakanb commented on #113
I updated the PR to reflect the correct changes.

[2021-04-09 09:23] ngreen-ny opened #132 "Airflow 1.10.14 with statsd-exporter"
I am using the helm chart for airflow version 1.10.14 in k8s.

**I have the following metrics defined:**

    AIRFLOW__METRICS__STATSD_ON: "True"
    AIRFLOW__METRICS__STATSD_HOST: "test-svc.airflow" (This is a service in k8s in the same airflow namespace where airflow is deployed)
    AIRFLOW__METRICS__STATSD_PORT: "9125" (9125 is correct)
    AIRFLOW__METRICS__STATSD_PREFIX: "testing-airflow"

*

[2021-04-09 09:57] renanleme commented on #50
I think I fixed my issue, at least for now.
My workers were using `standard` disk instead of `ssd's` and the IOP's were too high so the pod was being killed.
After changing the disks of the cluster to SSD's the issue is gone. At least for now...
Thanks for your help!

[2021-04-09 11:55] davido912 commented on #124
Experiencing the same issue here. Setting PYTHONPATH doesn't seem to do much. Using Airflow 1.10.12 with this chart but imported Gitsync repo fails to sync.

`Broken DAG: [/opt/airflow/dags/repo/airflow/dags/dag_dir_dag.py] No module named 'funcs'`

What's the expected resolution of this?

[2021-04-09 12:41] thesuperzapper commented on #124
@davido912 as I stated, python packages in git-repos should work fine once I add an init container feature for git-sync, so that the scheduler runs AFTER the dags folder has already been cloned.

I was a bit hesitant to do this before fixing other issues, as it will require an `8.1.0` release (and have been quite slammed with a new job this week, lol)

But expect a resolution over the weekend.

[2021-04-09 13:32] thesuperzapper commented on #32
@mdcsaenz any updates?

[2021-04-09 13:33] thesuperzapper commented on #74
@scheung38 any updates?

[2021-04-09 13:33] #36 closed

[2021-04-09 13:34] #50 closed

[2021-04-09 14:04] thesuperzapper commented on #106
As the actual issue raised here has been fixed in PR https://github.com/airflow-helm/charts/pull/108, lets continue to discuss the race-condition of git-sync in https://github.com/airflow-helm/charts/issues/124

[2021-04-09 14:04] #106 closed

[2021-04-09 14:05] thesuperzapper commented on #123
Sadly, its not possible to remove that intermediate `repo` folder due to how the `kubernetes/git-sync` container works (using symlink switching).

However you can just prepend `$AIRFLOW_HOME/dags/repo/` to your `PYTHONPATH`, but... even after you do this you will run into issue https://github.com/airflow-helm/charts/issues/124 (which will be fixed soon).

[2021-04-09 14:05] #123 closed

[2021-04-09 14:09] thesuperzapper commented on #126
@rolanddb `command` overrides the Dockefile `ENTRYPOINT`, see the Kuberntes API docs: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#container-v1-core

[2021-04-09 14:10] david30907d commented on #50
Hi @thesuperzapper I'm using `7.16.0` and it turns out my `AIRFLOW__CELERY__WORKER_CONCURRENCY` is too high.

decrease it and everything works fine~ tks

[2021-04-09 14:28] #113 closed

[2021-04-09 14:34] thesuperzapper commented on #113
@Gmasquelier @commandosss can you confirm if this has been fixed after version `8.0.6` of the chart?

[2021-04-09 14:38] samudurand commented on #123
Thank you, the other issue you pointed at seem to be exactly what I am
looking for.

On Fri, Apr 9, 2021 at 4:06 PM Mathew Wicks ***@***.***>
wrote:

--

*Samuel Durand*
Senior Software Engineer

E-Mail: ***@***.***
_____

Mobimeo GmbH
Hallesches Ufer 60
10963 Berlin <https://goo.gl/maps/CvHV6xQv2H2gtANr6>

Sitz der Gesellschaft: Berlin
Registergericht: Berlin-Charlottenburg, HRB 197575 B
Geschäft

[2021-04-09 14:39] thesuperzapper commented on #132
@ngreen-ny what is the issue>

[2021-04-09 14:40] thesuperzapper commented on #41
@MarkusTeufelberger do you still have this issue with `8.0.X` of the chart?

[2021-04-09 14:41] thesuperzapper commented on #34
@adib-next or @johngtam any updates?

[2021-04-09 14:51] ngreen-ny commented on #132
I don't see metrics getting exported on the instance or via Prometheus, however I have multiple dags running and working as expected in airflow.

[2021-04-09 14:53] MarkusTeufelberger commented on #41
I mean, https://github.com/airflow-helm/charts/blob/98dac02e793eeeaa7797a4601f9ba240f986ccec/charts/airflow/templates/webserver/webserver-ingress.yaml#L24 exists without an `if` that would remove it from the object if it isn't set, so I guess this problem still exists too.

[2021-04-09 15:08] thesuperzapper commented on #41
Do you want to raise a PR to add that `{{- if ... }}`, and call it version `8.0.7`?

[2021-04-09 15:15] davido912 commented on #124
@thesuperzapper Congrats for the new job!

[2021-04-09 15:38] anyili opened #134 "log persistent"
try to persistent logs using volume, here is what I have in the values.yaml

[code]

what I got from apply `heml upgrade`
[code]
it seems mountPath is not in the right indentation?

[2021-04-09 15:42] ngreen-ny commented on #132
Please note I am using chart version 7.16.0

[2021-04-09 21:59] johngtam commented on #34
@thesuperzapper, I haven't given this a shot yet, but hope to do so soon! Really excited about version 8 of this Helm chart :)

[2021-04-10 03:32] brain-buster commented on #124
I have the same issue with 'ModuleNotFoundError' after upgrading to the chart version 8.0.5

[2021-04-11 12:47] mikys-next-insurance commented on #88
Sorry @thesuperzapper , but no. We had other priorities at work. We hope to get there next week.

[2021-04-12 06:34] brain-buster opened #136 "Connection field "port" data type check fails since incorrect argument "float64" is used"
**What is the bug?**

I pass the connection port value using --set flag (for example 5432 for "postgres" type connection). Bash convert it to "int64", but in secret-job-scripts.yaml -> create_connections.py there is the following:

    {{- if .port }}
        {{- if not (typeIs "float64" .port) }}
        {{ required "each `port` in `airflow.connections` must be int-type!" nil }}
        {{- end }

[2021-04-12 12:38] patsevanton commented on #90
May be create new issue?

[code]

Logs
[code]

I am switch to chart https://github.com/apache/airflow/tree/master/chart
May be later check

[2021-04-12 12:38] #90 closed

[2021-04-13 03:33] thesuperzapper commented on #125
@HariAA This is definitely an issue to ask on Flask-Appbuilder.

Regardless, did you follow the Flask-Appbuilder docs at the bottom of here:
https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-oauth

I'll be honest those docs might need updating

[2021-04-13 03:59] thesuperzapper opened #137 "add airflow <--> chart version support matrix"
Currently, users are confused how they can run versions of airflow/python which are not the default ones specified by the `airflow.image.*` values, we should add this info to the readme.

We should also add a support matrix showing "airflow" and "chart" version combinations which are supported and not-supported. (And explicitly state the limitations of our 1.10.X support)

[2021-04-13 04:00] thesuperzapper commented on #136
@brain-buster can you confirm if this still happens when you pass a "custom-values.yaml" to helm install/upgrade?

Also, do you want to raise a PR to fix this?

[2021-04-13 08:57] thesuperzapper commented on #134
@anyili this was fixed in `8.0.6` from PR https://github.com/airflow-helm/charts/pull/128

[2021-04-13 08:57] #134 closed

[2021-04-13 09:30] thesuperzapper commented on #114
I believe this is related to https://github.com/apache/airflow/issues/13805

The `CeleryKubernetesExecutor` is broken in airflow `2.0.1`, I guess we will have to wait for `2.0.2`

[2021-04-13 09:30] #114 closed

[2021-04-13 10:57] ilhnctn opened #138 "Scheduler goes off for long times"
**What is the bug?**

Airflow scheduler is offline most of the time, since the pod itself is running, health check doesn't fail but Scheduler it self is offline with a flash message as below

[code]

**What are your Helm values?**
There aren't any custom values for scheduler itself.

[code]

We are using Google's Composer and their Scheduler doesn't stay offline more then 1-2 minutes at all, so I

[2021-04-13 15:43] brain-buster commented on #136
No, if a port value is defined in "custom-values.yaml" then data type check will be successed, but it is not flexible to hardcoding connection params in "custom-values.yaml" - I am using GitLab variables to pass connection params.

[2021-04-13 16:15] jdotjdot commented on #114
Same issue here, FWIW

[2021-04-13 18:04] bobpace opened #139 "secret-job-scripts: compare_variables function conditionally tied to poolsUpdate value instead of variablesUpdate"
**What is the bug?**

There appears to be a typo here, which at the moment requires the `poolsUpdate` value to be set to define the `compare_variables` function when it seems that `variablesUpdate` was what was intended.

https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aad450f17beb2213cf667c/charts/airflow/templates/jobs/secret-job-scripts.yaml#L242

Setting variablesUpdate to true a

[2021-04-13 21:59] luozhaoyu opened #141 "Support specifying CPU/Memory Resources for Job container"
**What is your feature request?**

Currently a Job does not have field for specifying CPU/Memory resources. e.g., https://github.com/airflow-helm/charts/blob/8611c766992a9f7156aad450f17beb2213cf667c/charts/airflow/templates/jobs/job-create-users.yaml

It would be nice to allow people to restrain the resource usage for Job containers

**What alternatives have you considered?**

Otherwise, users hav

[2021-04-14 07:34] rolanddb commented on #126
@thesuperzapper Thanks for pointing that out! I wasn't aware that Kubernetes uses the same terminology (command/entrypoint) for overlapping functionality but in a different way. Super confusing but now I am aware of it.

Back to the issue: you are right that the entrypoint is overridden for the scheduler/web deployments. But as far as I can tell, the default pod template does not override the comm

[2021-04-14 07:34] brain-buster commented on #136
@thesuperzapper I created PR as you asked me.
Please note that I extended field "port" data type check (now allowed: "int64" and "float64") since there are 2 cases:
  1. It we set port using "custom-values.yaml" -> it will be "float64"
  2. If we set port using --set flag -> if will be "int64"

[2021-04-14 10:10] griseau opened #143 "allow constraints file to be set for `pip install ...` with extraPipPackages"
Hey guys,
Do you have any way to provide a [constraint file](https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files) when installing extra pip packages ?

Airflow has some clear requirements and for example adding `apache-airflow-providers-databricks` as a requirement without fixing the `SQLAlchemy` package breaks everything.

Thanks for your help !
Thomas

[2021-04-14 14:22] davido912 commented on #124
Sorry for being annoying. When's this expected to release?

[2021-04-14 14:28] thesuperzapper commented on #124
@davido912 so sorry for the delay (its not that hard, just been busy!) I will try to do it in the next 24 hours, which will mean an `8.1.0` release, as we will have to add a new value, something like `dags.gitSync.initContainer=true` (not sure of the name yet)

[2021-04-14 15:01] bensta opened #144 "Helm install fails when ingress path contains wildcard"
**What is the bug?**

Helm ingress path validity check not flexible for wildcard configs needed with istio ingress controller

The helm chart checks compatibility of AIRFLOW__WEBSERVER__BASE_URL and ingress.web.path (similar to flower paths).
Some ingress controllers (isto/envoy) require a wildcard at the end of the ingress path config (/path/to/af/*)
Currently, the validation script checks for ha

[2021-04-15 12:21] talnicolas opened #149 "python-ldap gcc dependency issue"
Hello,

This is a follow up question to the issue #66. When trying to use LDAP in the 8.0.6 release the installation of python-ldap fails due to gcc not being available (`unable to execute 'gcc': No such file or directory`) in the container. Building my own container with the following dependencies installed works:

`apt-get update && apt-get install -y build-essential libsasl2-dev python-dev libl

[2021-04-15 13:49] thesuperzapper commented on #143
@griseau can you give an example of using a constraints file (outside kubernetes is fine)?

[2021-04-15 13:52] thesuperzapper commented on #138
@ilhnctn if possible, can you get the pod logs of the scheduler pod (for a case where is crashes preferably)

[2021-04-15 13:56] griseau commented on #143
Hey @thesuperzapper,

For example you would do :
[code]

[2021-04-15 13:57] bensta commented on #143
Hi all, I second this request, it is something that should be quite easy to solve and that we need as well.

[2021-04-15 14:01] thesuperzapper commented on #143
I will add this in the next minor release (as it will need a new value) but I hope to do minor release VERY soon with other stuff.

[2021-04-15 14:05] thesuperzapper commented on #149
@talnicolas do you know if there is a way to `pip install ...` without requiring a complication step?

Because I cant really see any other options (except adding an apt-get value like `extraAptGet`, lol!)

[2021-04-15 14:10] thesuperzapper commented on #126
@rolanddb can you clarify if `8.0.6` still has whatever issue you where raising in this issue?

[2021-04-15 14:11] bensta commented on #149
Google a documentation about that in their cloud composer doc.: https://cloud.google.com/composer/docs/how-to/using/installing-python-dependencies
Basically: Manually put the required binary in a subfolder and set LD_LIBRARY_PATH.

But I think if you are using the helm chart to install your own Airflow, it is easier to just provide a custom Docker image that installs the dependencies. Depends on t

[2021-04-15 14:15] thesuperzapper commented on #90
@patsevanton to use this chart with airflow 1.10, you must set `airflow.legacyCommands` to `true`

[2021-04-15 14:16] thesuperzapper commented on #139
@bobpace good catch

[2021-04-15 14:34] griseau commented on #143
Alright, thanks !

[2021-04-15 14:54] thesuperzapper commented on #149
@bensta my main concern is that [these docs for LDAP auth](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-authenticate-airflow-users-with-ldapoauth) are incorrect as users will run into the `gcc` missing error if they add `python-ldap` to `web.extraPipPackages`

I will add a quick warning for now.

[2021-04-15 14:56] thesuperzapper commented on #149
Thinking about it, we could also let users pick a different container image to use for the `extraPipPackages` install, so they could use a container with `python` and `gcc`, rather than just using the `airflow.image` one.
(This will also let me update those LDAP docs with a one-line fix)

The pod template is [here](https://github.com/airflow-helm/charts/blob/airflow-8.0.6/charts/airflow/templates/

[2021-04-15 15:04] thesuperzapper commented on #149
@talnicolas I just checked, and the `apache/airflow:2.0.1-python3.8` image already has `python-ldap` installed (but the `apache/airflow:1.10.15-python3.8` one does not), so I wont worry about a warning for now, as we are only partially supporting the `1.10.X` line.

[2021-04-15 15:07] thesuperzapper commented on #132
@ngreen-ny when using the `8.X.X` versions of the chart (preferably with airflow `2.0.0`) do you still have this issue?

[2021-04-15 15:13] thesuperzapper commented on #93
@rafaelkonrath can you clarify if the `pod/status` verb is used by airflow itself, or just your Kuberetes operators?

[2021-04-15 15:13] talnicolas commented on #149
You are right @thesuperzapper, I just followed the example in the readme that was adding this line:
[code]
but when removed it is indeed working fine.
Thanks a lot for the really quick help!

[2021-04-15 16:19] thesuperzapper commented on #124
Hey all, while I promised to do it in 24 hours, I decided to spend some time getting the minor patch out first (as this fix will be in `8.1.0` as it needs new values)

But I will aim to get a `8.1.0` release out tomorrow (Australia time)

Its now 2am, so I really need to sleep, but check out the fixes in `8.0.7` in the mean time https://github.com/airflow-helm/charts/pull/150

[2021-04-15 16:20] #41 closed

[2021-04-15 16:20] #136 closed

[2021-04-15 16:20] #139 closed

[2021-04-15 16:20] #144 closed

[2021-04-15 16:24] thesuperzapper opened #151 "use python to retrieve password environment variables"
Currently, we pipe passwords using echo into the URL encoding pyhton script, we can instead use `os.environ["XXX"]` to get the raw password value directly.

See Posgress here: https://github.com/airflow-helm/charts/blob/airflow-8.0.7/charts/airflow/templates/config/secret-config.yaml#L35

See Redis here: https://github.com/airflow-helm/charts/blob/airflow-8.0.7/charts/airflow/templates/config/secr

[2021-04-15 16:26] thesuperzapper commented on #144
@bensta can you confirm if this has been fixed in `8.0.7`?

[2021-04-15 16:27] thesuperzapper commented on #41
@MarkusTeufelberger can you confirm if this has been fixed in `8.0.7`?

[2021-04-15 16:29] thesuperzapper commented on #139
@bobpace this has been fixed in `8.0.7`

[2021-04-15 16:30] thesuperzapper commented on #136
@brain-buster this has been fixed in `8.0.7`

[2021-04-15 16:38] thesuperzapper commented on #149
@talnicolas so wait, are you saying that the example actually breaks the `apache/airflow:2.0.1-python3.8` image?

[2021-04-15 16:54] talnicolas commented on #149
Yes indeed, if you try to pip install python-ldap it will fail with the gcc error. Not sure how python-ldap is available in the container,  they probably don't install it through pip...

[2021-04-15 18:51] bensta commented on #144
@thesuperzapper  yep, works. Thanks for the fix.
I split the removal of the trailing * and trailing / on purpose to also a trailing slash in the ingress.path config. I now noticed that you explicitly disallow this in you value checking script anyways. Why is that? For me it doesn´ t matter, I just don't understand the reason behind not allowing a trailing /

[2021-04-15 21:33] ilhnctn commented on #138
Hi @thesuperzapper,
We are using a CloudSQL Postgres DB for airflow and use a [cloud_sql_proxy](https://cloud.google.com/sql/docs/postgres/sql-proxy) on a kubernetes service (proxy runs on an independent pod, not as a sidecar container) for communication between them.

Somehow sometimes proxy service randomly stops answering the requests. Maybe that is the main reason.
But in any case I would want

[2021-04-16 02:37] thesuperzapper commented on #144
There is [a validation which prevents trailing slashes](https://github.com/airflow-helm/charts/blob/airflow-8.0.7/charts/airflow/templates/_helpers/validate-values.tpl#L87-L89), so not much point in supporting it in this validation.

But if I remember correctly, you cant have a trailing slash

[2021-04-16 04:52] brain-buster commented on #136
@thesuperzapper thank you!

[2021-04-16 06:32] bensta commented on #144
Yep, I was referring to that validation telling the user not to use a trailing slash. I noticed it (after looking creating my pull request).  I just don't understand why it is there.
With Nginx ingress, the trailing slash is not needed, but it is valid. I just tested it with minikube and it works.

But again: Minor detail that should not block anyone. We can move on to more important stuff.

[2021-04-16 09:54] thesuperzapper opened #152 "disable git-sync for webserver in airflow 2.0"
I believe Dag Serialisation removes the need for the webserver to have access to the raw DAG files.

https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html

Therefore, we can disable the git-sync sidecar in the webserver deployment if `airflow.legacyCommands` is `false`.

[2021-04-16 11:38] davido912 commented on #152
That's true. Once you enabled DAG serialisation there's no need for a gitsync on the webserver side. This isn't only Airflow specific but also in the more recent 1.10.x, so it would be nice to also have it included for previous Airflow versions

[2021-04-16 13:09] ilhnctn commented on #138
I changed database with the default stateful set one in the chart. It seems to work better then before but still can stay offline up to 5 minutes (monitored about three hours).

[code]

[2021-04-16 14:43] davido912 opened #153 "airflow-upgrade-db job hangs"
![image](https://user-images.githubusercontent.com/48397009/115041303-a4321b00-9ed2-11eb-9bf0-13aff2a94444.png)

Often times when the metadatabase is not ready yet, the initial db check up job hangs and fails to initialize. This results in deployments taking longer due to the fact that it takes time until the pod times out. I find from my experience that using the official Airflow CLI command ofte

[2021-04-17 14:13] davido912 commented on #152
@thesuperzapper I opened a pull request, it should sort this out. Hope it's fine

[2021-04-19 04:46] thetko85 opened #156 "Jobs (db upgrade, etc.) should allow custom pod annotations"
**What is your feature request?**

It would be good to allow custom annotations to be assigned to job pods. A use case for this is if we want to add in the annotation
sidecar.istio.io/inject: "false" just for job pods, so that istio sidecar is not injected.

Note: the generic podAnnotations won't work as we still want the istio sidecar injected to the web deployment.

**What alternatives have you

[2021-04-19 15:54] brain-buster commented on #124
@thesuperzapper also sorry for annoying, but this bug is high-critical for my project - I cannot run my DAGs after updating to Airflow 2.0 since 'ModuleNotFoundError' raised. Please, can you tell estimate due date to fix this bug?

[2021-04-19 17:58] cocampbe commented on #73
Yes. I have messed with this for a few hours. No matter what you choose, it always scales to the max when using memory.

[2021-04-20 00:21] thesuperzapper commented on #156
Cool, sounds good will do this in the next minor release.

[2021-04-20 00:25] thesuperzapper commented on #153
@davido912 is it specifically the `airflow db check` part which hangs, as we could just remove that `init-container` from the upgrade-db job.

It was always something I was thinking about, as clearly the `airflow db upgrade` part effectively checks if the external DB is up.

[2021-04-20 00:49] thesuperzapper commented on #153
@davido912 I think a simple solution is using the linux `timeout` command in front of the `airflow db check`

[2021-04-20 01:30] thesuperzapper opened #157 "add support for GIT_SYNC_MAX_SYNC_FAILURES"
Currently, we dont let the user set `GIT_SYNC_MAX_SYNC_FAILURES` in the `git-sync` container.

We should allow users to configure this feature with a value like `dags.gitSync.maxFailures`.

This feature may be useful for users as with flaky network connections, who dont want to rely on the exponential backoff provided by Kubernetes, as requested here: https://github.com/airflow-helm/charts/pull/11

[2021-04-20 01:37] thesuperzapper commented on #73
@cocampbe we have an issue tracking this feature here https://github.com/airflow-helm/charts/issues/103, please feel free to raise any proposals.

[2021-04-20 05:43] thesuperzapper opened #158 "KubernetesExecutor pod_template includes git-sync regardless of configs"
Currently the default `pod_template.yaml` when using `KuberentesExecutor` will include the git-sync container, even if no `dags.gitSync` values are configured.

Relevant code:
https://github.com/airflow-helm/charts/blob/airflow-8.0.7/charts/airflow/files/pod_template.kubernetes-helm-yaml#L38

[2021-04-20 06:01] #124 closed

[2021-04-20 06:01] #152 closed

[2021-04-20 06:01] #153 closed

[2021-04-20 06:01] #158 closed

[2021-04-20 06:10] thesuperzapper commented on #124
Hey all, I am pleased to say this has been fixed after version `8.0.8` of the chart, It ended up only being a patch version, as I did not need to add any new chart values.

For reference, all I did was add an init-container which preforms a git-sync one time, so that the dags are definitely present before the main container starts.

---
I have tested this works by creating a dag repo which looks l

[2021-04-20 06:11] thesuperzapper commented on #153
@davido912 this should be fixed after version version `8.0.8` of the chart, as the `airflow db check` will now timeout after 16 seconds.

Can you confirm?

[2021-04-20 06:22] thesuperzapper opened #160 "dags-data volume is included in webserver even when git-sync is disabled"
While https://github.com/airflow-helm/charts/pull/159 resolved the issue of an unneeded git-sync container being deployed with the webserver (see https://github.com/airflow-helm/charts/issues/152), we still include the `dags-data` volume, even when the git-sync container is not included.

This is mostly because the volumes/volumeMounts are defined in the [./_helpers/pods.tpl](https://github.com/ai

[2021-04-20 06:27] thesuperzapper opened #161 "update the default version of airflow to 2.0.2"
We should update the default version of Airflow to `2.0.2`.

Probably we should do this on the next minor release (e.g. `8.1.0`), so we can document the change in `UPGRADE.md`.

__NOTE:__ the chart already supports airflow `2.0.2` if you change the image as described here:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-use-a-specific-version-of-airflow

[2021-04-20 06:34] thesuperzapper opened #162 "add description to each section of the README"
Currently we just have tables under the "Upgrade Guides" and "Examples" sections of the readme, we should include a quick blurb which describes the purpose of each section.

Upgrade Guides:
 * "Guides for upgrading between major and minor versions, where there might be breaking changes."

Examples:
* "References of custom `values.yaml` which can be used as starting points for your values file."

[2021-04-20 06:49] griseau opened #163 "extraPipPackages not getting installed after migrating to 8.0.8"
**What is the bug?**

I tried to upgrade to 8.0.8 to fix #124, but it looks like extraPipPackages are not installed anymore.
I was previously using 8.0.2 so not sure if this is due to 8.0.8, but as @thesuperzapper added a new init container I'm guessing the init with install-pip-packages doesn't work well ?

**What are your Helm values?**
[code]

**What is your Kubernetes Version?**:

[code]

**Wh

[2021-04-20 06:53] thesuperzapper commented on #163
@griseau is this happening for all pod types (deployment, etc) or just one?

[2021-04-20 07:10] thesuperzapper commented on #163
@griseau @simmartynas could you please post logs from the pod, because I just tried with `extraPipPackages` and `pandas` and it seems to work?

[2021-04-20 07:25] akshay654 opened #164 "Remote bucker for remote logging to Azure blob storage not working"
Hi Team,

I am facing a issue while trying to achieve remote logging to Azure Blob storage container using wasb.

Following is the custom values.yaml file section that i have changed as per documentation-
values.yaml -

  config:
    AIRFLOW__LOGGING__REMOTE_LOGGING: "True"
    AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: "wasb-cmu_logs_kubernetes"
    AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID: "wasb_defa

[2021-04-20 07:26] griseau commented on #163
@thesuperzapper, wasn't working the first time I tried, I did a rollback, upgrade again and that time it worked. I'll try on a new clean env to see if I can reproduce and share the logs.

[2021-04-20 07:30] thesuperzapper commented on #164
@akshay654 what version of the chart & airflow are you using?

Can you share pod logs?

[2021-04-20 07:31] simmartynas commented on #163
Currently I have problem with `gsutil` pip package

Here are logs that this package was successfully installed in worker pod
![image](https://user-images.githubusercontent.com/16124418/115353759-91189700-a1c1-11eb-85c3-2a092c29db08.png)

But running bash command with airflow says
```[2021-04-20 03:44:50,040] {bash.py:173} INFO - bash: line 1: gsutil: command not found```

Checked inside worker pod

[2021-04-20 07:44] thesuperzapper commented on #163
@simmartynas why would installing a python package bring something into your bash PATH?

[2021-04-20 08:00] simmartynas commented on #163
@thesuperzapper It's used as command line tool. It worked with `7.14.0` version.

[2021-04-20 08:07] akshay654 commented on #164
Hi,

Chart Version - -8.0.7
airflow image - apache/airflow 2.0.1-python3.7

Attaching logs as well
[scheduler_logs_pod.zip](https://github.com/airflow-helm/charts/files/6341738/scheduler_logs_pod.zip)

[2021-04-20 08:20] thesuperzapper commented on #163
@simmartynas this is because we no longer prepend the `/home/airflow/.local/bin` to PATH (in `8.X.X`), but furthermore, even if we did it wouldn't have the same effect as in `7.X.X`, as we now install into `/opt/python/site-packages`.

I will have to think about how we should solve this, can you raise a new issue so we can discuss it without pouting this one?

[2021-04-20 08:22] griseau opened #165 "Chart is not working anymore since airflow released version 2.0.2"
**What is the bug?**

Even if in the values.yaml file I have `tag: 2.0.1-python3.8`, airflow 2.0.2 is getting deployed on one of the pod. When deploying the scheduler is not running. If I try to access the UI, I have the following :
![image](https://user-images.githubusercontent.com/48803465/115362645-084e2b00-a1c2-11eb-8a9e-4e8a0ce6b160.png)

Somehow, airflow 2.0.2 is getting installed somewhere

[2021-04-20 08:23] griseau commented on #163
Have another issue #165, so I can't reproduce at the moment but I'll let you know asap @thesuperzapper

[2021-04-20 08:34] thesuperzapper commented on #165
@griseau Clearly there is an issue with your values, you must be passing a tag other than `2.0.1-python3.8`, it's literally not possible that  the chart as in this repo is deploying `2.0.2`. (With the possibly exception of if airflow themselves screwed up the DockerHub images)

[2021-04-20 08:35] thesuperzapper commented on #164
Also, how are you using an `airflow.cfg` file?

All configs should be set with the `airflow.config` value, please see the docs:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-set-airflow-configs

[2021-04-20 08:40] thesuperzapper opened #166 "support multiple git-sync repos (for dags & plugins)"
Currently we only support a single git repo with `dags.gitSync`, we should consider extending this to allow for multiple dags git repos, if this can be done with minimal impact to the values structure.

[2021-04-20 08:42] griseau commented on #165
@thesuperzapper when running into a container `airflow version` I have 2.0.1 so the version is the correct one, only in the UI it's showing 2.0.2, bit disappointing. I tried to deploy the chart on a new cluster and I'm facing the same issue.

[2021-04-20 08:49] griseau commented on #165
@thesuperzapper looks like airflow mix version between 2.0.1 and 2.0.2 :
![image](https://user-images.githubusercontent.com/48803465/115366821-ec4c8880-a1c5-11eb-9d99-f70742b44d43.png)

But when running airflow version inside the container :
![image](https://user-images.githubusercontent.com/48803465/115366963-09815700-a1c6-11eb-94c2-6757d8505de3.png)

[2021-04-20 08:54] thesuperzapper opened #167 "improve fernet key management"
Currently, we have one native fernet key value `airflow.fernetKey`, but clearly hard coding the fernet key in the values is not advisable, so we encourage users to use `airflow.extraEnv` to use a fernet key from an existing secret:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-set-a-custom-fernet-encryption-key

Clearly there must be a better solution, but I am not sure wh

[2021-04-20 08:55] akshay654 commented on #164
Hi,

Yes, I am using the values.yaml file for passing the values, Inside values.yaml under section airflow.config, I have placed my values in that section only.

The airflow.cfg file section i shared is basically from inside the pod when i was just checking whether my values are reflecting in the file or not and they were blank as shown above.

doc referred - https://github.com/airflow-helm/charts

[2021-04-20 08:57] griseau commented on #165
They just released 2.0.2-python3.8 on dockerhub, so I tried, but have the following error on the init install-pip-packages :
`ERROR: Can not combine '--user' and '--target'`

[2021-04-20 09:23] ZeWaren commented on #165
I'm in the exact same situation this morning. Let me know if I can help.

[2021-04-20 09:33] griseau commented on #165
@ZeWaren, as a workaround you can use 2.0.2-python3.8 image without extraPipPackages, it worked on my side.

@thesuperzapper we have 2 different issues here :
- the chart is not working anymore with 2.0.1-python3.8 (first issue I pointed out)
- extraPipPackages doesn't work with airflow 2.0.2. Do you want me to create another issue for that ?

[2021-04-20 11:41] kohonen commented on #165
it seems that the new helm chart somehow upgrades the airflow version to 2.0.2, most probably via pip

[2021-04-20 13:11] thesuperzapper commented on #165
Just to keep everyone updated, the issue was caused by the existence of new airflow version when installing packages like `"apache-airflow-providers-databricks==1.0.1"`, as pip seems to try and install the newer versions of airflow.

[2021-04-20 13:13] ZeWaren commented on #165
I confirms 2.0.2 works without `extraPipPackages`. However, the thing is I need those packages for my DAGs. :slightly_smiling_face:

[2021-04-20 13:14] griseau commented on #165
Thanks @thesuperzapper, then the use of constraint files as proposed in #143 would fix it.

[2021-04-20 13:16] griseau commented on #165
Let me know if I can help on that

[2021-04-20 13:26] griseau commented on #165
In the meantime, you can use 2.0.1 and explicitly add "apache-airflow==2.0.1" as an extraPipPackages. It should work :)

[2021-04-20 14:33] thesuperzapper opened #168 "pip install fails with airflow 2.0.2 docker image"
Right now, if you use the `apache/airflow:2.0.2-python3.8` image with `airflow.extraPipPackages` set to anything, it will fail with the error: `ERROR: Can not combine '--user' and '--target'`

[2021-04-20 14:42] thesuperzapper opened #169 "existence of airflow 2.0.2 breaks some pip installs"
Currently if you install `apache-airflow-providers-databricks==1.0.1` with `airflow.extraPipPackages`, it will install `airflow-apache==2.0.2`, which breaks the scheduler pod.

There are a few ways we could prevent pip installing the newer version of airflow, including using constraints, and just specifying `apache-airflow==2.0.1` at the end of the pip install list.

Issues with these ideas:
* the

[2021-04-20 14:44] thesuperzapper commented on #165
I have made two seperate issues which track the two issues discussed here, lets move discussion over to them:
* https://github.com/airflow-helm/charts/issues/169
* https://github.com/airflow-helm/charts/issues/168

NOTE: I am going to go to sleep, its 1am in Australia, but please discuss and work on a solution if you want.

[2021-04-20 14:44] #165 closed

[2021-04-20 14:47] thesuperzapper opened #170 "add the pip-install bin directory to path"
In the old `7.X.X` versions of the chart, we used to preprend the `/home/airflow/.local/bin` folder to the bash PATH.

We should consider what we can do to allow for this kind of usecase, as some people were depending on it, see here:
https://github.com/airflow-helm/charts/issues/163#issuecomment-823047250

NOTE: we no longer install into `/home/airflow/.local/bin` with `pip --user` but instead us

[2021-04-20 14:48] thesuperzapper commented on #170
@simmartynas you were saying you used the old feature

[2021-04-20 14:49] thesuperzapper commented on #163
@griseau I believe this issue is the same as https://github.com/airflow-helm/charts/issues/168

Lets move discussion there.

[2021-04-20 14:49] #163 closed

[2021-04-20 14:56] griseau commented on #169
Agree with you that adding apache-airflow==2.0.1 is not the ideal case.

Airflow provides many constraint files with this url : https://raw.githubusercontent.com/apache/airflow/constraints-${AIRFLOW_VERSION}/constraints-${PYTHON_VERSION}.txt

So maybe best option could  be to add values like `airflow.version` and `airflow.python.version` instead of setting the image ? And then reuse them for the c

[2021-04-20 15:39] ZeWaren commented on #168
In the meantime, I've created a custom docker image that just pulls the official image (`apache/airflow`) and issues `pip install` commands on top.

    FROM apache/airflow:2.0.2-python3.8
    RUN pip install "jambon==1.3.23" "poulet==0.1.3" "truite==0.13.0"

Using that image (with `airflow.image.repository`) allowed me to get rid of the `airflow.extraPipPackages` directive in the chart and deploy

[2021-04-20 21:40] tomyedwab commented on #124
@thesuperzapper The fix works for us! Thank you so much!

[2021-04-20 23:51] thesuperzapper opened #171 "allow users to run airflow as root"
Currently, if a user sets `airflow.image.uid` and `airflow.image.gid` to `0`, in an attempt to run airflow as root, they are met with an error `ModuleNotFoundError: No module named 'airflow'`.

It seems that airflow is installed into `/home/airflow/.local/lib/python3.8/site-packages/airflow` in the offical `apache/airflow` container images, and obviously the local python install directory for the

[2021-04-21 01:00] thetko85 commented on #156
Great to hear, thanks!!!

[2021-04-21 03:21] zhaoyonglau opened #172 "Airflow Plugin & Overriding files"
I need advice on how we can add airflow custom plugin and new files like a custom SecurityManager.py (to override the existing ones in Airflow). I began with installation of airflow in my local python environment and want to move to k8 deployment (which I am still learning) for my next step.

[2021-04-21 04:49] brain-buster commented on #124
@thesuperzapper thank you for fixing this bug!

[2021-04-21 06:08] hussainsaify commented on #172
@zhaoyonglau I mounted them as a configmap in webeserver section in values.yaml.

eg.

  extraVolumeMounts:
    - name: custom-security-config
      mountPath: /opt/python/site-packages/flask_appbuilder/security/manager.py
      subPath: "manager.py"
    - name: sqla-manager-config
      mountPath: /opt/python/site-packages/flask_appbuilder/security/sqla/manager.py
      subPath: "manager.py"
  ex

[2021-04-21 07:22] thesuperzapper commented on #171
For now, you can set these values as a fix:
[code]

[2021-04-21 08:36] griseau commented on #169
@thesuperzapper, don't know why I didn't think about it before, but here is a "hacky" solution to use constraint file.
Add "-c" and constraint file path as a extraPipPackages.

I tried with the following and it worked
[code]

[2021-04-21 08:39] thesuperzapper commented on #169
@griseau but when I tested including a constant file, the scheduler still failed.

[2021-04-21 08:42] griseau commented on #169
It's weird because I just tested it with airflow 2.0.1, and it worked perfectly. Which version did you use ?

[2021-04-21 08:45] griseau commented on #169
Constraint file doesn't include constraint on apache-airflow version, so I guess it's the reason

[2021-04-21 09:13] potiuk commented on #169
constraints should only be used when you are installing as "fresh" installation. When you are adding extra dependency (especially released after airflow) , there is no reason to use constraints for that.

Generally just installing extra `apache-airflow-providers-databricks==1.0.1` should not generally automatically upgrade Airflow to 2.0.2 unless you specifically request it (via `--upgrade` `--upg

[2021-04-21 10:06] #172 closed

[2021-04-21 10:28] hussainsaify commented on #125
@HariAA Not an ideal way but you can override security manager by mounting it as a configmap for enabling authentication and authorization for azure ad in webserver values section

[code]

[2021-04-21 12:03] potiuk commented on #169
Just one more comment here. In case you use the automated custom image building in chart (whch I believe might be the case) with 2.0.2 we've updated documentation about building the image. so you can take a look and see all the documentation here including the reference parameters:

https://airflow.apache.org/docs/docker-stack/build.html#customizing-the-image

[2021-04-22 06:17] thesuperzapper commented on #168
I know the cause for this issue, its due to the addition of `PIP_USER=true` to the [apache/airflow Dockerfile](https://github.com/apache/airflow/blob/2.0.2/Dockerfile#L531-L533).

I will fix this in the next patch release, which I will push out once I solve https://github.com/airflow-helm/charts/issues/169

[2021-04-22 11:35] yehlo commented on #166
I thought about this a bit and would propose something along the lines of:

[code]

Currently I am considering adding default options like secretKey, branch etc. so that you don't have to define them in each repo entry but would still be able to overwrite it foreach repo.

Sadly the git-sync sidecar container is specifically designed to clone only one repo. It was kinda discussed in here: https://

[2021-04-22 12:29] klalafaryan opened #178 "install-pip-packages contrainer fails to start (airflow 2.0.1)"
**What is the bug?**

[code]

With above extraPipPackages,  `install-pip-packages` container fails with following exception:
[code]

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:
[code]

[2021-04-22 12:36] thesuperzapper commented on #178
This is very likely a duplicate of https://github.com/airflow-helm/charts/issues/169

[2021-04-22 12:42] klalafaryan commented on #178
@thesuperzapper  To be honest, I am not sure if it is related to #169.

The problem here is with `2.0.1` image, and it pip install requires `--use-feature=2020-resolver` which is currently missing.

Did I miss anything ?

[2021-04-22 12:47] thesuperzapper commented on #178
I dont think thats an error (just a notice from pip that things might fail in future versions), please copy the logs corresponding to the actual failure.

[2021-04-22 12:50] klalafaryan commented on #178
Here are the logs, `airflow-web` pod is failing:
[code]

[2021-04-22 12:54] thesuperzapper commented on #166
I've been thinking about an alternative, which is some kind of python library which would be used as the only `main.py` file in your gitSync repo (which itself is configured by some kind of `config.yaml` in the gitSync repo).

The purpose of this library would be to target specific tags/revisions of other repos, to allow a more git-ops approach to airflow in general, specifically enabling one git-

[2021-04-22 13:15] superbeer opened #179 "persist Airflow logs on Kubernetes PVC is status pending"
**What is the bug?**
persist Airflow logs on Kubernetes PVC is status pending
A clear description of the bug.

**What are your Helm values?**
logs:
  persistence:
    enabled: true
    # storageClass: "" ## WARNING: your StorageClass MUST SUPPORT `ReadWriteMany`
    accessMode: ReadWriteMany
    size: 1Gi
Any relevant parts of your `custom_values.yaml`

**What is your Kubernetes Version?**:

[code

[2021-04-22 15:28] thesuperzapper commented on #169
I now understand why this is happening, it's nothing to do with constraints, it's simply that our pip-install init-container was never seeing the pre-installed packages in the `apache/airflow` container image.

That is, `pip install --target /opt/python/site-packages apache-airflow-providers-databricks==1.0.1` was installing all its dependancies (including `apache-airflow==2.0.2`) into `/opt/pytho

[2021-04-22 15:44] potiuk commented on #169
OK. I looked it up and I see where it is coming from.

I think the best would be the other way round. You should install with `--user flag`,  then copy the whole `/home/airflow/.local` directory and mount it as `/home/airflow/.local`

This is exactly what happens when the image is built. We first install it in `build` segment and then copy over the `.local` directory   to the final image.

[2021-04-23 06:05] yehlo commented on #166
So you would basically still have only one gitsync repo defined in k8s but the given repo would add the possibility of a config.yaml or wathever else.
This `config.yaml` then includes other repos with their tag/rev.

I like the idea of managing this outside of the helm chart that I don't have to update my k8s ressources for a new dag / project repo. So hard agree on that one.

I think then it woul

[2021-04-23 07:43] klalafaryan commented on #178
@thesuperzapper  Any ideas ?

[2021-04-23 11:53] klalafaryan commented on #178
@thesuperzapper I have fixed the problem with the following:

[code]

I think we can close the issue since this is not related to the helm chart at all, but I think the issue should be fixed in `apache-airflow[google_auth]`.

[2021-04-23 12:11] thesuperzapper commented on #178
@klalafaryan do you want to raise it on the `apache/airflow` repo, if it's not already there?

[2021-04-23 12:23] yehlo opened #180 "cant set environment variables in init-containers (ex: HTTP_PROXY)"
**What is the bug?**

Unable to set a proxy in initContainer:
https://github.com/airflow-helm/charts/blob/6efcae8394055ec091980df7d1c1eec8e199a7e3/charts/airflow/templates/_helpers/pods.tpl#L63

In pre 8.0 Chart i just added the env variable HTTP(S)_PROXY according to our environment.

I'd propose to add an Option along the lines of ```pipProxy``` whichs adds an env variable within the correspondi

[2021-04-23 12:28] yehlo opened #181 "Check-DB Initcontainer runs into endless timeout"
**What is the bug?**

The command to check the airflow db takes more than 16s sometimes.
Funnily enough I have pods that just can't seem to boot up with 16s while others have no issue whatsoever.
https://github.com/airflow-helm/charts/blob/6efcae8394055ec091980df7d1c1eec8e199a7e3/charts/airflow/templates/_helpers/pods.tpl#L29

I am using the k8s postgresql db.
I checked our Grafana if there was a

[2021-04-23 14:53] sandipamte commented on #94
Still we are getting same error as PermissionError: [Errno 13] Permission denied: '/usr/local/airflow/logs'.
Please let me know any addition information is required form my side.

[2021-04-23 20:06] klalafaryan commented on #178
@thesuperzapper  created an issue in the `apache/airflow` project.

[2021-04-23 20:29] potiuk commented on #178
It is related to helm chart and the way how extraPackages are added. When Airflow 2.0.2 got released, the way how extraPackages are used, caused the airflow to be reinstalled in a different `site-package` directory and it "overrides" the original location of Airlfow. So what you end-up with in the chart is an image with two versions of airflow installed in two different locations. This is chart pr

[2021-04-23 20:41] klalafaryan commented on #178
@thesuperzapper  Any ideas ?

[2021-04-24 13:53] manojbalaji1 commented on #169
@thesuperzapper any updates on this issue?

[2021-04-24 14:22] #31 closed

[2021-04-26 07:05] bensta commented on #179
Does your storage class support ReadWriteMany?  It is required by this chart in order to enable log persistence.
[Here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/) is a table of which storage classes do and which ones don't.

[2021-04-26 09:28] klalafaryan opened #183 "Use env. variable in connections"
Is it possible to use env. variables from ConfigMap in the connections ? What would be the best solution for this ?

[code]

[2021-04-26 12:40] Radu-Codrin opened #184 "Helm 2.xx.0 install doesn't work despite the readme file indicating it should"
**What is the bug?**

Helm 2.x doesn't seem to be supported anymore, because the chart relies on some Helm 3 functions in the templates.

* On Helm 2.11.0:

[code]

* On Helm 2.17.0:

[code]

**What are your Helm values?**

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-04-26 15:31] #168 closed

[2021-04-26 15:31] #169 closed

[2021-04-26 15:31] #181 closed

[2021-04-26 15:32] thesuperzapper commented on #181
@yehlo this should be resolved after version `8.0.9` of the chart, as I have made the timeout 60s.

[2021-04-26 15:33] thesuperzapper commented on #165
Hi all, this should be resolved after version `8.0.9` of the chart.

[2021-04-26 15:33] thesuperzapper commented on #163
Hi all, this should be resolved after version `8.0.9` of the chart.

[2021-04-26 15:33] thesuperzapper commented on #168
Hi all, this should be resolved after version `8.0.9` of the chart.

[2021-04-26 15:35] thesuperzapper commented on #169
Hi all, this should be resolved after version `8.0.9` of the chart.

I would love it if @manojbalaji1 or @griseau could confirm.

[2021-04-26 15:36] thesuperzapper commented on #178
@klalafaryan can you confirm if your issue is fixed after version `8.0.9` of the chart?

[2021-04-26 16:26] manojbalaji1 commented on #169
@thesuperzapper thanks for the update, it works for me for using aws airflow dependency!

[2021-04-26 22:26] hmahmood-slalom commented on #183
+1

[2021-04-27 00:46] thesuperzapper commented on #179
@superbeer can you confirm if you are using a `StorageClass` which supports `ReadWriteMany`?

[2021-04-27 00:49] thesuperzapper commented on #183
@klalafaryan @hmahmood-slalom some questions:

1. what are you trying to achieve with this feature?
2. where would you be setting the environment variables like `AWS_S3_LOGS_ACCESS_KEY_ID`?

[2021-04-27 00:49] thesuperzapper commented on #184
@Radu-Codrin realistically, we should be dropping support for Helm 2.

Would this significantly impact you?

[2021-04-27 05:15] uxth opened #187 "failed to install"
I am using latest version, also latest version of k8s.

got this error
helm install   $RELEASE_NAME   airflow-stable/airflow   --namespace $NAMESPACE   --version $CHART_VERSION   --values $VALUES_FILE
Error: failed post-install: timed out waiting for the condition

kubectl get pod -n airflow
NAME                                            READY   STATUS                  RESTARTS   AGE
my-airflow-c

[2021-04-27 06:37] srthok opened #188 "Kubernetes pods remains after the task is completed"
**What is the bug?**
When DAG execution is completed,Pods are supposed to be terminated. But,They remains forever.
A clear description of the bug.

**What are your Helm values?**

  kubernetesPodTemplate:
        stringOverride: |-
          apiVersion: v1
          kind: Pod
          metadata:
            name: exec-pod
          spec:
            containers:
              - name: base

[2021-04-27 08:50] Radu-Codrin commented on #184
Right now I am limited to using Helm 2.11.0 due to project infrastructure and CI system limitations, but at some point, the migration will become inevitable :)
But first, I need to be able to deploy Airflow 2.0.x in our clusters, so I'll have to find another solution.
I was looking at the chart here: https://github.com/apache/airflow/tree/master/chart
It looks like it has only one template dependi

[2021-04-27 10:42] kalkov commented on #184
I'm also experienced the same issue with helm `v2.15.2` - "function "get" not defined", would love to see support for helm 2.

[2021-04-27 11:36] hmahmood-slalom commented on #183
@thesuperzapper

1. I'm trying to create Airflow connections where values for items such as password, etc. are using pre-existing Kubernetes secrets that I created ahead of time. Is there a way to do such thing?
2. I'm currently exposing the Kubernetes secrets as "extraEnv" variables.

[2021-04-27 13:03] griseau commented on #169
Thanks @thesuperzapper ! It worked on my side also

[2021-04-27 15:03] ahayasic opened #189 "Web service pod is never ready when scheduler replicas is greater than 1"
### What is the bug?
When running `scheduler.replicas: 1`, deployments work well.
But when `scheduler.replicas` is set to more than 1, the web service pod cannot handle connections to port 8080.
Same behavior occurs when `web.replicas` is also more than 1 (so, it may be related to #72).

(I'm running the Chart on Minikube)

#### Pod Description
[code]
#### Pod Logs
[code]

####

#### Port-Forward

[2021-04-27 15:27] ahayasic commented on #189
**UPDATE**

After 60 minutes and 17 restarts, finally, the web service pod is working. But it's still strange behavior

[2021-04-27 16:28] tejasshekokar commented on #72
I am also facing the same issue.
Chart Version: 8.0.7.
+1

[2021-04-28 03:13] thesuperzapper commented on #187
@uxth I assume you are not directly running `helm install`?

If so, check if whatever you use to run `helm install ...` has specified the `--wait` flag, if it has, then you need to set the `helmWait` value to `true`:
https://github.com/airflow-helm/charts/blob/airflow-8.0.9/charts/airflow/values.yaml#L1-L3

[2021-04-28 03:15] thesuperzapper commented on #189
@ahayasic are you able to replicate this behaviour with a clean namespace?

[2021-04-28 03:38] thesuperzapper commented on #188
@srthok Is there a reason you are overriding the default `pod_template.yaml` with `airflow.kubernetesPodTemplate.stringOverride`, rather than using the default generated one?

[2021-04-28 13:53] srthok commented on #188
@thesuperzapper Thanks much for your response. I am using AWS EFS for Dags location and to mount EFS into the container, I am overriding pod_template. I am using chart version  8.0.2.

[2021-04-28 15:37] AlexDHoffer opened #190 "High fluctuation in resource usage, especially with webserver pods"
**What is the bug?**

After deploying the Airflow Helm chart, I see a high fluctuation in resource usage from some pods. Especially, the web server pod will go from as low as 3m CPU and 100 Mi to as high as 550m CPU and 1000 Mi. Attempting to place a smaller resource limit of 100m CPU/500 Mi on the webserver pod causes it to be OOM killed.

![image](https://user-images.githubusercontent.com/193694

[2021-04-28 16:50] ahayasic commented on #189
@thesuperzapper, I tried using a namespace `airflow-namespace` with values

[code]

And the deployment worked well with `scheduler.replicas: 2`, but not `3` (even after 90 minutes and many restarts).

Increasing web server replicas didn't work at all.

[2021-04-28 18:48] ilgarm opened #191 "An example of running upgrade-db job"
Hello! Could you pls provide an example how to use `job-upgrade-db.yaml` job template? Thank you!

[2021-04-28 23:39] cfraleig commented on #183
@thesuperzapper

As another workflow, we use ExternalSecrets to get values from AWS Secrets Manager and set them as k8s secrets. If we could add these as extraEnv and ref them in connections that would be great. Else the connections bit really isnt useful if we have to hard code keys into it. Consider just rotating keys and having this exposed or static.

[2021-04-28 23:41] thesuperzapper commented on #188
@srthok can you try setting the `airflow. extraVolumeMounts` and `airflow.extraVolumes` rather than overriding with `airflow. kubernetesPodTemplate.stringOverride`?

https://github.com/airflow-helm/charts/blob/airflow-8.0.9/charts/airflow/values.yaml#L192-L204

[2021-04-29 00:35] thesuperzapper commented on #191
@ilgarm ??

You dont need to "use" it, just install the chart.

[2021-04-29 07:12] ilgarm commented on #191
@thesuperzapper thanks for your kind reply. Will it just work with helm --wait option? Actually, I am not using helm directly, but ArgoCD which also does not use helm to install the application, afaik, it only renders the final yaml through helm. I probably have to investigate more, but upgrade-db job was not even provisioned when installing through ArgoCD.

[2021-04-29 14:07] manojbalaji1 opened #192 "External Redis"
We are planning to use external redis. AWS elasticcahe is something we are evaluating. Since we are planning to use it inside a VPC thus, a password is not required. In the current helm chart, it requires password to be available as secret. Is there a way to avoid using password?

[2021-04-29 16:26] juandiegopalomino opened #193 "Why do external db/redis passwords need to be passed in as pre-existing secrets?"
Why not just pass it in directly with the other external configs, e.g.:
[code]

[2021-04-29 16:26] juandiegopalomino commented on #193
airflow could then store it as a secret, right?

[2021-04-30 01:31] thesuperzapper commented on #193
@juandiegopalomino It's an attempt to prevent users storing their DB password in plain text.

Do you have a use-case which requires this functionality?

[2021-04-30 01:47] thesuperzapper commented on #191
@ilgarm If you are specifying `helm --wait` you must set the `helmWait` value to `true`:
https://github.com/airflow-helm/charts/blob/airflow-8.0.9/charts/airflow/values.yaml#L1-L3

Otherwise the upgrade-db job will never be deployed, see https://github.com/helm/helm/issues/5891#issuecomment-829738750 for reference.

[2021-04-30 01:50] thesuperzapper commented on #192
@manojbalaji1 your use-case will work fine, as if `externalRedis.passwordSecret` is empty, no password will be used when connecting to the external redis instance.

I agree that we should document using an external redis, just [like we do for the metadata db](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-use-an-external-database-recommended)

https://github.com/airflow-hel

[2021-04-30 01:55] thesuperzapper opened #194 "document how to use an external redis instance"
Currently, we document [how to use an external metadata db](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-use-an-external-database-recommended) but not how to use an external redis.

We should add this to the README.md, with a title like `"How to use an external redis instance?"`.

[2021-04-30 01:55] thesuperzapper commented on #192
I have raised an issue about adding this to the README: https://github.com/airflow-helm/charts/issues/194

[2021-04-30 04:50] juandiegopalomino commented on #193
@thesuperzapper I do yes, I'm making a tool called [opta](https://docs.runx.dev/docs/overview/) for managing cloud infrastructures and we can link data such as db configuration (user name, hostname, db name, and password) directly to other resources such as helm charts. I actually got airflow deployed with it on eks w/ aurora postgres, elasticache redis, and ingress quite easily today and the only

[2021-04-30 07:20] ilgarm commented on #191
@thesuperzapper thank you! I somehow missed the default value there. Will check that.

[2021-04-30 07:20] #191 closed

[2021-04-30 16:16] tinhkyaw opened #195 "Would you consider a way to pass in password and extra fields for connections as secrets?"
**What is your feature request?**

Currently, the password and extra fields for initial connections which often contain sensitive credential information for the connections are added as plain text in `values.yaml`. e.g.:
[code]
This is a security risk for those who wish to check their `values.yaml` into git.  There used to be a way of adding those connections via a secret key with `add-connections

[2021-04-30 18:10] hmahmood-slalom commented on #195
@tinhkyaw we're currently requesting the same thing here: https://github.com/airflow-helm/charts/issues/183

[2021-04-30 19:48] tinhkyaw commented on #195
Ah, I missed that.

[2021-04-30 19:48] #195 closed

[2021-04-30 19:48] tinhkyaw commented on #195
Duplicate of #183

[2021-05-03 01:40] inventionlabsSydney commented on #99
@thesuperzapper
It appears this exact error has reappeared in tag airflow-8.0.9, it is being caused by a new docker image tag being passed.
Utilising Terraform
[code]

[2021-05-03 09:19] andormarkus commented on #189
Hi @ahayasic

I dont experience this problem with the following config on v8.0.9 with Airflow v2.0.1
**values.yaml**
[code]

**Terraform code to deploy it**
[code]

[2021-05-03 14:11] jherrmannNetfonds opened #196 "DAG storage in shared volume in access mode ReadOnlyMany not working on GKE"
**What is the bug?**
If I want to store the dags an a pre populated PersistentVolume in Google Kubernetes Engine in ReadOnlyMany mode, following [this ](https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/readonlymany-disks) tutorial from google. The installation is stuck in the init phase since either scheduler or webserver pod will bind the PVC in ReadWriteOnce and the rema

[2021-05-03 20:23] cocampbe commented on #72
Same. Chart 8.0.9.

[2021-05-05 17:59] juandiegopalomino commented on #193
@thesuperzapper could I make a pr to add it?

[2021-05-05 23:44] cocampbe commented on #72
After digging into this a little, this seems to either be related a need to add a session "sticky" at the ingress controller or it is related to FAB. If I find a resolution I will post it here.

[2021-05-05 23:49] cocampbe commented on #72
Well, that was simple. I use nginx for ingress. Adding this annotation to the ingress resolved the CSRF issue.

[2021-05-07 02:03] RaedShabbir opened #198 "How To Pull From Private Container Registry?"
I want to pull an image from a private container registry on Azure. How can I do this? It just treats it as if it were on docker.

Thank you.

[2021-05-07 02:59] #198 closed

[2021-05-08 12:35] cocampbe opened #199 "external access to airflow workers"
**What is your question?**

I have deployed chart 8.0.9. I am using a modified version of image 2.0.1-py3.8. The modification was adding the packages for MAPR spark and adding a drill package that add sqlline. After figuring out what files were needed to get spark submits to work against MAPR, I am now faced with the last hurdle.

The spark jobs make it into yarn, but they fail because they cannot

[2021-05-08 12:43] cocampbe commented on #199
FWIW, setting hostNetwork on the workers broke them. I figured it was a long shot.

[2021-05-08 13:20] andormarkus commented on #72
Hi

We are using AWS EKS and `aws-load-balancer-controller` ingress controller.
Based on their [documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/ingress/annotations/) you can enable "sticky sessions". Once "sticky sessions" enabled it will work.
[code]

[2021-05-09 04:33] cocampbe commented on #199
After more thought, I am wondering if having a service of type LB would resolve this issue. I ha e k8s on prem so I need to figure out how I can do this. If anything I might be able to setup metallb for testing.

[2021-05-10 19:37] cocampbe commented on #199
Well. I was able to work around my issue. Using deploy-mode cluster with the sparksubmitoperator got me over the hurdle.

[2021-05-11 15:33] klalafaryan commented on #178
@thesuperzapper I have tried `8.1.0` version, and it is not fixed. Still I get following exception:
[code]

[2021-05-11 22:21] thesuperzapper commented on #178
@klalafaryan the issue is because you are not installing the `Authlib` python package, please review the docs for OAUTH:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-authenticate-airflow-users-with-ldapoauth

[2021-05-11 22:38] thesuperzapper commented on #183
@cfraleig @hmahmood-slalom  the `airflow.connections` value results in the creaton of the [./jobs/secret-job-scripts.yaml](https://github.com/airflow-helm/charts/blob/airflow-8.1.0/charts/airflow/templates/jobs/secret-job-scripts.yaml) Secret, which is mounted by the [./jobs/job-create-connections.yaml](https://github.com/airflow-helm/charts/blob/airflow-8.1.0/charts/airflow/templates/jobs/job-cre

[2021-05-12 06:05] inventionlabsSydney commented on #99
Hi @thesuperzapper ,

I am using `helmWait=true` is this a problem?

[2021-05-12 11:23] hmahmood-slalom commented on #183
@thesuperzapper I'm requesting the ability to be able to apply in the airflow.connections section the variables that I expose in the airflow.extraEnv section. Something along the lines of this:

`airflow:
      extraEnv:
            - name: SAMPLE_NAME
              valueFrom:
                   secretKeyRef:
                          name: "preexisting_secret"
                          key: "pree

[2021-05-13 16:22] gy0ung-git opened #203 "Remote logging to gcs bucket set up"
Hello experts,

I have set up airflow using this chart and it works well. Now, I am trying to set up remote logging and tried to follow directions but it doesn't write to the bucket, it looks like some configuration issue, but can't figure out what's missing. I am quiet new to airflow and gke, so I would appreciate your help on the following. questions.

1. values.yaml set up

config:
 # remote lo

[2021-05-16 14:15] demetrioi opened #204 "Error: failed post-install: timed out waiting for the condition - on variable creation"
Hi all,

I'm not sure if is bug but basically are occurring only when I try to setup variables or connections

**What is the bug?**

Trying to install the helm I got the following error in my ZHS terminal:

Error: failed post-install: timed out waiting for the condition

And this one in my Azure Kubernetes:

`{
    "kind": "Event",
    "apiVersion": "v1",
    "metadata": {
        "name": "airflow

[2021-05-18 02:45] michaeljguarino opened #205 "Pod init containers hang on pip installs"
When I specify extraPipPackages, specifically:

[code]

It hangs at the very end while copying from /opt/airflow/.local/* to the shared volume.

It happens in all init containers within the chart, so not specific to a certain statefulset/deployment.

**What are your Helm values?**

see above

**What is your Kubernetes Version?**:

[code]

**What is your Helm version?**:

[code]

[2021-05-18 02:49] #205 closed

[2021-05-18 02:50] michaeljguarino commented on #205
Sorry figured it out, there was a bug in my postgres setup that paused the subsequent init containers

[2021-05-18 11:20] socar-grab opened #206 "Cannot get worker pod's log"
**What is your question?**
I cannot worker pod's log on the webserver.
it just show me the below error. how configurations of values.yaml should I check?
helm chart version : 8.1.0, airflow images tag : 2.0.2
Thank you in advance

*** Unable to fetch logs from worker pod tutorialprintdate.c8182c57094b4fe182e3d7c41b298099 ***
(404)
Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Audit-Id'

[2021-05-18 17:03] IndrajeetTech2020 commented on #56
/usr/local/lib/python3.8/dist-packages/airflow/configuration.py:332 DeprecationWarning: The dag_processor_manager_log_location option in [core] has been moved to the dag_processor_manager_log_location option in [logging] - the old setting has been used, but please update your config.
/usr/local/lib/python3.8/dist-packages/airflow/configuration.py:332 DeprecationWarning: The statsd_on option in [sc

[2021-05-18 18:46] andormarkus commented on #206
Hi @socar-grab
Are you using Kubernetes or Celery executor?
If you are using Kubernetes executer once the task is finished the pod will be terminated and the logs will be gone.

You have two choice:
1. Writing a log to Kubernetes persistent volume
2. Write logs to remote server like S3, CloudWatch logs, Elasticsearch...

[How to persist Airflow logs?](https://artifacthub.io/packages/helm/airflow-h

[2021-05-18 18:53] andormarkus commented on #203
Hi @gy0ung-git

If you are using GCP GKE than please SSH into one of the web server pod and try list you bucket `gsutil ls`.
If you can not list any of the bucket that means your kubernetes service account does not have enough policy or you did not added kubernetes service account for airflow

[2021-05-18 22:12] thesuperzapper commented on #56
@IndrajeetTech2020 can you clarify what your logs are for?

Like what version of the chart, and values you are using?

[2021-05-19 10:23] andormarkus opened #207 "Pools documentation on artifacthub"
Hi

There is typo in pools documentation on artifacthub:

![Screenshot 2021-05-19 at 11 03 06](https://user-images.githubusercontent.com/51825189/118786208-df3cbb00-b891-11eb-816f-5041eedf973b.png)

It is referring to:
[code]

Correct would be
[code]

[2021-05-19 17:59] enriqueayala opened #208 "8.1.0 deleting dags pvc created with 7.15.0"
**What is the bug?**

I'm currently testing migration from chart version 7.15.0 to 8.1.0 and trying to maintain dags pvc created with 7.15.0 . However , when upgrading to 8.1.0 , a new pvc  is created .

I have tested `dags.persistence.existingClaim` but dags pvc is also deleted cause it not longer exist on rendered yaml files (haven't found any workaround with `helm upgrade` to prevent it ) .

Wo

[2021-05-20 03:23] socar-grab commented on #206
Thank you! I solved.

[2021-05-20 03:23] #206 closed

[2021-05-20 03:59] thesuperzapper commented on #208
@enriqueayala read the `Known Issues` section of the `8.0.0` upgrade guide:
https://github.com/airflow-helm/charts/blob/main/charts/airflow/UPGRADE.md#v715x--v800

[2021-05-20 05:04] thesuperzapper commented on #207
@andormarkus thanks for spotting this!

The issue is actually in the main README.md:
https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-pools

[2021-05-20 08:50] socar-grab opened #209 "Line break doesn't work in webserver log view"
**What is the bug?**
![image](https://user-images.githubusercontent.com/83575607/118948957-c0265200-b993-11eb-908b-fe2443044336.png)

Line break doesn't work in Task logs
It shows just new line escape character(\n') and not show line break.

**What are your Helm values?**
airflow image tag : 2.0.1-python3.8
no custom configurations about webserver log

**What is your Kubernetes Version?**:
1.21.0

[2021-05-20 13:40] enriqueayala commented on #208
Thanks @thesuperzapper  , I've tested it but dags pvc is marked as "Terminating" after `helm upgrade` :
[code]

[2021-05-20 21:58] thesuperzapper commented on #204
@demetrioi If you are using `helm install --wait`, please enable the `helmWait` value:
https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L1-L3

[2021-05-20 22:53] enriqueayala commented on #208
As a workaround I've applied the following :
1. Download of helm chart 7.15.0
[code]
2. Modification of local airflow/templates/pvc.yaml to set `"helm.sh/resource-policy": keep` . This is to to _skip deleting this resource when a helm operation (such as helm uninstall, helm upgrade or helm rollback) would result in its deletion._
[code]
3. Applied helm upgrade using customized 7.15.0 local chart t

[2021-05-20 22:53] #184 closed

[2021-05-20 22:53] #207 closed

[2021-05-20 22:54] thesuperzapper commented on #184
I have decided to remove the docs for helm 2, if you want to continue using the chart, please consider upgrading to helm 3.

(Or contribute a fix if your really game)

[2021-05-21 07:15] potiuk opened #211 "Official helm chart released by the Airlfow Community"
Hello @thesuperzapper

The Airlfow community have finally released the "official" helm chart. Documentation here:  http://airflow.apache.org/docs/helm-chart/stable/index.html

Release message/thread here: https://lists.apache.org/thread.html/r131d839158b8a7a92a7813183cae30d248be9e330ea2faaf9e654970%40%3Cdev.airflow.apache.org%3E

We've been discussing before about community providing support for t

[2021-05-21 15:26] gillbuchanan commented on #166
Just curious, if you were to go with @yehlo's original `repoList` proposal with a range of sidecars over repos in the list, how would you configure airflow to read the dags from each `repoSubPath`? `DagBag`s?

[2021-05-21 20:01] kaxil commented on #211
Thanks, @andormarkus for your comment, we definitely won't support `extraPipPackages` or the jobs that create Connections, pool, users or variables.

I understand why you need it but this is not the right approach. Changing resources like that is not correct in my opinion.

For installing the pip package -- you should do it when building the docker file itself -- not on the fly when installing usi

[2021-05-21 20:38] potiuk commented on #211
Yeah. My opinion is very close to @kaxilss - the "extraPipPackages" and post install hooks are not really following the way how productionized installation should be done. In my opinion (and that's an opinion only) they introduce more problems than they solve, because you add unnecessary variability and delays where it is easily done by just building a custom image, which is both - easy,  straight

[2021-05-21 21:15] andormarkus commented on #211
Hi @kaxil @potiuk

We are deploying everything with Terraform (AWS, Kubernetes, Helm) every helm chart is deployed with `helm_release`.

API:
There is no Airflow Terraform provider.... Using official python client / bash script would require us to use `null_resource` in Terraform which we want to avoid as much as possible. I don't think the community ever build provider for Airflow.

Pools:
I only

[2021-05-21 21:45] kaxil commented on #211
@andormarkus Aah .. yes you can override Default Pool slots via Environment Variable, documentation is missing on that page -- I will add that right now.

Use `AIRFLOW__CORE__NON_POOLED_TASK_COUNT=10000` -- this should work

------

Good Point regarding "Rest API and Terraform Resources" -- From a quick search looks like [Rest API Terraform provider from MasterCard](https://github.com/Mastercard/t

[2021-05-22 07:05] potiuk commented on #211
Actually there is a terraform provider that one of the PMC members of Airlfow wrote, using the new REST API: https://github.com/houqp/terraform-provider-airflow

We might consider making it also part of "community managed" resources. Maybe you can check it out?

[2021-05-25 09:32] DylanCuure commented on #209
I have the exact same issue. If I open the logs directly from GCS they have the right format but from the Airflow UI, no line break is shown.

[2021-05-25 11:19] nike4122 opened #212 "PermissionError: [Errno 1] Operation not permitted: '/opt/airflow/logs/hello_world/hello_task/2021-05-24T14:48:14.877499+00:00/1.log'"
Hi , I have done the setup of airflow using airflow-helm charts in AKS . I have configured persistent volume for dags and logs. But worked pod is failed to start after configured PV for logs. I am getting below error logs from the worker pod,

BACKEND=postgresql+psycopg2
DB_HOST=apache-airflow-postgresql
DB_PORT=5432

WARNING:root:OSError while attempting to symlink the latest log directory
[2021-

[2021-05-27 16:47] nike4122 opened #213 "TimeoutError: There are still unapplied migrations after 60 seconds"
Hi,

I have done the setup of airflow 2.0.2 using helm chart in AKS. (https://artifacthub.io/packages/helm/airflow-helm/airflow).
I have configured external postgresql with airflow, but after the connection of external DB pods are not coming up.

NAME                                                                READY   STATUS
pod/apache-airflow-scheduler-5c9f99cbf7-d798b   0/1     Init:1/2
pod/a

[2021-05-28 07:41] potiuk commented on #211
Hey @thesuperzapper - WDYT ? Do you plan to encourage some kind of transitio (and can we help) or do you want to support your helm chart in the future? We are preparing a talk for Airflow summit about the "state of Airflow with K8S" so I think it would be great to know what we can tell the Airflow users.

For me both scenarios are OK - having community-managed helm chart and this one, as well as h

[2021-05-28 09:47] thesuperzapper commented on #211
@potiuk (_also cc @gsemet_)

I am happy to maintain this chart for __as long as it is still used widely__, which will probably be for a while yet as:
1. many companies are using the chart (or forks) in longstanding production deployments
2. there are some features which are not present in the "official" chart yet:
    1. a highly-structured [values.yaml](https://github.com/airflow-helm/charts/blob

[2021-05-28 09:50] thesuperzapper commented on #104
Bump to keep the bot away.

But please comment if you want to help out.

[2021-05-28 09:58] thesuperzapper commented on #213
@nike4122 Is the post-install `XX-upgrade-db` job finishing successfully?
You check the status of the `job` resources with `kubectl get jobs --namespace XX`.

Otherwise, its possible that your DB is really slow (and the migration is taking a while) so we might need to increase the [timeout passed](https://github.com/airflow-helm/charts/blob/airflow-8.1.3/charts/airflow/templates/_helpers/pods.tpl#

[2021-05-28 10:08] potiuk commented on #211
Perfect. That's cool. I think we can close the ticket then and move to the 'collaboration' mode. I think we are more than happy to welcome the PRs to the chart - as long as those are small fixes - it's just a PR to open, if this is something substantial - just write a message to devlist, or open a discussion (if this is something that might require brainstorming) or create an issue in the [Airflow

[2021-05-28 10:15] gsemet commented on #211
Thanks for keeping me in the loop. I pretty much agree with everything that has been said. (don't know if I have still a word to say, as I do not maintain the project anymore factually).

The end goal is to transition everybody to the official chart, once it has all the features required. Sure it is not optimal to maintain two charts, ideally, the official chart would get all the missing features

[2021-05-28 10:17] potiuk commented on #211
Happy to help with that.

[2021-05-28 10:42] potiuk commented on #211
Hey @thesuperzapper . I looked at th description of ASF policies and I think (without reaching out to the trademarks team) that you should change the logo/description to include "Powered By Apache Airflow".

It is nicely described here: https://www.apache.org/foundation/marks/contact#products

[code]

And the https://www.apache.org/foundation/press/kit/ contains information and tools on how to cre

[2021-05-28 10:59] thesuperzapper commented on #211
@potiuk I have replaced the Airflow logo with the "powered by airflow logo", and changed the description to the following (which should remove any possibility for confusion):
[code]

[2021-05-28 11:03] potiuk commented on #211
Thanks a lot @thesuperzapper ! Would it also be possible to change the logo here: https://artifacthub.io/packages/helm/airflow-helm/airflow

[2021-05-28 12:41] andormarkus commented on #211
@kaxil Does airflow support updating the Secretes Backend from dag? Based on my limited experience I can not update the value like I can do on a "local" variable.

[2021-05-28 12:49] kaxil commented on #211
Yes if using the "built-in" backends like Metadata DB. No, if using an external Secrets Backend like Hashicorp Vault.

[2021-05-29 07:23] AndreaGiardini commented on #213
Same issue here. Chart version 8.1.3. default values.yaml file

Looks like the job is never created:
[code]

[2021-05-29 07:48] AndreaGiardini commented on #213
In my case I had to set `helmWait: true`

https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L3

[2021-05-29 09:45] roopainfoworks opened #214 "Error while running example dags"
Using airflow private image with some modification and its hosted on the private repo. When we trigger an example dags its getting stuck queue and eventually failing. Here is the error:

logs:
kubectl describe pods examplebranchoperatorbranching-19a40b3e64684a30a301ef6661b6ca5f  -n airflowk8s

Name:         examplebranchoperatorbranching-19a40b3e64684a30a301ef6661b6ca5f
Namespace:    airflowk8s
Pr

[2021-05-30 11:15] MarkusTeufelberger commented on #211
That's not encouraging to hear, since this means that the official chart is not useful for me at all. I do NOT want to maintain a build infrastructure + Docker registry just to do a `pip install foo_dependency` on top of an upstream container. There are other ways to solve this issue (init containers for example), but if "all dependencies need to be baked into the image from the get-go" is a hard

[2021-05-30 12:00] miky-schreiber opened #215 "Pods are stuck in CrashLoopBackOff, need ability to auto-recover pods"
**What is the bug?**

Once in a few weeks the scheduler, web and worker pods are stuck in the CrashLoopBackOff status.
Looking in the logs shows nothing.
Deleting the pods solves the issue since k8s creates them again.
Is there a way to automatically delete the pods when they are stuck on CrashLoopBackOff or solve it in any other way?

**What are your Helm values?**

[code]

**What is your Kuberne

[2021-05-30 12:11] potiuk commented on #211
I think this is indeed up to discussion on how to answer some of the needs. I don't think the way in this helm chart is good. It has it's own challenges, but maybe there are other ways similar behavior can be achieved.

I agree with @kaxil that the image should be immutable and this is specifically why I have designed the official docker image to be both - extendable and customizable (and I plan t

[2021-05-30 12:49] kaxil commented on #211
@MarkusTeufelberger `git-sync` runs as a side-car and it won't affect running Airflow where as with `initContainer` and `pip install` we are talking about changing/updating dependencies. That being said, it is possible for you to achieve the same with the official chart.

The official chart allows adding `extraInitContainers` (and `extraContainers`) and Webserver, Worker and Scheduler.

https://gi

[2021-05-30 13:01] gsemet commented on #211
To ensure a full reproductibility of the dag, the good option would be to use a lock file (using pip tools for instance). Because I agree, burning the dag image is costly for users, and relying on a pip install during the initialization of the container does the job *if* all dependencies are locked in a way or another.

[2021-05-30 13:23] potiuk commented on #211
That's exactly what `requirements.txt` is supposed to do. PIp tools are not needed for that, Actually with recent changes with the way how resolver works and some nice features of `pip`, I thin the needs for `pip tools` or `poetry` kind of solutions are gone. They used to be helpful, but in `airflow` ecosystem we sticked to `pip` and with PIP 21 maturing we strongly recommend just using PIP for al

[2021-05-30 15:32] gsemet commented on #211
Usually you put loose dependencies in requirements.txt because updating it is quite boring. Pip-tools does the pip freeze for you.

the best would be to use poetry/pep517.