[2021-11-12 14:12] karakanb commented on #457
The pod is literally stuck in "Running" state, nothing is happening, the pod is not going away, it is just sitting there and doing nothing with no logs. I guess it is waiting on a lock or something, I don't know what exactly it is doing, but normally it'd run the migrations and be done with it, but it is not going away.

[code]

The latest log is `there are no unapplied db migrations, continuing..

[2021-11-12 14:16] karakanb commented on #457
ah, I think it is because of the `sync_forever` flag, right? although I don't understand why would the migration be looping forever. when a new deployment runs, there'll be a new pod being created with the never image, which would have the latest migrations anyway, and running the migrations once should be enough there to kill the pod. I understand why running it as a post-install hook might not w

[2021-11-12 14:41] baryluk commented on #458
Chart 8.5.2 works fine with airflow 2.2.x itself. I updated from 2.1.4 to 2.2.1 without any issues at all related to the chart. Of course, if you use some changes that are in 2.2.x that require changes to env variables and so on, then you should not upgrade.

The chart did work, but airflow fails later when running tasks on k8s. Unclear why, but I doubt it is fault of the chart.

[2021-11-14 05:10] chuyuou commented on #28
Hello, I got this error when trying to mount an existing pv to airflow on gke:
[code]
Is it relevant with this issue?  Could find the way to work around yet.

[2021-11-14 21:27] minnieshi opened #464 ""check-db" init-container prevents kubernetes from using side-car pgbouncer"
## What version of the chart are you using?

I am using version `8.5.2` of this chart.

## What version of Kubernetes are you using?

[code]

## What version of Helm are you using?

[code]

## What are your custom helm values?

<details>
<summary>click to expand</summary>

[code]

</details>

## issues/bug
The "check-db" init-container will check DB, and it does not work, if we set the pgbouncer a

[2021-11-15 07:25] #421 closed

[2021-11-15 07:25] #420 closed

[2021-11-15 08:48] c-thiel commented on #463
@thesuperzapper in the values.yaml I would simply add an empty lifecycle: {} option to all components.
This can then be filled by the users according to the docs: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/

[2021-11-15 08:54] c-thiel opened #465 "Allow specification of RollingUpdate specification"
## What is your feature request?

Currently the Update Strategy is fixed to RollingUpdate (which is reasonable I think).
What is missing is the specification of the rollingUpdate:

[code]

I am running a very large Airflow Deployment with hundreds of worker pods in production. As I currently have no option to specify the rolling Update behaviour, one pod is updated at a time. This takes a very lon

[2021-11-15 09:41] jensgrnb commented on #461
I see that this is a reported limitation on Airflow's behalf, and google have some suggestions on how to remedy it, but basically it's not the helm charts problem. Thanks.

[2021-11-15 09:41] #461 closed

[2021-11-15 10:24] oleksandrkovalenko opened #466 "allow setting labels on `sync` and `db-migrations` Deployments/Jobs"
## What is your feature request?

In some places it's possible to configure `labels` and `podLabels` via values.yaml. Somewhere only `podLables` are available. I'm suggesting to unify it all over the chart.

There are some examples of deployment templates which have only podLabels: `db-migrations-deployment.yaml`, `pgbouncer-deployment.yaml`, `sync-connections-deployment.yaml`

We are not able to

[2021-11-16 07:41] gowdra01 commented on #435
Hi @thesuperzapper
can you please let me know I am seeing this below error in one of our airflow environements what could be the issue?

```[2021-11-16 04:33:50,612] {dagrun.py:459} ERROR - Deadlock; marking run <DagRun yellowbrick_reports @ 2021-11-16 04:33:49.116086+00:00: manual__2021-11-16T04:33:49.116086+00:00, externally triggered: True> failed```

[2021-11-16 07:43] gowdra01 opened #468 "dags are entering to deadlock state and failing"
Hi @thesuperzapper
can you please let me know I am seeing this below error in one of our airflow environements what could be the issue?
Dags are entering to failing state

what could be the reason?

```[2021-11-16 04:33:50,612] {dagrun.py:459} ERROR - Deadlock; marking run <DagRun yellowbrick_reports @ 2021-11-16 04:33:49.116086+00:00: manual__2021-11-16T04:33:49.116086+00:00, externally triggered

[2021-11-16 13:16] chuyuou opened #469 "workers extraVolumes and extraVolumes get stuck in init state"
## What version of the chart are you using?

I am using version `1.0.0` and `1.3.0` of this chart.

## What version of Kubernetes are you using?
[code]

## What version of Helm are you using?

[code]

## What are your custom helm values?

<details>
<summary>click to expand</summary>

[code]
I used the extraVolumeMounts config for workers as the documentation, but workers pods stuck in init state a

[2021-11-18 03:50] thesuperzapper commented on #461
@jensgrnb if you are not using a tool like argo-cd (which uses `helm template ...` rather than `helm install ...`), then you can set `airflow.dbMigrations.runAsJob` to `true` so that the db-migrations are run as a [post-install Job](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/db-migrations/db-migrations-job.yaml), rather than [a Deployment](https://github.com/airflow-

[2021-11-18 03:54] thesuperzapper commented on #468
@gowdra01 I am going to need more information, but I strongly doubt its related to the chart.

You might want to google your error message, specifically the `Deadlock; marking run ` part.

[2021-11-18 03:57] thesuperzapper commented on #431
Bumping for bot.

[2021-11-18 04:01] thesuperzapper commented on #464
@minnieshi the chart supports PgBouncer by default [see the `pgbouncer.*` values](https://github.com/airflow-helm/charts/blob/e1d49498426add959350ab8efacead8f96400759/charts/airflow/values.yaml#L1353-L1368).

I imagine you are trying to use a non-default method because of https://github.com/airflow-helm/charts/issues/412, hopefully, we will resolve that very soon. (It's a trivial fix, but does req

[2021-11-18 06:06] thesuperzapper commented on #469
@chuyuou If you describe the pod that is stuck in init, what are its events?

Also, what are the logs for the init container (which I assume is failing)?

[2021-11-18 06:27] thesuperzapper commented on #458
@baryluk or @jholowaty  have you discovered the cause of your issues?

I am not sure what could cause `dumb-init not found` unless you are trying to use a container image that is not based on `apache/airflow:xxxx` or you are somehow mounting over the `/usr` directory.

[2021-11-18 08:01] chuyuou commented on #469
Hi, thanks for replying!!

I got it working by writing as
[code]
without `readOnly: true`.

[2021-11-18 08:28] #469 closed

[2021-11-18 17:29] baryluk commented on #458
@thesuperzapper yeah. I solved my issue, it was unrelated to dumb-init. It was because of using custom airflow dag folder path, which now required passing stuff more explicitly. Running Airflow 2.2.2 on chart 8.5.2 without any issues right now.

[2021-11-18 23:07] thesuperzapper opened #470 "Use new `--release-notes-file` in release process"
The PR https://github.com/helm/chart-releaser/pull/137 added support to generate the GitHub release notes from a template string (`--release-notes-file`) rather than the `description` in `Chart.yaml`.

We should use this so that we don't have to manually update the description under [releases](https://github.com/airflow-helm/charts/releases) each time.

[2021-11-18 23:09] thesuperzapper commented on #458
Thanks, @baryluk I will close this issue.

[2021-11-18 23:09] #458 closed

[2021-11-19 01:50] aabouzaid commented on #470
@thesuperzapper I believe that you want to use `--release-notes-file` (which was introduced in helm/chart-releaser#137 PR) not `--release-name-template` :-)

[2021-11-19 02:13] thesuperzapper commented on #470
@aabouzaid thanks, fixed.

[2021-11-19 07:13] minnieshi commented on #464
You imagined correctly, could not use the default pgbouncer with azure postgresql single server. Had to use my own pgbouncer in the end, and pointed the externaldB to the pgbouncer service.

I wanted to contribute to the mentioned issue, but I am new in chart development, or testing it, would be nice if the repo has some guidance how to contribute (prerequisite knowledge and links).

You can close

[2021-11-19 07:39] minnieshi commented on #412
Hi @george-zubrienko,
Can you please describe a bit more details? I imagine you did below:
- use the chart 8.5.2
- in values.yaml, set pgbouncer.enable true
- in values.yamk, set externaldatabse to the azure postgresql host
- and then???? (How/what did you do before/after running `helm install` with your yaml file?)

[2021-11-19 09:31] george-zubrienko commented on #412
@minnieshi Hmm I just realized that we actually use a different helm chart - the one provided from [apache](https://airflow.apache.org/docs/helm-chart/1.1.0). I found the solution to pgbouncer issue in this repo though :)

We use 1.1.0 version and deploy it via terraform. This is a part of `helm_release` resource that we set in regards to pgbouncer/database:

[code]
Important things here:

1. Set

[2021-11-19 10:51] jherrmannNetfonds opened #471 "How to set connection extras"
I am trying to set extra connection fields for example for google_cloud_platform:

[code]
after helm install the values (Keyfile Path and Project Id) are not set in the UI. Same for extras of other connections types like kubernetes.
Is there a special syntax I have to follow?

[2021-11-19 12:44] minnieshi commented on #412
That is clear. Thanks a lot.
We don't use TF, but I got the idea about the manual patch. (We use bash, helm cli, kubectl cli)

[2021-11-21 00:53] #425 closed

[2021-11-21 22:08] thesuperzapper commented on #425
Since the bot closed this, lets move the discussion to: https://github.com/airflow-helm/charts/issues/427

[2021-11-21 22:26] thesuperzapper commented on #428
Reopening.

[2021-11-21 22:26] thesuperzapper commented on #302
Reopening.

[2021-11-21 22:29] thesuperzapper commented on #412
@george-zubrienko @minnieshi in my testing, the only change needed to use pgbouncer with Azure Postgress (on this chart) is to update [templates/pgbouncer/_helpers/pgbouncer.tpl#L21](https://github.com/airflow-helm/charts/blob/e1d49498426add959350ab8efacead8f96400759/charts/airflow/templates/pgbouncer/_helpers/pgbouncer.tpl#L21) to `auth_type = scram-sha-256`.

This can be easily achieved by addin

[2021-11-21 22:31] thesuperzapper commented on #471
@jherrmannNetfonds what you are doing should work?

Are you seeing any errors on the `snyc-connections` deployment pods?

[2021-11-22 00:48] minnieshi commented on #412
Thank you very much @thesuperzapper. My brain did not "click"(but now it seems obvious) until you said the above. The cause was I didn't know helm well. I had been always using `helm install repo-reference-name-given-in-helm-add-repo` approach to install a chart. Your comment triggered me to think `where is the chart stored locally?` and `what does helm install do?`, `how else can I install a char

[2021-11-22 02:14] thesuperzapper commented on #339
Bumping for bot.

[2021-11-22 08:30] jherrmannNetfonds commented on #471
Hi @thesuperzapper thx for reply and the great work on the chart.
I will check the logs on my next deployment. Did not thing about them yet.

[2021-11-22 08:30] #471 closed

[2021-11-22 11:28] jensgrnb commented on #461
Okay, yeah unfortunately I'm bound to argocd :(

[2021-11-23 06:12] saip50 opened #472 "airflow upgrade"
Airflow Helm Chart (User Community): https://github.com/airflow-helm/charts/tree/main/charts/airflow

Currently, we are using Airflow Helm Chart (User Community) v8.5.2 and airflow v2.0.2 deployed in azure AKS.
got that, airflow have released there new version v2.2.2, so can we use the same Airflow Helm Chart (User Community) v8.5.2 chart to upgrade our airflow to v2.2.2 or is there any future enh

[2021-11-23 23:38] thesuperzapper commented on #472
@saip50 I always recommend testing any upgrade in a dev environment, and not blindly upgrading prod.

The main airflow `v2.2.X` feature missing from `v8.5.2` is that we don't currently support [Deferrable Operators & Triggers](https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html).

### The issue to track adding "Deferrable Operators & Triggers" to the chart is: https://git

[2021-11-24 05:57] saip50 commented on #472
@thesuperzapper yes, we always test upgrade in dev environment initially as a best practice.
Thanks for the update. we will be following up on the issue #424 for more updates on new chart and features.

[2021-11-25 03:28] pindge opened #473 "airflow db-migration-init container not optional"
## What is the bug?

https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/webserver/webserver-deployment.yaml#L93 this is always required, even when `dbmigration enabled` is set to false

## What version of the chart are you using?

I am using version `8.5.2` of this chart.

## What version of Kubernetes are you using?

[code]

## What version of Helm are you using?

[code]

#

[2021-11-25 14:35] nerilau opened #474 "Airflow connection is added with the missing fields"
## What is the bug?

The bug is that connection is being created, but host, port and login variables are missing and only extra, connection type, password, and description are discovered. Also, when I execute helm template command I can see the following output in the `job-scripts` secret which indicates that values are provided correctly:
[code]

## What version of the chart are you using?

I am

[2021-11-26 16:04] rjribeiro opened #475 "ERROR: could not obtain lock on row in relation "slot_pool""
## What is the bug?

Yesterday I configured the web, worker and scheduler workloads to have 2 replicas, with podDisruptionBudget with minAvailable: "1". Since then I've had the following error log in the db:

db=hml,user=postgres ERROR: could not obtain lock on row in relation "slot_pool"

## What version of the chart are you using?

I am using version `8.2.0` of this chart.

## What version of Ku

[2021-11-29 11:46] JanPokorny opened #476 "Non `cluster.local` domains break internal DBs"
The chart currently assumes that the internal cluster domain is `cluster.local` -- see https://github.com/airflow-helm/charts/search?q=%22cluster.local%22. When the internal domain is not `cluster.local` -- such clusters sadly do exist -- the bundled PostgreSQL, PgBouncer, and Redis can't be accessed.

Proposed solution: either use a short domain for services (`serviceName.namespace` instead of `s

[2021-11-29 18:52] chaudharishalmali opened #477 "Error if `ingress.web.precedingPaths[].servicePort` is specified as a string"
## What is the bug?

There seems to be an issue with the webserver ingress configuration of the chart. I've added few annotations to my ingress configuration in the values.yaml. When I add "use-annotation" to servicePort of my precedings path, I get an error saying

got "string", expected "integer"
![image](https://user-images.githubusercontent.com/28332830/143923362-cf54fe6a-8a0b-46ae-8c8a-1dc556

[2021-11-30 11:39] reyaL-dev opened #478 "Binding Azure Postgres Database"
Hello everyone,

since we cannot edit the parameter for the database-connection directly anymore I can't get the Azure Postgres-DB bound to the image. I think its because the "@" sign is not parsed correctly, since it is required in 'Azure Pgsql in comparison tu regular Pgsql.
(For instance: user=mypsqladmin@sql-kube-server )
Does anyone has successfully attached a Azure postgres DB?

Best regards

[2021-11-30 18:45] rjribeiro opened #479 "Azure breaking sheduler"
## What is the bug?

Azure cosmos and storage are breaking my scheduler.

[code]
[code]

right after these errors the sheduler restarts.

## What version of the chart are you using?

I am using version `8.2.0` of this chart.

## What version of Kubernetes are you using?

[code]

## What version of Helm are you using?

[code]

## What are your custom helm values?

<details>
<summary>click to expand

[2021-12-01 16:24] Recio commented on #252
Just wanted to say that this helped me out a bunch, thanks @thesuperzapper 👍

[2021-12-03 05:00] #328 closed

[2021-12-06 00:55] #103 closed

[2021-12-06 22:42] cfraleig opened #480 "Has anyone run into Error: "Command exited with return code -9""
## What is your question?

I didn't see anything like this, but was wondering if anyone has run into this error. I'm also getting `"/usr/local/lib/python3.8/multiprocessing/resource_tracker.py:216: UserWarning: resource_tracker: There appear to be 2 leaked semaphore objects to clean up at shutdown"`

From a google it looks like the kube executor is having problems with pod memory, if so how can I

[2021-12-08 18:21] #480 closed

[2021-12-08 18:22] cfraleig commented on #480
turns out its a memory issue, needed to raise limits on worker pods

[2021-12-08 20:38] cocampbe commented on #213
I finally got to use 8.5.1 today. And I upgraded to airflow 2.2.2. The update went well. I did not enable pgbouncer, but will look into that later. The only issue I had was that some data in one of the  tables apparently had bad data. I  think that is an airflow feature, not the helm chart. I just wanted to get back to you on this. Thanks for your help.

[2021-12-09 13:10] jensgrnb opened #481 "docker container tag refers to Airflow v2.2.1 but running "airflow version" in a container results in v.2.1.4"
A data engineer spotted that there seems to be a discrepancy in the reported airflow version and the docker tag we're running.
The container specifies v.2.2.1 but running "airflow version" in a shell in any of the k8s pods results in v.2.1.4 being printed.

I assume this is airflow not having updated their "version" package, and not us thinking we're running 2.2.1 and actually on 2.1.4...

[2021-12-11 04:19] #438 closed

[2021-12-13 14:35] jensgrnb commented on #481
https://github.com/apache/airflow/issues/20168

Raised the problem at airflow, however the problem was resolved by upgrading the dependency pin we had on one of our extra pip installs, which pulled in a different version of airflow from pypi than the one defined in the docker image.

[2021-12-13 14:35] #481 closed

[2021-12-13 18:18] anyght opened #482 "Google Cloud connection not working"
## What is the bug?

The test for new `Google Cloud` connection is not working:
I have set my connection on the graphic interfaces and click the button test for check connection
![image](https://user-images.githubusercontent.com/59748997/145865080-25de1ec4-2e13-4212-94c6-0d103ad60652.png)

![image](https://user-images.githubusercontent.com/59748997/145865264-24b269be-d969-4389-852c-ff3115f52168.pn

[2021-12-13 21:46] pgvirtuoso opened #483 "Git-sync won't work on AzureDevOps"
## What is your feature request?

I would like the chart to work git-sync with Azure devOps repos.

## What alternatives have you considered?

Alternatively, the chart could allow editing git command. With the actual config I get the following error:

gmartinez@LT-0742:/mnt/c/Users/giovanni.martinez/kcftech/kubernetes-manifests-old/11_databases/airflow/stage01$ kubectl -n airflow logs -f airflow-s

[2021-12-14 02:44] thesuperzapper commented on #483
@pgvirtuoso what are you asking?

It looks like the error is that you have not given the required SSH Key or HTTP Password/Token.

Take a look at "Option 1a" and "Option 1b" under ["How to store DAGs?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-store-dags) for examples of how to use them.

[2021-12-14 02:46] thesuperzapper commented on #482
@anyght can you clarify how this is related to the chart?

[2021-12-14 02:49] thesuperzapper commented on #473
@pindge its still important for the webserver to not start until the correct DB Migrations have been applied (otherwise it might not work, or may corrupt your database).

The `airflow.dbMigrations.enabled` feature is for people who want to manually run `airflow db upgrade` when needed, rather than depending on the chart to do it for them in a Job/Deployment.

[2021-12-14 02:50] thesuperzapper commented on #474
@nerilau can you provide the logs of the `sync-connections` Pods?

[2021-12-14 02:53] thesuperzapper commented on #475
@rjribeiro what version of airflow itself are you using?

__NOTE:__ Multiple schedulers is only supported in airflow 2.0+.

[2021-12-14 02:56] rjribeiro commented on #475
2.1.3

[2021-12-14 03:01] thesuperzapper commented on #476
@JanPokorny thanks, I agree that we should add a value like `airflow.clusterDomain`!

In fact, there is a pending PR with this very feature, take a look at PR: https://github.com/airflow-helm/charts/pull/441

---

I plan to cut a release with the currently pending PRs, but I really don't want to create an `8.6.0` release until we resolve https://github.com/airflow-helm/charts/issues/424 (for full

[2021-12-14 03:05] thesuperzapper commented on #478
@reyaL-dev you are correct, PGBouncer requires a special setting change to support Azure Postgress, see my comment https://github.com/airflow-helm/charts/issues/412#issuecomment-974909150.

If someone wants to make a PR that makes the changes I suggest in https://github.com/airflow-helm/charts/issues/412#issuecomment-974909150, this would be great.

I will close this issue so we can move the discu

[2021-12-14 03:05] #478 closed

[2021-12-14 03:08] thesuperzapper commented on #479
@rjribeiro are you sure that this is the only error in your log?

Because I believe `/home/airflow/.local/lib/python3.8/site-packages/azure/cosmos/session.py:186 SyntaxWarning: "is not" with a literal. Did you mean "!="?` is just log spam in all versions of airflow pre 2.2.0, and not actually causing any issues.

[2021-12-14 03:09] thesuperzapper commented on #252
@Recio lol, do you want to update the main readme with this information so others can find it easier than looking through the issues?

[2021-12-14 03:09] thesuperzapper commented on #283
Reopening

[2021-12-14 03:10] thesuperzapper commented on #437
Reopening

[2021-12-14 03:11] thesuperzapper commented on #166
Reopening

[2021-12-14 03:12] thesuperzapper commented on #434
Closing in favor of https://github.com/airflow-helm/charts/issues/166

[2021-12-14 03:12] #434 closed

[2021-12-14 03:12] thesuperzapper commented on #439
Reopening

[2021-12-14 03:13] thesuperzapper commented on #440
Closing, we please move discussion on using multiple git-repos for DAGs to: https://github.com/airflow-helm/charts/issues/166

[2021-12-14 03:13] #440 closed

[2021-12-14 03:28] thesuperzapper commented on #166
@gillbuchanan The trick for getting multiple git-repos to work, is to use symbolic links that are auto-created as the main airflow container starts.

1. There would be an `emptyDir` volume for each git-repo:
     - populated by its own `init-container`
     - kept updated by its own sidecar `container`
2. These `emptyDir` volumes would be mounted at `/mnt/git-sync/my-first-repo/`, `/mnt/git-sync/m

[2021-12-14 03:35] thesuperzapper commented on #475
@rjribeiro Is something specifically not working?

I believe `"could not obtain lock"` is NOT actually an error, but part of the system deciding which scheduler is currently "active" for some tasks which cannot be shared.

---

The PR https://github.com/apache/airflow/pull/19842 has removed this error to help users not get confused (its not in any released versions of airflow yet, however).

Also

[2021-12-14 04:12] thesuperzapper commented on #466
@oleksandrkovalenko there is already the ability to set `podLabels` for those deployments:
- `airflow.dbMigrations.podLabels`
- `airflow.sync.podLabels`
- `pgbouncer.podLabels`

Or are you asking for a  "global" podLabels like `airflow.podLabels`?

[2021-12-14 04:13] thesuperzapper commented on #465
@c-thiel what deployment are you wanting to set the update strategy on?

For example, are you talking about the webserver?

[2021-12-14 04:14] thesuperzapper commented on #463
@c-thiel do you want to create a PR for this feature?

[2021-12-14 04:57] thesuperzapper commented on #457
@karakanb this is the intended behaviour, it loops forever because Pods in a Deployment must have `restartPolicy =  Always`, so they cannot "finish", as this looks like crashing Kubernetes.

If you are not using the helm `--wait` flag, and want to use a `post-install` job, set `airflow.dbMigrations.runAsJob = true`, and it will only run once per `helm update`.

[2021-12-14 04:57] #457 closed

[2021-12-14 09:30] oleksandrkovalenko commented on #466
@thesuperzapper There are deployment templates in the chart. Some of them have labels and podLabels. Some only podLables. My assumption is that labels goes to deployment itself and podLabels are for pods created by this deployment. As for now I can't configure custom labels (not podLabels). I created a PR to illustrate what is missing in the templates: https://github.com/airflow-helm/charts/pull/4

[2021-12-14 10:45] anyght commented on #482
I don't know if it is a problem with the chart or it is a problem of docker images (i didn't change the default images), I ask there because I used this chart. May be someone known what is happened?

[2021-12-14 10:49] thesuperzapper commented on #482
I really don't have enough information to help you, but this is probably an issue to ask on the Airflow Slack.

[2021-12-14 14:38] mholtzscher commented on #406
@pjaak any update on this? I'm seeing the same issue

[2021-12-14 18:32] pgvirtuoso commented on #483
Sorry, my mistake. I had to replace ssh://git@ssh.dev.azure.com:v3/****/****/airflow-dags with ssh://git@ssh.dev.azure.com/v3/****/****/airflow-dags

[2021-12-14 18:32] #483 closed

[2021-12-14 22:38] thesuperzapper commented on #406
@mholtzscher I have a suspicion it's related to the `scheduler.livenessProbe.timeoutSeconds` value being too low.

I have seen reports that when users upgrade to Kubernetes `1.20+` this starts happening, as it seems that `timeoutSecions` [was not respected in `exec` probes in `1.19` and before](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#co

[2021-12-14 22:48] thesuperzapper opened #484 "increase default `timeoutSeconds` for `exec` probes (was ignored until Kubernetes v1.20)"
Currently, their schedulers are being restarted by the liveness probe, usually after upgrading to Kubernetes `1.20+`,
this is because [`timeoutSeconds` was not respected for `exec` probes in Kubernetes `1.19` and before](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes).

We need to urgently increase the default values of `timeo

[2021-12-14 22:49] thesuperzapper commented on #406
@mholtzscher I have raised an issue to track this hot-patch: https://github.com/airflow-helm/charts/issues/484

[2021-12-14 23:06] thesuperzapper commented on #328
I updated the [PR template](https://github.com/airflow-helm/charts/blob/main/.github/PULL_REQUEST_TEMPLATE.md) to help users understand not to bump the `version` in `Chart.yaml` if they are not creating a release.

[2021-12-14 23:07] thesuperzapper commented on #35
I will reopen this and add it to the backlog, if someone wants to take it up.

[2021-12-14 23:33] #482 closed

[2021-12-14 23:34] #473 closed

[2021-12-14 23:34] #472 closed

[2021-12-14 23:36] thesuperzapper commented on #406
@pjaak I would love to know if increasing `scheduler.livenessProbe.timeoutSeconds` resolves your issue?

Also, what version of Kubernetes you are on?

[2021-12-14 23:37] #433 closed

[2021-12-14 23:43] thesuperzapper commented on #450
@cfraleig the approach you describe of dynamically generating dags, and storing them in an EFS volume doesn't require git-sync, you should just disable git-sync (`dags.gitSync.enabled`), and instead use `dags.persistence.existingClaim` to mount your EFS Volume (so all pods have the DAG python files).

[2021-12-14 23:44] thesuperzapper commented on #453
@V0lantis have you managed to resolve your issue?

[2021-12-14 23:45] thesuperzapper commented on #447
@vlgorev I am closing this issue so we can continue discussion on https://github.com/airflow-helm/charts/issues/466

[2021-12-14 23:45] #447 closed

[2021-12-14 23:51] thesuperzapper commented on #444
@chriskeAlerant thanks for the request, I am closing this to continue the discussion on https://github.com/airflow-helm/charts/issues/242

[2021-12-14 23:51] #444 closed

[2021-12-15 02:35] mholtzscher commented on #406
@thesuperzapper I just deployed the updated timeoutSeconds to a dev cluster to test. I'll post back in a day or so with results

[2021-12-15 08:54] V0lantis commented on #453
I went for the official Airflow helm chart. Thank you for your answer :)

[2021-12-15 08:54] #453 closed

[2021-12-17 08:38] nerilau commented on #474
Thanks for the reply @thesuperzapper , I am not sure if I understand you correctly, because I am not very familiar with the chart. But at least in the 8.0.8 version of the chart, there is create-connections job, which contains annotation `helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded`. But still, I am not sure if this is related. Could you advise how should I check it, can I prov

[2021-12-17 14:32] victorszatta commented on #406
@mholtzscher do you have any updates regarding this issue? I'm also with this same problem, tried different combinations of airflow variables values, but I can't find the problem. I also uninstalled and redeployed the whole solution, but the error persists. Our airflow DB connections and resources do not appears to be the problem. Running airflow 2.1.4 with python3.8.

[2021-12-17 14:36] mholtzscher commented on #406
@thesuperzapper CC: @victorszatta I two and half days now and only had 1 restart ( that might of been me changing another config). We were at around 90 restarts a day so this seems to of resolved our issue

[2021-12-17 15:30] boukisge opened #485 "Error: FileNotFoundError"
## What is your question?

No Such File or directory: /home/airflow/.local/lib/python3.7.site-packages/certifi/cacert/pem
I have removed these files because scanning of the container was failing due to sensitive data (presence of cert & privatekey)

My Dockerfile
FROM <registry>/apache/airflow:latest
USER 0
RUN find /home/airflow/.local/lib/python3.7 -type f -name "*.pem" -exec rm -f {} \;
RUN fin

[2021-12-17 16:46] DMilmont opened #486 "CreateContainerConfigError - secret "airflow-config-envs" not found"
## What is the bug?

Running airflow with the KubernetesExecutor - when a pod is launched to run a task it is stuck waiting with a CreateContainerConfigError and message: secret "airflow-config-envs" not found. I am using the default pod template provided in the helm chart.

I am not sure how to fix this myself unfortunately - would love to hear any advice or work arounds if available. Thank you!

[2021-12-17 18:02] victorszatta commented on #406
OK, I found the reason my scheduler was breaking. I had set the `airflow.image.gid` to 50000 and `airflow.image.uid` to 50000.
I just reseted the `airflow.image.gid` to 0 and now the scheduler is working fine. I don't think is directly related to the problem on this thread, but might help someone.

The thing is I always used that same value and never had a problem. I can't explain why it started t

[2021-12-21 12:14] #485 closed

[2021-12-21 12:14] boukisge commented on #485
Issue Resolved .

[2021-12-22 10:45] Jakal1337 opened #487 "support Microsoft SQL Server as a database backend"
## What is your feature request?
Using mssql as backend database for airflow deployments.
Since it's available for airflow v2.2.0 and newer.
https://airflow.apache.org/docs/apache-airflow/2.2.0/howto/set-up-database.html

## The tests already made
Tried to add as external DB in values.yaml, but it looks like the db connection string is not correctly parsed.
[code]

[code]

[2021-12-22 18:45] PFWhite commented on #236
This was super useful to me. If you are looking how to set up the KubernetesExecutor using the apache-airflow/airflow helm chart then read these commits to get it right.

[2021-12-23 19:33] rsotogar commented on #45
hey @vinayak-mehta, what values did you end up using for these? I am setting them as follows and still get the same error dag_id_not found:

`

    AIRFLOW__KUBERNETES__GIT_REPO: "https://<path_to_repo>"

    AIRFLOW__KUBERNETES__GIT_BRANCH: "master"

    AIRFLOW__KUBERNETES__DAGS_IN_IMAGE: "False"

    AIRFLOW__KUBERNETES__GIT_DAGS_FOLDER_MOUNT_POINT: "/opt/airflow/dags"

    AIRFLOW__KUBERNETES_

[2021-12-29 08:27] piyush-daga commented on #486
Might not be too useful, but I too run Airflow on the `KubernetesExecutor` and I checked all my namespaces and did not find the secret - `airflow-config-envs`.

My setup works, the major difference being the airflow version is the one that comes with the chart. Since you're overriding that I'm assuming you need the new features, but you can try with the default version to see if that changes somet

[2021-12-31 04:43] #334 closed

[2021-12-31 12:56] rsotogar opened #488 "Unstable deployment on local Kubernetes on MacOS M1 chip"
Hi!

When I deploy the Airflow chart (latest version, 8.5.2) locally on my M1 Mac, some pods restart constantly (specially the scheduler and the webserver, which are only up for a couple of minutes). No matter how many replica pods I create to ensure availability, I can't get a stable deployment. Could this be related to poor image quality on Mac M1? I used to ssh into Linux instances and deploy A

[2021-12-31 18:36] hariprasadkrishnamurthyDH commented on #488
I am facing the same issue with my Mac, I am on the Intel chip.

[2021-12-31 21:37] rsotogar commented on #488
Any idea why this happens? I thought the entire idea behind containers is that they are agnostic to OS...

[2022-01-04 10:35] george-zubrienko commented on #412
Update for those using TF, in `1.3.0` version of a chart, doing
[code]
fixes the problem.

[2022-01-04 15:45] juliandm commented on #166
Would it make sense to just git submodules?
https://git-scm.com/book/en/v2/Git-Tools-Submodules

this way there is still one git repository that contains the DAGs and additional code from other repos can be fetched by setting GIT_SYNC_SUBMODULES to "recursive" (this is the default value anyway).

This would be a solution with minimal effort and probably according to what the developers of git-sync

[2022-01-05 13:14] tsaaii commented on #481
@jensgrnb I am looking for a way to add pip packages to my airflow which is installed using a helm chart. Can you explain the process? where should I add my pip commands? on the helm chart values.yaml or somewhere in the docker container?

[2022-01-05 14:24] tsaaii opened #491 "How to install pip packages on airflow image/helm chart?"
## What is your question?
I looked at issues here and it looks like there are 3 ways to add pip packages to dockerfile or helm chart.

1. adding it to dockerfile and building the image and then use helm chart on it to install airflow.

[code]

2. adding them to helm chart values.yaml file under extraPipPackages

[code]

3. adding a command under webserver in values.yaml file
[code]

I tried all th

[2022-01-05 20:49] lemmikens opened #492 "Scheduler, Db-migrations, Flower, and Web pods all hang at same "Started container check-db" task"
Hi there! My Airflow deploy on EKS Fargate keeps hanging on the same "Started container check-db" task. Below are the logs from flower (the rest look very similar)

[code]

And here is the values.yaml

[code]
Please let me know if you need anything else in order to troubleshoot and thanks in advance for the assistance!!

[2022-01-06 04:40] piyush-daga commented on #491
I have used methods 1 and 2 and could see and use installed packages.
1. Did you try with some other packages as a test?
2. Can you paste your `values.yml` file for further inspection?

[2022-01-06 12:33] juliandm commented on #203
Is it expected that gsutil is installed in the pod? it is not installed in my airflow webserver pod.

[2022-01-06 14:45] tsaaii commented on #491
Hi @piyush-daga, Thanks for your response.
Method 1 works for me now.

[2022-01-06 14:45] #491 closed

[2022-01-06 14:50] piyush-daga commented on #491
Hey @tsaaii could you tell what was the problem before?

[2022-01-06 15:06] tsaaii commented on #491
I noticed that when i add pip packages as ROOT user on dockerfile, it doesn't install them. I couldn't find them on kubernetes pods.
I had to change user to airflow
[code]

[2022-01-06 15:28] piyush-daga commented on #491
Ohh yeah, we also had to ensure that any folders that airflow had to write to, should be created using the airflow user or running chown on them.

[2022-01-06 17:23] gy0ung-git commented on #203
Hello @juliandm, thank you for your reply. After enabling service account impersonation using workload identity, I was able to make it working. Thanks.

[2022-01-09 23:36] thesuperzapper commented on #471
@jherrmannNetfonds do you mean `airflow.connectionsUpdate` (with the `airflow.` prefix)?

[2022-01-09 23:55] thesuperzapper commented on #481
@tsaaii see the ["How to install extra pip packages?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-install-extra-pip-packages) section in the FAQ.

[2022-01-10 02:02] thesuperzapper commented on #166
@juliandm previously, I had the idea to use submodules and talked about it in https://github.com/airflow-helm/charts/issues/166#issuecomment-929671884, but I think it has some serious limitations for this use-case. Namely that submodules are not well understood by most users, and things like authentication will become problems.

---

Using the method described in https://github.com/airflow-helm/ch

[2022-01-10 02:35] thesuperzapper opened #494 "build PgBouncer container image for `linux/arm64`"
Currently attempting to run the chart on an ARM64 Kubernetes cluster (like an M1 MacBook) will fail with the default configs. This is because our `ghcr.io/airflow-helm/pgbouncer` image fails when run under emulation.

We need to do the following to have pgbouncer work natively on ARM64:

1. Build the [./images/pgbouncer/Dockerfile](https://github.com/airflow-helm/charts/blob/main/images/pgbouncer/

[2022-01-10 02:45] thesuperzapper commented on #488
@rsotogar @hariprasadkrishnamurthyDH I think you may misunderstand how docker containers work, they are only "portable" between machines with the same CPU architecture.

Note, the M1 MabBooks use an `arm64` CPU architecture, but the airflow container images are compiled for `amd64`, so to run on `arm64` they use emulation, which can be very slow and buggy!

---

Right now there when you run the ch

[2022-01-10 02:49] thesuperzapper opened #495 "add ability to extend airflow RBAC verbs with `rbac.extraRules`"
As raised by @pindge in https://github.com/airflow-helm/charts/issues/334, sometimes users need to add extra RBAC verbs for things like custom airflow operators.

We should add a value like `rbac.extraRules` that allows users to merge their own RBAC rules into our pre-generated ones, for example:
[code]

__NOTE:__ we will have to be careful to de-dupe between the default and user-provided rules (u

[2022-01-10 02:50] thesuperzapper commented on #334
@pindge I have raised a new issue https://github.com/airflow-helm/charts/issues/334, lets continue the discussion over there.

[2022-01-10 02:56] thesuperzapper commented on #486
@piyush-daga what namespace are you installing the helm chart into, and is the `Secret/airflow-config-envs` in that namespace?

Note, if you don't specify one, `helm install ...` will use the `default` namespace.

[2022-01-10 03:08] thesuperzapper commented on #487
@Jakal1337 I don't have a Microsoft SQL database to test this with.

If you want to contribute this feature, you will need to add a `mssql` as a valid value for `externalDatabase.type`, which will require:
1. You to add `mssql` as a valid value for `externalDatabase.type` in [`./_helpers/validate-values.tpl`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/_helpers/valida

[2022-01-10 03:15] thesuperzapper commented on #474
@nerilau can you clarify the issue you are having (assumeing you have not resolved it)?

I also would love to see the logs of the `sync-connections` Pod.

[2022-01-10 03:19] thesuperzapper commented on #492
@lemmikens what version of the chart are you using?

Also, can you confirm that all the pods created by the chart are in a healthy `Running` state?

If not, can you provide the logs for any `CrashLoopBackoff` ones?

[2022-01-10 04:11] #484 closed

[2022-01-10 05:34] thesuperzapper commented on #406
@mholtzscher thanks for confirming this, I have gone ahead a pushed out patch release [`8.5.3`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#853---2022-01-10) which increases the default `timeoutSeconds` to `60` seconds.

[2022-01-10 07:17] jherrmannNetfonds commented on #471
@thesuperzapper correct:

[code]

I will try to recreate the issue with a minimum example.

[2022-01-10 16:59] lemmikens commented on #492
1. Latest (8.5.2).
2. The only pods that are healthy and running are Redis and Postgres.
3. The logs for CrashLoopBackoff from Flower is the one I posted up top.

Thanks for the response and please let me know if you need any other info!

[2022-01-10 22:28] danattatari opened #499 "Service Port Naming Not Compatible with Istio"
## What is the bug?

[pgbouncer](https://raw.githubusercontent.com/airflow-helm/charts/main/charts/airflow/templates/pgbouncer/pgbouncer-service.yaml), [worker](https://raw.githubusercontent.com/airflow-helm/charts/main/charts/airflow/templates/worker/worker-service.yaml), and [web](https://raw.githubusercontent.com/airflow-helm/charts/main/charts/airflow/templates/webserver/webserver-service.yaml

[2022-01-11 00:54] pindge opened #500 "support additional pgbouncer configuration"
## What is your feature request?

I would like the chart to support additional configuration for `pgbouncer` service https://www.pgbouncer.org/config.html#example

useful custom config include:
- `admin_users` https://github.com/pgbouncer/pgbouncer/blob/master/etc/pgbouncer.ini#L129-L130
- `ignore_startup_parameters` https://github.com/pgbouncer/pgbouncer/blob/master/etc/pgbouncer.ini#L154-L156

#

[2022-01-11 02:51] thesuperzapper commented on #492
@lemmikens you posted a `kubectl describe` can you post the actual container logs from `kubectl logs`?

Also, which container within the Pod is failing (make sure to provide the logs from that one)?

[2022-01-11 04:22] thesuperzapper opened #501 "restructure & cleanup values.yaml"
### NOTE: this can only be done on a major version bump (e.g. `9.0.0`)

It still needs to be decided what actions to take, but I am sure we can improve the structure of the values to make it easier to understand and use the chart.

However, doing any significant refactor should be __carefully considered__, as it will make users have to redo their values files.

[2022-01-11 05:07] thesuperzapper opened #502 "add log-cleanup sidecar to scheduler/worker pods"
Right now, if worker/scheduler pods run for long periods of time, they may accumulate so many logs under `logs.path` that they may cause issues.

We should allow users to deploy a sidecar that is responsible to truncate log files after some period of time.

__Here are some example values for what this feature may look like:__
[code]

__WARNING:__ we should NOT allow `{scheduler,workers}.logCleanup

[2022-01-11 22:37] thesuperzapper opened #503 "create GitHub issue template for Documentation"
Currently, we have templates for "Bugs", "Features", and "Questions", we should create a fourth option for "Documentation".

It could have the description: "Issues that only relate to documentation."

[2022-01-12 09:17] thesuperzapper commented on #503
This has been done in:
- https://github.com/airflow-helm/charts/commit/f0c64af1d5ae5b098a02fb2d9140838ce69d60ff
- https://github.com/airflow-helm/charts/commit/f9c11b5c36be9458cb18e00fcd5851957f51856f

[2022-01-12 09:17] #503 closed

[2022-01-14 16:57] lemmikens commented on #492
logs from the check-db container on the web pod:

[code]

[2022-01-17 11:24] upliftertom opened #504 "Add section on how to add credentials to authenticate with private repository"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Description

I spent some time trying to get a custom private image working which included my python packages, because I couldn't find where to set my registry credentials.

It was obvious when I found it in the values.yaml at:

[code]

but when I was reading through the docs I didn't manage

[2022-01-18 17:10] emilianomoscato commented on #492
Hello everybody,

We're running chart 8.5.3 and when enable Pbouncer with the default configuration Airflow doesn't start and we get:
[code]
at check-db and Pgbouncer pods.

Disabling Pgbouncer makes everything works OK.

I'm trying to figure out why Pgbouncer is not connecting. We are using Postgres 12.7 instance at a AWS RDS.

[2022-01-19 14:29] aodj opened #506 "`airflow.fernetKey` and `airflow.webserverSecretKey` overshadow `_CMD` configs"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Description

I've been working on setting up an init container that creates a Fernet key and a webserver secret key when the chart is installed, and am reading them using the `AIRFLOW__CORE__FERNET_KEY_CMD` and `AIRFLOW__WEBSERVER__SECRET_KEY_CMD` environment options.

Due to the `fernetKey`

[2022-01-19 14:42] aodj commented on #506
As additional information, if the fernet key is an empty string, the `sync-airflow-connections` pod dies with the following exception, which in turn cascades into Airflow itself since the connections my dags are relying upon don't appear.

[code]

[2022-01-21 13:26] ADobrodey commented on #477
As a workaround you can specify for `airflow.ingress.apiVersion` "networking.k8s.io/v1beta1" switch to previous networking version which is still supported

[2022-01-22 12:43] #435 closed

[2022-01-24 11:48] potiuk commented on #488
Yep - see the comment in https://github.com/apache/airflow/issues/15635#issuecomment-1020003975, In Airflow we are getting closer to supporting M1 images (I even bought a new MacBook with this effort in mind :D). I think the last "serious" obstacle with Beam/Numpy will be removed beginning og February. I have seriously revamped and improved (and simplified!) our docker building for Airflow to use

[2022-01-24 16:42] #468 closed

[2022-01-25 09:11] #464 closed

[2022-01-26 16:26] hkvia opened #509 "GitHub/Lab OAUTH breaking dashboard and now showing as button on login page"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

I have overwrite for webserver_config as show on docs to use OAUTH with github or gitlab and when I log into the dashboard it directly tries to authenticate with th

[2022-01-26 22:39] thesuperzapper commented on #509
@hkvia the issue will be that you have `AUTH_USER_REGISTRATION_ROLE` set to `"Public"` (which gives no access), but you have not provided any `AUTH_ROLES_MAPPING` to give the `"Viewer"`, `"User"` or `"Admin"` role from a `group`.

If simply being logged into the OAUTH should give access to the Airflow UI (for your security situation), then update `AUTH_USER_REGISTRATION_ROLE` to `"Viewer"`, `"User

[2022-01-27 10:28] aodj opened #510 "Has anyone been able to use this chart when running in a cluster with Istio?"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

I'm trying to make use of the chart in a cluster that uses Istio. Due to the initContainer design of the jobs (dbMigrations, sync, etc) it doesn't look like it woul

[2022-01-27 12:04] aodj opened #511 "specify externalDatabase username from Secret (improves PostgresOperator support)"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Motivation

For anyone using the [PostgresOperator](https://opensource.zalando.com/postgres-operator/) it's not possible to use the credentials that the operator creates for the `externalDatabase` connection.

The operator creates secrets that represent user accounts and they contain two key

[2022-01-27 14:58] csepulveda opened #512 "Scheduler cpu usage."
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.5.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Hello guys.
I dont know if this behaviour its normal but the a

[2022-01-27 15:35] hkvia commented on #509
Is there another way to do this authentication, seems like flask-appbuilder has bugs with open issues that fixes them but no one bothers merging them. Is this literally the only way this can be done?

[2022-01-27 16:25] hkvia commented on #509
@thesuperzapper  Thanks for that I've updated my settings. However I think what really fixed it is updating flask-appbuilder to 3.4.3 now Airflow dashboard is showing with button for a given auth method

[2022-01-27 18:51] csepulveda commented on #512
Ok i found something.
I modified the Probe Period to 300s and the cpu usage goes from 250m~300m  to 20~30m

Why this probe take so much CPU? there is another way to execute this probe?

[2022-01-27 19:18] csepulveda commented on #512
Stats after change the scheduler.livenessProbe.periodSeconds to 300

![image](https://user-images.githubusercontent.com/989388/151428534-70973416-7e54-4944-a151-7867a745e741.png)

[2022-01-31 16:48] emilianomoscato commented on #413
Hello Everybody,

We're facing this error because we generated an `airflow.connections` entry and then removed without removing connection from Connections UI.
Now we have Connections UI page broken throwing invalid token error. How can we fix it? I don't know how to delete connection without UI.
We are running Airflow 2.1.4 with helm chart 8.5.3.

Thanks a lot for any advise on this!

[2022-02-01 06:58] thesuperzapper commented on #413
@emilianomoscato If the error you are seeing is `cryptography.fernet.InvalidToken`, you need to either:

1. OPTION 1: If you know your `old_fernet_key`, you can use the ["Rotating encryption keys"](https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/fernet.html#rotating-encryption-keys) guide from Airflow.
2. OPTION 2: Remove the connections from the database manually:
     - Ho

[2022-02-01 12:02] DenysKunak opened #513 "git-sync container restarts"
We have Airflow setup on Kubernetes.
Currently our git repo performs a maintenance once a day, which causes airflow git-sync container to fail with error 503 and restart itself and the whole worker/web/scheduler pod.

Error looks like the following:
"msg"="too many failures, aborting" "error"="Run(git ls-remote -q origin refs/heads/develop): exit status 128: { stdout: \"\", stderr: \"Bitb ││ ucket

[2022-02-01 22:44] thesuperzapper commented on #513
@DenysKunak you can set the `dags.gitSync.maxFailures` to a non `0` value, this will allow a certain number of failures before the git-sync container restarts.

[code]

[2022-02-01 23:16] thesuperzapper commented on #512
@csepulveda thanks for raising this!

Just a warning, setting `scheduler.livenessProbe.periodSeconds` to `300` means your scheduler could be down for  `periodSeconds * failureThreshold` seconds, which is `300 * 5 = 1500` seconds or 25 minutes!

__FYI:__ The code for the probe is [found here](https://github.com/airflow-helm/charts/blob/airflow-8.5.3/charts/airflow/templates/scheduler/scheduler-depl

[2022-02-02 09:07] Jakal1337 commented on #487
@thesuperzapper It works thank you !

In [_helpers/validate-values.tp](
https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/_helpers/validate-values.tpl#L168-L170)  it looks like this:
{code}
    {{- if not (has .Values.externalDatabase.type (list "mysql" "postgres" "mssql")) }}
    {{ required "The `externalDatabase.type` must be one of: [mysql, postgres, mssql]!" nil }}

[2022-02-02 09:38] thesuperzapper commented on #487
@Jakal1337 I am gonna reopen this, as @kodefish has raised a PR to implement this, but it has not been merged yet:
- https://github.com/airflow-helm/charts/pull/507/files

[2022-02-02 15:48] hkvia commented on #166
@thesuperzapper Is there any progress on this? Could we have a workaround to pass Env var for the git branch so we can have separate repos per deployment?

[2022-02-02 21:05] thesuperzapper commented on #166
@hkvia what do you mean "separate repos per deployment", all Airflow workers need to have the same dags?

[2022-02-02 23:18] mattaltberg opened #514 "Support using custom envFrom"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Motivation

Currently, I have Configmaps and Secrets set up for my cluster. The problem is, to access all of these as environment variables, I need to manually add each a separate `env` entry, which is very tedious. By adding envFrom as a field to values.yml, I can use the envFrom field to m

[2022-02-03 16:00] hkvia commented on #166
@thesuperzapper ignore that last bit. Can we use an Env var for the branch name?

[2022-02-03 19:15] lemmikens commented on #492
Thank you @emilianomoscato, That fixed my issue! Now I'm having another issue regarding webserver timeouts, but I will open up another issue regarding that one if I can't work through it. Much appreciated!

[2022-02-03 19:15] #492 closed

[2022-02-03 20:24] lemmikens opened #516 "Node it not ready on Web server only"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.5.2

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Web node keeps recreating with the error "node is not ready".

[2022-02-04 12:05] dandumit commented on #55
how was this fixed ?  I have deployed this image on docker- synology and it stops imediately. how could I fix it ?

[2022-02-07 16:50] sgc109 commented on #488
@thesuperzapper Should it work with `pgbouncer.enabled` being false? It doesn't work for me even though that option is false by default. I'm using official airflow helm chart of version 1.4.0.

[2022-02-08 03:49] thesuperzapper commented on #488
@sgc109 this repo/issue is for the "user-community" airflow helm chart, so I can't speak for the official chart.

But as far as I know, the [apache/airflow](https://hub.docker.com/r/apache/airflow) docker images arent compiled for ARM yet, and both charts use those images.

[2022-02-08 03:51] sgc109 commented on #488
@thesuperzapper Oh, I forgot we're in user-community helm chart issue because I'm here with a link from official one. Thank you for reply!

[2022-02-08 03:52] thesuperzapper commented on #55
@dandumit this issue was for the [Airflow Helm Chart (User-Community)](https://github.com/airflow-helm/charts/tree/main/charts/airflow), which deploys onto Kubernetes, not Docker.

If you ARE using the `Airflow Helm Chart (User-Community)`, please just use the [latest version of the chart](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md), as this will work with Airflow

[2022-02-08 09:25] potiuk commented on #488
Yeah. Last blocker (I believe) beam 2.36.0 has been released today for the ARM image, so :crossed_fingers: for the ARM image soon'ish

[2022-02-08 13:34] saip50 opened #518 "git-sync side-car init container failed to fetch dags from private Git repository"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.5.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

we have deployed airflow v2.1.4 in AKS.
currently, we had migr

[2022-02-09 07:10] thesuperzapper commented on #518
@saip50 can you verify that `git clone` runs correctly when using the same SSH keys on your laptop (or in an `ubuntu` docker container if your laptop already has the required git auth)?

[2022-02-09 07:26] saip50 commented on #518
@thesuperzapper yes I am able to clone using same SSH Keys with git clone.
And also my git-sync side car configs as below:

configs:
AIRFLOW__SCHEDULER__SCHEDULER_HEALTH_CHECK_THRESHOLD: "600"
AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: "60"

gitSync:

    enabled: true
    image:
      repository: k8s.gcr.io/git-sync/git-sync
      tag: v3.2.2
      pullPolicy: Always
      uid: 65533
      gid: 6

[2022-02-09 07:48] thesuperzapper commented on #518
@saip50 can you use `kubectl get --namespace xxxxx secret/secret-key-name -o yaml` and then base64 decode the `id_rsa` key, and make sure this is exactly the same as your key you verified locally?

[2022-02-09 07:54] thesuperzapper commented on #516
@lemmikens what exactly is not working? (I am not clear if you can even see the Airflow Web UI)

"Node is not ready" is an event from Kubernetes about Nodes, so I highly doubt it's related to this chart.

[2022-02-09 08:08] thesuperzapper commented on #514
@mattaltberg I still remain quite against an `airflow.extraEnvFrom` value, for the same reasons I raised a long time ago in https://github.com/airflow-helm/charts/issues/117#issuecomment-904994812.

The gist of it is that adding this feature will make people try and set airflow configs inside Secrets/ConfigMaps rather than `airflow.config`, without realizing that pods [don't receive environment va

[2022-02-09 08:53] saip50 commented on #518
@thesuperzapper I verified doing the same and key is same key which I am using to clone locally, and I was able to clone too.

But inside the container getting issue as in attached image. please help.
<img width="947" alt="Screenshot_2" src="https://user-images.githubusercontent.com/89022002/153159913-c18a39ae-7e37-49dc-8061-a3d25f953eac.png">

[2022-02-09 13:57] saip50 commented on #518
@thesuperzapper can you please help us with the issue?
we tried all possible ways following the document https://github.com/airflow-helm/charts/tree/main/charts/airflow.
but nothing seems to be worked out.

[2022-02-10 04:56] thesuperzapper commented on #518
@saip50 can you try updating the `dags.gitSync.image.tag` to `v3.4.0`, I have a feeling that https://github.com/kubernetes/git-sync/pull/473 (which was included in `v3.4.0`) will fix your issue.

If it works, can you report back?

[2022-02-10 08:04] saip50 commented on #518
@thesuperzapper may be this is the issue.
![image](https://user-images.githubusercontent.com/89022002/153363524-987296d2-8003-485c-9eb0-b361c0258d9b.png)

how can i change this ownership to airflow user from root because I am not able to change ownership as I am running as airflow user and not able to change to root user.

[2022-02-10 19:35] rodolfo-picoreti opened #519 "How to correctly configure lineage backend using the chart"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

Hi everyone,

I am trying to use datahub lineage backend on airflow. The datahub documentation says that it should be configured via airflow.cfg file. But this char

[2022-02-11 00:16] thesuperzapper commented on #519
@rodolfo-picoreti are you sure that `AIRFLOW__LINEAGE__DATAHUB_KWARGS`  will not work?

Just encode your JSON into a string:

[code]

[2022-02-11 00:28] thesuperzapper commented on #518
@saip50 the `dags` folder is owned by root because it is an `emptyDir` volume mounted by Kubernetes (hence why https://github.com/kubernetes/git-sync/pull/473 should fix your issue).

But yea, if you manually clear that `dags` folder (or just delete the Pod), it should fix whatever corruption there is in the `dags` folder.

---

I assume you mean the `helm upgrade` returns `UPGRADE FAILED: timed o

[2022-02-16 16:28] joeybaer opened #522 "some helm templates can not be used in `extraManifests`"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

Chart Version: 8.1.1
Helm Version: 3.8.0

We are wanting to leverage the `extraManifests` to run a job that has access to the airflow config environment and secrets

[2022-02-17 01:32] thesuperzapper commented on #465
@c-thiel I agree this is a good idea for workers (the other deployments arent likely to have enough Pods to worry).
Plus, we are already setting specific `maxSurge`/`maxUnavailable` values for webserver/scheduler/flower Deployments.

[2022-02-17 01:46] thesuperzapper commented on #466
Bumping for the bot, as https://github.com/airflow-helm/charts/pull/467 is waiting to be merged when `8.6.0` is released.

[2022-02-17 01:53] thesuperzapper commented on #455
Bumping for bot, as PR https://github.com/airflow-helm/charts/pull/456 will close this issue on the `8.6.0` release.

[2022-02-17 01:56] thesuperzapper commented on #414
I have updated this issue to reference [v3.4.0](https://github.com/kubernetes/git-sync/releases/tag/v3.4.0) in which a number of further issues have been fixed.

[2022-02-17 01:58] thesuperzapper commented on #427
This is a blocker for the `8.6.0` release (as this prevents some users from using the chart with Nginx).

PR https://github.com/airflow-helm/charts/pull/426 is not ready to be merged, I will need to create another.

[2022-02-17 02:10] thesuperzapper commented on #476
@JanPokorny sorry about the lack of response here!

Those comments are interesting, and I am open to other ideas of running the repo, but also realize that I am not just using stalebot on its own, I often apply the `lifecycle/frozen` to "accepted" issues after the first time the bot triggers, and when that label is applied, the bot will never close the issue.

---

Regarding this issue itself, PR

[2022-02-18 05:39] thesuperzapper commented on #522
@joeybaer thanks for raising this issue!

I have made PR https://github.com/airflow-helm/charts/pull/523 to enable specifying `extraManifests` as a list of strings, which enables the inclusion of any helm templates you like.

The feature will probably make its way into the `8.6.0` release, see the [issues targeted for `8.6.0`](https://github.com/airflow-helm/charts/milestone/2).

[2022-02-18 06:22] thesuperzapper commented on #492
@emilianomoscatoare you still having the issue with pgbouncer, if so, do you mind raising a new issue so that we can fix it?

[2022-02-18 06:25] thesuperzapper commented on #512
@csepulveda have you had a chance to investigate the high CPU usage further using my comment https://github.com/airflow-helm/charts/issues/512#issuecomment-1027381894?

I would love to figure out what the problem is to understand if it affects other users.

[2022-02-18 06:28] thesuperzapper commented on #511
@aodj this is a good idea, I am happy if you raise a PR to add these values.

[2022-02-18 06:29] thesuperzapper commented on #510
Related PR: https://github.com/airflow-helm/charts/pull/493

[2022-02-18 10:29] aodj commented on #510
The cluster that I'm running Airflow within has Istio configured to run with mtls in STRICT mode. Additionally, a number of the tasks that Airflow runs interact with services that are within the mesh requiring mtls connections. As such it's easier to try and work with the mesh rather than against it.

When I was configuring the chart I didn't run into any specific issues that required the `holdApp

[2022-02-18 19:03] emilianomoscato opened #525 "pgbouncer readinessProbe timeouts cause livenessProbe failures"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.5.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

When deploying chart to our AWS EKS cluster, deploy does not e

[2022-02-19 11:32] #475 closed

[2022-02-19 11:32] #479 closed

[2022-02-20 03:22] #450 closed

[2022-02-21 21:41] emilianomoscato commented on #413
@thesuperzapper thanks for your response.

I didn't change fernet_key, at least not consciously. So I don't know where to find it.

I could delete the entry from CLI!
Unfurtunatelly, when trying to list connections InvalidToken error remains

[code]

Should I recreate pod or make a `helm upgrade`?

[2022-02-22 00:24] thesuperzapper commented on #413
@emilianomoscato so you solved your issue by removing the connection with the cli?

[2022-02-22 03:38] thesuperzapper commented on #510
@aodj airflow only connects to its own services (and the external database/redis), I still don't see the need to include it in your istio mesh. With the possibly exception of exposing the webserver/flower web interfaces with an istio VirtualService (but this only requires that traffic to be inside the mesh, not all other airflow traffic).

Be careful that you don't change MTLS mode after already d

[2022-02-22 10:03] thesuperzapper opened #526 "replace PGBouncer's readinessProbe with startupProbe"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Motivation

There are a number of reports where people are having "connection refused" issues with their pgbouncer:
- https://github.com/airflow-helm/charts/issues/525
- https://github.com/airflow-helm/charts/issues/492

These issues are caused by intermittent failures in the `readinessProbe

[2022-02-22 10:09] thesuperzapper commented on #525
@emilianomoscato thanks so much for raising this, it will really help others!

I believe the issue is:

1. the `readinessProbe` is timing out (or otherwise failing)
2. the pgbouncer pod, becomes "unready"
3. `airflow-pgbouncer.{NAMESPACE}.svc.cluster.local` not stops resolving to an IP (because there are no ready pods)
4.  the livenessProbe having "connection refused", restarting the pod
5. (possi

[2022-02-22 11:45] emilianomoscato commented on #413
@thesuperzapper No, I didin't I deleted the connection from cli, but InvalidToken error remains when I query the connection list also from Web UI (Admin -> connections) or from CLI `airflow connections list` command.

[2022-02-22 20:29] marekargalas opened #528 "Connect to externalDatabase using environment (Vault) variable"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

Hi,

I am [injecting](https://www.hashicorp.com/blog/injecting-vault-secrets-into-kubernetes-pods-via-a-sidecar) Vault secrets to Airflow (using annotations not bac

[2022-02-23 05:40] thesuperzapper commented on #413
@emilianomoscato clearly you need to manually remove the broken connections from your metadata DB, you can do this a few ways:
1. Manually remove the problematic rows from your Postgres DB using `airflow db shell`  (or manually starting a `psql` command)
2. If you are willing to fully clear all your database information (including past dag runs), you can use `airflow db reset`

[2022-02-23 06:27] thesuperzapper commented on #528
@marekargalas Right now the chart only supports getting the password from a Secret resource using `externalDatabase.passwordSecret` and `externalDatabase.passwordSecretKey`, there are a number of ways to automatically create Secrets from your Vault, for example:
- [secrets-store-csi-driver](https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.html)
- [external-secrets](htt

[2022-02-23 10:10] thesuperzapper commented on #477
@chaudharishalmali @ADobrodey thanks for raising this!

I have made a PR that will address this issue https://github.com/airflow-helm/charts/pull/530.

[2022-02-23 10:56] thesuperzapper commented on #504
@upliftertom I believe this issue is for another chart, as this chart uses values like the following:

[code]

[2022-02-23 10:56] #504 closed

[2022-02-23 11:00] thesuperzapper commented on #499
@danattatari As I raised in https://github.com/airflow-helm/charts/issues/510#issuecomment-1047394953, I think we should instead be dynamically setting the `protocol` field of [`ContainerPort v1`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#containerport-v1-core) (added in K8S 1.18) based off if the `AIRFLOW__WEBSERVER__WEB_SERVER_SSL_CERT` and `AIRFLOW__WEBSERVER__WEB_SER

[2022-02-23 11:18] thesuperzapper commented on #528
@marekargalas You are correct that we don't support `AIRFLOW__CORE__SQL_ALCHEMY_CONN_SECRET`, as this would be overridden by the chart's generated `AIRFLOW__CORE__SQL_ALCHEMY_CONN` (which actually uses `AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD` internally to set it).

__NOTE:__ we might want to add the `_SECRET` configs to [`_helpers/validate-values.tpl`](https://github.com/airflow-helm/charts/blob/df9

[2022-02-23 12:34] emilianomoscato commented on #413
Thanks for your help @thesuperzapper

I would like to identificate which the broken connections are. Do you know how I would do it? Maybe adding some debugging information into the scheduler or de web pod?

[2022-02-24 04:55] gowdra01 opened #531 "how to pass the TOKEN in the git url from vault?"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

I would like to know how do we pass the TOKEN from the vault
[code]
this is the git url and I need to pass this token from the vault .. how do we do it in the value

[2022-02-24 13:28] saip50 commented on #518
@thesuperzapper we are able to deploy airflow without enabling git-sync side car which doesn't have any dags. but if we are using git-sync side car then deployment is unsuccessful facing same permission issue as mentioned above.
git-sync image tag: v3.4.0
airflow image tag: v2.1.0

[2022-02-24 19:14] joeybaer commented on #522
Thanks @thesuperzapper and nice solution to maintain backwards compatibility as well!

[2022-02-24 19:17] joeybaer commented on #522
@thesuperzapper I realized after closing the issue it is tied to an automatic action on  the board. Sorry about that!

[2022-02-25 03:25] bitsofdave opened #532 "Double setting of CONNECTION_CHECK_MAX_COUNT preventing pod adoption"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.5.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

This is sort of related to the closed question https://github.

[2022-02-25 05:21] saip50 commented on #518
@thesuperzapper after using git-sync v3.4.0 the pods are not initialising its stated as "##[error]Error: UPGRADE FAILED: timed out waiting for the condition". all other pods are waiting for git-sync to initialise so scheduler and db-migrations pods are failing. please look into the live logs attached.

any solution for this?
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/890

[2022-02-25 08:19] thesuperzapper commented on #518
@saip50 can you `kubectl describe` one of the Pods with git-sync?

Are the `dags-git-clone` init-containers succeeding, or are they failing also?

If any of the containers within any of the pods are succeeding to run, can you try kubectl exec` into a bash shell and see if your dags are there?

[2022-02-25 08:25] thesuperzapper commented on #413
@emilianomoscato adding a new debug log would require a change to airflow's WebUI I think.

But honestly, we should probably raise an issue about how connections are handled in the UI. If a connection has the wrong fernet key, they should probably have a "warning" icon beside them, and grey out the edit button.

[2022-02-25 09:36] saip50 commented on #518
@thesuperzapper currently only pgbouncer pod is running. all other pods are crashing off at initialization stage itself.

dags-git-clone init-containers are not succeeding because of that all others containers are in waiting for podinitialization.

currently, only pgbouncer pod us running and doing kubectl exec inside that found there are no dags present.

attached kubectl describe of one of pods.

[2022-02-25 13:12] saip50 commented on #518
@thesuperzapper can you please provide the way in which we can move forward w.r.t the issue.

[2022-02-28 07:07] saip50 commented on #518
@thesuperzapper @hmike96 any follow up for the git-sync issue. the container is not initializing at all. we also tried making a custom init container to run until git-sync container starts.

[2022-02-28 12:50] c-thiel commented on #532
@bitsofdave thank you for the PR - we are facing the exact same problem and were able to fix the problem with this.
@thesuperzapper could we add this to milestone:airflow-8.6.0?

[2022-03-02 10:22] vjvel opened #536 "Webserver initial user creation in secret"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Motivation

can you please let me know if there is any option to pass secretname for the creating the initial user for the webserver deployment in airflow,

currently i can see the option to pass clear text in values file.

### Implementation

_No response_

### Are you willing & able to hel

[2022-03-02 13:48] kmehkeri opened #538 "allow `airflow.users[].roles` to specify a list of roles"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).

### Motivation

Currently user defined via `values.yaml` can only be granted a single role. If more roles are assigned (via UI/API), sync process will revoke them as soon as it runs again.

I would like to be able to specify multiple roles in array:
[code]

`role` attribute should support both s

[2022-03-02 21:20] thesuperzapper commented on #538
@kmehkeri I like the idea, if you have time to work on it, let's target the `8.7.0` release.

To implement this, you will need to update the [`templates/sync/_helpers/sync_users.tpl`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/sync/_helpers/sync_users.tpl) file.

[2022-03-04 10:59] juroVee commented on #512
### Chart Version
8.5.3

### Airflow Version
2.2.2

### Kubernetes

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.6+vmware.1", Gi

[2022-03-07 17:13] lskrajny commented on #518
Have the same problem:

plwa10020:misc kubectl logs airflow-worker-0  dags-git-sync
INFO: detected pid 1, running init handler
I0307 16:58:59.555320      14 main.go:430]  "level"=0 "msg"="starting up"  "args"=["/git-sync"] "pid"=14
I0307 16:58:59.555392      14 main.go:694]  "level"=0 "msg"="cloning repo"  "origin"="ssh://git@git.int.kn/ltic/dags.git" "path"="/dags"
E0307 17:01:09.681790      14 m

[2022-03-11 15:17] emilianomoscato commented on #413
Hello Everybody,

Just for people who get to this thread with similar problem. Yesterday we solved the connections list crash issue.

From sql we got all the connections:
`SELECT conn_id FROM connection;`

then for every connection I run:
`airflow connections get <conn_id>`

and for every connection that throws broken output:
`airflow connections delete <con_id>`

After removing all that was broke

[2022-03-14 16:07] aodj opened #540 "CronJob instead of Deployments"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

Has it ever been discussed to use CronJobs rather than Deployments for the long running scripts? When I'm using all the available features I'm running a full Python

[2022-03-18 07:55] thesuperzapper commented on #512
@juroVee just to be clear, are you also encountering high CPU usage when `scheduler.livenessProbe.enabled` is set to `false`, or just when its `true`?

If the probe causes high CPU usage, I imagine its because importing anything from airflow (like `from airflow.jobs.scheduler_job import SchedulerJob`) results in quite a bit of processing, possibly even parsing all your DAG files and loading any pl

[2022-03-19 03:05] #486 closed

[2022-03-19 13:51] #406 closed

[2022-03-21 06:17] thesuperzapper commented on #414
I have again updated this to reference the new git-sync [v3.5.0](https://github.com/kubernetes/git-sync/releases/tag/v3.5.0).

[2022-03-21 06:28] thesuperzapper commented on #518
@saip50 @lskrajny it's probably caused by a simple timeout during git-clone then, try increasing `dags.gitSync.syncTimeout` from `120` to something way higher like `300` (which is 5 minutes).

__WARNING:__ if your repos are taking multiple minutes to sync, you will have a bad time if you are using the airflow KubernetesExecutor, as this will make literally every task will take minutes to run (as e

[2022-03-21 08:22] thesuperzapper commented on #474
@nerilau did you resolve your issue?

[2022-03-21 08:24] thesuperzapper commented on #500
@pindge can you clarify why you want to set `admin_users` and `ignore_startup_parameters` to something custom?

[2022-03-21 08:52] thesuperzapper commented on #536
@vjvel yes!

You can use the `airflow.usersTemplates` value, please see the ["How to create airflow users?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-users) FAQ.

[2022-03-21 08:58] thesuperzapper commented on #476
@JanPokorny you will be happy to know that I have changed the stalebot configs in https://github.com/airflow-helm/charts/commit/ca3947aba1bb30532f721c34ac3c5468773ee068

But also, I am getting closer to cutting `8.6.0` which will fix this issue (after an unreasonable delay... sorry).

[2022-03-21 14:53] aodj commented on #540
You are correct that with fast jobs that run frequently there would be a cost paid in terms of starting and stopping, and I hadn't dug into the code enough to identify the different frequencies. 10s is very fast, and my gut feel is that it might be too fast for most use cases but as always YMMV.

I did see the one-shot alternative you mention, but I still feel as if there's some middle ground that

[2022-03-21 18:26] aashishadhh opened #542 "Airflow Webserver Replicas"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] I have looked through the [FAQ](https://github.com/airflow-helm/charts/tree/main/charts/airflow#faq---airflow).

### Question

I would like to understand why the number of airflow webserver pods is always 1 even if we set the `web.replicas` = `3`

[2022-03-21 21:18] thesuperzapper commented on #542
@aashishadhh this is because the correct value is `web.replicas` not `webserver.replicas`.

[2022-03-21 21:26] aashishadhh commented on #542
Oops mistake on the thread.
I have been using web.replicas = 3 and the issue is same.
Went through the previous issues, tried adding a static web server key and still the number of web server pod running is 1.
But when i edited the deployment using kubectl edit airflow-webserver then updated the replicas to 2 then two pods for webserver started running

[2022-03-21 21:35] thesuperzapper commented on #542
@aashishadhh I just tested, and multiple replicas is working fine.

Can you show your `values.yaml`?

[2022-03-21 21:44] aashishadhh commented on #542
@thesuperzapper the recent one that i tested.

helm upgrade --install airflow apache-airflow/airflow --namespace airflowtest2 -f ./test.yaml --debug

test.yaml file:

[code]
_kubectl get deployments -n airflowtest2_

[code]

[2022-03-21 22:15] thesuperzapper commented on #531
@gowdra01 You can set the git-sync HTTP username/token from a Kubernetes Secret with `dags.gitSync.httpSecret`, `dags.gitSync.httpSecretUsernameKey`, and `dags.gitSync.httpSecretPasswordKey`. There are a number of ways to automatically create Kubernetes Secrets from your Vault, for example:
- [secrets-store-csi-driver](https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.h

[2022-03-21 22:17] thesuperzapper commented on #542
@aashishadhh you are installing the "official" chart (which lives in the `apache/airflow` GitHub repo), this repo is for the "user-community" chart.

[2022-03-22 00:03] thesuperzapper commented on #486
@DMilmont @piyush-daga are you still having this issue?

If so, I imagine that you are somehow submitting your KubernetesExecutor task pods into a DIFFERENT namespace than you have installed airflow into, this won't work because our [`pod_template.yaml` references the `airflow-config-envs` Secret from the airflow install namespace](https://github.com/airflow-helm/charts/blob/f9933599182b835e021103

[2022-03-22 00:15] thesuperzapper commented on #236
We should also explain that your KubernetesExecutor pod_template is dependent on `Secret/airflow-config-envs`, so you must run all your task Pods inside the namespace you installed airflow into.

So user's cant override `AIRFLOW__KUBERNETES__NAMESPACE`, or any other way which you can have airflow submit KubernetesExecutor Pods into a non-default namespace.

[2022-03-22 00:54] #542 closed

[2022-03-22 00:54] #536 closed

[2022-03-22 00:56] #513 closed

[2022-03-22 00:57] #509 closed

[2022-03-22 03:33] caxefaizan commented on #28
did you find the solution. im facing the same in AWS EKS

[2022-03-22 05:30] thesuperzapper commented on #166
Just wanted to note that git-sync [v3.4.0+](https://github.com/kubernetes/git-sync/releases/tag/v3.4.0) supports having `GIT_SYNC_DEST` not under `GIT_SYNC_ROOT`.

This makes the solution slightly cleaner than what was proposed in https://github.com/airflow-helm/charts/issues/166#issuecomment-993123687, as we now don't have to modify the startup script of the container to create the symbolic links

[2022-03-22 05:36] thesuperzapper commented on #283
I think this feature is really important for KubernetesExecutor, as right now if cloning the git repo takes a long time, then EVERY task will take at least that long, this is because the [`git-clone` init-container](https://github.com/airflow-helm/charts/blob/a7e137baf40f50df871586b7c452351c0ed90058/charts/airflow/files/pod_template.kubernetes-helm-yaml#L46-L48) must run before the task can, as it

[2022-03-22 06:30] thesuperzapper opened #545 "Automatically set Service `protocol` field (for istio support)"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

A number of issues have been raised about the names we use for service ports, not being [compatible with istio](https://istio.io/latest/docs/ops/co

[2022-03-22 06:32] thesuperzapper commented on #499
I am closing this issue in preference of using https://github.com/airflow-helm/charts/issues/545 to discuss the implementation of the automatic soution.

[2022-03-22 06:32] #499 closed

[2022-03-23 07:59] F43RY opened #548 "HostAliases in Containers"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

Hi,
I'd like to set hostAlias in containers like git-sync in order to fetch dags from on premises scm but at the moment this is not possible with c

[2022-03-23 21:32] thesuperzapper commented on #548
@F43RY can you clarify why you need to set `hostAliases` to be able to "fetch dags from on premises scm"?

Do your on-premise servers not exist in your cluster's DNS?

[2022-03-23 21:34] F43RY commented on #548
exactly

[2022-03-23 22:50] thesuperzapper commented on #548
@F43RY I would strongly recommend creating a [split-horizon DNS](https://en.wikipedia.org/wiki/Split-horizon_DNS) for your company and using this as the DNS for your Kubernetes cluster.

That is, forward the DNS queries for internal domains like `internal.example.org` to your on-prem DNS resolver, and forward public domains like `google.com` to an internet DNS resolver like `1.1.1.1`.

---

Genera

[2022-03-28 07:39] #397 closed

[2022-03-28 07:39] #494 closed

[2022-03-28 08:51] thesuperzapper commented on #502
This issue is related to memory usage increasing over time when our scheduler liveness probe is enabled.

Something about how https://github.com/apache/airflow/issues/14924 was fixed does not fix our scheduler liveness probe, which seems to have ever-increasing cache memory usage (with some improvement gained from deleting the scheduler log files).

[2022-03-30 09:45] caxefaizan commented on #28
Thats great. How did you do it?

[2022-03-31 20:59] #428 closed

[2022-03-31 21:59] #538 closed

[2022-03-31 22:11] #511 closed

[2022-03-31 23:40] #525 closed

[2022-03-31 23:40] #526 closed

[2022-03-31 23:46] #414 closed

[2022-04-01 00:12] #532 closed

[2022-04-01 04:10] #476 closed

[2022-04-01 04:19] #506 closed

[2022-04-01 04:21] #477 closed

[2022-04-01 07:36] #455 closed

[2022-04-01 07:40] #522 closed

[2022-04-01 08:13] #466 closed

[2022-04-01 08:28] #412 closed

[2022-04-01 08:28] #419 closed

[2022-04-03 15:33] ac5tin opened #556 "PGBouncer cannot do SCRAM authentication: wrong password type"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [x] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

2.1.4

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

PGBouncer failed to connect to my postgres because of wrong pa

[2022-04-03 22:47] thesuperzapper commented on #556
@ac5tin I assume you have configured your `pg_hba.conf` so that only `scram-sha-256`is allowed?

For example, does your `pg_hba.conf` look like this?

[code]

---

You will have to allow `md5`, until the next chart release (`8.6.0`) as this will include the new `pgbouncer.authType` value (see PR https://github.com/airflow-helm/charts/pull/498).

Alternatively, you can disable pgbouncer with `pgbou

[2022-04-03 23:26] #424 closed

[2022-04-04 02:54] ac5tin commented on #556
these are the last few lines in my `/var/lib/postgresql/data/pg_hba.conf`

[code]

[2022-04-04 04:42] thesuperzapper commented on #556
@ac5tin yes that seems consistent with what I said, you need to either:
1. Downgrade your PostgreSQL to use `md5` encryption rather than `scram-sha-256`:
     - Set [`password_encryption`](https://www.postgresql.org/docs/current/runtime-config-connection.html#GUC-PASSWORD-ENCRYPTION) in `postgresql.conf`
     - Add the line `host all all all md5` to `pg_hba.conf`
3. Disable PgBouncer in the chart

[2022-04-04 04:59] ac5tin commented on #556
after disabling pgbouncer it works now

[2022-04-04 04:59] #556 closed

[2022-04-05 06:18] thesuperzapper commented on #194
I am not exactly sure when we did this, but we seem to already have an [`"How to use an external redis?"`](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-use-an-external-redis) section.

[2022-04-05 06:18] #194 closed

[2022-04-13 10:36] thesuperzapper commented on #252
This issue has been resolved, we now have a slick new FAQ page called [`How to load airflow plugins?`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/configuration/airflow-plugins.md).

[2022-04-13 10:36] #252 closed

[2022-04-13 11:53] thesuperzapper commented on #305
This has been resolved as part of the `8.6.0` release,  see the new [`"Key Features"`](https://github.com/airflow-helm/charts/tree/main/charts/airflow#key-features) section!

[2022-04-13 11:53] #305 closed

[2022-04-13 14:04] razilevin opened #558 "PGBouncer Liveness Probe Failure Minikube"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

airflow-8.5.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

For some reason the liveness probe for PGBouncer fails

[2022-04-13 15:18] thesuperzapper commented on #412
@minnieshi @george-zubrienko @TAMQuiroz as version `8.6.0` of the chart has been released, you should now be able to use Azure PostgreSQL with the following values:

[code]

Also, we now have a [`How to configure pgbouncer?`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/database/pgbouncer.md) FAQ section.

I would really appreciate if someone could test Azure PostgreSQL

[2022-04-13 21:45] razilevin commented on #558
I believe this to be a minikube issue.

`nslookup -type=a airflow-pgbouncer
Server:		10.96.0.10
Address:	10.96.0.10:53

Name:	airflow-pgbouncer.airflow.svc.cluster.local
Address: 10.104.178.111`

nc -vz 10.104.178.111 6432
nc: 10.104.178.111 (10.104.178.111:6432): Operation timed out

nc -vz localhost 6432
localhost (127.0.0.1:6432) open
`

Not sure how to tackle this one

[2022-04-14 04:37] thesuperzapper commented on #558
@razilevin have you tried with the newly released [version `8.6.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#860---2022-04-13) of the chart?

I wonder if your problem was fixed by https://github.com/airflow-helm/charts/pull/547.

Also, can you do a `kubectl describe` on the pgbouncer pods?

[2022-04-14 14:20] razilevin commented on #558
Yes as of last night. No luck. Here are some command outputs. I do see the startup probe as defined in the chart.

helm list -n airflow

[code]
kubectl describe -n airflow pod airflow-pgbouncer-5cbcc9dfc7-ttpzd
[code]

[2022-04-16 08:44] thesuperzapper commented on #558
@razilevin I just tested this myself, and I CAN reproduce this with minikube `1.25.2`, but it seems like it's caused by a very long-stanging issue with minkube https://github.com/kubernetes/minikube/issues/1568 (which is that a Pod cant access its own service unless `--cni=true` is set).

We can fix this for chart version `8.6.1`, by making the liveness probe use `localhost` (as you suggest), so e

[2022-04-16 10:18] thesuperzapper commented on #558
@razilevin I have raised PR  https://github.com/airflow-helm/charts/pull/560 to fix this issue, which will be part of `8.6.1` (I am going to wait a while to see if any other issues come up before cutting)

[2022-04-19 03:58] thesuperzapper commented on #532
@c-thiel @bitsofdave I forgot to ping you, but [`8.6.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#860---2022-04-13) is out, and includes this change!

Please tell me if this resolves your problems.

[2022-04-19 21:20] bitsofdave commented on #532
@thesuperzapper I haven't seen the error  after upgrading to `8.6.0`. Thanks!

[2022-04-19 23:32] thesuperzapper commented on #556
@ac5tin FYI, you should be able to re-enable PgBouncer if you update to version [`8.6.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#860---2022-04-13) of the chart.

This is because you can now set the `auth_type` of PgBouncer with:
[code]

Read more in the ["How to configure pgbouncer?"](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/dat

[2022-04-19 23:49] thesuperzapper commented on #488
The [`ghcr.io/airflow-helm/pgbouncer`](https://github.com/airflow-helm/charts/pkgs/container/pgbouncer) docker image is now being cross-compiled for both `linux/amd64` and `linux/arm64` architectures as of tag `1.17.0-patch.0` (See PR https://github.com/airflow-helm/charts/pull/551)

As of chart version [`8.6.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#860---20

[2022-04-19 23:54] thesuperzapper commented on #512
@csepulveda @juroVee I would love to know if you still encounter high CPU usage on the scheduler in version [`8.6.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#860---2022-04-13) of the chart.

There were some [changes to the liveness probe](https://github.com/airflow-helm/charts/pull/549) and also added a [log cleanup sidecar to the scheduler](https://github.com/

[2022-04-20 01:39] thesuperzapper opened #561 "support loading DAG definitions from GCS buckets"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

Currently, we support git-sync with the `dags.gitSync.*` values, but we can probably do something similar for GCS buckets. That is, let people stor

[2022-04-20 10:01] Legion2 commented on #34
@johngtam how did you configure the connection, because when using eks iam service accounts, we don't want to configure aws_access_key_id and aws_secret_access_key.

[2022-04-20 10:52] juroVee commented on #512
@thesuperzapper We are running 8.6.0 on DEV only with minimum number of DAGs so I will get back to you after we move to PROD in about 1-2 weeks time. However, we managed to... let's say optimize CPU usage with setting AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL: "300". It still spikes to 4000m+ sometimes but in general it's more stable after that as the file processing is more 'spread'.

DEV env

[2022-04-20 13:07] potiuk commented on #488
Correct. The image (not identical - it misses mysql and mssql) for ARM is likely to be published in experimental form - pending discussion here: https://lists.apache.org/thread/pqhks390dkso9x668gbnvjq6k6wv8h9h

[2022-04-20 22:34] thesuperzapper commented on #34
@Legion2 the ["How to persist airflow logs?"](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persistence.md#option-2---remote-cloud-bucket) FAQ explains how to use [EKS - IAM Roles for Service Accounts](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) for authorization.

[2022-04-21 04:23] johngtam commented on #34
Yes, I used ISRA (IAM Roles for Service Accounts)! That worked out nicely for me.

[2022-04-21 10:54] deepankumaresan commented on #164
@akshay654  Was is issue Resolved for you I am facing the same issue . Can you please share what you have done

[2022-04-21 11:12] Legion2 commented on #34
@thesuperzapper the faq does not explain how to configure the `aws_default` connection for eks iam role service account. After some research we created an empty aws_default default connection.

[2022-04-26 07:13] yossisht9876 commented on #249
hey guys,

until we have it as  native solution i created a sidecar container for syncing dags from aws s3
take a look :)

https://github.com/yossisht9876/airflow-s3-dag-sync

[2022-04-27 09:52] jherrmannNetfonds commented on #471
with chart 8.6.0:
The connection extra are only set correctly if the json is complete. So for gcp the entry has to look like this:

[code]

If you leave out a key all "extra" values are lost on connection sync

[2022-04-27 16:16] andrewhertog opened #562 "Allow setting the registry field in values, outside of the repository field"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [user-community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

We currently use Flux v1 for gitops. We are experiencing difficulties with image automation, that we suspect is around the fact that we use a custo

[2022-04-29 00:58] thesuperzapper opened #570 "improve Prometheus integration"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

While we currently have limited support for Prometheus through our `serviceMonitor.*` and `prometheusRule.*` values, we can make the situation mu

[2022-04-29 17:07] andrewhertog commented on #562
Determined that the issue we were having with our gitops was elsewhere, not with your chart. Closing

[2022-04-29 17:07] #562 closed

[2022-05-01 14:05] potiuk commented on #488
The Airflow 2.3.0 has been shipped with ARM support. Note that it is experimental and has only support for Postgres for now  as mysql and mssql do not have yet support for ARM.

It is not fully tested in Airflow CI, hence experimental support status - but over time we will likely make it first-class citizen and start running tests for the ARM image too (though I do not expect there will be many pr

[2022-05-02 08:01] juroVee opened #571 "new emptyDir logs volume breaks using `airflow.extraVolumeMounts` to store logs"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

We use NAS as a storage for our logs for every instance of A

[2022-05-02 11:06] c-thiel opened #572 "Airflow 2.3.0 Support"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

The Chart is currently not compatible with Airflow 2.3.0 due to changes in the Database Configuration:
https://airflow.apache.org/docs/apache-air

[2022-05-02 11:10] c-thiel commented on #572
When updating the image to 2.3.0 I get the following Error during CheckDB:
[code]

Actually, acording to https://airflow.apache.org/docs/apache-airflow/stable/release_notes.html#database-configuration-moved-to-new-section-22284, it should just throw a deprecation warning and not fail. Not sure what I am missing.

[2022-05-02 14:51] c-thiel commented on #572
I traced the broken backward compatibility over to Airflow and created an Issue: https://github.com/apache/airflow/issues/23408

Nevertheless, we should use AIRFLOW__DATABASE__SQL_ALCHEMY_CONN_CMD instead of AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD.

[2022-05-02 14:59] c-thiel commented on #572
Until this is fixed, you can use the following workaround:

[code]

[2022-05-02 15:22] Miskho commented on #179
I am experiencing the same problem, does anyone have any solutions

[2022-05-02 15:28] ac5tin opened #573 "Airflow DAGs timeout"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

DAGs would timeout and fail to run.

When i checked the logs

[2022-05-03 17:00] martinrw commented on #572
Thanks for this @c-thiel - your suggestion helped.
My application is now up and running version 2.3.0 using the helm chart and seems to be working fine but I have one pod called "sync users" that keeps restarting.

It appears to be trying to run this script:
/mnt/scripts/sync_users.py

and eventually fails with this error:
`sqlalchemy.exc.InvalidRequestError: Multiple classes found for path "Permi

[2022-05-04 07:41] juroVee commented on #512
@thesuperzapper So we run `8.6.0` in PROD for about a week and CPU seems to be indeed decreased (even more than after increasing `AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL`) .

Values are averaging around following:

[code]

So it certainly helped, the difference is massive when utilizing `8.6.0` + `AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL: "300"`.

[2022-05-04 08:12] thesuperzapper commented on #512
@juroVee that's great to hear, out of interest did you leave the new [log-cleanup sidecar](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-cleanup.md#scheduler) enabled?

[2022-05-04 08:14] thesuperzapper commented on #164
@deepankumaresan you can raise another issue/discussion-question if you have a problem.

[2022-05-04 08:18] juroVee commented on #512
@thesuperzapper we use Airflow 2.2.5.

Well, regarding log-cleanup, you can find the answer for your question here #571 😃. So no, we don't have it enabled, we have it actually deleted from the chart itself due to that issue unfortunately.

[2022-05-06 10:19] Linux-oiD commented on #572
Could you also add support for the separate DagProcessorManager deployment that was introduced in 2.3.0?
https://airflow.apache.org/blog/airflow-2.3.0/#dagprocessormanager-as-standalone-process-aip-43
Or should I create a separate issue for that?

[2022-05-09 11:29] kstavropoulos-fl commented on #166
@thesuperzapper have you accomplished what you have been describing in this thread? I am trying to make this work :
* initContainers for different repos are ok, created with extra emptyDirs
* sideContainers also work and keep the repos in sync
* I have to manually edit the statefulSet of the worker, though, to create the symbolic links.

For this 3rd asterisk, is there something I am missing? Can

[2022-05-10 05:59] thesuperzapper commented on #34
@Legion2 thanks for highlighting that the docs could be clearer!

I have updated the following docs to make it easier to understand:
- ["How to persist airflow logs?" - S3 Bucket](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persistence.md#s3-bucket)
- ["How to manage airflow connections?" - AWS Connection](https://github.com/airflow-helm/charts/blob/main

[2022-05-10 06:02] thesuperzapper commented on #179
@Miskho I have recently updated the docs for using a PVC to store logs.

Please see ["How to persist airflow logs?" - Option 1 - Persistent Volume Claim](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persistence.md#option-1---persistent-volume-claim), and tell me if you still have problems.

[2022-05-10 06:59] Miskho commented on #179
It was about my provisioner not supporting ReadWriteManyAccess

[2022-05-11 09:52] thesuperzapper commented on #573
@ac5tin this really looks like a celery issue, when I google `AttributeError: 'ChannelPromise' object has no attribute '__value__'`.

Is this still happening or has it resolved itself?

[2022-05-11 14:53] denysivanov commented on #572
Really need this one!

[2022-05-11 14:55] kvin007 commented on #572
Looking forward to this feature

[2022-05-11 15:01] mr-wolf-rsh commented on #572
stuck with this too, hoping for this feature to be released soon

[2022-05-11 15:03] mmeza09 commented on #572
Waiting for this feature

[2022-05-11 15:04] JoHermoza commented on #572
Hoping for this feature

[2022-05-11 15:07] CarrascoEr commented on #572
Waiting for this feature

[2022-05-11 15:28] rociofc0312 commented on #572
Looking forward to this feature

[2022-05-11 15:29] chrisalo97 commented on #572
Will be great to have this feature

[2022-05-11 15:40] Alexsander00 commented on #572
Waiting for this feature too

[2022-05-11 16:03] emilymitacc commented on #572
Waiting to start to use this feature

[2022-05-11 16:28] gmontero06 commented on #572
Waiting for the release of this feature 🙏

[2022-05-11 22:14] LuisEspinoza212 commented on #572
Really need this one

[2022-05-11 23:55] thesuperzapper commented on #572
Hey all,

I plan to release chart version `8.6.1` with a fix for the main issues preventing Airflow 2.3 from working, allowing people to choose an Airflow 2.3.0 image if they want.

However, I think we should wait until chart version `8.7.0` before making Airflow 2.3.X the default version.
This will give us time to implement support for Airflow 2.3 specific features, and wait for airflow itself to

[2022-05-12 00:15] heba920908 opened #578 "add `airflow.defaultContainerSecurityContext` value"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

After enabling gatekeeper admission controller for pod security policies `Should not allow container privilege escalation (deny)`, gatekeeper wil

[2022-05-12 09:14] Legion2 commented on #34
@thesuperzapper thanks that documentation is much better

[2022-05-12 15:26] tarekabouzeid commented on #249
Hi @thesuperzapper ,

I started working on this and implementing kind of similar to syncing dags from git as you mentioned - My approach is that we can use rclone sync "running as k8s job" to fetch data from s3 bucket containing the dags and store these dags in a mount volume , that volume is also mounted to AF scheduler pod - Should I continue implementing that ?

Best Regards,

[2022-05-12 22:19] vmalakhin opened #579 "update PGBouncer image with latest alpine base image"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

Latest PGBouncer image inheritted CVE-2018-25032 vulnerability from its base alpine image. It seems that the latest alpine 3.14 image contains th

[2022-05-13 18:55] karakanb commented on #283
I have created a PR trying to address these, I'd appreciate feedback on it.

[2022-05-15 10:35] vumdao opened #581 "Add support for topologySpreadConstraints to Helm Chart"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

Currently charts have no topologySpreadConstraints and we would like to use this feature along with Karpenter. How about adding additional suppor

[2022-05-16 20:21] vmalakhin commented on #579
I suspect #582 should cover it. Thanks!

[2022-05-18 10:19] Valenzione commented on #572
@thesuperzapper That's great, thank you for your work! Do you have any time estimates in mind for the 2.3.0 support release date?

[2022-05-18 22:22] karakanb opened #583 "The individual components should be deployable without setting the executor first"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

I am trying to transition from KubernetesExecutor to CeleryKubernetesExecutor gradually. My goal is to do this transition as safe as possible wit

[2022-05-18 23:08] thesuperzapper commented on #572
@Valenzione I expect to release `8.6.1` in the next few days, which will allow using airflow 2.3.0 images but not make it default.

Track progress on the [`8.6.1` milestone](https://github.com/airflow-helm/charts/milestone/6). _(NOTE: I haven't added the 2.3.0 issue fixes to that milestone yet)_

---

Regarding the `8.7.0` release, I want at least one large feature (in addition to making 2.3.0 the

[2022-05-20 09:02] thesuperzapper commented on #571
@juroVee this will be fixed in `8.6.1` by PR https://github.com/airflow-helm/charts/pull/585.

The solution is kind of interesting, the chart now automatically detects when a `airflow.extraVolumeMounts` (or the other deployment-specific mounts like `workers.extraVolumeMounts`) is a parent directory for `logs.path`, and disables the `emptyDir`.

This is important, because for most people the `empty

[2022-05-20 09:11] juroVee commented on #571
@thesuperzapper thanks so much for your work! This is great and very helpful.

[2022-05-21 19:08] ac5tin commented on #573
i ended up switching to `2.2.5-python3.9` and the error is gone

[2022-05-24 10:43] Andryyyha opened #586 "Helm ignores some of custom values"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I am trying to deploy airflow with KubernetesExecutor on EKS

[2022-05-25 07:25] thesuperzapper commented on #586
@Andryyyha are you 100% sure that you are applying the `custom-values.yaml` file you are intending to?

Because you have said yourself that the `helm get values ...` is saying that `logs.persistence.enabled` is `false` when you have set it to `true` in the provided custom values.

Can you tell me the commands you are running to:

1. Install/Update the chart (for example, `helm upgrade --namespace

[2022-05-25 07:39] thesuperzapper commented on #583
The values validations are intended to ensure people don't deploy non-sensible combinations of values in the chart (as there are MANY options).

Is there a reason why you can't set your `airflow.executor` to `CeleryKubernetesExecutor` at the same time as your other changes to enable flower/redis/etc?

I believe you can change your DAG tasks to use the `kubernetes` queue while still using the `Kube

[2022-05-25 07:39] thesuperzapper commented on #583
@karakanb The values validations are intended to ensure people don't deploy non-sensible combinations of values in the chart (as there are MANY options).

Is there a reason why you can't set your `airflow.executor` to `CeleryKubernetesExecutor` at the same time as your other changes to enable flower/redis/etc?

I believe you can change your DAG tasks to use the `kubernetes` queue while still using

[2022-05-25 11:13] Andryyyha commented on #586
I am using commands from Quickstart Guide
[code]

After successful deployment, I run `helm get values airflow-cluster -n airflow-cluster`
Funny thing that some values from my file are applied(e.g. values from externalDatabase section). I tried to add variable through Airflow UI and it's appeared in backend DB

[2022-05-25 17:31] karakanb commented on #583
I can do that, but that means that I have to deploy all of the changes at once, including potentially blocking the dag runs in case something is wrong, e.g. a task being forgotten to moved to a default queue, or a task setting an explicit queue somewhere; therefore, it seems to be the safer option to be able to incrementally deploy things and ensure they work step by step without breaking the curr

[2022-05-26 11:20] seunggabi opened #588 "postgres/redis not deployed if release name > 40 characters"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

### release name issue (> 40)
[code]

### not working
[code]

[2022-06-03 05:24] thesuperzapper commented on #572
Hey All, I am very sorry about the delay, I have been quite bogged down this week and last (Airflow Summit and the like).

However, we now have resolutions for the main problems caused by 2.3.0, so should be ready to cut 8.6.1:

- Removal of `AIRFLOW__DATABASE__SQL_ALCHEMY_CONN_CMD`
    - (fixed by https://github.com/airflow-helm/charts/pull/592)
    - _NOTE: airflow 2.3.1, actually fixes this iss

[2022-06-03 12:47] karakanb opened #596 "Hostname of job runner does not match for"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Some of my long-running tasks are randomly failing with the

[2022-06-06 06:22] thesuperzapper commented on #596
@karakanb what version of Airflow are you using?

This might be related to some kind of intermittent DNS failure in your Kubernetes cluster, are you able to check the logs for your cluster DNS?

Also, I found that some people fixed this by setting `AIRFLOW__CORE__HOSTNAME_CALLABLE` to `socket.gethostname` ([StackOverflow link](https://stackoverflow.com/questions/57681573/how-to-fix-the-error-airfl

[2022-06-06 07:08] thesuperzapper commented on #586
@Andryyyha did you figure out what the problem is?

I am still unclear what would cause helm to not apply the requested `--values` file.

[2022-06-06 07:11] thesuperzapper commented on #573
@ac5tin thanks for letting us know!

[2022-06-06 07:11] #573 closed

[2022-06-06 08:09] thesuperzapper commented on #578
@heba920908 thanks for raising this issue!

I think we resolve this by creating a value called `airflow.defaultContainerSecurityContext`, for example:

[code]

Because not all images run with the same UID/GID, we can just ignore `runAsUser` and `runAsGroup` if they are passed using the [`omit` helm template function](https://helm.sh/docs/chart_template_guide/function_list/#omit), for example:

[co

[2022-06-06 08:09] thesuperzapper commented on #578
@heba920908 do you want to contribute this PR?

[2022-06-06 08:18] karakanb commented on #596
I have received this error with v2.2.5, and apparently that callable name has been fixed after v2.1. Unfortunately I don't have the logs anymore, and I haven't observed this issue for the past 2 days.

I'll close this issue for now. I have just updated to v2.3.2, so I'll observe for a few more days, and if I encounter again I'll reopen the issue with hopefully more logs. Thanks for looking into it

[2022-06-06 08:18] #596 closed

[2022-06-06 08:20] thesuperzapper commented on #581
@vumdao I agree that we should add support for [`topologySpreadConstraints`](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/), I think the implementation will be to add the following values:

- `airflow.defaultTopologySpreadConstraints`
- `airflow.kubernetesPodTemplate.topologySpreadConstraints`
- `airflow.dbMigrations.topologySpreadConstraints`
- `airflow.sync.

[2022-06-06 09:23] chengzi0103 opened #597 "Alembic error when using airflow-migrations"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

 8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

When I configure additional packages, there is alembic in i

[2022-06-06 09:24] chengzi0103 commented on #597
repository: apache/airflow
    tag: 2.2.5-python3.8
    pullPolicy: IfNotPresent

[2022-06-07 00:27] thesuperzapper opened #598 "extraPipPackages init-container does not clean the emptyDir"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Currently, the `install-pip-packages` init-container [does n

[2022-06-07 00:29] thesuperzapper commented on #597
@chengzi0103 the problem is that something is causing `apache-airflow==2.3.2` to be installed (the current latest), are you requiring an `apache-airflow` version in your `iconfig` package?

(Test it yourself by running `pip install iconfig` in an `apache/airflow:2.2.5-python3.8` docker container, and see if it tries to install `apache-airflow==2.3.2`)

---

Also, the base airflow images already ha

[2022-06-07 02:16] chengzi0103 commented on #597
thank you for your reply:
My iconfig will not be associated with any airflow related packages, only the alembic package,
I suspect that this package of alembic made some operations during initialization, which caused some problems

[2022-06-07 04:27] thesuperzapper commented on #597
@chengzi0103 to clarify what are the `install_requires` in your `iconfig` package, are you saying its `alembic`, if so what version?

[2022-06-07 05:37] chengzi0103 commented on #597
i have checked .
my iconfig pkg list:

click
twine
setuptools_rust
bump2version
psycopg2-binary
pytest==7.0.1
setuptools==59.6.0
alembic==1.7.7

[2022-06-07 06:28] thesuperzapper commented on #597
@chengzi0103 are you 100% sure that you are using `apache/airflow:2.2.5-python3.8` as your base image?

Because you must be using airflow 2.3.X to get the error you list:
`/home/airflow/.local/lib/python3.8/site-packages/airflow/configuration.py:525: DeprecationWarning: The sql_alchemy_conn option in [core] has been moved to the sql_alchemy_conn option in [database] - the old setting has been used

[2022-06-07 08:23] chengzi0103 commented on #597
1，yes i am 100% sure im using apache/airflow:2.2.5-python3.8
2,  iconfig  files tree
├── alembic
│   ├── env.py
│   ├── __init__.py
│   ├── README
│   ├── script.py.mako
│   └── versions
│       ├── 9c3e2908f8b8_message.py
│       └── __init__.py
├── alembic.ini
├── CONTRIBUTING.rst
├── Dockerfile
├── HISTORY.rst
├── ibodb
│   └── util.py
├── MANIFEST.in
├── README.md
├── README.rst
├── requiremen

[2022-06-07 16:02] anu251989 opened #600 "the celery worker indefinitely not processing any tasks after airflow-redis pod restarted"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

as part of deployment, the worker pod deployed first after t

[2022-06-11 09:18] juroVee commented on #572
@thesuperzapper I think we should give it a go, let's test that in our environments and provide a feedback if necessary.

Disclaimer: We struggle a little bit with one of the bugs in Airflow 2.2.* which should be fixed in 2.3.1 hopefully, so no pressure! 😄😄

[2022-06-13 12:33] artful88533 opened #604 "The worker_log_server_port option in [celery] has been moved to the worker_log_server_port option in [logging]"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Hello!
I've got warning
`WARNING - /home/airflow/.local/lib/

[2022-06-14 20:26] asosnovsky-sumologic opened #607 "airflow 2.3.X breaks sync-users script"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

We are deploying a new helm chart via argoCD, and the `sync-

[2022-06-14 21:33] thesuperzapper commented on #604
@artful88533 thanks for raising this!

I actually made this fix in a branch, but forgot to make the PR to `main`, lol!

Find the PR here https://github.com/airflow-helm/charts/pull/608, which will be part of chart version `8.6.1`.

[2022-06-14 21:47] thesuperzapper commented on #607
@asosnovsky-sumologic this issue is caused by airflow 2.3.X moving an import (which broke our `snyc-users` script).

We have fixed this issue in PR https://github.com/airflow-helm/charts/pull/592, but that PR is not part of a release yet. I plan to include the fix in chart version `8.6.1` (which I am planning to release ASAP, pending one issue related to creating new Redis ARM images).

Follow iss

[2022-06-14 21:58] karakanb commented on #572
@juroVee not sure if it helps, but I have managed to upgrade from v2.2.5 to v2.3.2 with the chart version v8.6.0 without any changes in my values file. The breaking changes that were introduced in v2.3.0 seem to be fixed in the subsequent versions, so the upgrade itself works fine from this chart's perspective.

[2022-06-14 22:14] juroVee commented on #572
@karakanb good to know! :clap: Thanks for the info. I think that 8.6.1 is almost ready and it should contain a fix for one of my issues with logs and external volumeMounts, so I think I'll just wait to have everything together + 2.3.2 in a one package :thumbsup:

[2022-06-14 22:35] thesuperzapper commented on #572
@karakanb @juroVee there is still one issue with the sync-users script which will require the `8.6.1` release (as they actually moved some of the imports).

[2022-06-15 14:37] #607 closed, assigned to nobody

[2022-06-15 22:49] thesuperzapper commented on #607
@asosnovsky-sumologic I really should have pushed 8.6.1 out already, I am sorry for taking so long (it's been ready for ages, I have just been hesitant to cut, as I really don't want to "encourage" upgrading yet). However, I will make it my mission to cut 8.6.1 in the next 12 hours.

Airflow 2.3.X really should have worked without needing chart changes (if airflow had not made unnecessarily breaki

[2022-06-16 00:41] thesuperzapper commented on #516
@lemmikens if you are still having this problem, I wonder if it's related to your `extraPipPackages` see a similar issue https://github.com/airflow-helm/charts/discussions/605#discussioncomment-2959935.

[2022-06-21 06:01] thesuperzapper commented on #45
@ngreen-ny airflow 2.0 changed how you add things to the KubernetesExecutor Pods, things like `AIRFLOW__KUBERNETES__DAGS_VOLUME_CLAIM` no longer work, you must now make most changes in the `pod_template.yaml`.

When using this chart, modifying the `pod_template.yaml` is easy, we provide the `airflow.kubernetesPodTemplate.*` values, to make changes to only the template.

But also note, the chart-wi

[2022-06-21 09:55] saip50 opened #613 "unable to fetch logs from airflow console"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

upgraded airflow version from 2.0.1 to 2.2.5. After upgradin

[2022-06-21 14:53] torse opened #614 "Support DaskExecutor"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

I would like to use the DaskExecutor to offload task execution to our Dask cluster as documented here: https://airflow.apache.org/docs/apache-air

[2022-06-21 15:20] asosnovsky-sumologic opened #615 "make timeout for check-db configurable, and ensure logs are written when timeout happens"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

In our company we are currently setting up a cluster for airflow, and while debugging some networking issues between our cluster and rds we seem

[2022-06-22 07:00] #558 closed

[2022-06-22 07:01] #604 closed

[2022-06-22 07:06] #588 closed

[2022-06-22 07:08] #572 closed

[2022-06-22 07:13] #598 closed

[2022-06-22 07:21] #571 closed

[2022-06-22 07:41] thesuperzapper commented on #597
@chengzi0103 I still believe your `extraPipPackages` are resulting in `pip` upgrading airflow to `2.3.X` in an attempt to satisfy dependencies.

There is a new feature in chart version `8.6.1`, which will cause the pods to fail at startup if your `extraPipPackages` try and cause an airflow upgrade/downgrade (see PR https://github.com/airflow-helm/charts/pull/610)

I imagine you will see this failu

[2022-06-22 07:52] saip50 commented on #613
@thesuperzapper only for the failed dags we aren't able to see logs.
Also, we are using KubernetesExecutor.

[2022-06-22 08:11] thesuperzapper commented on #613
@saip50 can you see the logs of tasks that are "running"?

---

The problem with logs in KubernetsExecutor is that if the Pod suddenly fails (for example, crashes from lack of memory), it will never upload its logs to the remote provider.

To keep logs in these cases, you can [mount a PVC to all the pods](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persi

[2022-06-22 09:48] thesuperzapper commented on #607
@asosnovsky-sumologic the long-belated `8.6.1` is now out, and includes support for Airflow 2.3!

[2022-06-22 09:48] thesuperzapper commented on #604
@artful88533 the long-belated `8.6.1` is now out, and includes this fix!

[2022-06-22 09:55] thesuperzapper commented on #571
@juroVee the long-belated `8.6.1` is out now, and includes full support for [storing logs on `airflow.extraVolumeMounts` (Pod Volumes)](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persistence.md#option-3---pod-volumes)!

[2022-06-22 09:59] thesuperzapper commented on #558
@razilevin the long-awaited [`8.6.1`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#861---2022-06-22) is out now, and includes the fix for minikube!

Thanks for your help!

[2022-06-22 10:09] saip50 commented on #613
@thesuperzapper double checked, we aren't able to see logs of any running/failed/success tasks.
Any solution for getting logs in console instead mounting a PVC?

Also,  two things on PVC's:
1. can we mount azure file storage to logs and tasks or only blob storage is supported.
2.  use case: we have azure file storage containing large data's and we need to access those from airflow. how do we integ

[2022-06-23 15:15] Felix-neko opened #617 "How to use a custom Docker image from a private Docker registry?"
Hi folks! And thank you for a great project.

In our company we have a private docker registry (artifactory) and need to use it to store our docker images.

So, if I want to use custom airflow docker image (par example, with some extra pip and apt packages installed) I should save this image in our private docker registry.

Can you please tell me, how can I tell `airflow`'s helm chart to pull imag

[2022-06-23 17:02] asosnovsky opened #618 "variablesTemplates & connectionTemplates don't work"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

86.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Specifying `variablesTemplates` or `connectionsTemplates` did

[2022-06-24 17:23] karakanb commented on #617
The first thing you need to do is to create a image pull secret on Kubernetes, you can follow the tutorial [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/).

Once you have the pull secret created in your cluster, you can simply pass it to the chart via `airflow.image.pullSecret` variable, here's an example:
[code]

[2022-06-26 22:22] thesuperzapper commented on #618
@asosnovsky can you clarify what you mean by "does not work", as your custom values don't actually define any `airflow.connections` or `airflow.variables`?

The `airflow.connectionsTemplates` value works by defining the templates you need, and then you reference them in `airflow.connections`, for example:

[code]

The full docs about [managing connections](https://github.com/airflow-helm/charts/bl

[2022-06-27 09:58] saip50 commented on #613
@thesuperzapper any solution on the above query also please clarify on the above points

[2022-06-28 10:23] martinrw commented on #572
Just gave it a test...
Set my dockerfile to use apache/airflow:2.3.2-python3.9 as the base and helm chart version 8.6.1
it works perfectly. Thanks !!!

[2022-07-04 11:30] low-on-mana opened #622 "allow more than 1 PgBouncer replicas"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

latest

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

We are using the latest version of this chart in production

[2022-07-07 14:41] rg2609 opened #623 "Airflow keycloak sso logins failed"
### Checks

- [ ] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [x] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

version: 7.16.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Trying to set up the Keycloak SSO login with airfl

[2022-07-12 13:38] LucaSoato commented on #617
Hi @karakanb, I've tried following your suggestion, but the only way to make it work was by using:
[code]
Instead of:
[code]
Is this expected? Did the helm config change recently?

[2022-07-12 16:06] karakanb commented on #617
@LucaSoato I think you are using the official Airflow chart, which is a different chart than this repo:
- values file for the Official chart: https://github.com/apache/airflow/blob/main/chart/values.yaml#L55
- values file for this repo: https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L4-L18

please make sure you are checking the documentation for the correct chart.

[2022-07-13 09:15] anu251989 commented on #600
@thesuperzapper , Thanks for responding. We didn't define custom-values.
I have resolved this issue with configuring liveness checks for Worker pod as per below .
https://github.com/apache/airflow/pull/22378
The only problem here is, The worker containers restart happening if both of the workers heartbeat missed and not processing any messages.

command:
                {{- if .Values.workers.live

[2022-07-13 10:36] anu251989 opened #625 "How to configure HPA for scheduler"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

How to configure HPA for scheduler pod in airflow. We configured request and limit for airflow scheduler container not for log cleanup container.

[2022-07-15 09:50] lovenishgoyal opened #626 "Unable to see the logs in airflow UI"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

2.2.3

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

After upgrading airflow 2.1.1 to 2.2.3, we started seeing is

[2022-07-15 09:57] vedprakash0505 commented on #626
facing the same issue

[2022-07-18 04:30] lovenishgoyal commented on #626
@vbehar @Alien2150 @desaintmartin can you plz help

[2022-07-18 04:53] lovenishgoyal commented on #626
@thesuperzapper can you help us?

[2022-07-18 05:27] thesuperzapper commented on #626
@lovenishgoyal what version of the chart are you using (NOTE: this is different from the version of airflow).

Can you also provide any `custom-values.yaml` you have set (remove sensitive values)?

[2022-07-18 05:37] thesuperzapper commented on #626
@lovenishgoyal @vedprakash0505 I bet I know the problem, are you using the `airflow.webserverSecretKey` value, or `airflow.extraEnv` ([see options here](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/security/set-webserver-secret-key.md))?

Because, if you are using `airflow.extraEnv`, and your Secret has been updated, you will need to __manually restart all the Airflow P

[2022-07-18 06:48] lovenishgoyal commented on #626
We are using airflow.webserverSecretKey value, and tried restarting all components but no luck.

I will share the custom values in some time.

[2022-07-18 07:04] lovenishgoyal commented on #626
`fullnameOverride: ""

nameOverride: ""

uid: 50000
gid: 0

airflowHome: /opt/airflow

defaultAirflowRepository: apache/airflow

defaultAirflowTag: "2.2.2"

airflowVersion: "2.2.2"

images:
  airflow:
    repository: XXXXXXXX.dkr.ecr.ap-south-1.amazonaws.com/dp-airflow
    tag: v11
    pullPolicy: IfNotPresent
  pod_template:
    repository: ~
    tag: ~
    pullPolicy: IfNotPresent
  flower:

[2022-07-18 07:05] lovenishgoyal commented on #626
@thesuperzapper plz find the details

[2022-07-18 07:30] thesuperzapper commented on #626
@lovenishgoyal I believe you are actually using the "official" chart (found in the `apache/airflow` repo), not the "user-community" one from this `airflow-helm/charts` repo.

The values structures of these charts are different, can you confirm which one you are installing?

NOTE: if you want to use the official one, please raise any issues in their issue tracker.

[2022-07-18 10:10] lovenishgoyal commented on #626
Sure, Let me check with them

[2022-07-20 07:12] saip50 opened #627 "scheduler pod failing as too many restarts"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

airflow app version: 2.2.5
executor: KubernetesExecutor

sch

[2022-07-21 01:21] thesuperzapper commented on #627
@saip50 did this suddenly start happening, or has it never worked?

Also, can you please share the rest of your `custom-values.yaml`?

I especially want to know your `airflow.config` values (to see what airflow configs you are setting).

[2022-07-21 04:45] saip50 commented on #627
@thesuperzapper it was working perfectly from long back. Recently we mounted a PVC azure file storage and when we upgrade it was working and we were able to fetch files too but suddenly this exceptions occured.

--------------------------------------------------------------------------------
########################################
## CONFIG | Airflow Configs
######################################

[2022-07-21 08:48] #518 closed

[2022-07-21 08:48] saip50 commented on #518
resolved. thank you!

[2022-07-21 08:49] #613 closed

[2022-07-26 10:31] thesuperzapper commented on #627
@saip50 you haven't really made a lot of changes from the default, I recommend playing around with your  `airflow.extraVolumes/extraVolumeMounts ` and seeing if it starts working (removing it, mounting to another path, etc).

But, in general, try solving it like any other problem, with one change at a time, and checking if it's resolved.
Please report back what the issue was when you fix it!

---

[2022-07-27 07:26] yossisht9876 commented on #249
i have a better solution but you have to configure pvc for the dag bag folder /op/airflow/dags

after the pvc is ready you  just need to create a cronejob that run every X min and sync 2 ways from s3

[code]

[2022-07-31 12:08] v-lohana commented on #245
What is final solution to this ? because I am still facing it.

[2022-08-01 10:05] nhabbash opened #628 "Logs not being written to remote storage (GCS)"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I'm using Remote Logging to store logs in a GCS bucket, but

[2022-08-01 18:20] mb-m opened #629 "Env per pod used to exist but has been removed - why?"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

I'm trying to (finally) move from a patched older version of the community chart to the latest version (and working on other patches - issue and

[2022-08-02 00:37] thesuperzapper commented on #629
@mb-m it's been a while since that change, but I think the main reason was to reduce the risk that people set inconsistent airflow configs across their cluster, either because they don't define them consistently, or because they don't restart all the Pods after a secret which set an env is updated (as Secret/ConfigMap updates are not propagated to `env` until the container restarts).

I am not aga

[2022-08-02 00:39] thesuperzapper commented on #245
@v-lohana this is quite an old issue, what version of the chart are you running, and can you clarify the exact problem you are experiencing (preferably with logs)?

[2022-08-02 00:56] thesuperzapper commented on #628
@nhabbash a few questions:

1. What version of airflow are you running (if its `1.10` you will need to [review the older docs](https://airflow.apache.org/docs/apache-airflow/1.10.15/howto/write-logs.html)
1. When you look into your GCS bucket, do you see any log files being created?
2. Are you seeing logs in GCS for tasks that succeed? (airflow only uploads the logs at the end of a task, so if the

[2022-08-02 08:01] nhabbash commented on #628
Airflow 2.3.3, mistakenly removed it from OP

I've actually noticed that for some DAGs the logs are being written to GCS. I have this DAG here that reports the following:
[code]
On GCS, I see the files also being created. I also rerun some of the other DAGs but I still get the following:
[code]

If for some DAGs it's uploading the logs I believe the issue might not be the connection, but something

[2022-08-04 01:05] thesuperzapper commented on #628
@nhabbash if you are seeing logs in GCS for some DAGs but not others, you should compare what is happening between those dags.

I almost guarantee that something is crashing in the DAGs which are failing to upload, as this is incredibly common (because airflow only uploads logs to GCS after the task is finished).

[2022-08-04 09:14] nhabbash commented on #628
@thesuperzapper the DAGs and their tasks are succeeding in both cases and not crashing - if they are crashing somewhere I'm not really seeing it. Here are some screenshots and logs (just the log loading and task succeeding message):

**DAG w/ remote logging not working (first task example):**
<details>
  <summary>Screenshots</summary>

![Screenshot from 2022-08-04 10-59-51](https://user-images.git

[2022-08-05 02:10] thesuperzapper commented on #628
@nhabbash I think [the docs](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitoring/log-persistence.md#option-2---remote-providers) forgot to say that you MUST set `AIRFLOW__LOGGING__GOOGLE_KEY_PATH` if not using "GKE Workload Identity".

__Can you confirm that everything works when you set values like this:__

[code]

---

Also, can you confirm 100% if only setting `e

[2022-08-05 08:16] mb-m commented on #629
@thesuperzapper thanks for getting back to me so quickly (and apologies for my delayed response back - I was totally useless yesterday after a positive test result and symptoms - and then I thought I'd sent this response and hadn't). That's an interesting set of concerns, for sure, I've always tended to err on the side that the user should know what they are doing, but I can totally see why protec

[2022-08-05 08:34] thesuperzapper commented on #618
@asosnovsky-sumologic I will close this for you, but did you figure it out in the end?

[2022-08-05 08:34] #618 closed

[2022-08-05 08:38] thesuperzapper commented on #629
@mb-m I am interested to see your approach or any suggestions you have to make the chart better for you (whether as a PR, or in an issue).

Also, there is actually a PR to add syncing for FAB Roles https://github.com/airflow-helm/charts/pull/537, but I haven't looked into the problem yet, so I have no idea if that PR attacks the problem in the best way.

[2022-08-05 09:41] nhabbash commented on #628
@thesuperzapper I did try setting `AIRFLOW__LOGGING__GOOGLE_KEY_PATH` previously, but it did not work. I tried again with these values:
[code]
Unfortunately for remote logging I'm getting still the exact same output as my last post, that is the DAG that previously had remote logging still has it, the other does not, and the situation is identical (same logs and status).
This is the config:
[code]

[2022-08-05 10:01] thesuperzapper commented on #628
@naturalett can you try restarting all your worker pods (so they pick up new secret values)?

Also, where are you copying the `[logging]` configs you believe are in your cluster from?

[2022-08-05 14:56] nhabbash commented on #628
@thesuperzapper this was a fresh branch deployment, so the pods were newly created ones and the secrets were mounted anew. the `logging` config I got from running a shell in an Airflow worker pod and running `airflow config list`, just to check whether everything has been set correctly

[2022-08-10 07:34] saip50 commented on #627
@thesuperzapper issue got resolved!
The issue was we were mounting to a path where airflow user doesn't have required permission(write/execute) so, we tried to mount to a different path.
Thanks for your support.

[2022-08-16 05:40] thesuperzapper commented on #627
@saip50 thats great to hear, I will go ahead and close this issue.

[2022-08-16 05:40] #627 closed

[2022-08-16 13:41] mb-m commented on #629
Before I wrap this fully up into a PR and have a proper testcase, how does the attached look - am I capturing the kinds of things you were thinking?

[charts-airflow.patch](https://github.com/airflow-helm/charts/files/9351504/charts-airflow.patch.txt)

[2022-08-17 01:21] thesuperzapper commented on #629
@mb-m it's quite difficult to look at in a patch form, can you make a PR so we can discuss it there?

(even if its not fully ready yet, we can discuss it more in your PR)

[2022-08-17 06:35] anu251989 opened #630 "airflow scheduler utilizing more CPU"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

The airflow scheduler utilizing more CPU after airflow2.2.5

[2022-08-18 12:39] anuragphadnis commented on #181
Sorry for commenting on a closed issue but shouldn't the timeout be configurable, setting it to 60seconds will not solve this issue for everyone.

[2022-08-18 12:55] anuragphadnis commented on #615
We can pick the timeout value from values.yaml by using something like .Values.checkDb.timeout and add if else condition to use default timeout value?

[2022-08-18 22:47] thesuperzapper commented on #615
@asosnovsky-sumologic @anuragphadnis

Thanks for raising this, I am not sure why I did not introduce a value to change the timeout length when I first introduced the timeout.

However, I do remember that there are situations when `airflow checkdb` and `airflow db check` will hang forever  without actually failing (like in your described situation of network issues, https://github.com/airflow-helm/

[2022-08-19 05:29] anuragphadnis commented on #615
In my case the check-db pod gets restarted after every 60 seconds and connection is not being able to establish in this time. This happens every time after check-db is restarted, and check-db does not log anything. It would be very useful if we can customize the value so that we can see logs or establish the connection.

[2022-08-21 17:20] wildangbudhi opened #633 "GKEStartPodOperator error permission denied for command 'gcloud'"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I'm using Airflow in GCP GKE, i'm trying to use GKEStartPodO

[2022-08-23 10:31] mb-m commented on #629
@thesuperzapper hopefully you've seen that a PR now exists for this (it's minorly changed from my original patch, but I have it demonstrably working (using a patched version of the chart) in our environment). I'd love to hear your thoughts!

[2022-08-26 08:29] ykecheng opened #639 "Failed to init pods with mysql external DB"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

Hello,

I'm trying to build airflow with KubernetesExecutor

[2022-08-29 15:39] saip50 opened #640 "integrating AWS snowflake with airflow"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

airflow version: 2.3.1
platform: AKS
Executor: KubernetesExe

[2022-08-29 16:05] saip50 commented on #640
@thesuperzapper any solution on above issue?

[2022-09-12 06:51] chengzi0103 commented on #597
@thesuperzapper  Okay, what I'm sure about is that the problem is on alembic. We have our own set of package versions, which conflict with some packages that come with airflow. My temporary solution is to temporarily give up my own package control and use airflow to automatically control the package. with the package and version, so I have skipped this question, thank you for your reply, hope to d

[2022-09-12 17:36] asosnovsky commented on #615
@anuragphadnis

I agree with this line of thinking.
In my case I had a networking issue that restricted the db from being reachable by my cluster. The issue was hard to capture because when you do the math with `CONNECTION_CHECK_SLEEP_TIME` and `CONNECTION_CHECK_MAX_COUNT` no errors actually got thrown as it just silently kept on retrying. I actually think that the timeout should possibly be set a

[2022-09-12 23:06] thesuperzapper commented on #597
@chengzi0103 I will close this issue for now, feel free to reopen it if you think it's still a problem.

[2022-09-12 23:06] #597 closed, assigned to nobody

[2022-09-13 00:15] thesuperzapper commented on #623
@rg2609 we will need more information to help, can you please share (sanitized) versions of your `webserver_config.py`?

[2022-09-13 01:11] thesuperzapper commented on #622
@low-on-mana @juroVee I agree that having multiple PgBouncer replicas would be (in theory) great for redundancy, especially during node outages/upgrades, the problem is that any disruption to the database connection during a transaction will result in airflow raising an error, which I doubt airflow will gracefully recover from.

(NOTE: airflow uses [SQLAlchemy in "pessimistic" pooling mode](https:

[2022-09-13 11:45] anuragphadnis commented on #615
Yes, right now I have modified it to use value from config by changing the code and using that code to deploy the chart. I can create a PR if someone else is not working on it.

[2022-09-13 14:46] asosnovsky commented on #615
@anuragphadnis i don't mind taking this to completion. If your change is already merged, I can do the rest of the work and update the checkdb command :)

[2022-09-14 01:43] thesuperzapper commented on #615
@asosnovsky @anuragphadnis @asosnovsky-sumologic

If anyone wants to pick up the tasks I suggested in https://github.com/airflow-helm/charts/issues/615#issuecomment-1220050680, I am happy to review/merge the PR, the tasks are:

1. Introduce a value like `airflow.dbCheckTimeout` (probably setting this to 0 disables the timeout).
2. Find a way to actually get logs when a timeout is hit (so people kn

[2022-09-18 01:47] chuyuou commented on #28
Would it be possible for a GKE to use EFS for persistent volume? My cluster needs to be in google.

[2022-09-19 09:00] MISSEY opened #647 "Error in database table "task_fail" while DAGs failed due to some errors in dags."
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

1.6.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I installed the airflow using helm chart 1.6.0, changed valu

[2022-09-20 09:49] softestplease commented on #607
Hello all,
I am aware this issue is fixed for Airflow 2.3.X with Helm chart 8.6.1
However, I am still getting this error message:
sqlalchemy.exc.InvalidRequestError: Multiple classes found for path "Permission" in the registry of this declarative base. Please use a fully module-qualified path.
I am using Airflow 2.3.3 with 8.6.1
Any help/feedback much appreciated
TIA

[2022-09-20 15:43] #623 closed

[2022-09-21 04:31] javad87 commented on #235
Hi @thesuperzapper;

I'm using airflow 2.3.3 with docker-compose deployment, I have 3 Dags running everyday from morning till midnight with 1, 25,25  active tasks per dag with respect to these running 3 Dags (overall 51 active tasks in airflow instance ). after running for one day I get the postgres too many connections" errors....I checked the postgres container and  "show max_connections" and it

[2022-09-23 03:13] ldacey commented on #486
I had to add this env var under the airflow.config section:

`AIRFLOW__KUBERNETES__NAMESPACE: "airflow"`

The airflow-config-envs secret was referring to the `default` namespace for some reason, even though my chart is deployed on the `airflow` namespace (using ArgoCD). I happened to check the FERNET_KEY secret in `airflow-config-envs` and it was different than the fernet key secret I created init

[2022-09-24 00:23] potiuk commented on #339
Interesting approach.

[2022-09-24 09:58] #626 closed

[2022-09-24 09:59] #617 closed

[2022-09-24 09:59] #625 closed

[2022-10-04 12:32] iSWATxJOKERi commented on #463
Hi, how's it going, is there a possibility of this functionality being added in the future? My team has come across this issue where we want to copy some file from a shared volume to a path on the container and run some extra commands after using a postStart lifecycle hook. But currently aren't able to do so

[2022-10-05 15:32] agconti opened #654 "Worker nodes can't reach embedded Redis but other services can."
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I've deployed the helm chart according to this project's gui

[2022-10-05 16:31] agconti commented on #654
Looks like this might be related to #573

[2022-10-05 16:56] agconti commented on #573
@ac5tin did you change anything else when you upgraded your airflow/python version? I'm running into this issue and the fix isn't working for me.

[2022-10-06 03:47] thesuperzapper commented on #573
@agconti  its almost certainly a pip package issue, can you confirm:

1.  What version of the chart are you using?
2. Are you using extraPipPackages values?
3. Are you using the default airflow image, or a custom one?

[2022-10-06 04:01] thesuperzapper commented on #654
@agconti as I mentioned in https://github.com/airflow-helm/charts/issues/573#issuecomment-1269271170, it's almost certainly an issue with an incorrect version of the `kombu` or `celery` pip packages.

Your custom container image might not have the right version because when you run `pip install` these days, pip tries to be smart and might upgrade/downgrade the version of an already installed packa

[2022-10-06 04:02] thesuperzapper commented on #463
@iSWATxJOKERi thanks for the PR, I will take a look at it.

[2022-10-06 12:49] agconti commented on #573
@thesuperzapper thanks for asking! My details are in #654.

[2022-10-06 13:03] agconti commented on #654
@thesuperzapper thanks for your help! 💖

I agree, I think its definitely something wrong with kombu or celery though I can't imagine what I did in my setup to cause it.

Here's a bit more context:

- My environment doesn't work with the `apache/airflow:2.2.5-python3.9` image, the same issue happens. This is also the case with: `apache/airflow:2.3.3-python3.9`.
- I can't see how pip could be changi

[2022-10-06 13:03] #654 closed

[2022-10-10 03:54] thesuperzapper commented on #628
@nhabbash did you end up solving this logging issue?

[2022-10-10 04:27] thesuperzapper commented on #654
@agconti actually I think your above Dockerfile has a very clear issue, you should not be changing the version of airflow by installing `apache-airflow[amazon]==2.4.0` into the `2.3.3-python3.9` container image, this will inevitably cause problems.

What's great is that you don't need to install the `amazon` or any other "extra" pip packages, because they are all [installed in the official `apache

[2022-10-10 06:53] ABombino opened #658 "Support Airflow Version 2.4"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

- Since Airflow it has been released in version 2.4 could be good to have support for this version
- Being update with the changes and with the l

[2022-10-10 14:03] juroVee commented on #647
Hi, based on the provided values, it seems you are using the official Airflow Helm chart https://github.com/apache/airflow/tree/main/chart. This repository deals with the 'User Community' chart, which has a different structure and functionalities.

[2022-10-11 07:19] nerilau commented on #474
Hi, sorry for the late response. We recently updated the chart version from 8.0.8 to 8.6.1, and now we have no issues with that!

[2022-10-11 13:26] agconti commented on #654
@thesuperzapper thanks for your help! I didn't realize that the amazon package was already installed. I'll make the update. 💖

Thanks for your recommendation on CeleeryExecutor as well!

[2022-10-13 03:41] #474 closed

[2022-10-14 19:56] dylac commented on #28
Still curious on this; dags sync fine, but as soon as I try logs most containers are in permanent backoff and retry, with no other logs as to why.

[2022-10-15 05:43] caxefaizan commented on #28
Nah!! It didn't support the same EFS. So i had used two volumes separately

[2022-10-17 22:41] thesuperzapper commented on #658
@ABombino is there a specific feature missing or an issue you are having with chart version `8.6.1` and airflow 2.4?

FYI, this is also being discussed in https://github.com/airflow-helm/charts/discussions/652#discussioncomment-3892838, and no issues have been reported. If no one finds problems in the next few days, we can probably update the ["supported versions"](https://github.com/airflow-helm/

[2022-10-18 19:12] dylac opened #659 "CrashLoopBackOff for most pods when enabling logs persistence with EFS"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

8.6.1

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

I am trying to configure an EFS share as a destination for p

[2022-10-19 00:06] thesuperzapper commented on #658
@ABombino you can just change the [image tag](https://github.com/airflow-helm/charts/blob/420eae29c454f6e7e6a7837706ca2e6c0fe792b8/charts/airflow/sample-values-CeleryExecutor.yaml#L8-L12), for more information, see the docs about ["Set Airflow Version"](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/configuration/airflow-version.md).

[2022-10-19 06:53] ABombino commented on #658
@thesuperzapper indeed I have deployed arflow with version 2.4.1 and everything is working as expected. Thank you so much for the support. However I think that, as you mentioned above, it could be nice to update the update the ["supported versions](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support)" .
Cheers.

[2022-10-19 23:59] thesuperzapper commented on #658
@ABombino thanks for the update, I have updated the ["Airflow Version Support"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support) table to indicate that chart version 8.6.1+ supports Airflow 2.4.

[2022-10-19 23:59] #658 closed

[2022-10-20 00:29] thesuperzapper commented on #659
@dylac it's going to be difficult to debug this without some logs, did you know that you can get the logs of failed containers using `--previous` flag of `kubectl get logs Pod/xxxxxxx --previous`?

Alternatively, I always recommend the [`k9s` CLI](https://github.com/derailed/k9s) for managing Kubernetes, which exposes pod logs with the simple press of the `L` key, and the previous logs with the pr

[2022-10-20 00:40] thesuperzapper commented on #628
I am not sure why the bot closed this, as there was clearly activity in the last 60 days.

Either way, do you have any updates @nhabbash?

[2022-10-20 00:53] thesuperzapper opened #661 "replace `protobot/stale` with `actions/stale`"
It seems like there are issues with the GitHub [`protobot/stale`](https://github.com/probot/stale) application https://github.com/probot/stale/issues/385, https://github.com/probot/stale/issues/384, https://github.com/probot/stale/issues/378, and given that the protobot seems to have been abandoned, the main alternative is now to use [`actions/stale`](https://github.com/actions/stale) in a GitHub

[2022-10-28 19:24] #633 closed

[2022-11-07 15:18] nhabbash commented on #628
Hey @thesuperzapper, sorry for the late reply. Unfortunately haven't found a solution for this, as I moved onto working on other stuff I haven't had the chance to revisit the issue. I tried checking again just now, and I'm still left with some DAGs that are able to write logs to GCS, and others that do not write them and hence lose the logs once the pods are restarted.

[2022-11-09 08:56] mb-m commented on #629
This is still waiting on the PR (comment just to stop staleness)

[2022-11-12 12:08] #639 closed

[2022-11-12 12:08] #640 closed

[2022-11-14 11:05] yossisht9876 opened #666 "support to airflow 2.4"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

https://airflow.apache.org/blog/airflow-2.4.0/

New Features and bug fix

### Implementation

_No response_

### Are you willing & able to help?

[2022-11-14 15:19] danielhoherd commented on #475
PSA: this is fixed in airflow 2.3 https://github.com/apache/airflow/pull/19842/

[2022-11-14 22:35] thesuperzapper commented on #666
@yossisht9876 chart version `8.6.1` already supports Airflow `2.4` as far as I know (see the [support matrix](https://github.com/airflow-helm/charts/tree/main/charts/airflow#airflow-version-support)).

Are you having a specific issue?

[2022-11-20 22:02] uwebartels opened #670 "Add suppport for linkerd"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Motivation

I need to integrate our airflow installation with linkerd2 for getting inter-pod communication encrypted.

### Implementation

I see that many po

[2022-11-27 19:35] yossisht9876 commented on #666
hi @thesuperzapper
i tried to deploy 2.4.0-python3.8 and 2.4.3-python3.8 with no luck

```ImportError: cannot import name 'escape' from 'jinja2' (/home/airflow/.local/lib/python3.8/site-packages/jinja2/__init__.py)```

[2022-11-29 07:22] imageschool opened #674 "could not translate host name "airflow-pgbouncer.airflow" to address: Name or service not known"
### Checks

- [X] I have checked for [existing issues](https://github.com/airflow-helm/charts/issues).
- [X] This report is about the [`User-Community Airflow Helm Chart`](https://github.com/airflow-helm/charts/tree/main/charts/airflow).

### Chart Version

1.7.0

### Kubernetes Version

[code]

### Helm Version

[code]

### Description

1. Installed Airflow (2.4.2) with Helm Chart and enabled pgb